<div class="panel">
  <div class="panel-heading js-collapse" data-target="#range-filters">Range Filters<i class="fa fa-chevron-down"></i>
  </div>
  <div class="panel-wrapper">
    <div id="range-filters" class="panel-body collapse in">
      <div class="range-filters">
        <div id="timeRangeFilterContainer">
          <div align="center"><label>Time Range Filter</label></div>
          <div align="center" id="timeRangeFilter" style="width: 100%; padding-left: 20px; padding-right: 20px; padding-bottom: 15px; margin:0;"></div>
        </div>
        <div id="depthRangeFilterContainer">
          <div align="center"><label>Depth Range Filter</label></div>
          <div align="center" id="depthRangeFilter" style="width: 100%; padding-left: 15px; padding-right: 15px; margin:0;"></div>
        </div>
      </div>
    </div>
  </div>
</div>