.array-content {
    padding: 0;
    margin-bottom: 50px;
}

.array-content .js-array {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.array-content .js-expand {
    cursor: pointer;
    min-height:20px;
}

.array-content .js-expand span, .array-content .js-expand i {
    min-height:20px;
    position: relative;
    top: 40%;
    padding-left: 10px;
}

.array-content .active h4.js-expand{
    transition: all .5s ease;
    height: 30px !important;
    padding-top: 0px;
}

.array-content .active h4.js-expand span,
.array-content .active h4.js-expand i{
    top: 5px;
    transition: all .3s ease;
}

.array-content .panel-heading {
    padding: 0 0 5px 0;
    margin: 0;
    background: linear-gradient(to right, #EEEEEE 20%, #ffffff 100%);
}


.array-content .img-container {
    overflow: hidden;
    max-height: 200px;
    width: 100%;
    text-align: center;
}

.array-content .img-container > div {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.array-content .panel-body img {
    width: 32%;
    padding: 0;
    margin: 0;
}

.array-content .panel-body div {
    display: inline-block;
}

.array-content  p {
    padding: 0 15px 0 15px;
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
}

.array-content .js-platform-table {
    z-index: 10000;
}

.array-content .js-array .js-platform-table .js-expand.js-expand-close{
    height:20px !important;
}



.array-content .js-platform-table tr td:nth-child(2) {
    font-size: 12px;
    cursor: pointer;
}

.array-content ul {
    padding: 5px 0 10px 13px;
    margin-left: 3px;
    margin-bottom: 10px;

}

.array-content ul li {
    padding-left: 0;
    margin-left: 0;
    font-size: 12px;
    float: left;
}

.array-content .cabled-sub-sites {
    text-align:center;
    display: inline-block;
    width: 100%;
    margin: 10px 0 10px 0;
}
.array-content .cabled-sub-sites span {
    text-align: center;
    color: white;
    background-color: #004773;
    width: 30%;
    display: inline-block;
    border: collapse;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.array-content .cabled-sub-sites span:hover {
    transition: all 0.8s ease;
    background-color: #5c9ccc;
    color: black;

    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);opacity: 1;}
    40% {transform: translateY(-2px);}
    60% {transform: translateY(-1px);}
}
