.array-content {
    padding: 0;
}

.array-content .js-array {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.array-content .panel-heading {
    padding: 0 0 5px 0;
    margin: 0;
    background: linear-gradient(to right, #EEEEEE 20%, #ffffff 100%);
}

.array-content .panel-heading h4 {
    margin: 0;
}

.array-content .panel-body {
}

.array-content .panel-body img {
    padding-bottom: 20px;
    width: 150px;
}

.array-content .panel-body div {
    display: inline-block;
}

.array-content .panel-body p {
    width: 80%;
    padding: 0 10px 0 10px;
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
}

.array-content .js-platform-table {
    z-index: 10000;
}

.array-content .js-platform-table tr td {
    font-size: 12px;
    cursor: pointer;
}

.array-content ul {
    padding: 5px 0 10px 3px;
    margin-left: 3px;
    margin-bottom: 10px;

}

.array-content ul li {
    padding-left: 0;
    margin-left: 0;
    font-size: 12px;
    float: left;
}
