#assetTableHeader {
    display: inline-block;
    text-align:center;
    vertical-align: center;
    width: 100%;
}
#assetTableHeader div {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#assetTableHeader > div > a {
    position: relative;
    top: 4px;
}
#assetTableHeader > div#assetTableLeft {
    float: left;
}
#assetTableHeader > div#assetTableRight {
    float: right;
}

tr.highlight-row {
    background-color: lightskyblue !important;
}

div.panel {
}

div.panel-heading {
    background-color: #EEEEEE !important;
    margin-right: 4px;
    margin-left: 4px;
}

#assetCreatorBtn {
    margin-top: 5px;
    margin-left: 10px;
}

/* helpful formatting classes */
. {
    min-height: 360px;
}

/* Bootstrap Pagination modifications */
.pagination {
    margin: 0px 0px !important;
}

/* Asset Table */
div#panel-heading > div.row {
    margin-right:10px;
    margin-left:10px;
}
div#assetPanelBody {
    min-height:360px;
}

th#assetTableIdCol {
    width: 15px;
}
/* Asset Settings Panel */
div#assetInspector {
    min-height: 360px;
}
div#assetInspector > div > div > div.panel-heading {
    height: 40px;
    margin-bottom: 5px;
}
div#assetInspector > div > div > div.panel-heading > span > div.row {
    padding-right: 10px;
}
div#assetInspector > div > div > div.panel-body > div.tab-content {
    padding-top: 10px;
}
div#assetAquisitionInfo > dl > dt {
    /* background-color: #D6EBFF; */
    text-decoration: underline;
}

div#assetAquisitionInfo > dl > dd > dl.dl-horizontal {
    margin-bottom: 0px;
}

div#assetAquisitionInfo > dl > dd > dl.dl-horizontal > dt {
    text-align: left;
    margin-left: 25px;
}

div#assetForm > form > div.panel {
    padding-top: 2px;
    padding-bottom: 2px;
}
div#assetForm > form > div > label {
    text-align: left;
    padding-left: 20px;
}
textarea {
    resize: none;
}

/* Event Information Panel */
div#assetEventsTable {
    min-height: 540px;
}
div#assetEventsTable > div > div > div.panel-heading {
    height: 40px;
    margin-bottom: 5px;
}
.event-dropdown div label {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    float: left;
}
.event-dropdown div p {
    padding-left: 200px;
}


/* Attachments Table */
div#assetAttachmentsTable div > div > div.panel-heading {
    height: 40px;
    margin-bottom: 5px;
}

div#assetDetailsPlaceholder {
  background-color: #FFF;
  padding: 0px;
}
#remoteDocDownload {
  text-align: center;
}
