/* Navbar */
@media screen and (max-width: 1040px) {
    #navbar {
        max-height: 50px;
    }
    #navbar img {
        visibility: hidden;
        display: none;
    }
    #navbar-right {
        visibility: hidden;
        display: none;
    }
}

/* Bootstrap Pagination modifications */
.pagination {
    margin: 0px 0px !important;
}

/* Asset Table */
#asset-panel-body {
    min-height:460px;
}

/* Asset Settings Panel */
div#assetInspector > div > div.panel-heading {
    height: 40px;
    margin-bottom: 5px;
}

div#assetForm > form > div.panel {
    padding-top: 2px;
    padding-bottom: 2px;
}
div#assetForm > form > div > label {
    text-align: left;
    padding-left: 20px;
}


/* Event Information Panel */
div#eventInspector > div > div {
    height: 40px;
}
