.backgrid-container {
  position: relative;
  display: block;
  width: 100%;
  height: 465px;
  padding: 0;
  overflow: auto;
  border: 0;
}

.backgrid {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.backgrid th,.backgrid td {
  display: none;
  height: 20px;
  max-width: 250px;
  padding: 4px 5px;
  overflow: hidden;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  
  cursor: pointer;
  border-bottom: 1px solid #DDD;
}

.backgrid th.renderable,.backgrid td.renderable {
  display: table-cell;
}

.backgrid th {
  font-weight: bold;
  text-align: center;
}

.backgrid th.sortable a {
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.backgrid thead th {
  vertical-align: bottom;
  background-color: #f9f9f9;
}

.backgrid thead th a {
  display: block;
}

.backgrid.backgrid-striped tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.backgrid tbody tr.empty {
  font-style: italic;
  color: gray;
}

.backgrid tbody tr.empty td {
  display: inherit;
  text-align: center;
}

.backgrid td.editor {
  padding: 0;
}

.backgrid td.editor,.backgrid tbody tr:nth-child(odd) td.editor {
  background-color: rgba(82,168,236,0.1);
  outline: 1px solid rgba(82,168,236,0.8);
  outline-offset: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: width,outline,background-color;
  -moz-transition-property: width,outline,background-color;
  -o-transition-property: width,outline,background-color;
  transition-property: width,outline,background-color;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.backgrid td.editor input[type=text] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.backgrid td.editor input[type=text]::-ms-clear {
  display: none;
}

.backgrid td.error,.backgrid tbody tr:nth-child(odd) td.error {
  background-color: rgba(255,210,77,0.1);
  outline: 1px solid #ffd24d;
}

.backgrid td.editor :focus,.backgrid th.editor:focus {
  outline: 0;
}

.backgrid .sort-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  border: 0;
  content: "";
}

.backgrid .ascending .sort-caret {
  vertical-align: baseline;
  border-top: 0;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000;
  border-left: 4px solid transparent;
}

.backgrid .descending .sort-caret {
  vertical-align: super;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}

.backgrid .string-cell,.backgrid .uri-cell,.backgrid .email-cell,.backgrid .string-cell.editor input[type=text],.backgrid .uri-cell.editor input[type=text],.backgrid .email-cell.editor input[type=text] {
  text-align: center;
}

.backgrid .date-cell,.backgrid .time-cell,.backgrid .datetime-cell,.backgrid .number-cell,.backgrid .integer-cell,.backgrid .percent-cell,.backgrid .date-cell.editor input[type=text],.backgrid .time-cell.editor input[type=text],.backgrid .datetime-cell.editor input[type=text],.backgrid .number-cell.editor input[type=text],.backgrid .integer-cell.editor input[type=text],.backgrid .percent-cell.editor input[type=text] {
  text-align: center;
}

.backgrid .boolean-cell,.backgrid .boolean-cell.editor input[type=checkbox] {
  text-align: center;
}

.backgrid .select-cell {
  text-align: center;
}

.backgrid .select-cell.editor {
  padding: 0;
}

.backgrid .select-cell.editor select {
  display: block;
  width: 100%;
  height: 28px;
  padding: 4px 5px;
  margin: 0;
  line-height: 28px;
  vertical-align: middle;
  background-color: white;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.backgrid .select-cell.editor select[multiple] {
  height: auto;
}

.backgrid .select-cell.editor :focus {
  border: 0;
  outline: 0;
}

.backgrid .select-cell.editor select::-moz-focus-inner,.backgrid .select-cell.editor optgroup::-moz-focus-inner,.backgrid .select-cell.editor option::-moz-focus-inner,.backgrid .select-cell.editor select::-o-focus-inner,.backgrid .select-cell.editor optgroup::-o-focus-inner,.backgrid .select-cell.editor option::-o-focus-inner {
  border: 0;
}

.backgrid-paginator {
  text-align: center;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.backgrid-paginator ul {
  display: inline-block;
  *display: inline;
  margin: 5px 0;
  *zoom: 1;
}

.backgrid-paginator ul>li {
  display: inline;
}

.backgrid-paginator ul>li>a,.backgrid-paginator ul>li>span {
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
}

.backgrid-paginator ul>li>a:hover,.backgrid-paginator ul>.active>a,.backgrid-paginator ul>.active>span {
  background-color: #f5f5f5;
}

.backgrid-paginator ul>.active>a,.backgrid-paginator ul>.active>span {
  color: #999;
  cursor: default;
}

.backgrid-paginator ul>.disabled>span,.backgrid-paginator ul>.disabled>a,.backgrid-paginator ul>.disabled>a:hover {
  color: #999;
  cursor: default;
}

.backgrid .select-row-cell,.backgrid .select-all-header-cell {
  text-align: center;
}

.backgrid-filter.form-search {
  position: relative;
  width: 248px;
  height: 30px;
  margin: 20px;
}

.backgrid-filter .search {
  position: absolute;
  top: 50%;
  left: 6px;
  z-index: 1000;
  width: 10px;
  height: 20px;
  margin-top: -10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.backgrid-filter .search:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  margin-top: -6px;
  background: transparent;
  border: 3px solid gray;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  content: "";
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.backgrid-filter .search:after {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 3px;
  height: 7px;
  margin-top: 2px;
  background-color: gray;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.backgrid-filter .clear {
  position: absolute;
  top: 50%;
  right: 8px;
  z-index: 1000;
  width: 10px;
  height: 20px;
  margin-top: -10px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: gray;
  text-decoration: none;
}

.backgrid-filter input[type="search"] {
  position: absolute;
  display: inline-block;
  width: 206px;
  height: 20px;
  padding: 4px 6px;
  font-weight: normal;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}

.backgrid-filter input {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
}

.backgrid-filter input[disabled] {
  cursor: default;
}

.backgrid-filter input[type="search"] {
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
}

.backgrid-filter input[type="search"]::-ms-clear {
  display: none;
}

.backgrid-filter input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.backgrid-filter input[type="search"] {
  padding-right: 18px;
  padding-left: 22px;
}