#download-modal {
    min-width: 588px;
}
div#streamName {
    font-size: 14px;
    background-color: #eee;
    overflow-x: hidden
    display: inline-block;
    margin: 10px 0 10px 0;
    padding: 10px 20px 10px 20px;
    text-align: left;
    border-left: solid 5px #004773;
}
.dwn-content img, .dwn-content button {
    padding-top: 10px;

}
#download-btn {
    border-radius: 0px;
    background-color: #004773;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    border-top: solid 1px #004773;
    border-bottom: none;
    border-right: none;
    border-left: none;
    font-size: 14px;
    transition: all 0.5s;

}

#download-btn:hover {
    background-color: #115884;
    font-size: 16px;
}
.download-options {
    text-align:center;
    margin: 0 auto 0 auto;
}
.download-options > span {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
}
.date-fields, .range-fields {
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.date-fields {
    width: 40%;
}
.range-fields {
    width: 20%;
}
.form-group label {
    color: black;
}

.alert-success > button.close {
    color: #004773;
    border: none;
    font-size: 25px;
    transform-origin: top left;
    transition: all 0.9s;
}
.alert-success > button.close:hover {
    color: white;
}
.dwn-content > button.close {
    background-color: #004773;
    color: white;
    padding-left: 7px;
    padding-right: 8px;
    opacity: 1;
    border: none;
    transform-origin: top left;
    transition: all 0.9s;
}
.dwn-content > button.close:hover {
    background-color: #fff;
    color: #004773;
    font-size: 25px;
}
