html, body {
        height:100%
}

.legendContainer{
  background-color: lightgray !important;
}

.legend {
    
    line-height: 18px;
    color: #555;
}
.legend img {
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}


.navbar-static-top{
  margin-bottom: 0px;
}

.pull-right {
  float: right !important;
  padding-right: 15px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 50px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

@media(min-width:768px) {
    #wrapper {
        margin-top: 1px;
    }
}

.container-full {
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  max-width:100%;
}

.array-row{
    padding:5px;
    width:100%;
}


.timeline-text{
    font-family: Arial, sans-serif;font-size:10px;
}
.axis path,.axis line {
    fill: none;stroke:#b6b6b6;shape-rendering: crispEdges;
}
/*.tick line{fill:none;stroke:none;}*/
.tick text{
    fill:#999;
}

g.platform.active{
    cursor:pointer;
}

text.label{
    font-size:12px;font-weight:bold;cursor:pointer;
}

text.value{
    font-size:12px;font-weight:bold;
}

.info-icon {
    color: steelblue;
    /*float: right;*/
}

.info-icon:hover {
    color: darkblue;
}

.popovertext{
    font-size:12px;
}


.tsplot{
  width: 100% !important;
  height: 120px;
}

.dropdown-menu{
  min-width: 200px !important;
}
