/* CSS REQUIRED */
.newEvent .btn-launch{
  margin: 20px;
}
.newEvent .modal-dialog{
  width: 377px;
}
.newEvent-center{
  padding: 5px;
  text-align: center;
}
.newEvent-logo{
  padding: 15px;
  text-align: center;
  margin-top: -20px;
}
.newEvent-header{
  /*background-color: #f9f9f9;*/
  min-height: 10px;
  padding: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.newEvent-body{
  position: relative;
  padding: 32px;
}
.newEvent-footer{
  min-height: 20px;
  padding: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.newEvent-footerPass{
  padding: 0px 0px 10px 10px;
  /*border-top: 0px;*/
  font-size: 10px;
  float: left;
}
.newEvent-footerNewUser{
  padding: 0px 10px 10px 0px;
  /*border-top: 0px;*/
  font-size: 10px;
  float: right;
}
.newEvent .btn{
  margin-top: 5px;
  margin-bottom: 0px;

}
.btn-newEvent{
  background: #4fd934;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 0px 50px 0px 50px;
  border: solid #9ff5a2 2px;
  text-decoration: none;
}
.btn-newEvent:hover {
  background: #299943;
  background-image: -webkit-linear-gradient(top, #299943, #70d934);
  background-image: -moz-linear-gradient(top, #299943, #70d934);
  background-image: -ms-linear-gradient(top, #299943, #70d934);
  background-image: -o-linear-gradient(top, #299943, #70d934);
  background-image: linear-gradient(to bottom, #299943, #70d934);
  text-decoration: none;
}
.newEvent-input .input{
  background: #4fd934;
  background-image: -webkit-linear-gradient(top, #4fd934, #298c29);
  background-image: -moz-linear-gradient(top, #4fd934, #298c29);
  background-image: -ms-linear-gradient(top, #4fd934, #298c29);
  background-image: -o-linear-gradient(top, #4fd934, #298c29);
  background-image: linear-gradient(to bottom, #4fd934, #298c29);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 0px 40px 0px 40px;
  border: solid #9ff5a2 2px;
  text-decoration: none;
}
div.image {
  content: url(/img/modal/OOI_Banner.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: -3px;
}
button.close{
  padding: 4px 5px 0px 0px;
  font-family: Arial;
  font-size: 14px;
}
.newEvent input[type=text]{
  height: 20px;
  width: 212px;
  font-family: FontAwesome;
  background: 1px 1px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding-left: 4px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;

}
.newEvent input[type=text]:focus, textarea:focus {
  height: 20px;
  width: 212px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background: 12px 11px no-repeat, #FFF;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  border-radius: 6px;
}
.newEvent-message {
  font-family: FontAwesome;
}
.typeDrop {
   -webkit-appearance: menulist-button;
   line-height: 20px;
   width: 212px;
   background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);

   border: 1px solid #DDDDDD;
   border-radius: 6px;
}
.new-event-message {
  color: #fd0404;
}
