div#page-controls {
  position: fixed;
  top: 150px;
  z-index: 3;
  width: 100%;
  padding-left: 30px;
  background-color: #004773;
  height: 43px;
  left: 375px;
  border-left: #F09349 solid 2px;
  transition: left 0.5s;
}
div#page-controls.toggled {
    left: 0;
}
#page-controls #buttons {
    display: inline-block;
    bottom: 15px;
    position: relative;
}
#search-clear {
    z-index: 100;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #aaa;
}
#searchGroup {
    display: inline-block;
    padding-top: 10px;
}
#search {
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    display: block;
    height: 20px;
}
input#search {
  line-height: 1.456;
}

#buttons > select {
    margin-top: 10px;
}

#buttons > span {
    background-color: white;
    display: inline-block;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.8s;
}
#buttons > span:hover {
    background-color: lightblue;
    color: black;
}
#buttons > span:active, #buttons > span.active:active {
    background-color: orange;
}
#buttons > span.active {
    background-color: green;
    color: white;
}
