div#page-controls {
  position: fixed;
  top: 150px;
  z-index: 3;
  width: 100%;
  padding-left: 30px;
  background-color: #004773;
  height: 100px;
  left: 375px;
  transition: left 0.5s;
}
div#page-controls.toggled {
    left: 0;
}
button#search-clear {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#searchGroup {
    display: inline-block;
    padding-top: 30px;
}
#search {
    width: 768px;
    height: 27px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    display: block;
}
input#search {
  line-height: 1.5;
}
#buttons > span {
    background-color: white;
    display: inline-block;
    padding: 0 20px 0 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.8s;
}
#buttons > span:hover {
    background-color: lightblue;
    color: black;
}
#buttons > span:active, #buttons > span.active:active {
    background-color: orange;
}
#buttons > span.active {
    background-color: green;
    color: white;
}
