.toc-plotting-text {
  font-size: 10px !important;
}

/*********************
 ****** Plotting  *****
 *********************/

  div#plottingBody {
    margin-left: 20px;
    padding-right: 50px;
    max-height: 700px;
    max-width: 1560px;
  }
  /* ~vertical buttons on sidebar~ */
  .plotting-selection {
    position: relative;
    width: 100%;
    /* margin-top: 25px; */
  }

  div#plottingBody > div.row > div.panel > div.panel-heading > div.row {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  span.filter-option {
    margin-left: 0px !important;
  }

  #plottingBody > div:nth-child(1) > div > div > div:nth-child(1) > div.col-md-10 {
    padding-left: 0px;
  }
  /* change for select buttons on plot page */
  button.btn.dropdown-toggle.form-control.selectpicker.btn-default {
    color: #353840;
    background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0));
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border: 1px solid #7E9CD9;
    border-radius: 4px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.1;
    font-family: inherit;
  }
  button.btn.dropdown-toggle.form-control.selectpicker.btn-default:hover {
    background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.5));
  }

  button.btn.dropdown-toggle.form-control.selectpicker.btn-default {
    text-transform: uppercase;
  }

  .dropdown-menu.open {
    /* margin: 2px 170px 0; */
    background-color: rgba(255, 255, 255, 0.87);
    padding-bottom: 14px;
    border: none;
    position: absolute;
    top: 40px;
    left: 140px;
  }

  input.form-control:focus {
    border-color: #FBB500;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 147, 73, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 147, 73, 0.6);
  }
  .dropdown-menu > li > a {
    margin: 4px;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: #FFF;
    background: #FFF;
  }

  div ul.dropdown-menu.inner.selectpicker {
    padding: 10px;
  }

  ul.dropdown-menu.inner.selectpicker > li > a:hover,
  ul.dropdown-menu.inner.selectpicker > li > a:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 108, 222, 1);
  }

  span.filter-option.pull-left {
    text-transform: capitalize;
    margin-left: -9px;
    padding-bottom: 5px;
  }

  /* Plotting sidebar buttons */
  /*space between button group on plotting page*/
  #plot-btn-group button[class*="plot-btn"] {
    /* margin: 0px 5px; */
    /* border-top-left-radius: 41px; */
    /* border-bottom-left-radius: 41px; */
    width: auto;
    color: #353840;
    background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0));
    border-bottom: 1px solid transparent;
    border: 1px solid #7E9CD9;
    /* border-radius: 4px; */
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 15px;
    line-height: 1;
    font-family: inherit;
  }

  #plot-btn-group button[class*="plot-btn"]:hover {
    width: auto;
    color: #353840;
    background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.5));
    border-bottom: 1px solid transparent;
    border: 1px solid #7E9CD9;
    border-radius: 4px;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 1;
    font-family: inherit;
  }

  #plot-btn-group button span[class*="glyphicon"] {
    background: transparent;
  }

  /***********************
   ****** Tool Tips *******
   ***********************/
  li#xVarTooltip {
    z-index: 1000;
  }
  div#qa-qc {
    margin-left: 0px !important;

  }
  div.div-qa-qc{
    width:100%;
    top:-35px;
    margin-left: 0px !important;
  }

  div.div-qa-qc > span {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
  }

  /* Download buttons */
  div#download-row {
    background-color: #E0E0E0;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 5px;
  }

  div#download-options > ul > li {
    display: inline !important;
    list-style-type: none;
    padding-right: 20px;
  }

  /* controls */
  #plotcontrols .label {
    white-space:nowrap;
  }

  /**********************
   *** Event Date/Time ***
   **********************/
  div.bootstrap-datetimepicker-widget.dropdown-menu.bottom {
    width: auto;
    white-space: inherit;
  }

  div.bootstrap-datetimepicker-widget.dropdown-menu.bottom > ul > li.collapse.in {
    background: #fff;
  }

  /**********************
   **** Event Scroll *****
   **********************/
  table#eventsTable {
    width: 100%
  }

  table {
    /* border: 0; */
    padding: 0;
    margin: 0 0 20px 0;
    border-collapse: collapse;
  }

  thead tr {
    background: linear-gradient(#fff, #7E9CD9);
    border-bottom-color: #F09349;
  }
  
  .nasdaq th {
    text-transform: none;
    font-weight: 500;
    text-align: left;
     background: linear-gradient(#fff, #7E9CD9);
    background-image: -moz-linear-gradient(#fff, #7E9CD9);
    background-image: -webkit-gradient(#fff, #7E9CD9);
    border: 1px solid #D1DAF5;
  }

  .nasdaq th, .nasdaq td {
    padding: 6px 8px;
    font-size: 8pt;
  }

  tbody td {
    padding: 5px 5px 20px 5px;
    line-height: 18px;
    border-top: 1px solid #D1DAF5;
  }

  tbody tr:nth-child(2n) {
    background-color: #F7F7F7;
    opacity: 0.8;
    border: 1px solid #D1DAF5;
  }

  tbody tr:hover {
    background-color: #EEEEEE;
  }

  .nasdaq td {
    border: 1px solid #D1DAF5;
  }

  .nasdaq td:first-child, .nasdaq th:first-child {
    text-align: left;
  }

  div.scrollable-block table {
    width: 100%;
    margin-top: 2px;
  }

  div.fixed-header,
  div.scrollable-block {
  padding: 70px 0px;
  margin-top: -67px;
  margin-bottom: -60px;
  margin-left: 3px;
}

div.scrollable-block table {
    width: 90%;
  }

  .scrollable-area {
    width: 100%;
    height: 13em;
    border: 2px solid #fff;
    overflow: auto;
  }

  .amount {
    text-align: left;
    padding-right: 10px;
  }

  .stock th {
    background-color: rgb(252, 110, 15);
    background-color: rgba(252, 110, 15, 0.8);
    text-transform: none;
    text-align: left;
    padding: 10px;
  }

  .stock th, .stock td {
    text-align: left;
    padding: 5px 20px;
  }

  .stock td:first-child, .stock th:first-child {
    text-align: left;
    font-weight: normal;
  }

  .uci .age {
    text-align: center;
  }

  .uci .result {
    text-align: left;
  } 
