.toc-plotting-text {    
    font-size: 10px !important; 
}

/****************************
****** Plotting  *****
****************************/
/* ~vertical buttons on sidebar~ */
.plotting-selection {
	position: relative;
	width: 100%;
	/* margin-top: 25px; */
}

/* change for select buttons on plot page */
button.btn.dropdown-toggle.form-control.selectpicker.btn-default {
	color: #353840;
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0));	
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border: 1px solid #7E9CD9;
  border-radius: 4px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
	width: 100%;
	margin-bottom: 5px;
  line-height: 1.1;
  font-family: inherit;
}
button.btn.dropdown-toggle.form-control.selectpicker.btn-default:hover {
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.5));
}

button.btn.dropdown-toggle.form-control.selectpicker.btn-default {
	text-transform: uppercase;
}

.dropdown-menu.open {
	margin: 2px 170px 0;
	background-color: rgba(255, 255, 255, 0.87);
	padding-bottom: 14px;
	border: none;
	}

input.form-control:focus {
	border-color: #FBB500;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 147, 73, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 147, 73, 0.6);	
}
.dropdown-menu > li > a {
	margin: 4px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #FFF;
	background: #FFF;
}

div ul.dropdown-menu.inner.selectpicker {
	padding: 10px;
} 	 	 

ul.dropdown-menu.inner.selectpicker > li > a:hover,
ul.dropdown-menu.inner.selectpicker > li > a:focus {
	outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 108, 222, 1);
}

span.filter-option.pull-left {
	text-transform: capitalize;
}

/* Plotting sidebar buttons */
/*space between button group on plotting page*/
#plot-btn-group button[class*="plot-btn"] {
	/* margin: 0px 5px; */
	/* border-top-left-radius: 41px; */
  /* border-bottom-left-radius: 41px; */
  width: auto;
	color: #353840;
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0));	
  border-bottom: 1px solid transparent;
  border: 1px solid #7E9CD9;
  /* border-radius: 4px; */
  font-weight: 300;
  text-decoration: none;
	margin-bottom: 15px;
  line-height: 1;
  font-family: inherit;
}

#plot-btn-group button[class*="plot-btn"]:hover {
	width: auto;
	color: #353840;
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.5));	
  border-bottom: 1px solid transparent;
  border: 1px solid #7E9CD9;
  border-radius: 4px;
  font-weight: 300;
  text-decoration: none;
	margin-bottom: 5px;
  line-height: 1;
  font-family: inherit;

}

#plot-btn-group button span[class*="glyphicon"] {
	background: transparent;
}

