.ui-jqgrid-btable .ui-state-highlight { background: lightskyblue; color: #000000; font-weight: bold;}

.ui-jqgrid-title { font-size: 14px; font-weight: bold; text-align: center;}

.ui-jqgrid .ui-jqgrid-caption { text-align: center; }

.ui-jqgrid .ui-jqgrid-titlebar { height: 30px;}

div#wrapper {
    margin-top: 150px;
}

.color-index > span {
    width: 10px;
    background-color:
}
div.twelve-hours, div.twenty-four-hours, div.older {
    display: inline-block;

    height: 10px;
    width: 10px;
}

.color-index b {
    margin-right: 5px;
}
.twelve-hours {
    background-color: deepskyblue;
    color: black;
}
.twenty-four-hours {
    background-color: gold;
}
.older {
    background-color: firebrick;
}

div#wrapper{
  padding-left:0px;
}

#timeRangeFilter #slider{
  display:none;
}

#plottingBody .scrollable-area .initial-text{
  margin-top:5px;
  margin-bottom:5px;
}

#plottingBody #instruments-table > h5{
  margin-top:5px;
  margin-bottom:5px;
}

#plot-controls > h5{
  margin-top:5px;
  margin-bottom:5px;
}

#plottingBody div.reset-catalog-container{
  padding-left: 20px;
}

#plottingBody .parameter-select{
  height: 26px
}

#plottingBody .filter-option.pull-left{
  font-size:12px;
}

#plottingBody .tidy-panel{
  padding-left: 2px;
  padding-right: 2px;
  margin-top:10px;
}

#plottingBody .bootstrap-select.btn-group .dropdown-menu {
  z-index: 3;
}

#plottingBody .plot-tab-panel{
  min-height:220px;
}

#plottingBody .panel-footer .pull-center{
  text-align: center;
}

#plottingBody .panel-footer .update-plot{
  padding-left: 20px;
  padding-right: 20px;
}

#plottingBody .panel > .panel-body,
div#events-scroll-body {
  border: 0px solid #d1daf5;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
}

#plottingBody .plot-control-section .bootstrap-select .dropdown-menu.open .not-default-plot-option{
  color:rgba(109, 109, 109, 0.65);
  font-weight: 200;
}

#wrapper .content-fluid .search-sidebar{
  padding-left  : 10px;
  padding-right : 10px;
}


#plot-controls .plot-tab-view.plot-control-view .dropdown-menu.open{
  left : 0px;
  top  : 100%;

}

#events-scroll-body{
  overflow: scroll;
  max-height: 230px;
  min-height: 220px;
}

#plot-controls .daterangepicker.dropdown-menu{
  z-index: 4;
}

#plot-controls #annotation-table.plot-tab-panel{
  min-height: 230px;
}

#plot-controls #events-table{

}

.wait {
  cursor: wait;
}

#plottingBody .plot-tool-tabs li.disabled{
  pointer-events: none;
  cursor:not-allowed;
}

#plottingBody .plot-tool-tabs li.disabled a{
  pointer-events: none;
  cursor:not-allowed;
  background-color:#C7C7C7;
}
