/*
 * Badge Buttons @ Top
 */
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.okIssueBtn {
    background: #006eff;
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    border: 1px solid #000006;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    border-radius: 50%;
    color: #000000; 
}
.issueIssueBtn {
    background: #FFE944;
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    border: 1px solid #6E6E6C;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    border-radius: 50%;
    color: #000000; 
}
.errorIssueBtn {
    background: #E03D2C;
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    border: 1px solid #000006;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    border-radius: 50%;
    color: #000000; 
}
.unknownIssueBtn {
    background: #5e5e5e;
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    border: 1px solid #000006;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    border-radius: 50%;
    color: #000000; 
} 
/*
 * Badge 
 */
.badge-ok {
    background: #006eff;
    border: 1px solid #000006;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    display: block;
    float: center;
    margin: 0 10px 0px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    margin-left: 35%    
}
.badge-issue {
    background: #FFE944;
    border: 1px solid #6E6E6C;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    display: block;
    float: center;
    margin: 0 10px 0px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    margin-left: 35%;
}
.badge-error {
    background: #E03D2C;
    border: 1px solid #000006;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    display: block;
    float: center;
    margin: 0 10px 0px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    margin-left: 35%;
}
.badge-unkown {
    background: #5e5e5e;
    border: 1px solid #000006;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
    display: block;
    float: center;
    margin: 0 10px 0px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    margin-left: 35%;
}
/*
 * Dog Tag Button
 */
.dogTagBtn {
    margin: 10px;
    padding: 0px;
    height: 200px;
    width: 160px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.blue-backgroud-gradiant {
    background-color: #fff;
    background-image: radial-gradient( 100% 100%, #fff, rgba(81, 203, 238, .28));
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border:  1px solid rgba(81, 203, 238, 1);
}
.blue-backgroud-gradiant:hover {
    border:  1px solid;
    border-color: rgba(0, 118, 253, 0.75);
    /*Glow*/ 
    -webkit-box-shadow: 0px 0px 20px rgba((81, 203, 238, 1)); 
    -moz-box-shadow: 0px 0px 20px rgba(81, 203, 238, 1);
    box-shadow: 0px 0px 20px rgba(81, 203, 238, 1);
}
.red-backgroud-gradiant {
    background-color: #fff;
    background-image: radial-gradient(100% 100%, #fff, rgba(253, 196, 196, .30));	
    box-shadow: 0 0 10px rgba(250, 128, 128, 1);
    border: 1px solid rgba(252, 171, 171, 1);
}
.red-backgroud-gradiant:hover {
    border:  1px solid;
    border-color: rgb(255, 50, 50);
    /*Glow*/ 
    -webkit-box-shadow: 0px 0px 20px rgba(252, 171, 171, 1); 
    -moz-box-shadow: 0px 0px 20px rgba(252, 171, 171, 1);
    box-shadow: 0px 0px 20px rgba(252, 171, 171, 1);
}
.yellow-backgroud-gradiant {
    background-color: #fff;
    background-image: radial-gradient(100% 100%, #fff, rgb(253, 253, 221));
    box-shadow: 0 0 10px rgba(253, 253, 22, .95);
    border: 1px solid rgb(231, 230, 100);
}
.yellow-backgroud-gradiant:hover {
    border:  1px solid;
    border-color: rgb(210, 209, 78);
    /*Glow*/ 
    -webkit-box-shadow: 0px 0px 20px rgba(253, 253, 22, .95); 
    -moz-box-shadow: 0px 0px 20px rgba(253, 253, 22, .95);
    box-shadow: 0px 0px 20px rgba(253, 253, 22, .95);
}
.unknown-backgroud-gradiant {
    background-color: #fff;

    /*Pop Over*/
.platform-tile-title{
  text-align: center;
  background-color: blue;
}


.platform-tile{
  margin: 10px;
  padding: 0px;
  height: 200px;
  width: 160px;
  *display: inline;

  vertical-align: top;
  display: inline-block;

  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.platform-tile:hover {
     border-color:  rgb(0, 153, 255);
}

.platform-tile .status-icon {
  display: block;
  float: center;
  margin: 0 10px 0px 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  font-size: 35px;
  margin-left: 35%;
  border: 5px solid transparent;
  border-color: #969696 ;
}

.small-status-icon {
  display: block;
  float: center;
  margin: 0 10px 0px 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  margin-left: 0%;
  border: 1px solid transparent;
  border-color: #969696 ;
}


.status-badge {
  padding: 10px 12px 10px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 12px;
}

.badge-error {
	  background-color: #b94a48;
}

.badge-warning {
  background-color: #f89406;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-inverse {
  background-color: #333333;
}

    /*    background-image: radial-gradient( 100% 100%, #fff, rgb(213, 221, 253));
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);*/
}
/*
 ***small gradient
 .badge-ok {
 background-image: radial-gradient( 50% 50%, rgba(0, 23, 255, 1), rgba(130, 145, 223, 0));
 display: block;
 float: center;
 margin: 0 10px 0px 0;<D-r>
 width: 45px;
 height: 45px;
 border-radius: 50%;
 line-height: 45px;
 vertical-align: middle;
 text-align: center;
 font-size: 35px;
 margin-left: 35%;
 }


 ***large gradient
 .badge-ok {
 background: -webkit-radial-gradient(rgba(142, 147, 247, 1) 5%, rgba(35, 44, 245, 0.16) 60%);
 display: block;
 float: center;
 margin: 0 10px 0px 0;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 line-height: 45px;
 vertical-align: middle;
 text-align: center;
 font-size: 35px;
 margin-left: 20%;
 }

 ***oldbadgebuttons
 .issueIssueBtn {
     background: #FFE944;
     border: 1px solid #6E6E6C;
     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
     display: inline-block;
     float: center;
     margin: 0 10px 0px 0;
     width: 35px;
     height: 35px;
     border-radius: 50%;
     text-align: center;
     font-size: 25px;
     margin-left: 0%;
     margin-top: 15%;
     margin-left: auto;
     padding: 0px 0px;
     line-height: 1;
     color: #000000;
     white-space: nowrap;
     vertical-align: baseline;
 }
 .errorIssueBtn {
     background: #E03D2C;
     border: 1px solid #000006;
     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
     display: inline-block;
     float: center;
     margin: 0 10px 0px 0;
     width: 35px;
     height: 35px;
     border-radius: 50%;
     text-align: center;
     font-size: 25px;
     margin-left: 0%; 
     margin-top: 15%;
     margin-left: auto;
     padding: 0px 0px;
     line-height: 1;
     color: #000000;
     white-space: nowrap;
     vertical-align: baseline;
 }
 .unknownIssueBtn {
     background: #5e5e5e;
     border: 1px solid #000006;
     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 0px 8px 1px rgba(0,0,0,0.50);
     display: inline-block;
     float: center;
     margin: 0 10px 0px 0;
     width: 35px;
     height: 35px;
     border-radius: 50%;
     text-align: center;
     font-size: 25px;
     margin-left: 0%; 
     margin-top: 15%;
     margin-left: auto;
     padding: 0px 0px;
     line-height: 1;
     color: #000000;
     white-space: nowrap;
     vertical-align: baseline;
 } 

*/
