#streamStatus {
    position: absolute;
}

#streamStatus h4 {
    display: inline-block;
}
#streamStatus > .modal-dialog {
    width: 80%;
}

#streamStatus .modal-header {
    padding-top: 2px;
    overflow-x: hidden;
    height: 120px;
    border-bottom: 2px solid orange;
    overflow-y: hidden;
}

#streamStatus .time-filter div {
    display: inline-block;
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px;
}

#streamStatus .time-filter {
    display: relative;
    text-align: center;
}

#streamStatus .time-legend {
    text-align: center;
    margin: 10px 0 20px 0;
}

#streamStatus .array-select {
    text-align: center;
    font-size: 14px;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    background-color: #eee;
    position: relative;
    left: -15px;
    width: 103%;
}
#streamStatus .array-select > span {
    padding: 0 10px 0 10px;
    border: 1px solid #ccc;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    background-color: white;
    transition: all 0.8s;
}

#streamStatus .array-select > span.active {
    background-color: green;
    color: white;
}

#streamStatus .stream-table {
    position: relative;
    margin: auto 50px;
}

#streamStatus .stream-table {
    height: 500px;
    overflow-y: scroll;
}

#streamStatus table {
    width: 100%;
}

#streamStatus td, th {
    font-size: 12px;
    padding: 0 5px 0 5px;
}


#streamStatus button.close {
    background-color: #004773;
    color: white;
    padding-left: 7px;
    padding-right: 8px;
    opacity: 1;
    border: none;
    transform-origin: top left;
    transition: all 0.9s;
}
#streamStatus button.close:hover {
    background-color: #fff;
    color: #004773;
    font-size: 25px;
}

.btnContainer {
    z-index: 100;
    position: absolute;
    bottom: 40px;
    left: 10px;
}
.twelve-hours {
    background-color: blue;
    color: white;
}
.twenty-four-hours {
    background-color: yellow;
}
.older {
    background-color: red;
    color: white;
}
.color-index {
    text-align: center;
}
.color-index > div {
    width: 10px;
    background-color:
}
div.twelve-hours, div.twenty-four-hours, div.older {
    display: inline-block;
    height: 10px;
    width: 10px;
}

.color-index b {
    margin: 0 5px 0 5px;
}
