#th-plot {
    width:85px;
}
#th-download {
    width: 145px;
}
#th-reference_designator {
    width: 300px;
    cursor: pointer;
}
#th-display_name {
    width: 300px;
    cursor: pointer;
}
#th-start {
    cursor: pointer;
}
#th-end {
    cursor: pointer;
}
i {
    pointer-events: none;
}
.panel-heading {
   text-align: center;
   margin: 0 auto 0 auto;
   position: relative;
}
