/* page specific toc styling */

/* formatting for the search field */
#sidebar-wrapper {
    padding-top:0px;
    border-top-width: 22px;
    border-color: #E9E9E9;
    -webkit-box-shadow: none;
}

#search {
    margin-top:0px;
}
#search-clear {
    margin-top:0px;
}
#assetBrowser {
    margin-top: 55px;
}
/* end toc styling */


#th-plot {
    width:85px;
}
#th-download {
    width: 145px;
}
#th-reference_designator {
    width: 300px;
    cursor: pointer;
}
#th-display_name {
    width: 300px;
    cursor: pointer;
}
#th-start {
    cursor: pointer;
}
#th-end {
    cursor: pointer;
}
i {
    pointer-events: none;
}
ul.pagination {
    min-width: 500px;
}
