#sidebar-wrapper {
    max-height:80%;
}
#assetBrowser {
    margin-top:5px;
}

.toc-header{
    margin-left: 15px;
    text-align: left;
}

#array {
}
div.well {
    width: 300px;
}
div#assetBrowser {
    overflow-x: hidden;
    padding-left: 25px;
}
label {
    display: block;
    margin-bottom: 5px;
    max-width:100%;
}
.nav-list>li>a,.nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}


.active-toc-item{
    background-color:lightblue !important;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
}
.nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
#navToc {
float: none;
margin: 0 0 10px
}

#navToc > li > a {
    color: #004773;
    font-weight: 300;
}

#navToc>li {
    float: none
}

#navToc>li>a {
    margin-bottom: 2px
}

#navToc .nav-header {
    text-shadow: none
}

#navToc>li>a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

#navToc>li>a {
    color: #999
}

.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
                            }

#search {
    width: 275px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

li.highlight-row > label {

    color: #fff!important;
}

li.platform {
    width:300px;
}
li.instrument {
    width:300px;
}

label.platform > span  {
    display:inline;
    vertical-align: center;
}
label.platform > font {
    font-size: 80%;
    color: #6E89AB;
}
label.instrument > span {
    display: block;
}
label.instrument > font {
    font-size: 80%;
    color: #6E89AB;
}
div#searchGroup {
  margin-left: 30px;
}

button#search-clear {
  margin-top: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#streamPanel {
  padding-left: 15px;
}
/* styling for items with no children */
.no-children {
    color: grey;
}
