.well {
    border-radius: 0px;
}

#sidebar-wrapper {
    max-height:100%;
    background-color: #eee;
}
#assetBrowser {
    margin-top:5px;
    background-color: #eee;
    position: relative;
    width:375px;
}

.toc-header{
    margin-left: 15px;
    text-align: left;
}

div#assetBrowser {
    overflow-x: hidden;
    padding-left: 0;
    margin-top: 0;
    position: absolute;
    top: 45px;
}
#tocNav {
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
#tocNav label {
    display: block;
    max-width:100%;
    margin-bottom: 0;
    transition: background-color 0.2s;
}

#tocNav a {
    transition: background-color 0.2s;
}
#tocNav label:hover, #tocNav a:hover {
    background-color: lightblue;
}
.nav-list>li>a,.nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.nav-list>li>a {
    padding-left: 10px;
    font-size: 12px;
    display: inline-block;
    width: 305px;
    color: #004773;
}


.active-toc-item{
    background-color:lightskyblue !important;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}
label.array, label.platform, label.assembly, label.instrument, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
#navToc {
float: none;
margin: 0 0 10px
}

#navToc > li > a {
    color: #004773;
    font-weight: 300;
    margin-bottom: 2px
    color: #999
}

#navToc>li {
    float: none
}


#navToc .nav-header {
    text-shadow: none
}

#navToc>li>a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
}
li.highlight-row > label {
    color: #fff!important;
}

li.array, li.platform, li.assembly, li.instrument {
    width:375px;
}

label.platform > span, label.assembly > span, label.instrument > span {
    display: block;
    width:350px;
}
label.platform > font, label.assembly > font, label.instrument > font {
    font-size: 80%;
    color: #6E89AB;
}


#streamPanel {
  padding-left: 15px;
}
label.instrument > span {
    display: block;
}
/* styling for items with no children */
.no-children {
    color: grey;
}
#tocNav .tree {
    border-left: 2px solid #004773;
    transition: border-left 0.5s;
}
#tocNav .tree:hover {
    border-left: 2px solid orange;
}
/* detached items */
li.detached > label {
    display: inline-block;
}
/*li.detached > label:before {
    font-family: FontAwesome;
    content:"\f127";
    display: inline-block;
    float: left;
    padding-right: 5px;
}*/

/* TOC Filter Contols */
#tocFilterControls {
    width: 375px;
    text-align: center;
    border-top: 1px solid #004773;
    top: 141px;
    left: 0;
    background-color: #004773;
    padding-bottom: 20px;
    position: fixed;
    transition: width 0.5s;
    height: 52px;
    padding-top: 8px;
    z-index: 100;
}

#tocFilterControls div.toggle-btns {
    position: fixed;
    bottom: 0px;
    z-index: 100;
    background-color: #eee;
    padding: 10px;
    width: 375px;
}

#tocFilterControls div.toggle-btns span {
    margin-right: 5px;
}

#tocFilterControls.toggled, #tocFilterControls.toggled > div > span {
    visibility: hidden;
    opacity: 0;
    width: 0;
}
#tocFilterControls > div > span {
    display: inline-block;
    background-color: white;
    margin: 2px 2px 0 2px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    min-width: 83px;
    opacity: 1;
    transition: background-color 0.8s, color 0.8s;
    border-radius: 2px;
}
#tocFilterControls > div > span:hover {
    background-color: lightblue;
    color: black;
}
#tocFilterControls > div > span:active, #tocFilterControls > div > span.active:active {
    background-color: orange;
}
#tocFilterControls > div > span.active {
    background-color: green;
    color: white;
}
#search-param {
    margin-top: 10px;
    width: 90%;
}

/*.eng-item, .meta-data-item, .ref-des-item {*/
.ref-des-item {
    display: none;
}
/* end TOC filter controls */
