#tocmenusection{
  min-height: 423px; 
  height: 423px; 
  max-height: 423px;  
  width: 100%;
  overflow: scroll;
  padding: 5px;
}

.toc-menu{
 
}

.fancytree-expander{
  left: -25px;
  /* set the size of the expander*/
  font-size: 1.2em;
}

/*
Color for plus sign
*/
span.fancytree-expander.glyphicon-plus-sign{
  color: orange;    
}

/*
Color for minus sign
*/
span.fancytree-expander.glyphicon-minus-sign{
  color: blue;    
}

span.fancytree-folder {
  left: 25px;
  position: relative;
}

span.fancytree-icon {
  position: relative;
  /*  folder icon size  */
  font-size: 1.2em;
  /* folder color*/
  color: #333340;    
}
span.fancytree-childcounter {
  color: #fff;
  background: #428BCA;
  position: absolute;
  top: -4px;
  left: -25px;
  min-width: 13px;
  height: 20px;
  width: 20px;
  line-height: 1;
  vertical-align: baseline;
  border-radius: 15px;
  padding: 1px;
  text-align: center;
  font-size: 13px;
}

/*
.badge-error {
    background-color: #b94a48;
}

.badge-warning {
  background-color: #f89406;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-inverse {
  background-color: #333333;
}

.tocsidebar {
  display: block;
  float: left;
  width: 100%;
  background: #333;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.tocsidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.tocsidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tocsidebar-nav ul li,
.tocsidebar-nav ul a {
  display: block;
}
.tocsidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.tocsidebar-nav ul a:hover,
.tocsidebar-nav ul a:focus,
.tocsidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.tocsidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.tocsidebar-nav ul ul a:hover,
.tocsidebar-nav ul ul a:focus,
.tocsidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.tocsidebar-nav-item {
  padding-left: 5px;
}
.tocsidebar-nav-item-icon {
  padding-right: 5px;
}
*/
