{% extends "base.html" %}

{% block title %}
  <title>File Browser</title>
{% endblock %}

{% block head %}
  <link href="/components/fancytree/dist/skin-bootstrap/ui.fancytree.css" rel="stylesheet" type="text/css" class="skinswitcher">

  <script src="/components/fancytree/dist/src/jquery.fancytree.js" type="text/javascript"></script>
  <script src="/components/fancytree/dist/src/jquery.fancytree.edit.js" type="text/javascript"></script>
  <script src="/components/fancytree/dist/src/jquery.fancytree.glyph.js" type="text/javascript"></script>
  <script src="/components/fancytree/dist/src/jquery.fancytree.wide.js" type="text/javascript"></script>
  <script src="/components/fancytree/dist/src/jquery.fancytree.filter.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/toc_menu.css" />
  <script src="/components/react/react.min.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    Hi
  </div>
</div>
{% endblock %}

