<!doctype html>
<html lang="en">
<head>      
    <title>OOI Science Page</title> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Main Landing Page For status page">
    <meta name="author" content="RPS ASA">  
    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
     
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script> 

    <link rel="stylesheet" href="/css/index.css">

    <!--
    TOC MENU    
    -->
    <script src="//cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/js/metismenu.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/css/metismenu.min.css">
    <link rel="stylesheet" href="/css/toc_menu.css" />
    <script src="/js/ooi/toc_menu.js"></script>
    

    <script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.label/leaflet.label.css">
    <script src="/js/ooi/map.js"></script>

    <link rel="stylesheet" href="/css/social/bootstrap-social.css">


   
    <!--   
    marker cluster
    -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />


    <!--
    LEAFET SEARCH
   
    <link rel="stylesheet" href="/css/leaflet/leaflet.fusesearch.css">
    <script src="/js/leaflet/leaflet.fusesearch.js"></script>
     -->
    

    <!--
    PLOTTING
    -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.js"></script> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script> 



    

    <script src="/js/ooi/plot.js"></script> 
    <link rel="stylesheet" href="/css/ooi/plot.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.js"></script>

    <!--   
    MORRIS PLOTS
    -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>

    <!--   
    cubism plots
    -->
    <script src="/js/cubism/cubism.v1.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


</head>

<style>


</style>


<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

            <li class="dropdown">               
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Array List <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Pioneer</li>
                <li><a href="/pioneer/">Array Overview</a></li>               
                <li class="divider"></li>
                <li class="dropdown-header">Other</li>
                <!--
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
                -->
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">

            <div class="col-sm-4" style="padding-top:8px">
                <li>
                    <a class="btn btn-social-icon btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            </div>
            <div class="col-sm-4" style="padding-top:8px">
                <li>
                    <a class="btn btn-social-icon btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
            </div>
            <!--
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="wrapper">
    <div class="container-full">
        <!--/.banner -->
        <div class="row">       
            <div class="col-lg-4">
                <img src="/img/nsf-logo.png" class="img-rounded" style="width:100px;height:100px">
            </div>

            <div class="text-center">
                <div class="col-lg-4">
                    <img src="/img/OOI_BannerNew_01.png" class="img-rounded">
                </div>
            </div>

            <div class="col-lg-2">
                <img src="/img/OceanLeadershipLogoCS2.png" class="img-rounded" style="width:150px;height:100px">            
            </div>

            

        </div>

        <!--/.Array Names -->
        <div class="row ">
            <div class="col-lg-12">
                <div class="panel">   <!-- removed panel-default-->
                  <div class="array-row">  <!-- removed panel-body-->
                    <div class="text-center">
                    <div class="btn-group btn-group">
                        <button type="button" class="active btn btn-info array-btn" array="all">All</button>
                        <button type="button" class="btn btn-default array-btn" array="ce" disabled="disabled">Endurance Array (CE)</button>
                        <button type="button" class="btn btn-default array-btn" array="gp" disabled="disabled">Station PAPA (GP)</button>
                        <button type="button" class=" btn btn-default array-btn" array="cp">Pioneer Array (CP)</button>
                        <button type="button" class="btn btn-default array-btn" array="ga" disabled="disabled">Global Argentine (GA)</button>
                        <button type="button" class="btn btn-default array-btn" array="rs" disabled="disabled">RS Regional (RS)</button>
                        <button type="button" class="btn btn-default array-btn" array="gi" disabled="disabled">Global Irminger Sea (GI)</button>
                        <button type="button" class="btn btn-default array-btn" array="gs" disabled="disabled">55 South (GS)</button>
                        <button type="button" class="btn btn-default array-btn" array="ssf" disabled="disabled">Shore Side Facilities (SSF)</button>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <!--/.content -->
        <div class="row">
            <div class="col-lg-2">
                <div class="panel panel-default">
                  <div class="panel-body" style="padding:1px;">
                    <div>                       

                        <h4 style="text-align: center;">Array Overview 
                            <i class="glyphicon glyphicon-info-sign info-icon"></i>
                        </h4>   

                        <div style="padding:5px" class="col-1" >
                            <div class="right-inner-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                <input id="searchQuery"
                                       type="search"
                                       class="form-control" 
                                       placeholder="Search" />
                            </div>
                        </div>

                                            

                        <div style="padding:5px">
                            <div id="statusfilter" class="btn-group">
                                <button filtertype="status" filter="all" class="active filterMapBtn btn btn-info btn-sm" type="button">
                                  All
                                </button>

                                <button filtertype="status" filter="na" class="filterMapBtn btn btn-primary btn-sm" type="button">
                                  NA
                                </button>

                                <button filtertype="status" filter="on" class="filterMapBtn btn btn-success btn-sm" type="button">
                                  ON
                                </button>

                                <button filtertype="status" filter="off" class="filterMapBtn btn btn-danger btn-sm" type="button">
                                  OFF
                                </button>
                            </div>  
                        </div>                  

                        <div id="tocmenusection" >
                            <div class="clearfix">
                                <aside class="tocsidebar">
                                    <nav class="tocsidebar-nav">
                                        <ul id="tocmenu">                                       
                                        </ul>
                                    </nav>
                                </aside> 
                            </div>
                        </div>
                                                                                 
                        <h4 style="padding-top:20px;text-align: center;">Array Breakdown 
                            <i class="glyphicon glyphicon-info-sign info-icon"></i>
                        </h4>
                        
                        <div id="donut-example" style="text-align: center;">
                        </div>      
                    </div>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-10 fill">
                <div class="panel panel-default" style="height: 100%">
                  <div class="panel-body" style="height: 100%;padding:5px;">
                    <div id="map" style="width: 100%; min-height: 400px;height:500px;"></div>
                  </div>
                </div>
            </div>

            <div class="bottom-div col-lg-10">
                <div class="panel panel-default" style="height: 100%">
                  <div class="panel-body" style="height: 100%;padding:5px;">
                        
                        <div class="col-lg-3" style="display: inline-block;">
                            <h4>Station Info</h4>

                            <dl class="dl-horizontal">
                                <dt>Array</dt>
                                  <dd id="currentArray"></dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>Platform</dt>
                                  <dd id="currentPlatform"></dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>Intrument</dt>
                                  <dd id="currentInstrument"></dd>
                            </dl>
                        </div>

                        <div class="col-lg-3" style="display: inline-block;">
                            <h4>Plot Controls</h4>
                            <div class="col-lg-2" style="width:100%;">
                                <select id="variable-select"class="form-control">
                                    <option value="depth">Depth</option>
                                    <option value="pressure">Pressure</option>
                                    <option value="conductivity">Conductivity</option>
                                    <option value="density">Density</option>                            
                                    <option value="salinity">Salinity</option>
                                    <option value="temperature">Temperature</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-6" style="display: inline-block;">
                            <h4>Date Controls</h4>
                            <div class="col-lg-8" style="width:100%;">
                               <div class='col-md-5'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker9'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-5'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker10'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                  </div>
                </div>
            </div>

            <div class="col-lg-10 bottom-div">
                <div class="panel panel-default">
                  <div class="panel-body" style="padding:5px;">                    

                    <div id="plotting" style="width: 100%; min-height: 300px;height:300px;">
                        <div id="axis0"></div>
                        <div id="chart"></div>
                    </div>
                  </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>

    <div id="tilepopovertitle" style="display: none">
            <b>Array Overview</b>
    </div> 

    <div id="tilepopovercontent" style="display: none">
            <div class="popovertext">
                some content here
            </div>
    </div> 

    <script>
    /* TEMPO ARRAY LIST*/
    array_list = {}
    array_list_all ={'lat':41.505,'lon':-80.09,"zoom":3}
    array_list['ce']={'name':'Endurance Array (CE)',"num":14,'lat':44.37,'lon':-124.95,"zoom":3}
    array_list['gp']={'name':'Station PAPA (GP)',"num":6,'lat':49.9795,'lon':-144.254,"zoom":3}
    array_list['cp']={'name':'Pioneer Array (CP)',"num":16,'lat':40.1,'lon':-70.88,"zoom":8}
    array_list['ga']={'name':'Global Argentine (GA)','num':7,'lat':-42.5073,'lon':-42.8905,"zoom":3}
    array_list['rs']={'name':'RS Regional','num':11,'lat':44.554,'lon':-125.352,"zoom":3}
    array_list['gi']={'name':'Global Irminger Sea (GI)','num':7,'lat':60.4582,'lon':-38.4407,"zoom":3}
    array_list['gs']={'name':'55 South (GS)','num':7,'lat':-54.0814,'lon':-89.6652,"zoom":3}
    array_list['gs']={'name':'55 South (GS)','num':7,'lat':-54.0814,'lon':-89.6652,"zoom":3}

    var map = L.map('map',{
        center: [41.505, -80.09],
        zoom: 3,
        maxZoom: 10
    });

    setupTileLayers(map)    

    var markers = new L.MarkerClusterGroup();    

    L.MarkerClusterGroup.include({ 

        resetMarkers: function (filter) {
            console.log("reset filter")
            var new_markers = Array();                        
            for (var i = 0; i < this._marker_list.length; i++) {      
                marker = this._marker_list[i]
                status = marker.options.status
                if (filter == "all"){
                    new_markers.push(marker);
                }
                else if (status == filter){
                    new_markers.push(marker);
                }
            }
            this.clearLayers();
            this.addLayers(new_markers);
            this.setfilteredMarkers(new_markers)
        },
        setfilteredMarkers: function (filteredMarkers) {
            this._filtered_marker_list = filteredMarkers;
        },    

        setMarkers: function (marker_list) {
            this._marker_list = marker_list;
            this.setfilteredMarkers(marker_list)            
        },

        filter: function (filter,filterType) {            
            //f = f || function (m) { return true; }            
            var a = this._marker_list.length;                                
            var new_markers = Array();            
            
            for (var i = 0; i < this._filtered_marker_list.length; i++) {
                marker = this._marker_list[i]
                status = marker.options.status
                platform = marker.options.platform
                instrument = marker.options.instrument                                

                if (filter == "all"){                    
                    this.resetMarkers();
                }else{
                    if (filterType == "status"){                    
                        if (status == filter){
                            new_markers.push(marker);
                    }

                    }else if (filterType == "platform"){                                            

                        if (platform == filter){

                            new_markers.push(marker);
                        }
                    }else if (filterType == "instrument"){                    
                        if (instrument == filter){
                            new_markers.push(marker);
                        }
                    }
                }
            };
            this.setfilteredMarkers(new_markers)
            this.clearLayers();
            this.addLayers(new_markers);            
        }    
    });

    addMarkers(map,markers);

    $('.filterMapBtn').on('click', function (e) {
        /*
        Filter map by options
        */
        $(this).addClass('active').siblings().removeClass('active');        
        markers.resetMarkers(getStatusFilter());        
    });

    function getStatusFilter(){
        return $('#statusfilter').find( '.active' ).attr( "filter" )         
    }

    $('#tocmenu').on('click', function (e) {
        /*
        Filter map by TOC
        */
        filter = $(e.target).attr( "filter" ) 
        filterType = $(e.target).attr( "filtertype" ) 
        
        //only filter when its active
        if ($('#tocmenu > li.active').length != 0){
            console.log("filter",filter,filterType)
            markers.resetMarkers(getStatusFilter());
            markers.filter(filter,filterType);
        }else{
            markers.resetMarkers(getStatusFilter());
        }
        
    });

    $('.array-btn').on('click', function (e) {
        
        var array = $( this ).attr( "array" )       

        $(this).addClass('active').siblings().removeClass('active');

        
        if (array == "all"){
            lat  = array_list_all['lat']
            lon  = array_list_all['lon']          
            zoom = array_list_all['zoom']
        } else{
            lat = array_list[array]['lat']
            lon = array_list[array]['lon']          
            zoom = array_list[array]['zoom']
        }      
        map.setView([lat, lon], zoom);   

    });

    $('.info-icon').popover({
        trigger: "hover",
        html:true,
        placement:'bottom',
        content: function() {
          return $('#tilepopovercontent').html();
        },
        title: function() {
          return $('#tilepopovertitle').html();
        }
    });

    /* DONUT PLOT*/
    donutData = []
    total = 0
    arrayKeys = Object.keys(array_list)
    for (var i = 0; i < arrayKeys.length; i++) {
        total+= array_list[arrayKeys[i]]['num']
        donutRow = {label: array_list[arrayKeys[i]]['name'], value: array_list[arrayKeys[i]]['num']}
        donutData.push(donutRow)
    };
    donutRow = {label: 'All Platforms', value: total}
    donutData.push(donutRow)
    
    Morris.Donut({
      element: 'donut-example',
      data: donutData,
      resize: true
    });


    $( document ).ready(function() {
        $( "#searchQuery" ).keyup(function() {
            q_len = $( "#searchQuery" ).val().length
            if (q_len > 3){
                console.log(q_len);
            }
        });     
    });

    /*
    when you click on the map, select a point and click plot....
    */
    $('#map').on('click', '.popup-map-btn-plot', function() {
        var array = $( this ).parent().attr( "array" ) 
        var instrument = $( this ).parent().attr( "instrument" )
        var platform = $( this ).parent().attr( "platform" )
        
        $( "#currentArray" ).text(array);
        $( "#currentPlatform" ).text(platform);
        $( "#currentInstrument" ).text(instrument);

        updateData(array,platform,instrument); 
    });

    $( "#variable-select" ).change(function() {
        array = $( "#currentArray" ).text();
        platform = $( "#currentPlatform" ).text();
        instrument = $( "#currentInstrument" ).text();   
        
        updateData(array,platform,instrument); 
    });


    $(function () {
            $('#datetimepicker9').datetimepicker();
            $('#datetimepicker10').datetimepicker();
            $("#datetimepicker9").on("dp.change",function (e) {
               $('#datetimepicker10').data("DateTimePicker").setMinDate(e.date);
            });
            $("#datetimepicker10").on("dp.change",function (e) {
               $('#datetimepicker9').data("DateTimePicker").setMaxDate(e.date);
            });
    });

    </script>

</body>
</html>