<!doctype html>
<html lang="en">
<head>  	
	<title>OOI Science Page</title>	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Main Landing Page For status page">
    <meta name="author" content="RPS ASA">	
	<meta charset="UTF-8">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
     
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>	

    <link rel="stylesheet" href="/css/index.css">
	<!--
	TOC MENU 	
    -->
    <script src="//cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/js/metismenu.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/css/metismenu.min.css">
    <link rel="stylesheet" href="/css/toc_menu.css" />
     <script src="/js/ooi/toc_menu.js"></script>
	

    <script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.label/leaflet.label.css">



    <link rel="stylesheet" href="/css/social/bootstrap-social.css">


   
    <!--   
	marker cluster
	-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />

    <!--   
	MORRIS PLOTS
	-->
	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>

	<!--   
	cubism plots
	-->
	<script src="/js/cubism/cubism.v1.js"></script>

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

</head>

<style>


</style>


<body>

	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

            <li class="dropdown">            	
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Array List <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Pioneer</li>
                <li><a href="#">Array Overview</a></li>               
                <li class="divider"></li>
                <li class="dropdown-header">Other</li>
                <!--
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
				-->
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<!--
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
        	-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="wrapper">
    <div class="container-full">
    	<!--/.banner -->
    	<div class="row">    	
			<div class="col-lg-4">
				<img src="/img/nsf-logo.png" class="img-rounded" style="width:100px;height:100px">
    		</div>

    		<div class="text-center">
    			<div class="col-lg-4">
    				<img src="/img/OOI_BannerNew_01.png" class="img-rounded">
    			</div>
    		</div>

    		<div class="col-lg-2">
    			<img src="/img/OceanLeadershipLogoCS2.png" class="img-rounded" style="width:150px;height:100px">    		
			</div>

			<div class="col-sm-1">
    			<div>
	    			<a class="btn btn-social-icon btn-twitter">
					    <i class="fa fa-twitter"></i>
					</a>
				</div>
				<div style="padding-top:5px;">
					<a class="btn btn-social-icon btn-facebook">
					    <i class="fa fa-facebook"></i>
					</a>
				</div>
			</div>

    	</div>

    	<!--/.Array Names -->
    	<div class="row ">
    		<div class="col-lg-12">
    			<div class="panel">   <!-- removed panel-default-->
				  <div class="array-row">  <!-- removed panel-body-->
				  	<div class="text-center">
				    <div class="btn-group btn-group">
				    	<button type="button" class="btn btn-info array-btn" array="all" disabled="disabled">All</button>
				    	<button type="button" class="btn btn-default array-btn" array="ce" disabled="disabled">Endurance Array (CE)</button>
				    	<button type="button" class="btn btn-default array-btn" array="gp" disabled="disabled">Station PAPA (GP)</button>
				    	<button type="button" class="active btn btn-default array-btn" array="cp">Pioneer Array (CP)</button>
				    	<button type="button" class="btn btn-default array-btn" array="ga" disabled="disabled">Global Argentine (GA)</button>
				    	<button type="button" class="btn btn-default array-btn" array="rs" disabled="disabled">RS Regional (RS)</button>
				    	<button type="button" class="btn btn-default array-btn" array="gi" disabled="disabled">Global Irminger Sea (GI)</button>
				    	<button type="button" class="btn btn-default array-btn" array="gs" disabled="disabled">55 South (GS)</button>
				    	<button type="button" class="btn btn-default array-btn" array="ssf" disabled="disabled">Shore Side Facilities (SSF)</button>
				    </div>
				    </div>
				  </div>
				</div>
    		</div>
    	</div>

    	<!--/.content -->
    	<div class="row">
    		<div class="col-lg-2">
    			<div class="panel panel-default">
				  <div class="panel-body" style="padding:1px;">
				    <div>				    	

				    	<h4 style="text-align: center;">Array Overview 
				    		<i class="glyphicon glyphicon-info-sign info-icon"></i>
				    	</h4>	

				    	<form action="" class="navbar-form navbar-right">
						   <div class="input-group">
						       <input type="Search" placeholder="Search..." class="form-control" />
						       <div class="input-group-btn">
						           <button class="btn btn-info">
						           <span class="glyphicon glyphicon-search"></span>
						           </button>
						       </div>
						   </div>
						</form>	

						<div style="padding:5px">
							Filter By...
						</div>	

						<div style="padding:5px">
							<button class="btn btn-primary" type="button">
							  NA <span class="badge">2</span>
							</button>

							<button class="btn btn-success" type="button">
							  ON <span class="badge">1</span>
							</button>

							<button class="btn btn-danger" type="button">
							  OFF <span class="badge">10</span>
							</button>
						</div>			    	

				    	<div id="tocmenusection" >
					    	<div class="clearfix">
					    		<aside class="sidebar">
	    							<nav class="sidebar-nav">
								    	<ul id="tocmenu">							    		
									    </ul>
									</nav>
								</aside> 
							</div>
						</div>
								    
				    	
				    	<!--
				    	<div class="timeline-text" id="timeline">
				    	</div>
				    	-->
				    	<h4 style="padding-top:20px;text-align: center;">Array Breakdown 
				    		<i class="glyphicon glyphicon-info-sign info-icon"></i>
				    	</h4>
						
				    	<div id="donut-example" style="text-align: center;">
				    	</div>		
				    </div>
				  </div>
				</div>
    		</div>
    		
    		<div class="col-lg-7">
    			<div class="panel panel-default">
				  <div class="panel-body">
				    <div id="map" style="width: 100%; height: 600px"></div>
				  </div>
				</div>
    		</div>

    		<div class="col-lg-3">
    			<div class="panel panel-default">
				  <div class="panel-body">
				  	<div>
					  	<h4 style="padding-top:00px;text-align: center;">Timeseries Data 
					    		<i class="glyphicon glyphicon-info-sign info-icon"></i>
					    </h4>

					    <div id="timeseriesdata" class='tsplot morris'>
					    </div>

					    <div id="timeseriesdata-high" style="min-width: 110px; height: 400px; margin: 0 auto"></div>
					</div>
				  </div>
				</div>
    		</div>		
    	</div>
    </div>
    </div>

    <div id="tilepopovertitle" style="display: none">
            <b>Array Overview</b>
    </div> 

    <div id="tilepopovercontent" style="display: none">
            <div class="popovertext">
            	some content here
            </div>
    </div> 

	<script>
	/* TEMPO ARRAY LIST*/
	array_list = {}
    array_list['ce']={'name':'Endurance Array (CE)',"num":14,'lat':44.37,'lon':-124.95}
    array_list['gp']={'name':'Station PAPA (GP)',"num":6,'lat':49.9795,'lon':-144.254}
    array_list['cp']={'name':'Pioneer Array (CP)',"num":16,'lat':40.1,'lon':-70.88}
    array_list['ga']={'name':'Global Argentine (GA)','num':7,'lat':-42.5073,'lon':-42.8905}
    array_list['rs']={'name':'RS Regional','num':11,'lat':44.554,'lon':-125.352}
    array_list['gi']={'name':'Global Irminger Sea (GI)','num':7,'lat':60.4582,'lon':-38.4407}
    array_list['gs']={'name':'55 South (GS)','num':7,'lat':-54.0814,'lon':-89.6652}
    array_list['gs']={'name':'55 South (GS)','num':7,'lat':-54.0814,'lon':-89.6652}    

	var map = L.map('map').setView([41.505, -89.09], 3);

	var test = L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'examples.map-i875mjb7'
	})


	var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
	});

	var Stamen_TonerHybrid = L.tileLayer('http://{s}.tile.stamen.com/toner-hybrid/{z}/{x}/{y}.png', {
		attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
		subdomains: 'abcd',
		minZoom: 0,
		maxZoom: 20
	});		

	//HERE_hybridDay.addTo(map);	
	Esri_WorldImagery.addTo(map);
	Stamen_TonerHybrid.addTo(map);

	var markers = new L.MarkerClusterGroup();
	$.getJSON( "/json/stations.json", function( data ) {	  
	  $.each( data, function( array, list ) {
	  	//console.log(array,list)
	  	if (array == "CP"){
		  	$.each( list, function( platform, ob ) {
		  		lat = ob['lat']
		  		lon = ob['lon']	
		  		if (lon > -999){
		  			lon = -lon		  		
			  		ports_len = ob['ports'].length	
			  		popup = array+ "  " +platform+ " ports: "+ ports_len

			  		var marker = L.marker([lat,lon]);
			  		marker.bindPopup(popup);                
			  		markers.addLayer(marker);
		  		}
		  	}); 
	  	}
	  });  

	  map.addLayer(markers);
	  buildTocMenu(data);	  
	});

	/*
	var label = new L.Label();
    label.setContent("Pioneer");
    label.setLatLng(pioneer.getBounds().getCenter());
    map.showLabel(label);
    */

    $('.mapAction').on('click', function (e) {
    	console.log("asdasd")

    });	

    $('.array-btn').on('click', function (e) {
    	
    	var array = $( this ).attr( "array" )    	

    	$(this).addClass('active').siblings().removeClass('active');
    	if (array=="all"){    		
    		map.panTo(new L.LatLng(41.505, -89.09));
    		map.setZoom(3);
    		
    	}else{
	    	lat = array_list[array]['lat']
	    	lon = array_list[array]['lon']	    	
	    	map.panTo(new L.LatLng(lat, lon));	    	
    	}
    });

    $('.info-icon').popover({
    	trigger: "hover",
	    html:true,
	    placement:'bottom',
	    content: function() {
          return $('#tilepopovercontent').html();
        },
        title: function() {
          return $('#tilepopovertitle').html();
        }
	});

    /* DONUT PLOT*/
    donutData = []
    total = 0
    arrayKeys = Object.keys(array_list)
    for (var i = 0; i < arrayKeys.length; i++) {
    	total+= array_list[arrayKeys[i]]['num']
    	donutRow = {label: array_list[arrayKeys[i]]['name'], value: array_list[arrayKeys[i]]['num']}
    	donutData.push(donutRow)
    };
    donutRow = {label: 'All Platforms', value: total}
    donutData.push(donutRow)
    
    Morris.Donut({
	  element: 'donut-example',
	  data: donutData,
	  resize: true
	});

    /* TIME LINE EXAMPLE */
    /*
    function truncate(str, maxLength, suffix) {
		if(str.length > maxLength) {
			str = str.substring(0, maxLength + 1); 
			str = str.substring(0, Math.min(str.length, str.lastIndexOf(" ")));
			str = str + suffix;
		}
		return str;
	}

    var margin = {top: 20, right: 200, bottom: 0, left: 20},
		width = 100,
		height = 410;

	var start_year = 2010,
		end_year = 2013;

	var c = d3.scale.category20c();

	var x = d3.scale.linear()
		.range([0, width]);

	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("top")
		.ticks(4);

	var formatYears = d3.format("0000");
	xAxis.tickFormat(formatYears);

    var svg = d3.select("#timeline").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
		.style("margin-left", margin.left + "px")
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	d3.json("/js/platform_list.json", function(data) {
		x.domain([start_year, end_year]);
		var xScale = d3.scale.linear()
			.domain([start_year, end_year])
			.range([0, width]);

		svg.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + 0 + ")")
			.call(xAxis);

		for (var j = 0; j < data.length; j++) {
			var g = svg.append("g").attr("class","platform");

			var circles = g.selectAll("circle")
				.data(data[j]['platforms'])
				.enter()
				.append("circle");

			var text = g.selectAll("text")
				.data(data[j]['platforms'])
				.enter()
				.append("text");

			var rScale = d3.scale.linear()
				.domain([0, d3.max(data[j]['platforms'], function(d) { return d[1]; })])
				.range([2, 9]);

			circles
				.attr("cx", function(d, i) { return xScale(d[0]); })
				.attr("cy", j*20+20)
				.attr("r", function(d) { return rScale(d[1]); })
				.style("fill", function(d) { return c(j); });

			text
				.attr("y", j*20+25)
				.attr("x",function(d, i) { return xScale(d[0])-5; })
				.attr("class","value")
				.text(function(d){ return d[1]; })
				.style("fill", function(d) { return c(j); })
				.style("display","none");

			g.append("text")
				.attr("y", j*20+25)
				.attr("x",width+20)
				.attr("class","label")
				.text(truncate(data[j]['name'],30,"..."))
				.style("fill", function(d) { return c(j); })
				.on("mouseover", mouseover)
				.on("mouseout", mouseout);
		};

		function mouseover(p) {
			var g = d3.select(this).node().parentNode;
			d3.select(g).selectAll("circle").style("display","none");
			d3.select(g).selectAll("text.value").style("display","block");
		}

		function mouseout(p) {
			var g = d3.select(this).node().parentNode;
			d3.select(g).selectAll("circle").style("display","block");
			d3.select(g).selectAll("text.value").style("display","none");
		}
	});
	*/

	/*  TIME SERIES DATA MORRIS  */
	
	Morris.Area({
	  element: 'timeseriesdata',
	  data: [
	    { y: '2006', temperature: 100 },
	    { y: '2007', temperature: 75  },
	    { y: '2008', temperature: 50  },
	    { y: '2009', temperature: 75  },
	    { y: '2010', temperature: 50  },
	    { y: '2011', temperature: 75  },
	    { y: '2012', temperature: 100 }
	  ],
	  xkey: 'y',
	  ykeys: ['temperature'],
	  labels: ['Temperature'],
	  events: ['2010-01-01', '2010-08-01', '2011-03-01'],
	  resize: true
	});
	
	/*  TIME SERIES DATA HIGHCHARTS  */
	$(function () {
	    $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=range.json&callback=?', function (data) {

	        $('#timeseriesdata-high').highcharts({

	            chart: {
	                type: 'arearange',
	                zoomType: 'x'
	            },

	            title: {
	                text: 'Temperature variation by day'
	            },

	            xAxis: {
	                type: 'datetime'
	            },

	            yAxis: {
	                title: {
	                    text: null
	                }
	            },

	            tooltip: {
	                crosshairs: true,
	                shared: true,
	                valueSuffix: '°C'
	            },

	            legend: {
	                enabled: false
	            },

	            series: [{
	                name: 'Temperatures',
	                data: data
	            }]

	        });
	    });

	});
	</script>

</body>
</html>