<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Map</title>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<title>Map Test</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
     
     
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>

</head>

<style>

	#map{  
		margin-left: 50px;  
	    height:330px;    
		overflow: hidden;
		border-style: solid;
    	border-width: 1px;
	}

	body {
	    padding-top: 50px;
	}	

	.badge-error {
  	  background-color: #b94a48;
	}
	
	.badge-warning {
	  background-color: #f89406;
	}
	
	.badge-success {
	  background-color: #468847;
	}
	
	.badge-info {
	  background-color: #3a87ad;
	}
	
	.badge-inverse {
	  background-color: #333333;
	}
		
	#overview{
		margin-right: 50px;
		background-color: transparent;
	}

	.arrayMedia{
		border-style: solid;
    	border-width: 0px;
	}

	.trans {
	   background-color: LightBlue;
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
	}

</style>


<body>
   
  <div class="container-full">  
  	<div class="row">
  		<!--START OF ROW-->

  		<div class="col-lg-3 test">  			
			<div id="map">			    
			</div>  	
  		</div>

  		<div class="col-lg-6">  	
  			<div class="media arrayMedia">
			   <a class="pull-left" href="#">
			      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
			   </a>
			   <div class="media-body">
			      <h4 class="media-heading">Station Papa, North Pacific</h4>
			      Subsurface Profiler Mooring with Mesoscale Flanking Mooring Pair
			      <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">More info</button>
			   </div>


			</div>

			<div class="media arrayMedia">
			   <a class="pull-left" href="#">
			      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image"data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
			   </a>
			   <div class="media-body">
			      <h4 class="media-heading">The Endurance Array</h4>
			       Three fixed platform sites at 25, 80 and 600 m water depth (the 80- and 600-m sites are cabled on the Oregon Line, the remaining Endurance array sites are uncabled) supporting surface moorings, water column profilers and benthic boundary layer sensors, supplemented by six gliders.
			       <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">More info</button>
			   </div>
			</div>

			<div class="media arrayMedia">
			   <a class="pull-left" href="#">
			      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
			   </a>
			   <div class="media-body">
			      <h4 class="media-heading">Southern Ocean, SW of Chile</h4>
			      Acoustically Linked Surface Mooring with Subsurface Profiler Mooring and Mesoscale Flanking Mooring Pair 
			      <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">More info</button>
			   </div>
			</div>

			<div class="media arrayMedia">
			   <a class="pull-left" href="#">
			      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
			   </a>
			   <div class="media-body">
			      <h4 class="media-heading">Argentine Basin, South Atlantic</h4>
			      Acoustically Linked Surface Mooring with Subsurface Profiler Mooring and Mesoscale Flanking Mooring Pair
			      <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">More info</button>
			   </div>
			</div>

			<div class="media arrayMedia">
			   <a class="pull-left" href="#">
			      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
			   </a>
			   <div class="media-body">
			      <h4 class="media-heading">The Pioneer Array</h4>
			      EOM surface moorings, surface-piercing winched profilers, subsurface wire-following profiler moorings, AUVs and gliders
			      <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">More info</button>
			   </div>
			</div>

			<div class="media arrayMedia">
			   <a class="pull-left" href="#">
			      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
			   </a>
			   <div class="media-body">
			      <h4 class="media-heading">Irminger Sea, SE of Greenland</h4>
			      Acoustically Linked Surface Mooring with Subsurface Profiler Mooring and Mesoscale Flanking Mooring Pair
			      <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">More info</button>
			   </div>
			</div>
  		</div>   

  		<div class="col-lg-3">  			
				<div id="overview" style="display: none;">
					<div class="panel panel-default">
					  <div class="panel-body">
					    <h4>Basic panel example</h4>

							Two electro-mechanical (EM) surface moorings, with wind and photovoltaic power generation, satellite communications, and meteorological sensors (80, 600 m)
							One EM surface mooring with battery power and satellite communications (25 m)
							Two bottom-mounted surface piercing profilers, one stand-alone (25 m) and one cabled to Regional Scale Node (RSN) seafloor infrastructure (80 m)
							One hybrid profiler mooring with deep profiler and shallow profiler, cabled to RSN seafloor infrastructure (600 m)
							One uncabled benthic multi-function node (MFN) with sensors, electrical communications to the surface, and supplemental battery power provided by the surface buoy (25 m)
							Two cabled benthic experiment packages (BEP) with fiber optic communications and power provided through primary nodes attached to the RSN (80m, 600 m)
							Six gliders

					  </div>
					</div>
				</div>  	
	  	</div>	



  	</div>   

  </div> 


  <script>	
	$(function () { 
	    $("[data-toggle='tooltip']").tooltip(); 
	});;
	/* To initialize BS3 popovers set this below */
	$(function () { 
	    $("[data-toggle='popover']").popover(); 
	});

  $( ".arrayMedia" ).mouseover(function() {
  		$(this).addClass("trans");
  		$('#overview').fadeIn();     	  	
	});

  $( ".arrayMedia" ).mouseout(function() {
  	   $(this).removeClass("trans");
  	   $('#overview').hide();
	});

  //MAP
  var map = L.map('map').setView([20.505, -72.09], 1);
  addMap();

  function addMap(){  	
	// add an OpenStreetMap tile layer
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

   }	    


  </script>
</body>
</html>

