{% extends "common/base.html" %}

{% block title %}
<title>Argentine Basin</title>
{% endblock %}

{% block beforebootstrap %}

{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/landingPages.css" rel="stylesheet" type="text/css" />
  <!-- Partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/landingPages.js" type="text/javascript"></script>
  <script src="/js/compiled/landingPages.js" type="text/javascript"></script>
  <script src="js/landingPagesJS.js" type="text/javascript"></script>
{% endblock %}

{%block body %}
<div class="container-fluid"> 
  <div id="navbar" class="row"></div>
</div>

<div id="wrapper" class="btn-wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="btn-sidebar">
  </div>


  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
      

    	<!-- Accordian -->
    
	<div class="col-md-12">
	  <div id="pioneer-location-sampling-view" class="panel-group" role="tablist" aria-multiselectable="true">
	  </div><!-- panel-group -->
	  <div id="infrastructureArray-view" class="panel-group" role="tablist" aria-multiselectable="true">
	  </div><!-- infrastructureArray-view -->
	  <div id="stationSummaryArray-view" class="panel-group" role="tablist" aria-multiselectable="true">
	  </div><!-- stationSummaryArray-view -->
	  <div id="deploymentSchedule-view" class="panel-group" role="tablist" aria-multiselectable="true">
	  </div><!-- deploymentSchedule-view -->
	  <div id="infrastructureTables-view" class="panel-group" role="tablist" aria-multiselectable="true">
	  </div><!-- infrastructureTables-view -->
  	  
	  <div id="technicalDrawings-view" class="panel-group" role="tablist" aria-multiselectable="true">
	  </div><!-- technicalDrawings-view -->

	</div><!-- col-sm-12 -->

      </div><!-- row -->
    </div><!--container-fluid -->
  </div><!-- page-content-wrapper -->
</div><!-- wrapper -->

<script type="text/javascript">

var bannerTitle = "Pioneer Array";

_.extend(OOI.prototype, Backbone.Events,  {
  login: new LoginModel(),
  views: {},
  collections: {
    organizations: new Organizations(),
  },
  models: {},

  start: function() {
    var self = this;
    this.login.fetch({async: false}); // Doesn't actually make an ajax request    
    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.banner = new BannerView({bannerTitle});
    $('body').prepend(this.views.banner.el);
    
    this.views.navbar = new NavbarView({
        el: $('#navbar')
    });
    
    this.views.landingPagesTOC = new LandingPagesTOC({
      collection: this.collections.organizations,
    });
    $('#sidebar-wrapper').html(this.views.landingPagesTOC.el);

    this.views.pioneerArrayView = new PioneerArrayView({
      el: $('#pioneer-upper')
    });
    
    this.views.pioneerLocationSamplingView = new PioneerLocationSamplingView({
      el: $('#pioneer-location-sampling-view')
    });

    this.views.pioneerInfrastructureArrayView = new PioneerInfrastructureArrayView({
      el: $('#infrastructureArray-view')
    });

    this.views.pioneerStationSummaryArrayView = new PioneerStationSummaryArrayView({
      el: $('#stationSummaryArray-view')
    });

    this.views.pioneerDeploymentScheduleView = new PioneerDeploymentScheduleView({
      el: $('#deploymentSchedule-view')
    });

    this.views.PioneerTechnicalDrawingsView = new PioneerTechnicalDrawingsView({
      el: $('#technicalDrawings-view')
    });
  }
});
// Instantiate the application for this page
var ooi = new OOI();

$(document).ready(function() {
  // Once the DOM is loaded, we start our application
  ooi.start();
});
</script>

{% endblock %}

