{% extends "common/base.html" %}

{% block title %}
<title>Pioneer Array</title>
{% endblock %}

{% block beforebootstrap %}

{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/compiled/basic.css" type="text/css" />
<link rel="stylesheet" href="/css/common/landingPages.css" type="text/css" />
<!-- Partials -->
<script src="/js/partials/compiled/landingPages.js" type="text/javascript"></script>
<script src="/js/compiled/landingPages.js" type="text/javascript"></script>
<script src="js/landingPagesJS.js" type="text/javascript"></script>
{% endblock %}

{%block body %}
<div id="wrapper">
  <div id="sidebar-wrapper" class="navbar-default"><!--CHANGE CSS BACK ONCE NEW CSS TOC IS MADE-->
  </div>  <!-- sidebar-wrapper -->

  <div class="row">
    <div class="col-md-12">
      <h2 align="left">Pioneer Array</h2>
    </div>  <!-- col-md-12 -->
  </div>  <!-- title-row -->

  <div id="pioneer-upper"></div>

  <div class="row">
    <!-- Accordian -->
    <div class="col-sm-12">
      <div class="container-fluid">


        <div id="pioneer-location-sampling" class="panel-group" role="tablist" aria-multiselectable="true">
        </div><!-- panel-group -->

        <div id="infrastructureArray-view" class="panel-group" role="tablist" aria-multiselectable="true">
        </div><!-- infrastructureArray-view -->

        <div id="stationSummaryArray-view" class="panel-group" role="tablist" aria-multiselectable="true">
        </div><!-- stationSummaryArray-view -->

        <div id="deploymentSchedule-view" class="panel-group" role="tablist" aria-multiselectable="true">
        </div><!-- deploymentSchedule-view -->

        <div id="infrastructureTables-view" class="panel-group" role="tablist" aria-multiselectable="true">
        </div><!-- infrastructureTables-view -->

        <div id="technicalDrawings-view" class="panel-group" role="tablist" aria-multiselectable="true">
        </div><!-- technicalDrawings-view -->


      </div><!-- container-fluid -->
    </div><!-- col-sm-12 -->
  </div><!-- row -->
</div><!-- wrapper -->

<script type="text/javascript">
_.extend(OOI.prototype, Backbone.Events,  {
  login: new LoginModel(),
  views: {},
  collections: {
    organizations: new Organizations(),
  },
  models: {},

  start: function() {
    this.login.fetch({async:false});

    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);

    this.views.landingPagesTOC = new LandingPagesTOC({
      collection: this.collections.organizations,
    });
    $('#sidebar-wrapper').html(this.views.landingPagesTOC.el);

    this.views.pioneerArrayView = new PioneerArrayView({
      el: $('#pioneer-upper')
    });

    this.views.pioneerLocationSamplingView = new PioneerLocationSamplingView({
      el: $('#pioneer-location-sampling')
    });

    this.views.pioneerInfrastructureArrayView = new PioneerInfrastructureArrayView({
      el: $('#infrastructureArray-view')
    });

    this.views.pioneerStationSummaryArrayView = new PioneerStationSummaryArrayView({
      el: $('#stationSummaryArray-view')
    });

    this.views.pioneerDeploymentScheduleView = new PioneerDeploymentScheduleView({
      el: $('#deploymentSchedule-view')
    });

    this.views.pioneerInfrastructureTablesView = new PioneerInfrastructureTablesView({
      el: $('#infrastructureTables-view')
    });

    this.views.pioneerTechnicalDrawingsView = new PioneerTechnicalDrawingsView({
      el: $('#technicalDrawings-view')
    });
  }

});
// Instantiate the application for this page
var ooi = new OOI();

$(document).ready(function() {
  // Once the DOM is loaded, we start our application
  ooi.start();
});
</script>

{% endblock %}
