{% extends "common/base.html" %}

{% block title %}
<title>Station Papa</title>
{% endblock %}

{% block beforebootstrap %}

{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/landingPages.css" rel="stylesheet" type="text/css" />
  <!-- Partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/landingPages.js" type="text/javascript"></script>
  <script src="/js/compiled/landingPages.js" type="text/javascript"></script>
  <script src="js/landingPagesJS.js" type="text/javascript"></script>
{% endblock %}

{%block body %}
<div class="container-fluid"> 
  <div id="navbar" class="row"></div>
</div>

<div id="wrapper" class="btn-wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="btn-sidebar">
  </div>


  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

    
	<!-- Accordian -->
    <div class="col-md-12">
      <div id="location-sampling-view" class="panel-group" role="tablist" aria-multiselectable="true">
      </div>	<!-- cabled-array-location-sampling-view -->
      <div id="primary-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
      </div>	<!-- primary-infrastructure-view -->
      <div id="description-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
      </div>	<!-- description-infrastructure-view -->
      <div id="station-summary-view" class="panel-group" role="tablist" aria-multiselectable="true">
      </div>	<!-- station-summary-view -->
      <div id="deployment-view" class="panel-group" role="tablist" aria-multiselectable="true">
      </div>	<!-- deployment-view -->
      <div id="detailed-infrastructure-tables-view" class="panel-group" role="tablist" aria-multiselectable="true">
      </div>	<!-- detailed-infrastructure-tables-view -->
      <div id="technical-drawing-view" class="panel-group" role="tablist" aria-multiselectable="true">
      </div>	<!-- technical-drawing-view -->
    </div><!-- col-sm-12 -->
      
      </div><!-- row -->
    </div><!--container-fluid -->
  </div><!-- page-content-wrapper -->
</div><!-- wrapper -->

<script type="text/javascript">

var bannerTitle = "Station Papa";

_.extend(OOI.prototype, Backbone.Events,  {
  login: new LoginModel(),
  views: {},
  collections: {
    organizations: new Organizations(),
  },
  models: {},

  start: function() {
    var self = this;
    this.login.fetch({async: false}); // Doesn't actually make an ajax request    
    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.banner = new BannerView({bannerTitle});
    $('body').prepend(this.views.banner.el);
    
    this.views.navbar = new NavbarView({
        el: $('#navbar')
    });
    
    this.views.landingPagesTOC = new LandingPagesTOC({
      collection: this.collections.organizations,
    });
    $('#sidebar-wrapper').html(this.views.landingPagesTOC.el);

    this.views.stationPapaView = new StationPapaView({
      el: $('#upper-view')
    });

    this.views.stationPapaLocationSamplingView = new StationPapaLocationSamplingView({
      el: $('#location-sampling-view')
    });

    this.views.stationPapaDescriptionInfrastructureView = new StationPapaDescriptionInfrastructureView({
      el: $('#description-infrastructure-view')
    });

    this.views.stationPapaStationSummaryView = new StationPapaStationSummaryView({
      el: $('#station-summary-view')
    });

    this.views.stationPapaDeploymentView = new StationPapaDeploymentView({
      el: $('#deployment-view')
    });

    this.views.stationPapaDetailedInfrastructureTablesView = new StationPapaDetailedInfrastructureTablesView({
      el: $('#detailed-infrastructure-tables-view')
    });

    this.views.stationPapaTechnicalDrawingView = new StationPapaTechnicalDrawingView({
      el: $('#technical-drawing-view')
    });
  }
});
// Instantiate the application for this page
var ooi = new OOI();

$(document).ready(function() {
  // Once the DOM is loaded, we start our application
  ooi.start();
});
</script>

{% endblock %}
