{% extends "common/base.html" %}

{% block title %}
  <title>OOI C2 Arrays</title>
{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <!-- <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/lib/backgrid/lib/backgridall.css" rel="stylesheet" type="text/css" />-->
  <!-- partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/gridDemo.js" type="text/javascript"></script>
  <!--<script src="/js/compiled/index.js" type="text/javascript"></script>
   d3 can't be concatenated easily
  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>
  <script src="/js/views/asset_management/PlatformView.js" type="text/javascript"></script>
-->
  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>
{% endblock %}


{% block body %}

<!--/.TOP BAR END -->

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading">
              <strong>
                <span class="fa fa-edit"> </span> Arrays<span data-i18n="Data"></span>
              </strong>
              <div class="pull-right">
                <div class="btn-group" id='array_list' role="group" style="top: -7px;" aria-label="...">
                  <div class="btn btn-default" type="button" aria-label="...">Coastal Endurance</div>
                  <div class="btn btn-default" type="button" aria-label="...">Global Station Papa</div>
                  <div class="btn btn-default" type="button" aria-label="...">Coastal Pioneer</div>
                  <div class="btn btn-default" type="button" aria-label="...">Global Argentine Basin</div>
                  <div class="btn btn-default" type="button" aria-label="...">Global Irminger Sea</div>
                  <div class="btn btn-default" type="button" aria-label="...">Global Southern Ocean</div>
                  <div class="btn btn-default" type="button" aria-label="...">Global Regional Scale</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading">
              <strong><span class="fa fa-list"></span> <span data-i18n="Data">C2 Array</span></strong>
            </div> <!-- panel-heading -->
            <div class="panel-body">
              <div id ="datatable"></div>
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div> <!-- col-lg-12 -->
      </div> <!-- row -->
{#      <div class="row">#}
{#        <div class="col-lg-12">#}
{#          <div class="panel">#}
{#            <div class="panel-heading">#}
{#              <strong>#}
{#                <span class="fa fa-edit"> </span> Array Display<span data-i18n="Data"></span>#}
{#              </strong>#}
{#              <div class="pull-right">#}
{#                <div class="btn-group" id='deploy_edit' role="group" style="top: -7px;" aria-label="...">#}
{#                  <div class="btn btn-default" type="button" aria-label="...">Save</div>#}
{#                  <div class="btn btn-default" type="button" aria-label="...">Delete</div>#}
{#                  <div class="btn btn-default" type="button" aria-label="...">New</div>#}
{#                </div>#}
{#              </div>#}
{#            </div> <!-- panel-heading -->#}
{#            <div class="panel-body">#}
{#              <div class="col-sm-12" id="editdep_panel" style='top: -36px;width: 250px;float: right;margin-right: 250px;'>#}
{#                <i class="fa fa-spinner fa-spin"></i>  Loading Arrays#}
{#              </div>#}
{#              <form class="form-horizontal" id="editdep_form" style="display:none;">#}
{#                <fieldset style="width: 100%;">#}
{#                  <div class="form-group">#}
{#                    <label class="col-sm-3 control-label" for="display_name_d">Display Name: </label>#}
{#                    <div class="controls">#}
{#                      <input id="display_name_d" name="display_name_d" style='width:450px' type="text" placeholder="" class="input-xlarge">#}
{#                    </div>#}
{#                  </div>#}
{#                   <div class="form-group">#}
{#                    <label class="col-sm-3 control-label" for="operational_status_d">Operational Status: </label>#}
{#                    <div class="controls">#}
{#                      <input id="operational_status_d" name="operational_status_d" style='width:450px' type="text" placeholder="" class="input-xlarge">#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label class="col-sm-3 control-label" for="reference_designator_d">Reference Designator: </label>#}
{#                    <div class="controls">#}
{#                      <input id="reference_designator_d" name="reference_designator_d" style='width:450px' type="text" placeholder="" class="input-xlarge">#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label class="col-sm-3 control-label" for="desc_d">Description</label>#}
{#                    <div class="controls">#}
{#                      <textarea id="desc_d" name="desc_d">Optional</textarea>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="form-group" style="display:none;">#}
{#                    <label class="control-label" for="radios">Options</label>#}
{#                    <div class="controls">#}
{#                      <label class="radio inline" for="radios-0">#}
{#                        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">#}
{#                        1#}
{#                      </label>#}
{#                      <label class="radio inline" for="radios-1">#}
{#                        <input type="radio" name="radios" id="radios-1" value="2">#}
{#                        2#}
{#                      </label>#}
{#                      <label class="radio inline" for="radios-2">#}
{#                        <input type="radio" name="radios" id="radios-2" value="3">#}
{#                        3#}
{#                      </label>#}
{#                      <label class="radio inline" for="radios-3">#}
{#                        <input type="radio" name="radios" id="radios-3" value="4">#}
{#                        4#}
{#                      </label>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="form-group" style="display:none;">#}
{#                    <label class="control-label" for="buttondropdown_d">Choose Option</label>#}
{#                    <div class="controls">#}
{#                      <div class="input-append">#}
{#                        <input id="buttondropdown_d" name="buttondropdown_d" class="input-xlarge" placeholder="" type="text">#}
{#                        <div class="btn-group">#}
{#                          <button class="btn dropdown-toggle" data-toggle="dropdown">#}
{#                            Action#}
{#                            <span class="caret"></span>#}
{#                          </button>#}
{#                          <ul class="dropdown-menu">#}
{#                            <li><a href="#">Option one</a></li>#}
{#                            <li><a href="#">Option two</a></li>#}
{#                            <li><a href="#">Option three</a></li>#}
{#                          </ul>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                </div>#}
{#              </fieldset>#}
{#            </form>#}
{#            </div> <!-- panel-body -->#}
{#          </div> <!-- panel -->#}
{#        </div>#}
{#      </div> <!-- row -->#}
    </div> <!-- container-fluid -->
  </div> <!-- page-content-wrapper -->
</div>

<!-- Menu Toggle Script -->
<script type="text/javascript">

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  start: function() {
    this.navbar = new NavbarView({
      login: this.login
    });
    $('body').prepend(this.navbar.el);

    this.arrays = new ArrayCollection();
    this.tocView = new TOCView({
      collection: this.arrays
    });
    $('#sidebar-wrapper').html(this.tocView.el);

    assetView = new ArrayDisplayView();

{#    this.assetView = new ArrayDisplayView({#}
{#      collection: this.assets#}
{#    });#}
{#    $('#datatable').html(this.assetView.el);#}
{#    this.assets.fetch({reset: true});#}
    this.arrays.fetch({reset: true});

    /*if(!this.login.loggedIn()) {
      this.modalView = new ModalDialogView();
      $('.container-fluid').first().append(this.modalView.el);
      this.modalView.show({
        message: "INSERT WARRANTY HERE",
        ack: function() { console.log("Closed"); }
      });
    }*/
  }
});

var ooi = new OOI();

$(document).ready(function() {
    ooi.start();
});
</script>
{% endblock %}
