{% extends "common/base.html" %}

{% block title %}
  <title>OOI Mission Load</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" />
  <link href="/css/compiled/missionLoad.css" rel="stylesheet" type="text/css" />  
  <!-- partials -->
  <script src="/js/partials/compiled/missionLoad.js" type="text/javascript"></script>
  <script src="/js/compiled/missionLoad.js" type="text/javascript"></script>

  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>
{% endblock %}


{% block body %}

<!--/.TOP BAR END -->
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>
<div id="wrapper" style="padding-left:0px;">
  <!-- Sidebar 
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  -->
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">          
          <div class="btn-group-vertical" role="group" aria-label="...">
            <div id="missionLoadFile" class="col-lg-2">
              <br/>
              <input type="file" id="missionLoad">
              <br/>
              <button id="missionUpLoad" disabled type="button" class="btn btn-sm btn-default">Load & Review Mission</button>
              <br/>
              <div id="uploadNow"></div>
              <br/>
              <div id="missionDelete"></div>
            </div>

          </div>
        </div>

        <div class="col-lg-10">
          <div class="panel panel-default">
            <div class="panel-body">   
              <div id="missionTable">
              </div>
            </div>
          </div>       
        </div>
      </div>

              
      <div class="row">
        <div class="col-lg-12">  
          <div class="panel panel-default">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">Mission Script</a></li>  
            </ul>
            <div class="panel-body" id="missionScript">
              <p>Select a mission to view here...</p>
            </div>
          </div>      
        </div> <!-- col-lg-12 -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div> <!-- page-content-wrapper -->
</div>

<!--
  {
    name: "created_date",
    label: "Created On",
    cell: "string",
    editable: false,
  },
  {
    name: "created_by",
    label: "Created By",
    cell: "string",
    editable: false,
  }
  $('#missionScript').html("<pre class='pre-scrollable mission-code'>"+JSON.stringify(model.get('mission'),null, 2)+"</pre>");
-->
<!-- Menu Toggle Script -->
<script type="text/javascript">

var bannerTitle = "Mission Load";

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  parameters:{
    columns:null
  },
  views: {
    missionTableView:null
  },
  collections: {
    missionCollection: null
  },
  start: function() {
    this.login.fetch({async:false});
    navbar = new NavbarView({
        login: this.login
    });

    var self = this;
    var banner = new BannerView({ bannerTitle:bannerTitle });
    $('body').prepend(banner.el);

    self.parameters.columns = [    
      {
        name: "mission_id",
        label: "ID",
        cell: "string",
        editable: false
      },  
      {
        name: "name",
        label: "Name",
        cell: "string",
        editable: false
      },
      {
        name: "desc",
        label: "Mission Description",
        cell: "string",
        editable: false
      },      
      {
        name: "status",
        label: "Status",
        cell: "string",
        editable: false
      },
      {
        name: "created",
        label: "Created",
        cell: "string",
        editable: false
      }

    ];

    self.views.missionTableView = new MissionExecutiveTableView({
      el: $('#missionTable'),
      columns: self.parameters.columns,
      collection: self.collections.missionCollection
    });

    self.collections.missionCollection = new MissionExecutiveCollection();
    self.collections.missionCollection.fetch({ reset: true });
    this.listenTo(self.collections.missionCollection, 'reset', function(model) {
      self.views.missionTableView.collection = self.collections.missionCollection;
      self.views.missionTableView.columns = self.parameters.columns;
      self.views.missionTableView.render();
    });

    this.listenTo(this, 'missionTable:rowSelected', function(model) {
      var scriptlines = [];

      _.each(model.get('mission'),function(scriptline){
        scriptlines.push(scriptline);
      });
      $('#missionScript').html("<pre class='pre-scrollable mission-code'>"+scriptlines.join("<br>")+"</pre>");
      $('#missionDelete').html("<button id='missionDelete' value='"+model.get('mission_id')+"' type='button' class='btn btn-sm btn-default'>Delete Selected Mission</button>");
      $('#missionUpLoadNow').remove();
      $('#missionUpLoad').attr('disabled', true);
      document.getElementById("missionLoad").value='';
    });
  }
});

var ooi = new OOI();

$(document).ready(function() {
  ooi.start();
  $('#navbar').prepend(navbar.el);

  $('#missionLoad').on( "change", function(selector) {
    if(document.getElementById("missionLoad").value.length>5) {
      $('#missionUpLoad').removeAttr('disabled');
      $('#missionDelete').html('');
    }
  });
  $('#missionUpLoad').on( "click", function() {
    $('#missionScript').html('<p>Select a mission to view here...</p>');
    var input_file = document.getElementById("missionLoad");
    var reader = new FileReader();
    var base64;
    reader.onload = function (e) {
      base64 = e.target.result;
      $('#missionScript').html(base64);
      $('#uploadNow').html("<br/><button id='missionUpLoadNow' value='"+base64+"' type='button' class='btn btn-sm btn-default'>Load Mission to Server</button>");
      $('#missionUpLoadNow').on( "click", function(ev) {
        var mission_text = $(ev.target).attr('value');
        $.ajax({
          url: '/api/c2/missions',
          type: 'POST',
          data: mission_text,
          contentType: 'text/plain; charset=utf-8',
          dataType: 'text',
          success: function(msg) {
            alert(msg);
            ooi.views.missionTableView.collection.fetch({reset:true});
            $('#missionScript').html('');
            $('#missionUpLoadNow').remove();
            $('#missionUpLoad').attr('disabled', true);
          }
        });
      });
    };
    reader.readAsText(input_file.files[0]);
  });

  $('#missionDelete').on( "click", function(ev) {
    var mission_id = $(ev.target).attr('value');
    $.get("/api/c2/missions/" + mission_id + "/delete")
      .done(function (data) {
        alert("Deleted " + mission_id);
        ooi.views.missionTableView.collection.fetch({reset:true});
        $('#missionScript').html('<p>Select a mission to view here...</p>');
        $('#missionDelete').html('');
      });
  });
});
</script>
{% endblock %}
