{% extends "common/base.html" %}

{% block title %}
  <title>OOI Mission Executive</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" />
  <link href="/css/compiled/missionExecutive.css" rel="stylesheet" type="text/css" />
  <!-- partials -->
  <script src="/js/partials/compiled/missionExecutive.js" type="text/javascript"></script>
  <script src="/js/compiled/missionExecutive.js" type="text/javascript"></script>

  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>
{% endblock %}


{% block body %}

<!--/.TOP BAR END -->
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>
<div id="wrapper" style="padding-left:0px;">
  <!-- Sidebar 
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  -->
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">          
        </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default"> 
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">Missions</a></li>
              <!-- <li role="presentation" class=""><a href="#">Inactive</a></li>-->
            </ul>          
            <div class="panel-body">
              <div id="missionTable">
              </div>
            </div>              
          </div>              
        </div> <!-- col-lg-12 -->
      </div> <!-- row -->


      <div class="row">
        <div class="col-lg-6">                   
          <div class="panel panel-default">     
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">Mission Script</a></li>  
            </ul>      
            <div class="panel-body" id="missionScript">   
            </div>              
          </div>              
        </div> <!-- col-lg-6 -->


        <div class="col-lg-6">                    
          <div class="panel panel-default"> 
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">Events</a></li>
            </ul>          
            <div class="panel-body" id="missionLog">             
            </div>                      
          </div>              
        </div> <!-- col-lg-6 -->


      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div> <!-- page-content-wrapper -->
</div>

<!-- Menu Toggle Script -->
<script type="text/javascript">

var bannerTitle = "Mission Executive";

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  parameters:{
    columns:null
  },
  views: {
    missionTableView:null
  },
  collections: {
    missionCollection: null
  },
  start: function() {
    this.login.fetch({async:false});
    navbar = new NavbarView({
        login: this.login
    });

    var self = this;
    var banner = new BannerView({ bannerTitle:bannerTitle });
    $('body').prepend(banner.el);

    var HtmlCell = Backgrid.HtmlCell = Backgrid.Cell.extend({
      className: "html-cell",
      initialize: function () {
        Backgrid.Cell.prototype.initialize.apply(this, arguments);
      },
      render: function () {
        this.$el.empty();
        var rawValue = this.model.get(this.column.get("name"));
        var formattedValue = this.formatter.fromRaw(rawValue, this.model);
        this.$el.append(formattedValue);
        this.delegateEvents();
        return this;
      }
    });

    self.parameters.columns = [ 
      {
        name: "active",
        editable: false,
        label: "Toggle State",
        cell: HtmlCell,
        formatter: _.extend({}, Backgrid.Cell.prototype, {
          fromRaw: function (rawValue, model) {
            if(model.get('active') == 1){
                return '<button id="disableRow" mission_id="'+model.get('mission_id')+
                        '" type="button" class="fa fa-minus-square" aria-label="Left Align"> Disable</button>';
            }
            else {
                return '<button id="enableRow" mission_id="'+model.get('mission_id')+
                        '" type="button" class="fa fa-plus-square" aria-label="Left Align"> Enable</button>';
            }
          }
        })
      },
      {
        name: "mission_id",
        label: "ID",
        cell: "string",
        editable: false
      },  
      {
        name: "name",
        label: "Name",
        cell: "string",
        editable: false
      },
      {
        name: "desc",
        label: "Mission Description",
        cell: "string",
        editable: false
      },
      {
        name: "next_run",
        label: "Next Scheduled Run",
        cell: "string",
        editable: false
      },
      {
        name: "run_count",
        label: "Run Count",
        cell: "string",
        editable: false
      },
      {
        name: "status",
        label: "Status",
        cell: "string",
        editable: false
      }
    ];

    self.views.missionTableView = new MissionExecutiveTableView({
      el: $('#missionTable'),
      columns: self.parameters.columns,
      collection: self.collections.missionCollection
    });

    self.collections.missionCollection = new MissionExecutiveCollection();
    self.collections.missionCollection.fetch({ reset: true });
    this.listenTo(self.collections.missionCollection, 'reset', function(model) {
      self.views.missionTableView.collection = self.collections.missionCollection;
      self.views.missionTableView.columns = self.parameters.columns;
      self.views.missionTableView.render();
    });

    this.listenTo(this, 'missionTable:rowSelected', function(model) {
      var scriptlines = [];

      _.each(model.get('mission'),function(scriptline){
        scriptlines.push(scriptline);
      });
      $('#missionScript').html("<pre class='pre-scrollable mission-code'>"+scriptlines.join("<br>")+"</pre>");

      var htmlevents = [];

      _.each(model.get('events'),function(event){
        htmlevents.push(event.timestamp+"  event_type: "+ event.event_type+"  "+ event.event_text);
      });
      $('#missionLog').html("<pre class='pre-scrollable mission-code'>"+htmlevents.join("<br>")+"</pre>");

    });
  }
});

var ooi = new OOI();

$(document).ready(function() {
    ooi.start();
    $('#navbar').prepend(navbar.el);

});
</script>
{% endblock %}
