{% extends "common/base.html" %}

{% block title %}
  <title>OOI Mission Executive</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" />
  <link href="/css/compiled/missionExecutive.css" rel="stylesheet" type="text/css" />
  <!-- partials -->
  <script src="/js/partials/compiled/missionExecutive.js" type="text/javascript"></script>
  <script src="/js/compiled/missionExecutive.js" type="text/javascript"></script>

  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>
{% endblock %}


{% block body %}

<!--/.TOP BAR END -->
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">          
        </div>

      <div class="row">
        <div class="col-lg-12">          
        </div> <!-- col-lg-12 -->
      </div> <!-- row -->
      <div class="row">
        <div class="col-lg-12">          
        </div> <!-- col-lg-12 -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div> <!-- page-content-wrapper -->
</div>

<!-- Menu Toggle Script -->
<script type="text/javascript">

var bannerTitle = "Mission Executive";

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  start: function() {
    this.login.fetch({async:false});
    navbar = new NavbarView({
        login: this.login
    });

    var self = this;

    var banner = new BannerView({ bannerTitle:bannerTitle });
    $('body').prepend(banner.el);
  }
});

var ooi = new OOI();

$(document).ready(function() {
    ooi.start();
    $('#navbar').prepend(navbar.el);
});
</script>
{% endblock %}
