

//*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

html {
    height: 100%;
}

body {
    background: #fff;
    height: 100%;
}

body.is-loading *,
body.is-resizing *
{
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

body,input,textarea,select {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    line-height: 1.75em;
    color: #39454b;
    letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    color: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 2.25em;
    letter-spacing: -2px;
    line-height: 1.25em;
}

strong, b {
    font-weight: 900;
    color: inherit;
}

em, i {
    font-style: italic;
}

a {
    color: #98c593;

    -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl, table {
    margin-bottom: 1em;
}

header {
    margin-bottom: 1em;
}

header p {
    display: block;
    margin: 1em 0 0 0;
    padding: 0 0 0.5em 0;
}

footer {
    margin-top: -2em;
}

br.clear {
    clear: both;
}

/* List */

ul {
}

ul.default {
    list-style: disc;
    padding-left: 1em;
}

ul.default li {
    padding-left: 0.5em;
}

ul.icons {
    cursor: default;
}

ul.icons li {
    display: inline-block;
}

ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}

ul.menu {
    cursor: default;
}

ul.menu li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(145,146,147,0.25);
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}

ul.menu li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

ul.actions {
    cursor: default;
}

ul.actions li {
    display: inline-block;
    margin: 0 0 0 0.5em;
}

ul.actions li:first-child {
    margin-left: 0;
}

ol {
}

ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

/* Button */
input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
    background-color: #98c593;
    border: 0;
    border-radius: 3.5em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    outline: 0;
    padding: 0 2em 0 2em;
    position: relative;
    text-align: center;
    text-decoration: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;

    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button.down {
    width: 5em;
    height: 5em;
    line-height: 4.5em;
    padding: 0;
    background-image: url('images/dark-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -10em;
    overflow: hidden;
}

.button.down.anchored {
    bottom: 0;
    border-bottom: 0;
    border-radius: 3em 3em 0 0;
    height: 4.5em;
    margin-left: -2.5em;
}

.button.anchored {
    position: absolute;
    left: 50%;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
    background-color: #a8d5a3;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active {
    background-color: #88b583;
}

input[type="button"].style2,
input[type="submit"].style2,
input[type="reset"].style2,
.button.style2 {
    background-color: transparent;
    border: solid 2px #e5e6e7;
    color: inherit;
}

input[type="button"].style2:hover,
input[type="submit"].style2:hover,
input[type="reset"].style2:hover,
.button.style2:hover {
    background-color: rgba(145,146,147,0.035);
}

.button.style2.down {
    background-image: url('images/arrow.svg');
}

/* Box */

.box {
    background: rgba(255,255,255,0.5);
    color: #000000;
    padding: 2em;
}

.box.style2 {
    padding: 3.5em 2.5em 3.5em 2.5em;
}

/*********************************************************************************/
/* Style2                                                                        */
/*********************************************************************************/

/* Main */

.main {
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.main.fullscreen {
    height: 100%;
}

/*style1*/
.main.style1 {
    text-align: center;
    padding: 3em 0 3em 0;
}

.main.style1 h2 {
    font-size: 4.25em;
    line-height: 1em;
    letter-spacing: -4px;
}

.main.style1:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.main.style1 .content {
    opacity: 1.0;
    display: inline-block;
    vertical-align: middle;

    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.main.style1.inactive {
}

.main.style1.inactive .content {
    opacity: 0;
}


/*style2*/
.main.style2 {
    padding: 3em 0 3em 0;
    overflow: hidden;
}

.main.style2 .content {
    position: relative;
    width: 35%;
    display: inline-block;
    vertical-align: middle;

    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

/*left*/
.main.style2.left {
}

.main.style2.left:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.main.style2.left .content {
    left: 0;
    margin-top: 3%;
    padding-top: 0;
    padding-bottom: 2px;
}

/*right*/
.main.style2.right {
}

.main.style2.right:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.main.style2.right .content {
    left: 65%;
    margin-top: 3%;
    padding-top: 0;
    padding-bottom: 2px;

}

/*images*/
.main.style2.img-right .content {
    left: 46%;
}

.main.style2.img-left .content {
    left: 5%;
}

.main.style2.inactive {
}

.main.style2.inactive .content {
}

.main.style2.inactive.left .content {
    left: -55%;
}
.main.style2.inactive.left .content {
    right: 100%;
}

.main.style2.inactive.right .content {
    left: 100%;
}
.main.style2.inactive.right .content {
    left: 100%;
}

.main.style3 {
    text-align: center;
    padding: 6em 0 6em 0;
}

.main.style3 .content {
}

.main.style3 .content > header {
    margin-bottom: 2em;
}

.main.style3.primary {
    background: #fff;
}

.main.style3.secondary {
    background: #f5f6f7;
}

/* Dark */

.dark {
    color: #fff;
}

.dark a {
    color: #000;
}

.dark .button.style2 {
    border-color: inherit;
    background-color: rgba(64,64,64,0.05);
}

.dark .button.style2:hover {
    background-color: rgba(255,255,255,0.1);
}

.dark .button.style2.down {
    background-image: url('/img/ooi-landing/images/buttons/dark-arrow.svg');
}

body {
    text-decoration: none;
}

body:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

body:before {
    -moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -o-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    color: #ececec;
    content: '\f1ce';
    cursor: default;
    display: block;
    font-size: 2em;
    height: 2em;
    left: 50%;
    line-height: 2em;
    margin: -1em 0 0 -1em;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 2em;
    z-index: -1;
}

body:after {
    -moz-animation: overlay-hide 1.5s ease-in forwards !important;
    -webkit-animation: overlay-hide 1.5s ease-in forwards !important;
    -o-animation: overlay-hide 1.5s ease-in forwards !important;
    -ms-animation: overlay-hide 1.5s ease-in forwards !important;
    animation: overlay-hide 1.5s ease-in forwards !important;
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

body.is-loading:before {
    -moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    -o-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    -ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    z-index: 100001;
}

body.is-loading:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    opacity: 1;
    z-index: 100000;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    body:before {
        line-height: 2.025em;
    }
}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.icon > .label {
    display: none;
}

/*********************************************************************************/
/* NavBar                                                                        */
/*********************************************************************************/

/*navbar position, letter spacing, transparent background */
/*.navbar-nav.navbar-spacing {
float: left;
margin: 7.5px -25px;
background:  rgba(0, 67, 124, .25);

}
 */

.collapse.navbar-collapse.navbar-back,
    .navbar-nav {
  margin-right: -21px;
  margin-left: -21px;
}

.navbar-nav.navbar-spacing,
.navbar-nav > li {
    float: none;
    margin: 0 auto;
    background: rgba(0, 67, 124, .25);
    table-layout: auto;
    display: table;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
    
    a { 
        padding-top: 15;
        padding-bottom: 15;
        padding-left: 12;
        padding-right: 12;
    }<D-t>
}
 
.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;`
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;

}
a:hover {
    color: #42dca3;


}


.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

/*navbar vertical posiont (padding)*/
@media(min-width:768px) {
    .navbar-custom {
        padding: 310px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    /*navbar scrolling background*/
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background:  rgba(0, 67, 124, .7);
        ;
    }
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
.logo1 {
    background-position:top left;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0);
}

.about-text {
    z-index: 10000;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 35%;
    margin-bottom: 20%;
    font-size: 20px;
}

body {
    /*	padding-top: 3em;*/
}

#logo {
    position: absolute;
    left: 1em;
    top: 0;
    height: 3em;
    line-height: 3em;
    letter-spacing: -1px;1px
}

#logo a {
    font-size: 1.25em;
}

/*********************************************************************************/
/* About                                                                         */
/*********************************************************************************/

#about {
    background: url('/img/ooi-landing/images/bg/imgAbout.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*********************************************************************************/
/*Ocean Observatories                                                            */
/*********************************************************************************/

#oceanObservatories {
    background: url('/img/ooi-landing/images/bg/imgOOI.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*********************************************************************************/
/*Science                                                                        */
/*********************************************************************************/

#science {
    background: url('/img/ooi-landing/images/bg/imgScience.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*********************************************************************************/
/*Status                                                                         */
/*********************************************************************************/

#status {
    background: url('/img/ooi-landing/images/bg/imgStatus.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
}


/*********************************************************************************/
/*Asset Managment                                                                */
/*********************************************************************************/

#asset-management {
    background: url('/img/ooi-landing/images/bg/imgAssetManagement-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
}


/*********************************************************************************/
/*C2                                                                           */
/*********************************************************************************/

#c2 {
    background: url('/img/ooi-landing/images/bg/imgC2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    position: relative;
    height: 5em;
    line-height: 5em;
    margin: 0;
    background: #39454b;
    color: #999;
    color: rgba(185,186,187,0.5);
    overflow: hidden;
}

#footer a {
    color: #999;
    color: rgba(185,186,187,0.5);
}

#footer a:hover {
    color: #bbb;
    color: rgba(185,186,187,1.0);
}

#footer .actions {
    position: absolute;
    left: 1em;
    top: 0.25em;
    height: 5em;
    line-height: 5em;
    margin: 0;
}

#footer .actions li {
    font-size: 1.25em;
    margin: 0;
}

#footer .actions li a {
    padding: 0.5em;
}

#footer .menu {
    position: absolute;
    right: 2em;
    top: 0;
    height: 5em;
    line-height: 5em;
    margin: 0;
}

#footer .menu li {
    font-size: 0.9em;
}

/*********************************************************************************/
/* Touch Mode                                                                    */
/*********************************************************************************/

body.is-touch {
}

body.is-touch .main {
    background-attachment: scroll !important;
}

body.is-touch .poptrox-popup {
}

body.is-touch .poptrox-popup .nav-next,
body.is-touch .poptrox-popup .nav-previous,
body.is-touch .poptrox-popup .closer {
    opacity: 1.0 !important;
}
