body,
h1, h2, h3, h4, h5, h6, 
a, p {
  font-weight: 300;
	color: #004773;
	background-color: transparent;
		
}   

/* ~placeholder style~ */
::-webkit-input-placeholder {
   
  font-weight: 300;
  letter-spacing: 2px;
}
:-moz-placeholder { /* Firefox 18- */
   
  font-weight: 300;
  letter-spacing: 2px; 
}
::-moz-placeholder {  /* Firefox 19+ */
   
  font-weight: 300;
  letter-spacing: 2px;  
}
:-ms-input-placeholder {  
   
  font-weight: 300;
  letter-spacing: 2px;  
}

/***********************
******** Banner ********
***********************/

.banner-image {
  background: url("/img/logos-banners/banner-1024px.svg"); 
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: block;
  max-width: 100%;
  width: 100%;
  position: fixed;
  height: auto;
  z-index: 1002;
	background-color: #FFF;
}

/* ~ adjust #wrapper & #page-content-wrapper for content below the banner & navbar ~ */ 
div#wrapper {
  margin-top: 170px;
}

div#wrapper-status{
  margin-top: 170px;
  text-align: center;
  
}

div#wrapper-asset {
  margin-top: 170px;
}

#sidebar-wrapper {
  z-index: 500;
}

#page-content-wrapper {
  padding: 0 20px 20px 20px;
}

.logo-left {
  float: left;
  left: 30px;
  list-style: none;
}

.logo-right {
  float: right;
  right: 0px;
  list-style: none;
}

.logo-center {
  color: #000;
  opacity: 0.3;
  font-size: 53px;
  font-family: Athelas W01 Regular;
  float: left;
  list-style: none;
  padding-left: 30%;
  padding-top: 5px;
	display: inline;
}
.text-body {
  display: inline;
  color: #000;
}

/***********************
******** Navbar ********
***********************/
.navbar-fixed-top {
  top: 100px;
  border-width: 0 0 1px;
  z-index: 1001;
  /*
   *   position: inherit;
  padding-right: 30px;
  padding-left: 30px;
*/
}

.navbar-top-links-new li {
  display: inline-block;
  z-index: 1500;
}

.navbar-top-links-new li:last-child {
  margin-right: 15px;
}

.navbar-top-links-new li a {
  padding: 7px;
  /* min-height: 50px; */
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: radial-gradient(rgba(255,255,255,0), rgba(163,167,191,.3), rgba(255,255,255,0));
  border-radius: 5px;
  border-color: #337ab7;
}

.navbar-top-links-new li a:hover,
.navbar-top-links-new li a:focus {
  background: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.2), rgba(255,255,255,0));
  border-radius: 5px;
}

.navbar-top-links-new .dropdown-menu li {
  display: block;
}

.navbar-top-links-new .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links-new .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links-new .dropdown-menu li a:hover {
  background: rgba(141,162,228,.1); 
}

.navbar-top-links-new .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links-new .dropdown-messages,
.navbar-top-links-new .dropdown-tasks,
.navbar-top-links-new .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links-new .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links-new .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links-new .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links-new .dropdown-user {
  right: 0;
  left: auto;
  z-index: 1001;
}

.nav > li > a {
  color: #004773;
}

.navbar-text > a {
  color: #004773;
  text-decoration: none;
}

.navbar-default {
  height: 38.5px;
  border-color:  #7E9CD9 ;
  background: linear-gradient(#fff,  #7E9CD9);/*add % to value to adjust gradiant*/
  background-color: none;
  border-bottom-width: 2px;
  border-bottom-color: #F09349;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #A3A7BF;
  backgound-color: transparent;
}

/* ~link colors~ */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A3A7BF;
}

/*color of active nabar btn
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #fff;
backgound-color: #A3A7BF; 
*/

/* ~drop downs~ */    
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color:  #A3A7BF;
  color: #fff;
}

/*breaks everything*/
div#aa-panel {
  border: none;
  box-shadow: none;
  background-color: #F8F8F8;
}
/*
.panel > .panel-heading {
    border: none;
  box-shadow: none;
  background-color: #F8F8F8;
}


*can be changed in views/aa/AlertView.js - line 331
div#alertslist > form.backgrid-filter.form-search {
  float: right;
  margin: 0px 0px 25px 0px;
*/



/***********************
******** Sidebar *******
***********************/
#array-accordion {
  margin-bottom: 100%;
}
/***********************
******* Accordion ******
***********************/
div#headingOne {
  color: #353840;
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.5));
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border: 1px solid #7E9CD9;
  border-radius: 4px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

div#headingOne.collapsed {
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0));
}

.panel-title > a {
  text-decoration: none;
}
.panel-title > a:hover {
  background: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.5), rgba(255,255,255,0));

}
/*
div#headingOne {
  border: 1px solid #7E9CD9;
}
*/
  
.collapse.in {
  background: #E9E9E9;
} 

/**********************
***** First Level *****
**********************/
.sidebar-nav-first-level {
	background-color: #6080A1;
  border-radius: 5px;
}

.sidebar-nav-first-level:hover {
	background: radial-gradient(rgba(255,255,255,0), rgba(126, 156, 217,.2), rgba(255,255,255,0));
  border-radius: 5px;
}

.sidebar-nav-first-level > ul.nav.sidebar-nav {
	border-bottom: 1px solid #7E9CD9;
	border-radius:5px;
}

.sidebar-nav-first-level > ul.nav.sidebar-nav > a:hover,
.sidebar-nav-first-level > ul.nav.sidebar-nav > a:focus,
.sidebar-nav-first-level > ul.nav.sidebar-nav > a:active {
	color: #000;
}
/*.sidebar-nav-first-level {
  background-image:linear-gradient(right, #353840 0%, #7E9CD9 50%,#353840 100%);
  background-image:-webkit-linear-gradient(right, #353840 0%, #7E9CD9 50%,#353840 100%);
  background-image:-o-linear-gradient(right, #353840 0%, #7E9CD9 50%,#353840 100%);
  background-image:-ms-linear-gradient(right, #353840 0%, #7E9CD9 50%,#353840 100%);
  background-image:-webkit-gradient(linear, right bottom, left bottom, color-stop(0%,#353840), color-stop(50%,#7E9CD9),color-stop(100%,#353840));
  border: 1px solid silver;
}*/

.sidebar-nav-first-level > ul.nav.sidebar-nav > a {
  color: #FFF;
  font-size: 14px;
  text-decoration: none;  
}

.panel-default > .panel-heading .badge {
  color: #000;
  background-color: #D1DAF5;
  font-weight: normal;
}

/***********************
***** Second Level *****
***********************/
.sidebar-nav-second-level {
/*accordian background*/
	background-color: #E9E9E9;
}

.sidebar-nav-second-level > ul.nav.sidebar-nav {
	border-bottom: 1px solid #FFF;
	border-radius:5px;
}

.sidebar-nav-second-level > ul.nav.sidebar-nav > a {
	/*accordian text*/
  color: #353840;
  font-size: 14px;
  text-decoration: none;
}
ul.nav.sidebar-nav > div 	{
	background: ##E9E9E9;
}
/**********************
***** Third Level *****
**********************/
	 /*accordian background*/	
.sidebar-nav .sidebar-nav-third-level {
  background: #FFF;
  border: 1px solid silver;
  border-radius: 25px;
}  
/*accordian text*/	
.sidebar-nav-third-level > ul.nav.sidebar-nav > a {
  color: #353840;
  font-size: 14px;
  text-decoration: none; 
}
/*link text*/	
.sidebar-nav-third-level > ul.nav.sidebar-nav > a:hover {
	background: radial-gradient(rgba(255,255,255,0), rgba(126, 156, 217,.2), rgba(255,255,255,0));
  border-radius: 5px;
	border:1px solid white;
	color: #000;	
}
/*dropdown button(caret)
button.btn.btn-default.btn-xs.dropdown-toggle:hover {
	background: radial-gradient(rgba(255,255,255,0), rgba(126, 156, 217,.2), rgba(255,255,255,0));
}*/ 

/*dropdown menu item(plot)*/
ul#plot-dd {
	background: #fff;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1;
  color: #333;
  white-space: nowrap;
}
ul#plot-dd:hover {
  color: #353840;
  background: linear-gradient(rgba(255,255,255,1), rgba(216, 221, 230, 1));
  border-bottom: 1px solid transparent;
}
ul#plot-dd > a:hover {
  text-decoration: none;
  color: black;
  background-color: transparent;
}

/**********************
******* Buttons *******
**********************/
/* ~primary~ */    
/*.btn-primary {
  border-color:  #7E9CD9 ;
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.2), rgba(255,255,255,0));
  color: #000;
	}
	
	.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
  border-color:  #7E9CD9 ;
  color: #000;
}*/

.btn-primary {
  background-image: -webkit-linear-gradient(top, #ffffff, #7E9CD9 );
  background-image: -moz-linear-gradient(top, #ffffff, #7E9CD9 );
  background-image: -ms-linear-gradient(top, #ffffff, #7E9CD9 );
  background-image: -o-linear-gradient(top, #ffffff, #7E9CD9 );
  background-image: linear-gradient(to bottom, #ffffff, #7E9CD9 );
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #004773;
  font-size: 14px;
	font-weight: 300;
  padding: 5px 8px 5px 8px;
  border: solid #5578D9 1.5px;
  text-decoration: none;
	line-height: .9; 
}
.btn.btn-primary:hover {
	background: #8DA2E4;
	background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.7),  rgba(126, 156, 217,.0));
  text-decoration: none;
	background-repeat: no-repeat;
	color: #004773;
}

btn-success {
  background-image: linear-gradient(to bottom, #4fd934, #298c29);
	line-height: .9;
}

/*needs work*/
.btn-default {
  color: #004773;
	border-radius: 5px;
  font-size: 14px;
  padding: 5px 8px 5px 8px;
  border: solid #1f628d 1.5px;
  text-decoration: none;
	line-height: 1; 
}

.btn-default:hover {
 /* background: #3cb0fd;*/
  text-decoration: none;
	border: solid 1.5px #353840;
}

a#map-view.active,
a#list-view.active,
a#table-view.active {
 border-color: #A3A7BF;
}

.btn
button.btn.btn-default.dropdown-toggle {
	line-height: .9;
}

/* ~dropdown toggle~ */    
.btn.dropdown-toggle {
/*	background-color: #A3A7BF;
/*height: 25px;
  padding-top: 1px*/;
  padding-left: 8px;
  border-radius: 5px;
  color: #004773;
  font-size: 14px;
	font-weight: 300;
  text-decoration: none;
	line-height: 1;
  text-shadow: none;
}

.dropdown-menu {
	background: #fff;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

button.btn.btn-success.dropdown-toggle {
  background-image: linear-gradient(to bottom, #4fd934, #298c29);
	line-height: 1;
}

button.btn.dropdown-toggle.form-control.selectpicker.btn-default {
	line-height: 1;
}
/****************************
****** Search/Reset Bar *****
****************************/
/* ~input-group~ */
.input-group.custom-search-form {
    border: 1px solid #7E9CD9;
  }
input#search-filter {
  border-top: 2px solid #FFF;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-right: none;
}
/* ~search btn~ */
.btn-search {
  border-top: 1px solid #FFF;
	border-left: none;
  border-bottom: 1px solid #FFF;
	border-right: none;
  background: #F09349;  
	line-height: 1.5;
}
.btn-search:hover,
.btn-search:focus,
.btn-search:active {
  background-image: linear-gradient(to bottom,#BD7138 0,#BD7138 100%);
}

.sidebar-nav .sidebar-search {
  padding:0 0 15px 0;
}

/* ~reset btn~ */
button.btn.btn-primary.btn-reset.btn-reset{
  :promptfind
	color: #F4F4F4;
  font-weight: normal;
  letter-spacing: 2px;
  border-top: 1px solid #FFF;
  border-bottom: 0px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: none;
	line-height: 1.5;
}
button.btn.btn-primary.btn-reset:focus {
	background: #8DA2E4;
	background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.7),  rgba(126, 156, 217,.0));
	color: #F4F4F4;
  font-weight: normal;
  letter-spacing: 2px;
  border-top: 1px solid #FFF;
  border-bottom: 0px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: none;
}




/*
~new~
light-grey-blue: #6080A1 (rgb: 96 128 161)
dark-blue: #004773 (rgb: 0 71 115)
light-blue: #8DA2E4 (rgb: 141 162 228)
orange: #F09349 (rgb: 240 147 73)
grey: #F4F4F4 (tgb: 244 244 244)

~old~
light-grey-blue: #A3A7BF (rgb: 163 167 191)
dark-blue: #353840 (rgb: 53 56 64)
light-blue: #7E9CD9(rgb: 126 156 217)

alt light blue #D1DAF5 rgb(209,218,245)
alt light blue2 #7F9BDA
 */    



  /* ~banner~
#banner {
  background-position: 50% 50%;
  background-image: url("/img/logos-banners/ban1024.svg");
  height: 136px;
  background-size: 100%;
  width: 100%;
  border-color: #FFF;
  background-repeat: no-repeat;
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1040;
}
 */


  /*
#headingOne:hover,
#headingOne:active, 
#headingOne:focus {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), rgba(126,156,217,.8));
}
*/
/*
div[aria-expanded="true"] {

  background: pink;

}
 */ 


