<!-- Description Infrastructure -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseFour">

    <h4 class="panel-title">
      <a>
        Description of Infrastructure
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <dl style="list-style-type:disk">
          <div class="col-md-12">
            <li>One Global Surface Mooring, with battery, wind and solar powered buoy and satellite telemetry</li>
            <li>One Global Profiler mooring with two wire-following profilers</li>
            <li>Two Flanking Moorings with fixed sensors and acoustic communications to gliders</li>
            <li>Three Open-Ocean Gliders with extended endurance and acoustic communications that fly within and between the mooring array</li>
            <li>Two Profiling Open-Ocean gliders that sample the upper water column near the Global Profiler Mooring</li>
          </dl>
        </div>
      </div><!-- row -->
    </div>
  </div>
</div><!-- panel panel-default 2-->
