<div class="panel ">
    <div class="panel-heading js-collapse" data-target="#array-filters">Arrays <i class="fa fa-chevron-up"></i>
    </div>
    <div class="panel-wrapper">
        <div id="array-filters" class="panel-body collapse">
            <div class="array-filters">
                <div class="checkbox">
                    <label><input type="checkbox" value="RS03">Cabled Array - Axial Seamount</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="RS01">Cabled Array - Continental Margin</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="CE">Coastal Endurance</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="CP">Coastal Pioneer</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GA">Global Argentine Basin</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GI">Global Irminger Sea</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GS">Global Southern Ocean</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GP">Global Station Papa</label>
                </div>
            </div>
        </div>
    </div>
</div>
