<div class="panel ">
    <div class="panel-heading">Arrays
    </div>
    <div class="panel-wrapper">
        <div class="panel-body">
            <div class="array-filters">
                <div class="checkbox">
                    <label><input type="checkbox" value="CE">Coastal Endurance</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GP">Global Station Papa</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="CP">Coastal Pioneer</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GA">Global Argentine Basin</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GI">Global Irminger Sear</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="GS">Global Southern Ocean</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="RS">Cabled Array</label>
                </div>
            </div>
        </div>
    </div>
</div>
