<div class="panel ">
    <div class="panel-heading js-collapse" data-target="#instrument-filters">Instruments <i class="fa fa-chevron-down"></i>
    </div>
    <div class="panel-wrapper">
        <div id="instrument-filters" class="panel-body collapse in">
            <div class="instrument-filters">
                <div class="checkbox">
                    <label><input type="checkbox" value="MOP">3-Axis Motion Pack</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="TMPSF">3-D Temperature Array</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="FLOBN">Benthic Fluid Flow</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="ZPL">Bio-acoustic Sonar</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="BOT">Bottom Pressure and Tilt</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="MET">Bulk Meteorology Instrument Package</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="CTD">CTD</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="CAMDS">Digital Still Camera</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="FDCHP">Direct Covariance Flux</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="DOF">Dissolved Oxygen</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="FL">Fluorometer</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="HPIES">Horizontal Electric Field, Pressure, and Inverted Echo Sounder</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="HYDG">Hydrogen Sensor</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="HYDBB HYDLF">Hydrophone</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="THSPH">Hydrothermal Vent Fluid In-situ Chemistry</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="RASFL">Hydrothermal Vent Fluid Interactive Sampler</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="TRHPH">Hydrothermal Vent Fluid Temperature and Resistivity</label>
                </div>
              <div class="checkbox">
                    <label><input type="checkbox" value="TRHPH">IRIS</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="MASSP">Mass Spectrometer</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="NUT">Nitrate</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="OBS">Ocean Bottom Seismometer</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="OSMOI">Osmosis-Based Water Sampler</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="PPSDN">Particulate DNA Sampler</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="PC0">pCO2 Water</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="PAR">Photosynthetically Available Radiation</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="PRE">Seafloor Pressure</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="PHS">Seawater pH</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="VEL">Single Point Velocity Meter</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="SPK">Spectral Irradiance</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="OPTA">Spectrophotometer</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="WAVSS">Surface Wave Spectra</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="OPTA">Tidal Seafloor Pressure</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="ADC">Velocity Profiler</label>
                </div>
                <div class="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>

