<%
        var params = [
          ['SM-', 'Surface Mooring'],
          ['FLM', 'Flanking Mooring'],
          ['PMCI- PMCO- PMUI- PMUO- OSPM-', 'Profiler Mooring'],
          ['SP-', 'Surface Piercing Profiler Mooring'],
          ['PD-', 'Deep Profiler'],
          ['PS-', 'Shallow Profiler'],
          ['MOAS-', 'Mobile Asset'],
          ['-LJ -MJ', 'Junction Box'],
          ['BP-', 'BEP']
        ]
%>


<div class="panel">
    <div class="panel-heading js-collapse" data-target="#platform-filters">Platforms <i class="fa fa-chevron-up"></i>
    </div>
    <div class="panel-wrapper">
        <div id="platform-filters" class="panel-body collapse">
            <div class="platform-filters">
                <% _.each(params, function(item) { %>

                    <div class="checkbox">
                        <label><input type="checkbox" value="<%= item[0] %>"><%= item[1] %></label>
                    </div>
                <%;}); %>
            </div>
        </div>
    </div>
</div>

