body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

#map::-webkit-scrollbar {
    display: none;
}

html {
overflow-y: auto;
background-color: transparent;
}

/*::-webkit-scrollbar {*/
    /*width: 15px;  !* remove scrollbar space *!*/
    /*background: lightblue;  !* optional: just make scrollbar invisible *!*/
/*}*/

/*::-webkit-scrollbar-track {*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*border-radius: 10px;*/
    /*height: 30px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/

::-webkit-scrollbar {
width: 15px;
height: 10px;
    max-height: 300px;
    overflow: auto;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 30px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
background-color: #cfc9ff;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}

#left {
    overflow-y: scroll;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0;
    bottom: 0px;
}

#right {
    padding: 0;
    right: 0;
    position: fixed;
}

#wrapper{
    height:100%;
    overflow-y: scroll;
}

.row{
    overflow: hidden;
}

.home-page .js-array:hover{
}

.home-page .js-array .panel-heading {
}

.home-page .js-array .panel-heading span {
    display: inline-block;
    width: 50%;
}


.home-page .js-array .panel-heading h4 {
    position: relative;
    /*background-color: #5c9ccc;*/
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 0;
    color: white;

    background: #5c9ccc; /* Old browsers */
    background: -moz-linear-gradient(left,  #5c9ccc 20%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #5c9ccc 20%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #5c9ccc 20%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9ccc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.home-page .js-array .panel-heading h4 small {
    color: white;
    cursor: pointer;
    padding: 5px;
    background-color: green;
}

.home-page .js-array .panel-heading h4:hover {
    transition: background 5s;
    display: inline-block;
    width: 100%;
    /*padding: 5px;*/
    margin-top: 0;
    color: white;
    border: 4px solid orange;
}


/*.home-page .fade {*/
    /*opacity: 0;*/
    /*transition: all 1s;*/
/*}*/

.mydivicon{
    border-radius: 58px;
    background: teal;
    border: 2px solid #000;
    opacity: 0.85;
}

.mydivicon:hover {
    border-radius: 58px;
    background: orange;
    border: 2px solid #000;
    opacity: 0.85;
}

.mydivicon-hover {
    border-radius: 58px;
    background: orange;
    border: 2px solid #000;
    opacity: 0.85;
}

.mydivicon-platform{
    border-radius: 58px;
    background: teal;
    border: 2px solid #000;
    opacity: 0.85;
}

.mydivicon-platform:hover {
    border-radius: 58px;
    background: orange;
    border: 2px solid #000;
    opacity: 0.85;
}

.mydivicon-platform-hover {
    border-radius: 58px;
    background: orange;
    border: 2px solid #000;
    opacity: 0.85;
}

.mydivicon-nopointer {
    pointer-events: none;
}

.leaflet-bar a { background-color: #fff; border-bottom: 1px solid #ccc; color: #444; display: block; height: 26px; width: 26px; line-height: 1.45 !important; text-align: center; text-decoration: none; font: bold 18px 'Lucida Console', Monaco, monospace; }
