<!-- Station Papa Deployment -->

<div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    <h4 class="panel-title">
      <a>
        Station Papa Deployment
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <dl style="list-style-type:disk">
        <br />
        <p><a href="http://oceanobservatories.org/featured-ocean-observatories-initiative-deploys-first-global-site-in-gulf-of-alaska/">
          July 2013 Station Papa Deployment</a></p>
          <p><a href="http://oceanobservatories.org/data/station-papa-preliminary-data/">
            Preliminary Station Papa Data</a></p>
          </dl>
        </div>
      </div>
    </div><!-- panel panel-default 4-->
