<div id="location-sampling-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- cabled-array-location-sampling-view -->
<div id="primary-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- primary-infrastructure-view -->
<div id="description-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- description-infrastructure-view -->
<div id="station-summary-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- station-summary-view -->
<div id="deployment-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- deployment-view -->
<div id="detailed-infrastructure-tables-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- detailed-infrastructure-tables-view -->
<div id="technical-drawing-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- technical-drawing-view -->
