body,
h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #004773;
  background-color: transparent;
  text-decoration: none;
}
a {
  color: #008FE9;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: #8DA2E4;
}
/* a:visited { */
/* 	color: #A3A7BF; */
/* } */
a:focus {
  text-decoration: none;
}

/* ~list style~ */
li {
  list-style: none;
}

/* ~placeholder style~ */
::-webkit-input-placeholder {
  font-weight: 300;
  letter-spacing: 2px;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
  letter-spacing: 2px;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-weight: 300;
  letter-spacing: 2px;
}
:-ms-input-placeholder {
  font-weight: 300;
  letter-spacing: 2px;
}

/* ~panel style~ */
.panel {
  /*border: none;*/
}

.panel-body {
  /*border: none;*/
}

.panel-heading.panel-search.pull-right {
  background-color: #.panel-heading.panel-search.pull-rightFFF;
}

/**********************
 ******* Buttons *******
 **********************/
/* ~primary~ */
/*.btn-primary {
border-color:  #7E9CD9 ;
background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.2), rgba(255,255,255,0));
color: #000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
border-color:  #7E9CD9 ;
color: #000;
}*/

.btn-primary {
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0));
  /* background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #004773;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 8px 5px 8px;
  border: solid #5578D9 1.5px;
  text-decoration: none;
  line-height: .9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.5));
  text-decoration: none;
}
.btn-primary[disabled] {
  background-color: #EDF5FC;
}

.btn-success {
  background-image: linear-gradient(to bottom, #4fd934, #55D98C);
  background-color: #4fd934;
  color: #FFF;
  line-height: .9;
  border-radius: 5px;
  color: #004773;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}
.btn-success:hover {
  background-color: #00EA00;
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.btn-reset {
  background-image: linear-gradient(to bottom, #19C8FC, #0850F8);
  /* background-image: linear-gradient(to bottom, #7F9BDA, #0050DA); */
  background-color: #0850F8;
  color: #FFF;
  line-height: .9;
  border-radius: 5px;
  color: #004773;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}
.btn-reset:hover {
  background-color: #0850F8;
  background-position: 0px -15px;
  color: #333;
  text-decoration: none;
  background-repeat: repeat-x;
}

.btn-danger {
  background-image: linear-gradient(to bottom, #F11616, #C20000);
  background-color: #C20000;
  border-color: #5C0000;
  color: #FFF;
  line-height: .9;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-image: linear-gradient(to bottom, #C20000, #F11616);
  background-position: 0px 0px;
  color: #333;
  text-decoration: none;
  /* background-repeat: repeat-x;   */
}


/*needs work*/
.btn-default {
  color: #004773;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 8px 5px 8px;
  border: solid #1f628d 1.5px;
  text-decoration: none;
  line-height: .9;
  font-weight: 300;
  white-space: normal;
}

.btn-default:hover {
  /* background: #3cb0fd;*/
  text-decoration: none;
  border: solid 1.5px #353840;
}

a#map-view.active,
a#list-view.active,
a#table-view.active {
  border-color: #A3A7BF;
}

t.btn
button.btn.btn-default.dropdown-toggle {
  line-height: .9;
}

/* ~dropdown toggle~ */
.btn.dropdown-toggle {
  padding-left: 8px;
  border-radius: 5px;
  color: #004773;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  line-height: 1;
  text-shadow: none;
  /* background-color: #A3A7BF; */
  /* height: 25px; */
  /* padding-top: 1px; */
}

.dropdown-menu {
  background: #fff;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

/**********************
 ** Date/Time Picker ***
 **********************/
@media (min-width: 768px) {
  .col-sm-6.datepicker
}

.bootstrap-datetimepicker-widget.timepicker-sbs.usetwentyfour.dropdown-menu {
  white-space: inherit;
}

th.picker-switch {
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0));
  /* background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  /* background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(126,156,217,.3), rgba(255,255,255,0)); */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* color: #004773; */
  font-size: 14px;
  font-weight: 300;
  padding: 5px 8px 5px 8px;
  border: solid #E5E8EF 1px;
  text-decoration: none;
  line-height: .9;
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
  background: none;
  background: linear-gradient(rgba(255,255,255,0), rgba(126,156,217,.5));
  text-decoration: none;
}
button.btn.btn-success.dropdown-toggle {
  background-color: #55D98C;
  background-image: linear-gradient(to bottom, #4fd934, #55D98C);
  line-height: 1;
}

/***********************
 **** Panel Heading *****
 ***********************/
.panel {
  border-radius: 5px;
  padding: 2px;
}

.panel > .panel-heading {
  border: 1px solid #D1DAF5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #D1DAF5;
  margin-bottom: 2px;
  background-color: #fff!important;
  margin: 0px 0px 2px 0px;
}






.panel-heading.plotting-heading {
  padding: 2px 2px 2px 10px;
}

.panel > .panel-body,
div#events-scroll-body {
  border: 1px solid #d1daf5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 2px;
}

/* colors used */
/* new */
/* light-grey-blue: #6080A1 (rgb: 96 128 161) */
/* dark-blue: #004773 (rgb: 0 71 115) */
/* light-blue: #8DA2E4 (rgb: 141 162 228) */
/* orange: #F09349 (rgb: 240 147 73) */
/* grey: #F4F4F4 (tgb: 244 244 244) */
/* old */
/* light-grey-blue: #A3A7BF (rgb: 163 167 191) */
/* dark-blue: #353840 (rgb: 53 56 64) */
/* light-blue: #7E9CD9(rgb: 126 156 217) */
/* alt light blue #D1DAF5 rgb(209,218,245) */
/* alt light blue2 #7F9BDA */

.jqtree-notTracked {
  background-color: transparent;
  /*cursor: pointer;*/
  color: #000;
}

.jqtree-notTracked:hover {
  border:2px solid;
  color: black;
}

.scrollable-jqtree {
  max-height: 700px;
  border: 2px solid #fff;
  overflow: auto;
}

.scrollable-visavail {
  width: 65%;
  max-height: 700px;
  border: 2px solid #fff;
  overflow: auto;
}

/*.jqtree-failed {
  background-color: indianred;
  cursor: pointer;
}*/

.ui-jqgrid .ui-jqgrid-htable th div
{
  height: auto;
  overflow: hidden;
  padding-right: 4px;
  padding-top: 2px;
  position: relative;
  vertical-align: text-top;
  white-space: normal !important;
}

th.ui-th-column div {
  white-space: normal !important;
  height: auto !important;
  padding: 2px;
}

#filterScrollContainer {
  white-space: normal !important;
  max-width: 33% !important;
}

div.ui-rangeSlider-label-value {
  font-size: 10pt;
}

a.back-to-top {
  display: none;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  font-size: 20pt;
  position: fixed;
  z-index: 999;
  right: 5px;
  bottom: 90px;
  background: #27AE61 url("/img/uparrow.png") no-repeat center 10%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-size: contain;
}

a.back-to-bottom {
  display: none;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  font-size: 20pt;
  position: fixed;
  z-index: 999;
  right: 5px;
  bottom: 20px;
  background: #27AE61 url("/img/uparrow.png") no-repeat center 10%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-size: contain;
}

#infoArrayMap {
  display: none;
  width: auto !important;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal !important;
  height: auto !important;
  padding: 2px;
  font-size: 14pt;
  position: fixed;
  /*right: 5px;*/
  /*bottom: 35px;*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

span.labelFirst {
  margin-top: 3px;
}

div.innerTableTitle {
  position: relative;
  bottom: 25px;
  left: 150px;
  font-size: 10pt;
  font-weight: 400;
  vertical-align: text-top;
}

div.leaflet-control-coordinates.leaflet-control{
  position: absolute;
  left: 40px;
  top: 5px;
  padding-top: 10px;
  padding-left: 5px;
}

.leaflet-popup-content h2{
  background: white;
  font-size: 12px;
  text-align: center;
}

.leaflet-popup-content{
  background: white;
}

.leaflet-popup-content-wrapper{
  min-width: 125px;
  min-height: 30px;
  background: white;
  font-size: 12px;
  text-align: center;
}

.leaflet-popup-tip-container{
  visibility: hidden;
}

.leaflet-popup-close-button{
  visibility: hidden;
}

code, samp, kbd {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
}
pre code {
  line-height: 1.6em;
  font-size: 11px;
}
pre {
  padding: 0.1em 0.5em 0.3em 0.7em;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
}
/* target IE7 and IE6 */
*:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
}
* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}
.btn-m2m {
  float:left;
  margin: 5px;
  text-wrap: avoid;
  border-color: #004773;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
}

.form-group-sm {
  width: 100%;
  min-height: 100px;
}

#comments-input {
  /*display:inline-block;*/
  border: solid 1px #000;
  min-height: 150px;
  min-width: 580px;
  padding: 0;
  font-size: 14pt;
  font-weight: 300;
}

.fa.fa-circle.anno-fail {
    color: #CC0000;
    font-size: 16px;
    float: left;
}

.fa.fa-circle.anno-not_evaluated {
    color: #004c99;
    font-size: 16px;
    float: left;
}

.fa.fa-circle.anno-not_available {
    color: #A0A0A0;
    font-size: 16px;
    float: left;
}

.fa.fa-circle.anno-not_operational {
    color: #606060;
    font-size: 16px;
    float: left;
}

.fa.fa-circle.anno-pass {
    color: #00CC00;
    font-size: 16px;
    float: left;
}

.fa.fa-circle.anno-pending_ingest {
    color: #E0E0E0;
    font-size: 16px;
    float: left;
}

.fa.fa-circle.anno-suspect {
    color: #CC6600;
    font-size: 16px;
    float: left;
}

.fa.fa-circle.anno-null {
    color: #CDBA96;
    font-size: 16px;
    float: left;
}

.daterangepicker .ranges ul {
  width: auto;
}





/* The Modal (background) */
.modal-img {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-img-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-img-content, #caption-img {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



.dropdown-dc {
  /*position: absolute;*/
  /*top:50%;*/
  /*transform: translateY(-50%);*/
}

.dropdown-dc dd,
.dropdown-dc dt {
  margin: 0px;
  padding: 0px;
}

.dropdown-dc ul {
  margin: -1px 0 0 0;
}

.dropdown-dc dd {
  position: relative;
}

.dropdown-dc a,
.dropdown-dc a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown-dc dt a {
  background-color: transparent;
  display: block;
  /*padding: 8px 20px 5px 10px;*/
  min-height: 20px;
  /*line-height: 24px;*/
  overflow: hidden;
  border: 0;
  width: 20px;
}

.dropdown-dc dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
  color: black;
  font-size: 18px;
}

.dropdown-dc dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 200px;
  list-style: none;
  /*height: 100px;*/
  overflow: auto;
}

.dropdown-dc span.value {
  display: none;
}

.dropdown-dc dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown-dc dd ul li a:hover {
  background-color: #fff;
}

.filter-drop-down-div {
  max-width: 30px;
}

#estimates {
  background-color: #eeeeee;
  border: black;
  border-radius: 10px;
}

#showReleaseChanges {
  width: 150px;
  font-size: 14px;
  height: 30px;
}

div#wrapper {
  margin-top: 125px;
}

.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 24px;
  height: 24px;
  padding: 4px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 24px Arial, sans-serif;
}