/***********************
 ******** Navbar ********
 ***********************/
/*
  large
*/
@media (min-height: 1000px) {
  div#wrapper{
    margin-top:135px;
  }

  div#wrapper.news-active{
    margin-top:135px;
  }

  .banner-header li.banner-title lg span{
    font-size:60px;
  }

  .banner-header li.banner-title{
    margin-top:-10px;
  }

  .container-fluid.banner-image{
    height:120px;
  }

  .navbar-fixed-top {
    top: 85px;
  }

  .navbar-fixed-top.news-active {
    top: 103px;
  }

  .banner-image-icon{
    /*width:145px;*/
    height: 65px;
  }

  .banner-image-ol{
    height:75px;
  }

  .banner-image-nsf{
    height:50px;
  }
}

@media (min-height: 800px) and (max-height: 1000px){
  div#wrapper{
    margin-top:105px;
  }

  div#wrapper.news-active{
    margin-top:115px;
  }

  .banner-header li.banner-title lg span{
    font-size:52px;
  }

  .banner-header li.banner-title{
    margin-top:-15px;
  }

  .container-fluid.banner-image{
    height:100px;
  }

  .navbar-fixed-top {
    top: 65px;
  }

  .navbar-fixed-top.news-active {
    top: 75px;
  }

  .banner-image-icon{
    /*width:100px;*/
    height: 65px;
  }

  .banner-image-ol{
    height:50px;
  }

  .banner-image-nsf{
    height:50px;
  }
}


@media (min-height: 100px) and (max-height: 800px){
  div#wrapper{
    margin-top:105px;
  }

  div#wrapper.news-active{
    margin-top:115px;
  }

  .banner-header li.banner-title lg span{
    font-size:52px;
  }


  .banner-header li.banner-title{
    margin-top:-15px;
  }

  .container-fluid.banner-image{
    height:100px;
  }

  .navbar-fixed-top {
    top: 65px;
  }

  .navbar-fixed-top.news-active {
    top: 85px;
  }

  .banner-image-icon{
    /*width:100px;*/
    height: 65px
  }

  .banner-image-ol{
    height:50px;
  }

  .banner-image-nsf{
    height:50px;
  }
}



.container-fluid .image-header{
  /*width: 100%;*/
  /*top: 8px;*/
  /* margin-top: 25px; */
  height: 75px;
  padding-top: 8px;
  padding-right: 0;
  padding-left: 10px;
  /*position: absolute;*/
}

.container-fluid.banner-image.news-active .image-header{
  top: 25px;
}

/*
banner header for active/inactive
*/
.banner-header.news-active{
  margin-top:25px;
}

.banner-header{
  /*padding-top:10px;*/
  z-index: 1002;
}



.banner-header li.banner-title lg span{
  color: #000;
  opacity: 0.5;
  font-family: Athelas
}

.banner-header.news-active li.banner-title{
  margin-top:-20px;
}

.navbar-top-links-new li {
  display: inline-block;
  /* z-index: 1500; */
}

.navbar-top-links-new li:last-child {
  /*margin-right: 15px;*/
}

.navbar-top-links-new li a {
  padding: 7px;
  /* min-height: 50px; */
  font-weight: 300;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: radial-gradient(rgba(255,255,255,0), rgba(163,167,191,.3), rgba(255,255,255,0));
  border-radius: 5px;
  border-color: #337ab7;
  font-weight: 300;
}

.navbar-top-links-new li a:hover,
.navbar-top-links-new li a:focus {
  background: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.2), rgba(255,255,255,0));
  border-radius: 5px;
  font-weight: 300;
}

.navbar-top-links-new .dropdown-menu li {
  display: block;
  font-weight: 300;
}

.navbar-top-links-new .dropdown-menu li:last-child {
  margin-right: 0;
  font-weight: 300;
}

.navbar-top-links-new .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
  font-weight: 300;
}
.navbar-top-links-new .dropdown-menu li a:hover {
  background: rgba(141,162,228,.1);
  font-weight: 300;
}

.navbar-top-links-new .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links-new .dropdown-messages,
.navbar-top-links-new .dropdown-tasks,
.navbar-top-links-new .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links-new .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links-new .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links-new .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links-new .dropdown-user {
  right: 0;
  left: auto;
  /* z-index: 1001; */
}

.nav > li > a {
  color: #004773;
  font-weight: 300;
}

.navbar-text > a {
  color: #004773;
  text-decoration: none;
  font-weight: 300;
}

.navbar-default {
  height: 38.5px;
  border-color:  #7E9CD9 ;
  background: linear-gradient(#fff,  #7E9CD9);/*add % to value to adjust gradiant*/
  background-color: none;
  border-bottom-width: 2px;
  border-bottom-color: #F09349;
}

@media (min-width: 955px) {
  .navbar-default: {
    height: 78px;
    border-color:  #7E9CD9 ;
    background: linear-gradient(#fff,  #7E9CD9);/*add % to value to adjust gradiant*/
    background-color: none;
    border-bottom-width: 2px;
    border-bottom-color: #F09349;
  }
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #A3A7BF;
  backgound-color: transparent;
}

/* ~link colors~ */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 300;
}

.navbar-default .navbar-nav > li > a
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A3A7BF;
  font-weight: 300;
}

/*color of active nabar btn
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #fff;
backgound-color: #A3A7BF;
 */

/* ~drop downs~ */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color:  #A3A7BF;
  color: #fff;
  font-weight: 300;
}

div#aa-panel {
  border: none;
  box-shadow: none;
  background-color: #F8F8F8;
}
/*
.panel > .panel-heading {
border: none;
box-shadow: none;
background-color: #F8F8F8;
}


 *can be changed in views/aa/AlertView.js - line 331
 div#alertslist > form.backgrid-filter.form-search {
 float: right;
 margin: 0px 0px 25px 0px;
 */

/***********************
 ****** User Name *******
 ***********************/
a#logged-in-user.dropdown-toggle {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
