<!--Modal-->
<!-- data-backdrop prevents the modal from closeing when backtorp is clicked
tabindex allows the escape key to be used to close the modal -->
<div class="modal fade" id="modal-form" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-form-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div> <!-- modal-form-header -->

      <!--Body-->
      <div class="modal-form-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="banner-image"></div>
          </div>
          <div class="col-sm-8">
            <div class="modal-form-message">
              <h1>Annotate Stream</h1>
              <h3><%= model.get('instrument_name') %></h3>
              <%= model.get('stream_name') %>
            </div> <!-- .message -->
          </div> <!-- .col-sm-12 -->
        </div> <!-- .row -->
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="username">User</label>
                <input id="username" type="text" class="form-control modal-form-input input" value="<%= username %>" disabled="disabled">
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input id="date" type="text" class="form-control modal-form-input input" value="you-shouldn't-see-this" disabled="disabled">
              </div>
              <div class="form-group">
                <label for="yvalue"><%= model.get('field_y') %></label>
                <input id="yvalue" type="text" class="form-control modal-form-input input" value="again-you-shouldn't-see-this" disabled="disabled">
              </div>
              <div class="pull-right">
                <button class="btn btn-default" type="reset" id="reset-button">Reset</button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="title-input">Title</label>
                <input id="title-input" type="text" class="form-control modal-form-input input">
              </div> <!-- .form-group -->
              <div class="form-group">
                <label for="comments-input">Comments</label>
                <textarea id="comments-input" class="modal-form-textarea-row-3 form-control"></textarea>
              </div> <!-- .form-group -->
              <div class="pull-left">
                <button class="btn btn-default" type="button" id="submit-button">Add</button>
              </div> <!-- .pull-left -->
            </div> <!-- .col-sm-6 -->
          </div> <!-- .row -->
        </form>
      </div> <!-- modal-form-body -->
    </div>  <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal fade -->

