<!--Modal-->
<!-- data-backdrop prevents the modal from closeing when backtorp is clicked
tabindex allows the escape key to be used to close the modal -->
<div class="modal fade" id="modal-form" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-form-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div> <!-- modal-form-header -->

      <!--Body-->
      <div class="modal-form-body main-container">
        <div class="row">
          <div class="col-sm-4">
            <div class="banner-image"></div>
          </div>
          <div class="col-sm-8">
            <div class="modal-form-message">              
              <h1>Annotate Stream</h1>
              <h3><%= model.get('reference_designator') %></h3>              
            </div> <!-- .message -->
          </div> <!-- .col-sm-12 -->
        </div> <!-- .row -->
        <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="username">User</label>
                <input id="username" type="text" class="form-control modal-form-input input" value="<%= username %>" disabled="disabled">
              </div>

              <div class="form-group">
                <label id="startLabel" for="startAnnotationDateTime">Start Date <small>(YYYY-MM-DD HH:mm:ss.sss)</small></label>
                <div class='input-group date' id='startAnnotationDateTime'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>


              <div class="form-group">
                <label id="endLabel" for="endAnnotationDateTime">End Date <small>(YYYY-MM-DD HH:mm:ss.sss)</small></label>
                <div class='input-group date' id='endAnnotationDateTime'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>

              <div class="form-group">
                <label for="comments-input">Annotation</label>
                <textarea id="comments-input" class="modal-form-textarea-row-3 form-control" required></textarea>
              </div> <!-- .form-group -->

              <div class="form-group">
                <label for="qcflag-input">QC Flag</label>
                <select id="qcflag-input" title="QC Flag" class="form-control">
                  <% //console.log('Creating QC Flags SELECT form element'); %>
                  <% //console.log(qcFlags); %>
                  <% var val = ""; %>
                  <% for(var key in qcFlags.attributes.qcflags){ %>
                  <% //console.log(key); %>
                  <option value="<%= qcFlags.attributes.qcflags[key] %>"><%= key %></option>
                  <% }; %>
                </select>
              </div>
              <div class="form-group">
                <label for="exclusionFlag-input">Exclude Data</label>
                <select id="exclusionFlag-input" title="Exclude Data" class="form-control">
                  <option value=true>Yes</option>
                  <option value=false>No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="parameters-input">Parameter Selection</label>
                <select id="parameters-input" title="Parameter Selection" class="form-group-sm" multiple>
                  <option value="null" selected="selected">No Parameters</option>
                  <% console.log('Creating Parameter SELECT form element'); %>
                  <% console.log(model); %>
                  <% var val = ""; %>
                  <% for(var i=0; i<parameterDisplayNames.length;i++){ %>
                  <option value="<%= parameterIds[i].substring(2) %>"><%= parameterDisplayNames[i] %></option>
                  <% }; %>
                </select>
              </div>
              <div class="pull-left">
                <button class="btn btn-default" type="button" id="submit-button">Add</button>
              </div> <!-- .pull-left -->
              <div class="pull-right">
                <button class="btn btn-default" type="reset" id="reset-button">Reset</button>
              </div>

          </div> <!-- .row -->
        </form>
      </div> <!-- modal-form-body -->
    </div>  <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal fade -->