<div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#array_<%= array_code %>" aria-expanded="true" aria-controls="collapseOne">
  <h4 class="panel-title">
    <a>
        <%= display_name %>
      <i class="fa fa-info-circle" data-toggle="tooltip" title="<%= description %>" data-placement="right">
      </i>
    </a>
    <span id="array_<%= array_code %>_badge" class="badge pull-right">0</span>
  </h4>
</div>
<div id="array_<%= array_code %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  <div id="array_<%= array_code %>_body" class="panel-body">
      <ul><ul>
  </div>
</div>
