<li class="sidebar-search">
  <div class="input-group custom-search-form">
    Arrays
  </div>
  <!-- /input-group -->
</li>
<% collection.each(function(model) { %>
<li class="array-item">
  <a data-id="<%= model.get('array_code') %>" href="#">
  <% if (model.get('operational_status') == 'Online') { %>
   <i class="fa fa-thumbs-up"></i>
    <% } else { %>
    <i class="fa fa-thumbs-down"></i>
    <% } %>
    <%= model.get('display_name') %>
    <%= model.get('operational_status') %>
  </a>
</li>
<% }); %>
