<div class="panel">
    <div class="panel-heading">
        <div class="glyphicon glyphicon-warning-sign col-md-4" aria-hidden="true"> Events</div>
    </div>
    <div class="panel-body">
        <!-- tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#deploymentEvent" aria-controls="deploymentEvent" data-toggle="tab">Deployment</a></li>
            <!-- <li role="presentation"><a href="#storageEvent" aria-controls="storageEvent" role="tab" data-toggle="tab">Storage</a></li>-->
            <li role="presentation"><a href="#calibrationEvent" aria-controls="calibrationEvent" data-toggle="tab">Calibration</a></li>
            <!-- <li role="presentation"><a href="#integrationEvent" aria-controls="integrationEvent" data-toggle="tab">Integration</a></li>-->
            <!-- <li role="presentation"><a href="#serviceEvent" aria-controls="serviceEvent" data-toggle="tab">Service</a></li>-->
        </ul>
        <!-- tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="deploymentEvent">
                <table class="table table-bordered table-striped table-selectable">
                    <thead>
                        <tr>
                            <th>ID#</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Event</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--<div role="tabpanel" class="tab-pane" id="storageEvent">
                </div>-->
                <div role="tabpanel" class="tab-pane" id="calibrationEvent">
                    <table class="table table-bordered table-striped table-selectable">
                        <thead>
                            <tr>
                                <th>ID#</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Event</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!--<div role="tabpanel" class="tab-pane" id="integrationEvent">
                    </div>-->
                    <!--<div role="tabpanel" class="tab-pane" id="serviceEvent">
                        </div>-->
        </div>
    </div>
</div>
