<!-- wrapped in a .row -->
<% try { %>
<div class="panel">
    <div class="panel-heading">
        <span>
            <div class="row">
                <div class="glyphicon glyphicon-cog col-xs-8" aria-hidden="true"> Asset ID# <%= id %></div>
            <p class="text-right">
            </p>
        </div>
        </span>
    </div>
    <div class="panel-body" style="max-height: 440px; min-width: 500px; overflow-x:hidden">
        <!-- tabs -->
        <ul class="nav nav-tabs" role="tablist" >
            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
            <li role="presentation"><a href="#metaData" aria-controls="metaData" data-toggle="tab">Metadata</a></li>
            <li role="presentation"><a href="#assetAquisitionInfo" aria-controls="assetAquisitionInfo" data-toggle="tab">Aquisition Data</a></li>
            <li role="presentation" ><a href="#remoteDocuments" aria-controls="assetDocuments" data-toggle="tab">Documents</a></li>
        </ul>
        <!-- tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="overview">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd><%= assetInfo.name %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Description</dt>
                    <dd><%= assetInfo.description %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Owner</dt>
                    <dd><%= assetInfo.owner %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd><%= assetInfo.type %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Class</dt>
                    <dd><%= asset_class %></dd>
                </dl>
            </div>
            <div role="tabpanel" class="tab-pane" id="metaData">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(metaData, function(row) { %>
                        <tr>
                            <td><%= row.key %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="remoteDocuments">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="remoteDocDownload">Download</th>
                            <th>Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="2"><span id="loadDocs" style="text-decoration:underline; cursor:pointer;">Click to load documents...</span></td></tr>
                        <% _.each(remoteDocuments, function(row) { %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="center"><a href="#"><i class="fa fa-download"></i></a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="assetAquisitionInfo">
                <dl>
                    <dt>Manufacture Information</dt>
                    <dd>
                        <% if ( manufactureInfo.manufacturer ) { %>
                            <dl class="dl-horizontal">
                                <dt> Manufacturer: </dt>
                                <dd>
                                <%=  manufactureInfo.manufacturer %>
                                </dd>
                            </dl>
                        <% } %>
                        <% if ( manufactureInfo.modelNumber ) { %>
                            <dl class="dl-horizontal">
                                <dt> Model #: </dt>
                                <dd>
                                <%=  manufactureInfo.modelNumber %>
                                </dd>
                            </dl>
                        <% } %>
                        <% if ( manufactureInfo.serialNumber ) { %>
                            <dl class="dl-horizontal">
                                <dt> S/N : </dt>
                                <dd>
                                <%=  manufactureInfo.serialNumber %>
                                </dd>
                            </dl>
                        <% } %>
                    </dd>
                </dl>
                <dl>
                    <dt>Purchase and Delivery Information</dt>
                    <dd>
                        <% if (purchaseAndDeliveryInfo.purchaseOrderNumber ) { %>
                            <dl class="dl-horizontal">
                                <dt> PO #: </dt>
                                <dd>
                                <%= purchaseAndDeliveryInfo.purchaseOrderNumber %>
                                </dd>
                            </dl>
                        <% } %>
                        <% if (purchaseAndDeliveryInfo.purchaseCost ) { %>
                            <dl class="dl-horizontal">
                                <dt> Cost: </dt>
                                <dd>
                                <%= purchaseAndDeliveryInfo.purchaseCost %>
                                </dd>
                            </dl>
                        <% } %>
                        <% if (purchaseAndDeliveryInfo.purchaseDate ) { %>
                            <dl class="dl-horizontal">
                                <dt> PO Date: </dt>
                                <dd>
                                <%= purchaseAndDeliveryInfo.purchaseDate %>
                                </dd>
                            </dl>
                        <% } %>
                        <% if (purchaseAndDeliveryInfo.deliveryOrderNumber || purchaseAndDeliveryInfo.deliveryDat) { %>
                        <hr>
                        <% } %>
                        <% if (purchaseAndDeliveryInfo.deliveryOrderNumber ) { %>
                            <dl class="dl-horizontal">
                                <dt> Delivery Order #: </dt>
                                <dd>
                                <%= purchaseAndDeliveryInfo.deliveryOrderNumber %>
                                </dd>
                            </dl>
                        <% } %>
                        <% if (purchaseAndDeliveryInfo.deliveryDate ) { %>
                            <dl class="dl-horizontal">
                                <dt> Delivery Date: </dt>
                                <dd>
                                <%= Date(purchaseAndDeliveryInfo.deliveryDate) %>
                                </dd>
                            </dl>
                        <% } %>
                    </dd>
                </dl>
                <dl>
                    <dt>Physical Information</dt>
                    <dd><%= physicalInfo %></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<% } catch(err) { console.log(err) } %>
<!-- .row -->
