<!-- wrapped in a .row -->
<% try { %>
<div class="panel">
    <div class="panel-heading">
        <span>
            <div class="row">
                <div class="glyphicon glyphicon-cog col-xs-8" aria-hidden="true"> Asset ID# <%= id %></div>
            <p class="text-right">
            </p>
        </div>
        </span>
    </div>
    <div class="panel-body" style="max-height: 440px; min-width: 500px; overflow-x:hidden">
        <!-- tabs -->
        <ul class="nav nav-tabs" role="tablist" >
            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
            <li role="presentation"><a href="#metaData" aria-controls="metaData" data-toggle="tab">Metadata</a></li>
            <li role="presentation"><a href="#assetAquisitionInfo" aria-controls="assetAquisitionInfo" data-toggle="tab">Aquisition Data</a></li>
            <li role="presentation" ><a href="#remoteDocuments" aria-controls="assetDocuments" data-toggle="tab">Documents</a></li>
        </ul>
        <!-- tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="overview">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd><%= assetInfo.name %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Description</dt>
                    <dd><%= assetInfo.description %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Owner</dt>
                    <dd><%= assetInfo.owner %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd><%= assetInfo.type %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Instrument Class</dt>
                    <dd><%= assetInfo.instrumentClass %></dd>
                </dl>
            </div>
            <div role="tabpanel" class="tab-pane" id="metaData">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(metaData, function(row) { %>
                        <tr>
                            <td><%= row.key %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="remoteDocuments">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="remoteDocDownload">Download</th>
                            <th>Document</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="2"><span id="loadDocs" style="text-decoration:underline; cursor:pointer;">Click to load documents...</span></td></tr>
                        <% _.each(remoteDocuments, function(row) { %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="center"><a href="#"><i class="fa fa-download"></i></a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="assetAquisitionInfo">
                <dl>
                    <dt>Manufacture Information</dt>
                    <% if (manufactureInfo !== null) { %>
                        <dd>
                            <% if ( manufactureInfo.manufacturer ) { %>
                                <dl class="dl-horizontal">
                                    <dt> Manufacturer: </dt>
                                    <dd>
                                    <%=  manufactureInfo.manufacturer %>
                                    </dd>
                                </dl>
                            <% } %>
                            <% if ( manufactureInfo.modelNumber ) { %>
                                <dl class="dl-horizontal">
                                    <dt> Model #: </dt>
                                    <dd>
                                    <%=  manufactureInfo.modelNumber %>
                                    </dd>
                                </dl>
                            <% } %>
                            <% if ( manufactureInfo.serialNumber ) { %>
                                <dl class="dl-horizontal">
                                    <dt> S/N : </dt>
                                    <dd>
                                    <%=  manufactureInfo.serialNumber %>
                                    </dd>
                                </dl>
                            <% } %>
                        </dd>
                        <% } else { %>
                            <dl class="dl-horizontal">
                                Data source does not contain manufacture information.
                            </dl>
                        <% } %>
                </dl>
                <dl>
                    <dt>Purchase Information</dt>
                    <% if (purchaseAndDeliveryInfo.purchaseOrder) { %>
                        <dd>
                        <% var poInfo = (function() {
                           var tempArray = [
                                'Label: ' + purchaseAndDeliveryInfo.purchaseOrder.label,
                                'Remote Resource ID: ' + purchaseAndDeliveryInfo.purchaseOrder.remoteResourceId,
                                'Resouce #:' + purchaseAndDeliveryInfo.purchaseOrder.resourceNumber,
                                'URL: ' + purchaseAndDeliveryInfo.purchaseOrder.url,
                                'Data Source: ' + purchaseAndDeliveryInfo.purchaseOrder.dataSource,
                                'PO Date: ' + purchaseAndDeliveryInfo.purchaseDate,
                                'PO Cost: ' + purchaseAndDeliveryInfo.purchaseCost
                            ];
                                return tempArray.join('<br>');
                        })()%>
                        <%= poInfo %>
                        </dd>
                    <% } else { %>
                        <dl class="dl-horizontal">
                            Data source does not contain purchase order information.
                        </dl>
                    <% } %>
                </dl>
                <dl>
                    <dt>Delivery Information</dt>
                    <% if (purchaseAndDeliveryInfo.deliveryOrder) { %>
                        <dd>
                        <% var doInfo = (function() {
                           var tempArray = [
                                'Label: ' + purchaseAndDeliveryInfo.deliveryOrder.label,
                                'Remote Resource ID: ' + purchaseAndDeliveryInfo.deliveryOrder.remoteResourceId,
                                'Resouce #:' + purchaseAndDeliveryInfo.deliveryOrder.resourceNumber,
                                'URL: ' + purchaseAndDeliveryInfo.deliveryOrder.url,
                                'Data Source: ' + purchaseAndDeliveryInfo.deliveryOrder.dataSource,
                                'DO Date: ' + purchaseAndDeliveryInfo.deliveryDate,
                            ];
                                return tempArray.join('<br>');
                        })()%>
                        <%= doInfo %>
                        </dd>
                    <% } else { %>
                        <dl class="dl-horizontal">
                            Data source does not contain delivery order information.
                        </dl>
                    <% } %>
                </dl>
            </div>
        </div>
    </div>
</div>
<% } catch(err) { console.log(err) } %>
<!-- .row -->
