<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Edit Asset: </h4>
        </div>
        <form class="form-horizontal">
            <div class="modal-body">
                <div class="form-group">
                    <label for="assetName" class="col-md-2 control-label">Name</label>
                    <div class="col-md-9">
                        <input id="assetName" type="text" class="form-control" value="<%= assetInfo.name %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="assetDescription" class="col-md-2 control-label">Description</label>
                    <div class="col-md-9">
                        <input id="assetDescription" type="text" class="form-control" value="<%= assetInfo.description %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="assetOwner" class="col-md-2 control-label">Owner</label>
                    <div class="col-md-9">
                        <input id="assetOwner" type="text" class="form-control" value="<%= assetInfo.owner %>">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancelEdit" type="button" class="btn btn-default">Cancel</button>
                <button id="saveEdit" type="button" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
