<div class="container-fluid banner-image">
  <div class="row-fluid">
    <ul>
      <li class="logo-left">
        <a href="/">
          <img src="../img/logos-banners/OOI_Logo.svg" style="width:150px;">
        </a>
      </li>
      <li class="logo-right">
        <a href="http://oceanleadership.org/">
          <img src="../img/logos-banners/ocean-leadership.png">
        </a>
      </li>
      <li class="logo-right">
        <a href="http://www.nsf.gov/">
          <img src="../img/logos-banners/nsf.png">
        </a>
      </li>
    </ul>
  </div>
</div>


