<div class="container-fluid banner-image" >
  <div class="row center" id="news-banner">
  </div>

  <div class="row image-header <%= isNewsActive ? 'news-active' : '' %>">
    <div class="col-xs-6">
      <a href="/">
        <img class="banner-image-icon" src="/img/logos-banners/OOI_Logo.svg" style="">
      </a>
    </div>

    <div class="col-xs-6">
      <div class="pull-right">
        <a href="http://www.nsf.gov/">
          <img class="banner-image-nsf" src="/img/logos-banners/nsf.png">
        </a>
      </div>
      <div class="pull-right">
        <a href="http://oceanleadership.org/">
          <img class="banner-image-ol" src="/img/logos-banners/ocean-leadership.png">
        </a>
      </div>
      <div class="pull-right">
        <a href="/help">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"> </i>   Help
        </a>
      </div>
    </div>

  </div>

  <div class="row banner-header <%= isNewsActive ? 'news-active' : '' %>">
    <ul id="fadein-left">
      <div class="col-xs-12">
        <li class="center banner-title">
          <lg><span><%= bannerTitle %></span></lg>
        </li>
      </div>
    </ul>
    <li class="pull-right">
        <a style="" id="termsAndConditionsLink" class="terms-link <%= isNewsActive ? 'news-active' : '' %> ">Terms and Conditions
        </a>
          <script>
          $(".terms-link").on("click",function(event){
              var termsView = new TermsDialogView();
              termsView.render();
              termsView.show();
          });
          </script>
    </li>
  </div>
</div>


