<div class="container-fluid banner-image">
  <div class="row-fluid">
    <ul>
      <li class="logo-left">
        <a href="/">
          <img src="/img/logos-banners/OOI_Logo.svg" style="width:150px;">
        </a>
      </li>
      <li class="logo-right">
        <a href="http://oceanleadership.org/">
          <img src="/img/logos-banners/ocean-leadership.png">
        </a>
      </li>
      <li class="logo-right">
        <a href="http://www.nsf.gov/">
          <img src="/img/logos-banners/nsf.png">
	</a>
      </li>
    </ul>
  </div>
</div>

<!--
  +      <li class="logo-center">
+       <span>
+       <h0>S</h0><h3 class="text-body">tatus</h3>
+       </span>
+      </li>
+         <li class="logo-right">
-->
