<div class="row">
	<div class="col-sm-2">
	<h4 style="text-align: center;margin-top:0px;height: 190px;width:190px;background-color: rgba(255,255,255,0.7);position: absolute;z-index:1;padding-top:74px">Camera Controls Coming Soon! </h4>
		<div class="camera-controls" style="z-index:0">
		  	<div class="btn-group btn-group-sm camera-control-button" role="group" aria-label="...">
			  <button disabled type="button" class="btn btn-default">_</button>
			  <button class="btn btn-default">Up</button>
			  <button disabled type="button" class="btn btn-default">_</button>
			</div>
			<div class="btn-group btn-group-sm camera-control-button" role="group" aria-label="...">
			  <button type="button" class="btn btn-default">Left</button>
			  <button type="button" style="font-size:24px" class="btn btn-default"><i class="fa fa-home"></i></button>
			  <button type="button" class="btn btn-default">Right</button>
			</div>
			<div class="btn-group btn-group-sm camera-control-button" role="group" aria-label="...">
			  <button disabled type="button" style="font-size:22px"  class="btn btn-default"><i class="fa fa-camera"></i></button>
			  <button type="button" class="btn btn-default">Down</button>
			  <button disabled type="button" class="btn btn-default">_</button>
			</div>
		</div>
	</div>
</div>
