<%  var ref_des = model.get('reference_designator'); %>
<%  var array = ref_des.split('-')[0].substring(0,4).toLowerCase(); %>
<%  var year = model.get('date').split('-')[0]; %>
<%  var month = model.get('date').split('-')[1]; %>
<%  var day = model.get('date').split('-')[2]; %>
<%  var instrument = model.get('reference_designator').split('-')[3].substring(0,5); %>
<%  if(array.substring(0,2) !== 'rs'){ array = ref_des.split('-')[0].substring(0,2).toLowerCase(); } %>
<div class="element-item <%= array %> <%= instrument.toLowerCase()%> <%= ref_des %> <%= year %>" data-category="<%= ref_des %>">
    <a href="#">
        <img link='<%=model.get("url")%>' src="<%=model.get('baseUrl')+model.get('thumbnail').split('/')[2] %>">
    </a>
    <h3 class="name"><%= model.get('date') %></h3>
    <!--<p class="symbol">CAMDS</p>
    <p class="number">52</p>
    <p class="weight">127.6</p>
    <p class="year"><%= model.get('date').split('-')[0]%></p>-->
</div>