
<span><%= title %></span>
<div class='view-chart'>
  <!-- plot controls -->
  <div class="pull-left">
    <!--<span class='edit'>edit chart</span>-->
    <button class='btn btn-default btn-sm delete'>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
  <div style="padding-bottom:30px;padding-left:50px" class='chart-contents'></div>
</div>

<div class='edit-chart hidden'>
  <div class='edit-contents'>
    <div>Edit chart:</div>
    <div class='column-labels'>
      <span>labels</span>
      <span>values:</span>
    </div>
  </div>
  <span class='done'>done</span>
</div>

