<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
  <div class="modal-dialog" >
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-header">
        <h3 class="modal-title" id="missionModalLabel">Control Actions </h3>      
      </div>
      <div class="modal-body mission-modal">
        <div><h3>Commands Pending</h3></div>
        <%= message%>
        <div><h3>Command List</h3></div>
        <%= command_options%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id='execute_command' disabled data-dismiss="modal">Execute</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
<!-- </div> -->
