<!--Modal-->
<div class="modal fade" id="modal-form" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-form-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div> <!-- modal-form-header -->

      <!--Body-->
      <div class="modal-form-body main-container">
        <div class="row">
          <div class="col-sm-12">
            <div class="modal-form-message">    
              <form data-disable=true data-toggle="validator" role="form" id="addDefinitionForm">          
                <div class="form-group">
                  <label for="inputRefDes" class="control-label">Reference Designator</label>
                  <input type="text" class="form-control" id="inputRefDes" placeholder="<%=model.get('reference_designator')%>" data-error="" required disabled>
                  <div class="help-block with-errors"></div>
                </div> 

                <div class="form-group">
                  <label for="inputStream" class="control-label">Stream Name</label>
                  <input type="text" class="form-control" id="inputStream" placeholder="<%=model.get('stream')%>" data-error="" required disabled>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <label for="inputDescription" class="control-label">Description</label>
                  <input type="text" data-minlength="1" class="form-control" id="inputDescription" placeholder="Description" data-error="Minimum of 1 characters required" required 
                  <% if( this.model.get('description') ){ %>
                    value="<%=this.model.get('description')%>"
                  <% } %>
                  >
                  <div class="help-block with-errors"></div>
                </div>      

                <div class="row">
                  <div class="col-sm-3 minval" style="visibility: visible;">

                    <div class="form-group has-feedback">
                      <label for="inputMinVal" class="control-label">Minimum Value</label>
                      <div class="input-group">
                        <% if( this.model.get('operator') && this.model.get('operator') == "LESS" ){ %>
                        <input type="text" minlength="3" maxlength="255" pattern="-?[0-9]+([.][0-9]+)" class="form-control" id="inputMinVal" placeholder="0.0" required>
                        <% } else { %>
                        <input type="text" minlength="3" maxlength="255" pattern="-?[0-9]+([.][0-9]+)" class="form-control" id="inputMinVal" placeholder="0.0">
                        <% } %>
                      </div>
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>

                  <div class="col-sm-3 maxval" style="visibility: visible;">
                    <div class="form-group has-feedback">
                      <label for="inputMaxVal" class="control-label">Maximum Value</label>
                      <div class="input-group">
                        <% if( this.model.get('operator') && this.model.get('operator') == "GREATER" ){ %>
                        <input type="text" minlength="3" maxlength="255" pattern="-?[0-9]+([.][0-9]+)" class="form-control" id="inputMaxVal" placeholder="1.0" required>
                        <% } else { %>
                        <input type="text" minlength="3" maxlength="255" pattern="-?[0-9]+([.][0-9]+)" class="form-control" id="inputMaxVal" placeholder="1.0">
                        <% } %>
                      </div>
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group has-feedback">
                      <label for="inputSeverityVal" class="control-label">Severity Value</label>
                      <div class="input-group">
                        <!--<span class="input-group-addon"></span>-->
                        <input type="number" minlength="1" maxlength="2" class="form-control" id="inputSeverityVal" placeholder="1" required>
                      </div>
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                      <span class="help-block with-errors"></span>
                    </div>
                  </div>

                  <div class="col-sm-3">  
                      <div class="form-group">
                        <label for="typeSelection" class="control-label">Alert or Alarm</label>
                        <div id="typeSelection" class="radio">
                          <label>
                            <input type="radio" name="alertalarm" val="alert" required>
                            Alert
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="alertalarm" val="alarm" required>
                            Alarm
                          </label>
                        </div>
                      </div> 
                  </div> 
                </div>

             
                <div class="row">

                  <div class="col-sm-6 escalate-field" style="visibility: hidden;">
                    <div class="form-group has-feedback">
                      <label for="inputEscalateOn" class="control-label">Escalate On</label>
                      <div class="input-group">
                        <!--<span class="input-group-addon"></span>-->
                        <input type="text" pattern="^\d+(\.\d{1,2})?$" class="form-control" id="inputEscalateOn" placeholder="1200.0" >
                      </div>
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                      <span class="help-block with-errors">Escalate On: Time in seconds after Alert is generated before it is escalated to a Redmine ticket</span>
                    </div>
                  </div>   

                  <div class="col-sm-6 escalate-field" style="visibility: hidden;">
                    <div class="form-group has-feedback">
                      <label for="inputEscalateBoundary" class="control-label">Escalate Boundary</label>
                      <div class="input-group">
                        <!--<span class="input-group-addon"></span>-->
                        <input type="text" pattern="^\d+(\.\d{1,2})?$" class="form-control" id="inputEscalateBoundary" placeholder="2400.0" >
                      </div>
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                      <span class="help-block with-errors">Escalate Boundary: Time in seconds since last Alert added to previous escalation will issue new Redmine ticket</span>
                    </div>
                  </div>                     
                  
                </div><!-- .row -->

                <div class="row">
                    
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="paramSelection" class="control-label">Parameter Selection</label>
                      <select id="paramSelection" class="selectpicker">
                        <% metadata_collection.each(function(param,i) {  %>
                          <% if (i==0){   %>
                            <option selected param="<%= param.get('particleKey') %>" val="<%= param.get('pdId') %>">
                                <%= param.get('particleKey') %> - <%= param.get('units') %>
                            </option>
                          <% } else { %> 
                            <option  param="<%= param.get('particleKey') %>" val="<%= param.get('pdId') %>">
                              <%= param.get('particleKey') %> - <%= param.get('units') %>
                            </option>
                          <% } %> 
                        <%  });  %>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="form-group">
                        <label for="opSelection" class="control-label">Operator Selection</label>
                        <div id="opSelection" class="radio">
                          <label>
                            <input type="radio" name="operator-selection" val="GREATER" required>
                            GREATER
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="operator-selection" val="LESS" required>
                            LESS
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="operator-selection" val="BETWEEN_EXCLUSIVE" required>
                            BETWEEN EXCLUSIVE
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="operator-selection" val="OUTSIDE_EXCLUSIVE" required>
                            OUTSIDE EXCLUSIVE
                          </label>
                        </div>
                      </div>
                  </div>

                  <!--<div class="col-sm-6">
                    <div class="form-group">
                      <label for="operatorSelection" class="control-label">Operator Selection</label>
                      <select id="operatorSelection" class="selectpicker">
                          <% if( this.model.get('operator') ){ %>
                            <option val="GREATER">GREATER</option>
                          <% } else { %>
                            <option selected val="GREATER">GREATER</option>
                          <% } %>
                          <option val="LESS">LESS</option>
                          <option val="BETWEEN_EXCLUSIVE">BETWEEN EXCLUSIVE</option>
                          <option val="OUTSIDE_EXCLUSIVE">OUTSIDE EXCLUSIVE</option>
                      </select>
                    </div>
                  </div>-->

                </div> <!-- .row -->              


                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="userSelection" class="control-label">User Selection</label>
                      <select id="userSelection" class="selectpicker">
                        <% user_list.each(function(model,i) {  %>
                        <option val="<%= model.get('id') %>"><%= model.get('user_name') %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6" style="visibility: visible;">
                    <div class="form-group has-feedback">
                      <label for="inputEventReceiptDelta" class="control-label">Event Sample Rate</label>
                      <div class="input-group">
                        <input type="number" minlength="4" class="form-control" id="inputEventReceiptDelta" placeholder="5000" required>
                      </div>
                      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                      <span class="help-block with-errors">Time in milliseconds to sample events, 5000 = 5 seconds</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                   <div class="col-sm-4">
                    <div class="form-group">
                      <label for="activeBool" class="control-label">Active Definition</label>
                      <div class="checkbox">
                        <label>
                          <input disabled type="checkbox" id="activeBool">
                          Active
                        </label>
                        <div class="help-block with-errors"></div>
                      </div>
                      <span class="help-block with-errors">Is Definition Active On Creation</span>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="communicationBool" class="control-label">Communication Method</label>

                      <% var data_coms = ['use_email', 'use_redmine', 'use_phone', 'use_log', 'use_sms'] %>
                      <% _.each(data_coms, function(com_method) { %>
                        <div class="checkbox">
                          <label>
                            <% if (com_method == 'use_redmine'){ %>
                              <input disabled checked val="<%= com_method %>" type="checkbox" class="com-method">
                              <%= com_method.replace('_'," ") %>
                            <%} else { %>
                              <input disabled val="<%= com_method %>" type="checkbox" class="com-method">
                              <%= com_method.replace('_'," ") %>
                            <% } %>
                          </label>
                          <div class="help-block with-errors"></div>
                        </div>
                      <% }); %>

                      <span class="help-block with-errors">Notification context</span>
                    </div>
                  </div>

                </div> <!-- .row -->

                <!-- FOOTER ROW -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <% if( this.model.get('update') && this.model.get('update') == true ){ %>
                        <button class="btn btn-default" disabled type="reset" id="reset-button">Reset</button>
                      <% } else { %>
                        <button class="btn btn-default" type="reset" id="reset-button">Reset</button>
                      <% } %>
                    </div>
                  </div>
                  <div class="col-sm-6">              
                    <div class="form-group">
                      <% if( this.model.get('update') && this.model.get('update') == true ){ %>
                        <button id="addDef" type="submit" disabled class="btn btn-primary">Update Definition</button>
                      <% } else { %>
                        <button id="addDef" type="submit" class="btn btn-primary">Add Definition</button>
                      <% } %>
                    </div>
                  </div>
                </div> <!-- .col-sm-6 -->

              </form>
            </div> <!-- .row -->              
          </div> 
        </div> 
      </div>        
    </div> 
  </div>  
</div> 