<!-- <li class="dropdown"> -->
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Log In <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-user">
    <li>
      <a id='login' href="#">
        <i class="fa fa-sign-in fa-fw"></i> Log In
      </a>
    </li>
    <li>
      <a href="/signup">
        <i class="fa fa-user fa-fw"></i> Register
      </a>
    </li>
    <li class="divider"></li>
    <li>
     <a href="/help">
      	<i class="fa fa-exclamation-triangle" style='padding-right: 13px;' aria-hidden="true"> </i>   Help</a>
    </li>
  </ul>
  <div id="loginView"></div>
  <!-- /.dropdown-user -->
<!-- </li> -->
