<!-- <li class="dropdown"> -->
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-user fa-fw"></i> <%= user.get('user_name') %> <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-user">
   
    <li>
     
      <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
    </li>
    <% if(user.get('scopes').indexOf('user_admin') !== -1) { %>
    <li>
      <a href="/users/"><i class="fa fa-gear fa-fw"></i> Edit Users</a>
    </li>
    <li>
      <a href="/c2/"><i class="fa fa-gear fa-fw"></i> Command & Control</a>
    </li>
    <% } %>
    <li class="divider"></li>
    <li><a id="logout" href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
  </ul>
  <!-- /.dropdown-user -->
<!-- </li> -->
