<!-- Description Infrastructure -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="panel-title">
      <a>
        Description of Infrastructure
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <dl style="list-style-type:disk">
          <div class="col-md-12">
            <li>Two mooring lines: Oregon and Washington Lines</li>
            <li>Each of these lines contains three fixed sites spanning the slope (~500-600 m), shelf (~80-90 m) and inner-shelf (~25-30 m)</li>
            <li>Some components of the Oregon Line will be connected to the <a href="ooi-ui/ooiui/templates/landing/cabledArray.html">Cabled Array</a></li>
            <li>Six glider</li>
          </dl>
        </div>
      </div><!-- row -->
    </div>
  </div>
</div><!-- panel panel-default 2-->
