<div class="col-md-6">
  <div style="float:left;">
    <h3 align="left"title="Disclaimer: All data are subject to revision without notice; exact locations of mooring sites are not yet finalized; exact depths of sensors will be determined at the time of deployment.">Description<i class="fa fa-info-circle" style="font-size: 12px;"></i></h3>
    <em class="disclamer"></em></strong>

    <p>The Endurance Array, located on the continental shelf and slope off Oregon and Washington, will provide a long-term network of moorings, benthic nodes, cabled and uncabled sensors, and gliders. The array will consist of two lines of moorings, one off Newport, Oregon (the Oregon Line) and the other off Grays Harbor, Washington (the Washington Line). Gliders will sample between the mooring lines. The array will focus on observing the influence of the Columbia River on the coastal ecosystem as well as sample a prototypical upwelling regime on a narrow continental shelf where anoxia events are common. Some of the Endurance Array Oregon Line infrastructure will be connected to the RSN cabled network providing enhanced power and communications for observing water column and seafloor processes.</p>
    </div>  <!-- col-md-6 -->

    <div style="clear:both;">
      <h3>Summary</h3>
      <p>The first phase of the Pioneer Array deployment took place in November 2013, with the installation of three moorings – a surface mooring at the central site, a profiler mooring at the upstream inshore site and a profiler mooring at the upstream offshore site. In April 2014, during the second deployment phase, five Wire-Following Profile Moorings were deployed at the Pioneer Array with three gliders. The third and final deployment phase is scheduled for Fall 2014.</p>
    </div>  <!-- col-md-6 -->
  </div>  <!-- col-md-6 -->

  <!-- HEADER IMAGE -->
  <div class="col-md-6">
    <div  id="contact">
      <img class="delayImg" delayedSrc="/img/landingPages/EnduranceArray/Endurance-Array-Map_2013_04-17_ver_0-02.jpg" style="width:411px; height:500px;" />
    </div>  <!-- col-md-6 -->
  </div>  <!-- Description-row -->

  <!-- fade in image -->
  <script>
  $(document).ready(function() {
    $(".delayImg").each(function() {
      this.onload = function() {
        $(this).animate({opacity: 1}, 2000);
      };
      this.src = this.getAttribute("delayedSrc");
    });
  });
  </script>
