<!-- Endurance Deployment Schedule -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="panel-title">
      <a>
        Endurance Array Deployment Schedule
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <dl style="list-style-type:disk">
          <div class="col-md-12">
            <li><a href="http://oceanobservatories.org/infrastructure/planned-installation-schedule/">OOI Planned Installation Schedule</a></li>
            <li><a href="http://oceanobservatories.org/ocean-observatories-initiative-ooi-deploys-coastal-infrastructure-components/">Click here for the full story on the April 2014 Endurance Array Deployments.</a></li>
            <li><a href="http://oceanobservatories.org/cabled-uncabled-endurance-array-components-deployed/" title="Click here for the full story on the October 2014 Endurance Array Deployments.">Click here for the full story on the October 2014 Endurance Array Deployments.</a></li>
            <li><i>As Deployed configurations below represent those deployed during the April 2014 cruise</i></li>
          </dl>
        </div>
      </div><!-- row -->
    </div>
  </div>
</div><!-- panel panel-default 2-->
