<!-- <div class="panel"> -->
  <div id="new-event" class="panel-heading">
    <strong><span class="fa fa-tasks"></span> Log Entries</strong>
      <div class="pull-right">
        <div class="dropdown">
          <a class="btn-sm btn-default" id='list-view' href="#"><i class="fa fa-list"></i></a>
          <a class="btn-sm btn-default" id='timeline-view' href="#"><i class="fa fa-align-center"></i></a>

          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-caret-down"></i>
          </a>

          <ul class="disabled dropdown-menu dropdown-menu-right">
            <li>
              <a id='new-event-link' href="#">New Event</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div id="panel-events" class="panel-body"></div>
  <div id="new-event-modal">
    <!-- This div is hidden until the modal is shown -->
  </div>
<!-- </div> -->
