<tr id= "<%= model.get("reference_designator") %>" data-eng="<%= model.get('reference_designator').indexOf('ENG') > -1 %>">
<% //console.log('platform table model'); %>
<% //console.log(model); %>
<td class="tdulliFormat">
 <ul>
                            <li><a href="/data_access/?search=<%= model.get('reference_designator') %>"><i class="fa fa-th" title="Data Access & Plotting">&nbsp;</i></a></li>
   <li>&nbsp;&nbsp;&#124;&nbsp;&nbsp;</li>
                            <li><a href="/assets/management#<%= model.get('reference_designator') %>"><i class="fa fa-sitemap" title="Asset Management"></i></a></li>
                        </ul>
                    </td>
    <td><%= model.get("display_name") %><small class="refDesLabel" style="display:none"><br>(<%= model.get('reference_designator') %>)</small></td>
    <td class="tdulliFormat">
                              <ul>
                          <% var instStatus = model.get("instrument_status").status; %>

                          <% if(instStatus == "failed") { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: red; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } else if(instStatus == "degraded") { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: orange; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } else if(instStatus == "removedFromService") { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: black; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } else if(instStatus == "notTracked") { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: dimgrey; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } else if(instStatus == "Fetching Status Failed") { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: lightgrey; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } else if(instStatus == "No Status Returned") { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: white; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } else if(instStatus == "operational") { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: blue; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } else { %>
                            <li><i class="fa fa-circle" aria-hidden="true" style="color: white; font-size: 16px;float: left;" title="<%= instStatus %>"></i></li>
                          <% } %>
                        </ul>
    </td>
    <td><%= model.get('instrument_status').depth %></td>
    <td><%= moment(new Date(model.get("start"))).utc().format('YYYY-MM-DD[T]HH:mm:ss[Z]') %></td>
    <td><%= moment(new Date(model.get("end"))).utc().format('YYYY-MM-DD[T]HH:mm:ss[Z]') %></td>


</tr>
