<tr id= "<%= model.get("reference_designator") %>"  >
    <td><%= model.get("display_name") %></td>
    <td>design depth</td>
    <td><%= new Date(model.get("start")) %></td>
    <td><%= new Date(model.get("end")) %></td>
    <td class="text-center" ><a href="/plot#<%= model.get('reference_designator') %>"><i class="fa fa-bar-chart"></i></a></td>
    <td class="text-center" ><a href="/datacatalog#<%= model.get('reference_designator') %>"><i class="fa fa-database"></i></a></td>
    <td class="text-center" ><a href="/assets/list#<%= model.get('reference_designator') %>"><i class="fa fa-sitemap"></i></a></td>
</tr>
