<div class="panel panel-default">
  <div class="glider-table">
    <h5>
      Glider Quick View
      <button type="button"
              class="close btn-close"
              aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </h5>

    <table align="center">
      <thead>
          <tr>
            <th>Glider Name</th>
            <th>Location</th>
            <th>Last Reported Date</th>
            <th>Show Track</th>
          </tr>
      </thead>
      <tbody class="table-rows">
          <!-- insert the details of the gliders here. color coded. -->
      </tbody>
    </table>
    </div>
</div>
