<div class="panel panel-default">
  <div class="glider-table">
      <button type="button"
              class="close btn-close"
              aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    <h5>
      Glider Quick View


      <div class="color-index" style="display:inline;padding-left:10px">
        <div class="twelve-hours"></div><b>Recent 12 Hours</b>
        <div class="twenty-four-hours"></div><b>12 - 24 Hours</b>
        <div class="older"></div><b>Older than 24 Hours</b>
      </div>
    </h5>



    <table align="center">
      <thead>
          <tr>
            <th>Glider Name</th>
            <th>Location</th>
            <th>Last Reported Date</th>
            <th>Zoom To</th>
            <th>Show Track</th>
          </tr>
      </thead>
      <tbody class="table-rows">
          <!-- insert the details of the gliders here. color coded. -->
      </tbody>
    </table>
    </div>
</div>
