<!-- <li> -->
<a data-toggle="tooltip" data-placement="top" data-delay="500" title="<%= data.get('ref_des') %>" data-reference-designator="<%= data.get('ref_des') %>" href='#'>
  Instrument: <%= data.get('assetId') %>  
  <%if(typeof type === 'undefined'){ %>
  	<span class="badge hidden"> --- </span> 
  <% } else { %>
      <%if(type == 'array'){ %>
        <span class="badge"> --- </span> 
      <% } %>
    	<% if(type == "parent-platform") { %>
    		<span class="badge"> --- </span> 
    	<% }%>
      <% if(type == "child") { %>
        <span class="badge hidden"> --- </span> <span class="toc-arrow pull right fa arrow"></span>
      <% }%>
  <% } %>
</a>
<!-- </li> -->
