<!-- Location and Sampling -->

<div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <h4 class="panel-title">
      <a>
        Location and Sampling
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <dt>Location</dt> 
          <dl style="list-style-type:disk">
            <li>60°N, 39°W</li>
          </dl>
          <dt>Approximate Water Depth</dt>
          <dl style="list-style-type:disk">
            <li>2,800 meters</li>
          </dl>
          <dt>Glider sampling area (approximate):</dt>
        </div><!-- col-md-4 -->
        <div class="col-md-12">
          <dl style="list-style-type:disk">
            <li>Within/between the triangular mooring configuration with sides ~20 km long.</li>
          </dl>
        </div>
      </div><!-- row -->
    </div><!-- panel-body -->
  </div><!-- collapseOne -->
</div><!-- panel panel-default 1-->
