
<!-- Science -->
<li class="dropdown" style='top:8px;cursor:pointer'>
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Science
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="Science">
    <li role="presentation">
      <a href="/">
        <i class="fa fa-globe" style='padding-right: 10px;'> </i>  World Map
      </a>
    </li>
    <li>
      <a href="/streams">
           <i class="fa fa-th" style='padding-right: 10px;'> </i>  Data Catalog
        </a>
    </li>
  </ul>
</li>

<!-- Status -->
<li class="dropdown" style='top:8px;cursor:pointer'>
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Status 
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="Status">
        <li role="presentation">
            <a href="/statusUI.html">
                <i class="fa fa-heart" style='padding-right: 14px;'> </i>  Staus Dashboard
            </a>
        </li>
        <li role="presentation">
            <a href="/alerts/dashboard">
                <i class="fa fa-bell" style='padding-right: 13px;'> </i>  Alerts & Alarms
            </a>
        </li>
    </ul>
</li>


<!-- Asset Managment -->
<li class="dropdown" style='top:8px;cursor:pointer'>
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Asset Managment 
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="Asset-Managment">
        <li role="presentation">
            <a href="/assets/list">
                <i class="fa fa-list-ol" style='padding-right: 13px;'> </i> Asset Dashboard
            </a>
        </li>
        <li role="presentation">
            <a href="/events/list">
                <i class="fa fa-bolt" style='padding-right: 20px;'> </i>  Events Dashboard
            </a>
        </li>
    </ul>
</li>


<!-- C2 -->
<li class="dropdown" style='top:8px;cursor:pointer'>
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Command & Control  
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="C2">
        <li role="presentation">
            <a href="/assets/list">
                <i class="fa fa-list-ol" style='padding-right: 13px;'> </i> Command & Control
            </a>
        </li>
        <li role="presentation">
            <a href="/events/list">
                <i class="fa fa-bolt" style='padding-right: 20px;'> </i>  Exol
            </a>
        </li>
    </ul>
</li>

