
<!-- Science -->
<li class="dropdown" style='top:8px;cursor:pointer'>
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Science
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="Science">
    <li role="presentation">
      <a href="/">
        <i class="fa fa-globe" style='padding-right: 10px;'> </i>  Science Map
      </a>
    </li>
    <li>
      <a href="/streams">
        <i class="fa fa-th" style='padding-right: 10px;'> </i>  Data Catalog
      </a>
    </li>
	<li>
	   <a href="/plotting">
            <i class="fa fa-bar-chart" style='padding-right: 10px;'> </i>  Plotting
      </a>
    </li>
    <li>
       <a href="/cameras">
            <i class="fa fa-video-camera" style='padding-right: 10px;'> </i>  Cameras
      </a>
    </li>
    <li>
       <a href="/streamingdata">
            <i class="fa fa-rss" style='padding-right: 10px;'> </i>  Streaming Data
      </a>
    </li>
	</ul>
</li>

<!-- Status -->
<li class="dropdown" style='top:8px;cursor:pointer'>
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Status
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="Status">
        <li role="presentation">
            <a href="/status">
                <i class="fa fa-heart" style='padding-right: 14px;'> </i>  Status Dashboard
            </a>
        </li>
        <li role="presentation">
            <a href="/alerts/dashboard">
                <i class="fa fa-bell" style='padding-right: 13px;'> </i>  Alert & Alarm Definitions
            </a>
        </li>
        <li role="presentation">
            <a href="/alerts/dashboard/triggered">
                <i class="fa fa-bolt" style='padding-right: 13px;'> </i>  Triggered Alerts & Alarms
            </a>
        </li>
    </ul>
</li>


<!-- Asset Management -->
<li class="dropdown" style='top:8px;cursor:pointer'>
    <a href="/assets/list">
        Asset Management
    </a>
</li>


<!-- C2 -->
<li class="dropdown" style='top:8px;cursor:pointer'>
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Command & Control
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="C2">
        <li role="presentation">
            <a href="/c2">
                <i class="fa fa-list-ol" style='padding-right: 13px;'> </i> Command & Control
            </a>
        </li>
        <li role="presentation">
            <a href="/mission/executive">
                <i class="fa fa-bolt" style='padding-right: 20px;'> </i>  Mission Executive
            </a>
        </li>
        <li role="presentation">
            <a href="/mission/load">
                <i class="fa fa-cloud-upload" style='padding-right: 20px;'> </i>  Mission Load
            </a>
        </li>
    </ul>
</li>

<!-- Infrastructure -->
<li style='top:8px;cursor:pointer'>
  <a href="/infrastructure">
    Infrastructure
  </a>
</li>

