

<div class="lgn btn-launch">
  <!--Button to Trigger Modal-->
  <a href="#loginModal" class="lgn btn btn-lg btn-primary" data-toggle="modal">Log In</a>
  <!--Modal-->
  <div class="modal fade" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--Header-->
        <div class="lgn-header">
          <!-- <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button> -->
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">X</button>
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">?</button>
        </div> <!-- lgn-header -->

        <!--Body-->
        <div class="lgn-body">
          <div class="image"></div> 
          <div class="lgn-center">
             <input class="lgn-input" id="usrInput" type="text" name="password" size="25" placeholder="Email/Username">
             <input class="lgn-input" id="passInput" type="password" name="username" size="25" placeholder="Password" />
             <button class="lgn btn btn-default btn-logIn enableOnInput" type="button" id="btnLogin" disabled="disabled">Log In</button>
          </div> <!-- lgn-center -->
        </div> <!-- lgn-body -->

        <!--Footer-->
        <div class="lgn-footer">
          <div class="lgn-footerPass">
            <a href="#" data-toggle="modal">Forgot Password</a>
          </div> <!-- lgn-footerPass -->
          <div class="lgn-footerNewUser">
            <a href="#" data-toggle="modal">New User</a>
          </div> <!-- lgn-footerNewUser -->
        </div> <!-- lgn-footer -->
      </div>  <!-- modal-content -->
    </div> <!-- modal-dialog -->
  </div> <!-- modal fade -->
</div> <!-- lgn btn-launch -->
