<div class="panel">
    <div class="panel-body" style="height:35px;">
        <form>
        <table cellpadding="0" cellspacing="0" style="width:100%;margin-top:1px;">
            <tr>
                <td style="border:none;">
                    <div class="form-group log-search">
                        <input type="text" class="form-control" id="log-search" placeholder="&#xf002; Search" title="Type search criteria and press enter to search" >
                     </div>
                </td>
                <td style="width:252px;border:none;">
                    <div class="input-group">
                        <span class="fa fa-calendar input-group-addon" id="calendar-icon" style="cursor: pointer"
                            title="Click to clear Dates"></span>
                        <input id="startdate" name="startdate" style='cursor: pointer; width: 107px' type="text"
                            placeholder="Start Date" class="form-control">
                        <input id="enddate" name="enddate" style='cursor: pointer; width: 107px' type="text"
                            placeholder="End Date" class="form-control">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
    <!-- entry-form -->
    </div>
</div>
