<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
<div id='download-fail' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-danger">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-ban-circle modal-download-popup-content" aria-hidden="true"></span> 
      </div>

      <div style='text-align:center' class="modal-body">
        <h5>Sorry.  Your request failed.</h5>
        <div id='error-msg'>
        </div>
        <h5>If this problem persists, please submit a <a href="/troubleTicket">trouble ticket.</a></h5>
      </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 

