<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
<style type="text/css">
.modal-title.success  {
  color: #006633;
}
</style>
<div id='redmine-success' class="modal fade">

  <div class="modal-dialog">
    <div class="modal-content panel-success">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">x</button>
        <h5 class="modal-title success">Success</h5>
      </div>
      <div style='text-align:center' class="modal-body">
        <h5>Your trouble ticket has been submitted.</h5>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->