<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
<style type="text/css">
.modal-title.error  {
  color: #a94442;
  font-weight: bold;
}
</style>
<div id='redmine-fail' class="modal fade">

  <div class="modal-dialog">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading" style='margin-right:0px;margin-left:0px'>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">x</button> -->

          <!-- <span class="glyphicon glyphicon-ban-circle " aria-hidden="true"></span>  -->
        <h5 class="modal-title error" style='text-align:center'>Error</h5>
      </div>


      <div style='text-align:center' class="modal-body">
        <h5>Sorry.  Your trouble ticket request has failed. The service may be down. <br>Please contact <a href="mailto:Kish@OOI.Rutgers.edu" target="_blank"> Kish@OOI.Rutgers.edu</a> for assistance.</h5>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 

