<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title center" id="exampleModalLabel"><%= title %>
            </h3>
        </div>
        <!-- dialog body -->
        <div class="modal-body">
            <%= message %>
        </div>
        <div class="modal-footer">
            <p class="center"><button type="button" class="btn btn-primary" data-dismiss="modal">Acknowledge</button></p>
      </div>
    </div>
</div>
<!-- </div> -->
