<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
<style type="text/css">
.glyphicon.glyphicon-ok-circle  {
  font-size: 50px;
  position: abosolute;
  top: 50%;
  left: 50%;

}
</style>
<div id='download-ok' class="modal fade ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-success ">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class=jumbotron'>
        <span class="glyphicon glyphicon-ok-circle " aria-hidden="true"></span> 
        </div>
      </div>

      <div style='text-align:center' class="modal-body">
        <h2>Your request has been received!</h2>
      </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 
