<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <a class="navbar-brand" href="http://www.oceanobservatories.org">OOI</a>
  </div> <!-- navbar-header -->
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul id="navbar-menus" class="nav navbar-top-links navbar-left">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/streams/"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Data Catalog</a></li>
        <li>
        <a href="http://www.oceanobservatories.org"><img src="/img/OOI_BannerNew_01.png" style="width:80px;"></a>
        </li>
        <li>
        <a href="https://www.nsf.gov"><img src="/img/nsf-logo.png" style="width:50px;"></a>
        </li>
        <li>
        <a href="http://www.oceanleadership.org"><img src="/img/OceanLeadershipLogoCS2.png" style="width:75px;"></a>
        </li>
      </ul> <!-- nav navbar-top-link navbar-left -->
      <ul id="navbar-right" class="nav navbar-top-links navbar-right">
        <li><a href="/troubleTicket"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Submit a Trouble Ticket</a></li>
        <!-- mail-envelope and dropdown-messages -->
      </ul> <!-- nav navbar-top-links navbar-right -->
    </div><!--/.nav-collapse -->
  </div> <!-- container -->
</div>

