  <div class="navbar navbar-default navbar-fixed-top" role='navigation' class="container">
    <div class="navbar-collapse collapse">
      <ul id="navbar-menus" class="nav navbar-top-links navbar-left">
        <li class="nav navbar-top-links navbar-left">

           <a  class="navbar-brand" href="/infrastructure">OOI</a>
        </li>
        <li id='Science'><a href="/">Science</a></li>
      </ul> <!-- nav navbar-top-link navbar-left -->
      <ul id="navbar-right" class="nav navbar-top-links navbar-right">
       
        <li >
            <a class="image-link" href="http://www.oceanobservatories.org" target="_blank">
              <img src="/img/OOI_BannerNew_01.png" style="width:80px;">
            </a>
        </li>
        <li >
            <a class="image-link" href="https://www.nsf.gov" target="_blank">
              <img src="/img/nsf-logo.png" style="width:50px;">
            </a>
        </li>
        <li >
            <a class="image-link" href="http://www.oceanleadership.org" target="_blank">
              <img src="/img/OceanLeadershipLogoCS2.png" style="width:75px;">
            </a>
        </li>
        <li>
        <a href="/glossary.html">
           <i class="fa fa-book">Glossary</i>
        </a>
        </li>
        <li>
         <a href="/FAQ.html">
          <i class="fa fa-question">FAQ</i>
        </a>
        </li>

       </ul> <!-- nav navbar-top-links navbar-right -->
    </div><!--/.nav-collapse -->
  </div>
