<div class="newEvent btn-launch">
  <!--Modal-->
  <div class="modal fade" id="newEventModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Header-->
        <div class="newEvent-header">
          <button id="bob-button" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- newEvent-header -->

        <!--Body-->
        <div class="newEvent-body">
          <div class="newEvent-center">
            <div class="new-event-message">
            </div>
            <div class="newEventUser-message">
              <%= userModel.getFullName() %>
            </div>
            <div class="newEventOrg-message">
              <%= orgModel.get('organization_name') %>
            </div>
            <div id="dateTime">
              <%= moment().format("MMMM Do YYYY, h:mm:ss a") %>
            </div>
            <input class="newEvent-input" id="newTitleInput" type="text" name="title" placeholder="&#xf022; Event Title" size="25px" />
            <input class="newEvent-input" id="newCommentInput" type="text" name="comment" placeholder="&#xf0e5; Comment" size="25" />
          </div>
          <div class="newEvent-center">
            <select id="event-type-selection" class="typeDrop">
              <option selected disabled>
                --Choose Type--
              </option>
              <% operatorEventTypes.each(function(eventType) { %>
              <option value="<%= eventType.get('id') %>">
                <%= eventType.get('type_name') %>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="newEvent-center">
            <button class="newEvent btn btn-default" id="new-event-button" type="button">New Event</button>
          </div>
          <!-- newEvent-center -->
        </div>
        <!-- newEvent-body -->

        <!-- newEvent-footer -->
      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal fade -->
</div>
<!-- newEvent btn-launch -->
