<div id="breaking-news-container">
  <a href="/cameras">
    <div id="breaking-news-colour" class="slideup animated">
    </div> 
  
   <span class="breaking-news-title delay-animated slidein">
      UPDATE
    </span> 
    <a class="breaking-news-headline delay-animated fadein marquee" href="/cameras">
      Live Streaming Video Available Now!
    </a>
    <a class="breaking-news-headline2 delay-animated fadein marquee" href="/cameras">
      Live Streaming Video Available Now!
    </a>
    <a class="breaking-news-headline3 delay-animated fadein marquee" href="/cameras">
      Live Streaming Video Available Now!
    </a>
  </a>
</div>