<!-- <li> -->
<!-- <li> -->
<li displayname="<%= data.get('display_name') %>" id="<%= data.get('ref_des')+'_title' %>" class="parent-platform">
  <a data-toggle="tooltip" data-placement="top" data-delay="500" title="<%= data.get('ref_des') %>" data-reference-designator="<%= data.get('ref_des') %>" href='#'>
    <%= data.get('display_name') %>
    <%if(typeof type === 'undefined'){ %>
      <span class="badge hidden"> --- </span> <span class="toc-arrow pull right fa arrow"></span>
    <% } else { %>
        <span class="badge hidden"> --- </span> 
    <% } %>
  </a>
<li>
<div id="<%= data.get('ref_des')+'_contents' %>" class="platform-contents sidebar-nav-second-level">

</div>
<!-- </li> -->
