<li class="sidebar-search">
  <div class="input-group custom-search-form">
    Platform Status
  </div>
  <!-- /input-group -->
</li>
<% collection.each(function(model) { %>
<li class="array-item">
  <a data-id="<%= model.get('reference_designator') %>" href="#">
  <% if (model.get('operational_status') == 'Online') { %>
   <i class="fa fa-thumbs-up c2-online"> <%= model.get('display_name') %></i>
    <% } else { %>
    <i class="fa fa-thumbs-down c2-offline"> <%= model.get('display_name') %></i>
    <% } %>
  </a>
</li>
<% }); %>
