<% var i=0; %>

<% collection.each(function(model) { %>

<% var asset = model.get('assetId'); %>

<% var backgound %>
<% var badge %>

<!-- Badge and background colors -->
<% var blueBG = 'dogTagBtn well blue-backgroud-gradiant' %>
<% var yellowBG = 'dogTagBtn well yellow-backgroud-gradiant ' %>
<% var redBG = 'dogTagBtn well red-backgroud-gradiant' %>
<% var unknownBG = 'dogTagBtn well unknown-backgroud-gradiant' %>

<% var blueBadge = 'badge-ok' %>
<% var yellowBadge = 'badge-issue' %>
<% var redBadge =  'badge-error' %>
<% var unknownBadge = 'badge-unkown' %>

<!-- If statement to set badge and background collor bassed on priority level -->
<% if (asset == '1') { %>

<% badge = blueBadge %>
<% backgound = blueBG %>

<% } else if (asset == '2') { %>
<% badge = yellowBadge %>
<% backgound = yellowBG %>

<% } else if (asset == '3') { %>
<% badge = redBadge %>
<% backgound = redBG %>

<% } else { %>
<% badge = unknownBadge %>
<% backgound = unknownBG %>
<% } %>


<!-- Button trigger modal -->
<div class="<%= backgound %> platform-tile" data-toggle="modal" data-target="#myModal<%= i %>">
    <h5 class="dogTagHeader"><%= model.get('ref_des') %></h5>
    <h5 class="platform-tile-title dogTagBody"><%= model.get('assetInfo')['type'] %></h5>
    <h5 class="platform-tile-title dogTagBody">Asset ID:&nbsp;&nbsp;<%= model.get('assetId') %></h5>
    <span class="<%= badge %>"></span>
    <h5 class="platform-tile-title dogTagBody">Deployed:</h5>
    <h5 class="platform-tile-title dogTagBody"><%= model.get('launch_date_time') %></h5>
</div>

<!--Modal-->
<div class="modal fade" id="myModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--MODAL HEADER-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <!--Ref Des-->
                <h4 class="modal-title" id="myModalLabel">
                    <%= model.get('ref_des')%>
                </h4>
            </div>



            <!--MODAL BODY-->
            <div class="modal-main">

                <div class="row">
                    <div class="col-md-12">
                        Asset ID:&nbsp;&nbsp;<b><%=  model.get('assetId') %></b>
                        <div class="new-line" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!--Uper Left-->
                            <ul style="list-style-type:none;">
                                <li>Asset Information</li>
                                <ul>
                                    <li>Type:&nbsp;&nbsp;<b><%=  model.get('assetInfo')['type'] %></b></li>
                                    <li>Description:&nbsp;&nbsp;<b><%=  model.get('assetInfo')['name'] %></b></li>
                                    <li>Name:&nbsp;&nbsp;<b><%=  model.get('assetInfo')['owner'] %></b></li>
                                    <li>Owner:&nbsp;&nbsp;<b><%=  model.get('assetInfo')['description'] %></b></li>
                                </ul>
                            </ul>
                            <hr class="new-line" />
                        </div>

                        <div class="col-md-6">
                            <!--Uper Right-->
                            <ul style="list-style-type:none;">
                                <li>Manufacturer Information</li>
                                <ul>
                                    <li>Serial Number:&nbsp;&nbsp;<b><%=  model.get('assetInfo')['serialNumber'] %></b></li>
                                    <li>Manufacturer:&nbsp;&nbsp;<b><%=  model.get('assetInfo')['manufacturer'] %></b></li>
                                    <li>Model Number:&nbsp;&nbsp;<b><%=  model.get('assetInfo')['modelNumber'] %></b></li>
                                </ul>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <!--Bottom-->
                            <ul style="list-style-type:none;">
                                <li><div class="col-xs-1"><i class="small-status-icon "></i></div>
                                    Coordinates:&nbsp;&nbsp;<i class="badge "><%= model.get('coordinates') %></i></li> 
                                <li><div class="col-xs-1"><i class="small-status-icon "></i></div>
                                    Deployment Date:&nbsp;&nbsp;<i class="badge "><%= model.get('launch_date_time') %></i></li> 
                                <li><div class="col-xs-1"><i class="small-status-icon "></i></div>
                                    Series Classification:&nbsp;&nbsp;<i class="badge "><%= model.get('seriesClassification') %></i></li> 

                                <li><div class="col-xs-1"></div><a href="<%= model.get('uframe_url') %>">
                                            More Information</a></li>  
                            </ul>
                        </div>
                    </div>

                </div><!--modal-body-->




                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!--

        data-toggle="popover" 
        <div id="tilepopovercontent<%= i %>" style="display: none" rel="popover">
        <div>
        <b>Tier 1 Items</b>
        <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
        Asset ID:&nbsp;&nbsp;<b><%= model.get('assetId') %></b>
        </div>
        </div>

        <div class="row">
        <div class="col-xs-1">
        <i class="small-status-icon "></i>
        </div>
        <div class="col-xs-10">
        Deployed:&nbsp;&nbsp;<i class="badge "><%= model.get('launch_date_time') %></i>
        </div>
        </div>

        <div class="row">
        <div class="col-xs-1">
        <i class="small-status-icon "></i>
        </div>
        <div class="col-xs-10">
        Series Classification:&nbsp;&nbsp;<i class="badge "><%= model.get('seriesClassification') %></i>
        </div>
        </div>

        <div class="row">
        <div class="col-xs-1">
        <i class="small-status-icon "></i>
        </div>
        <div class="col-xs-10">
        <div>
        Telemetry:&nbsp;&nbsp;<i class="badge ">10/10</i>
        </div>
        </div>
        </div>
        <a href="#">More Info</a>
        </div>
        </div>

        <div id="tilepopovertitle<%= i %>" style="display: none">
        <h4 class="platform-tile-title"><%= model.get('assetInfo')['type'] %></h4>  
        </div>
    -->

    <script>
/*
TILE POPUP AND SELECTION
$('.platform-tile<%= i %>').on('click', function (e) {
});
 */

    $('.platform-tile<%= i %>').popover({
        trigger: "click",
        placement: "auto",
        html:true,
        content: function() {
            return $('#tilepopovercontent<%= i %>').html();
        },
        title: function() {
            return $('#tilepopovertitle<%= i %>').html();
        }
    });
    </script>

    <% i+= 1; %>
    <% }); %> 




    <!-- Accordian<div class="collapse well" id="collapse<%= i %>">
        <div class="well">
        <h4 class="platform-title-title">
        </div>
        </div>
    -->

