<% var i=0; %>

<% collection.each(function(model) { %>

<% var asset = model.get('assetId'); %>

<% var backgound %>
<% var badge %>

<!-- Badge and background colors -->
<% var blueBG = 'dogTagBtn well blue-backgroud-gradiant' %>
<% var yellowBG = 'dogTagBtn well yellow-backgroud-gradiant ' %>
<% var redBG = 'dogTagBtn well red-backgroud-gradiant' %>
<% var unknownBG = 'dogTagBtn well unknown-backgroud-gradiant' %>

<% var blueBadge = 'badge-ok' %>
<% var yellowBadge = 'badge-issue' %>
<% var redBadge =  'badge-error' %>
<% var unknownBadge = 'badge-unkown' %>

<!-- If statement to set badge and background collor bassed on priority level -->
<% if (asset == '1') { %>

<% badge = blueBadge %>
<% backgound = blueBG %>

<% } else if (asset == '2') { %>
<% badge = yellowBadge %>
<% backgound = yellowBG %>

<% } else if (asset == '3') { %>
<% badge = redBadge %>
<% backgound = redBG %>

<% } else { %>
<% badge = unknownBadge %>
<% backgound = unknownBG %>

<% } %>


<div class="<%= backgound %>" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="false" aria-controls="#collapse<%= i %>">
	<h4 class="platform-tile-title"><%= model.get('assetInfo')['type'] %></h4>
	<h5 class="platform-tile-title">Asset ID:&nbsp;&nbsp;<%= model.get('assetId') %></h5>
	<span class="<%= badge %>"></span>
	<h5 class="platform-tile-title">Deployed:</h5>
	<h6 class="platform-tile-title"><%= model.get('launch_date_time') %></h6> 
	<h6 class="platform-tile-title">Series Classification:&nbsp;&nbsp;<%= model.get('seriesClassification') %></h6>
</div>

<!-- Accordian -->
<div class="collapse well" id="collapse<%= i %>">
	<div class="well">
		<h4 class="platform-title-title">
	</div>
</div>
<% i+= 1; %>
<% }); %> 
