<!-- Header Alet Buttons -->
<div class="row">
    <div class="col-md-11">
            <strong style="font-size:20pt;">Status UI</strong>  
            <div class="btn-group" style="float:right; display:table;">
             <a class="btn-sm btn-default" href="#"><i class="fa fa-list"></i></a>
             <a class="btn-sm btn-default active" href="#"><i class="fa fa-table"></i></a>
            </div>
        </div>
    </div>
<div class="row-centered">
    <div class="col-md-3 col-centered" id="status-filter-row">
        <h4> <button type="button" class="okIssueBtn"></button>
            OK Platforms
        </h4>
    </div>
    <div class="col-md-3 col-centered" id="status-filter-row">
        <h4> <button type="button" class="issueIssueBtn"></button>
            Issue Platforms
        </h4>
    </div>
    <div class="col-md-3 col-centered" id="status-filter-row">
        <h4> <button type="button" class="errorIssueBtn"></button>
            Error Platforms
        </h4>
    </div>
    <div class="col-md-3 col-centered" id="status-filter-row">
        <h4> <button type="button" class="unknownIssueBtn"></button>
            Unknown Platforms
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-body" id="alert-container">
        </div>
    </div>
</div>


