<div class="col-lg-3 col-xsm-6">
  <div class="status-box active-filter">
    <p class="text-muted">
      <button type="button" class="filter-btn  btn btn-primary" filter="">All Platforms</button>
      <span data-i18n="Growth">All Platforms
        <i class="badge status-badge badge-info">9</i></a>
      </span>
    </p>
  </div>
</div>
<div class="col-lg-3 col-xsm-6">
  <div class="status-box">
    <p class="text-muted">
      <button type="button" class="filter-btn btn btn-success" filter="ok">OK Platforms</button>
      <span data-i18n="Growth">OK Platforms
        <span class="badge status-badge badge-success">5</span></a>
      </span>
    </p>
  </div>
</div>
<div class="col-lg-3 col-xsm-6">
  <div class="status-box">
    <p class="text-muted">
      <button type="button" class="filter-btn  btn btn-warning" filter="issue">Issue Platforms</button>
      <span data-i18n="Growth">Issues Platforms
        <span class="badge status-badge badge-warning">2</span></a>
      </span>
    </p>
  </div>
</div>
<div class="col-lg-3 col-xsm-6">
  <div class="status-box">
    <p class="text-muted">
      <button type="button" class="filter-btn  btn btn-danger" filter="error">Error Platforms</button>
      <span data-i18n="Growth">Error Platforms
        <span class="badge status-badge badge-error">2</span></a>
      </span>
    </p>

  </div>

</div>
