<div class="col-md-6">
  <div style="float:left;">
    <h3 align="left"title="Disclaimer: All data are subject to revision without notice; exact locations of mooring sites are not yet finalized; exact depths of sensors will be determined at the time of deployment.">Description<i class="fa fa-info-circle" style="font-size: 12px;"></i></h3>
    <em class="disclamer"></em></strong>

    <p>Comming Soon...</p>
  </div>  <!-- col-md-6 -->

  <div style="clear:both;">
    <h3>Summary</h3>
    <p>Comming Soon...</p>
  </div>  <!-- col-md-6 -->
</div>  <!-- col-md-6 -->

<!-- HEADER IMAGE -->
<div class="col-md-6">
  <div  id="contact">
    <a href="#headerImgModal" data-toggle="modal"><img class="delayImg" delayedSrc="/img/landingPages/stationPapa/ooi_map_GP_2014-12-221.jpg" style="width:446px; height:358px;" /></a>
    <div id="headerImgModal" class="modal fade" tabindex="-1">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body" style="text-align:center;">
        <img class="delayImg" delayedSrc="/img/landingPages/stationPapa/ooi_map_GP_2014-12-221.jpg" style="width:800px; margin-top:30px;" />
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>  <!-- col-md-6 -->
</div>  <!-- Description-row -->

<!-- fade in image -->
<script>
$(document).ready(function() {
  $(".delayImg").each(function() {
    this.onload = function() {
      $(this).animate({opacity: 1}, 2000);
    };
    this.src = this.getAttribute("delayedSrc");
  });
});
</script>
