<!--Download Modal-->
<!-- data-backdrop prevents the modal from closing when backdrop is clicked tabindex allows the escape key to be used to close the modal -->

<div class="modal fade" id="download-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!--Header-->
      <div class="col-md-12 dwn-content">
        <img width="50px" src="/img/logos-banners/OOI_Logo.svg">


          <span class="subscription-selection" style="margin-left:25%">
              <button style="padding-top:5px;" id="subscription-selection-select" type="button" class="btn btn-default btn-xs">
                <span id="subscription-selection-icon" class="fa fa-heart-o" aria-hidden="true"></span> Enable Subscription
              </button>
              <span class="subscribe-info">
                  <i class="fa fa-info-circle" data-title="Enabling subscriptions will keep you updated when ever a stream changes."></i>
              </span>
          </span>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div> <!-- col-md-12 -->

    <!--Body-->
    <div class="col-md-12">
      <div class="col-md-4">

      </div>

      <div class="col-md-12">
        <h3>Streams being downloaded:</h3>
      </div>
    </div> <!-- .col-md-12 -->

    <div class="col-md-12" id="streamName">
      <h4>Name</h4>
    </div>

    <form>
      <div id="download-time-options">
          <div class="range-fields">
              <div class="form-group">
                  <label for="time-range">Previous</label>
                  <div id="time-range">
                      <select class="form-control">
                          <option value="6">6 Hours</option>
                          <option value="12">12 Hours</option>
                          <option value="24">24 Hours</option>
                          <option value="168">1 Week</option>
                          <option value="336">2 Weeks</option>
                          <option value="672">4 Weeks</option>
                          <option value="all">All</option>
                      </select>
                  </div>
              </div>
          </div>
        <div class="date-fields">
          <div class="form-group">
            <label for="start-date">Start Date</label>
            <div class='input-group date' id='start-date'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div> <!-- .input-group.date #start-date -->
          </div> <!-- .form-group -->
        </div>

        <div class="date-fields">
          <div class="form-group">
            <label for="end-date">End Date</label>
            <div class='input-group date' id='end-date'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div> <!-- .input-group.date #start-date -->
          </div> <!-- .form-group -->
        </div> <!-- .col-md-6 -->
      </div> <!-- .col-md-12-->
        <div class="col-md-6">
          <div class="form-group">
            <label for="dlEmail">Delivery Email</label>
            <input class="form-control" id="dlEmail" type="text" name="email" size="25" placeholder="Enter Email">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" id="type-select">
            <label for="type-select">File Type</label>
            <select class="form-control">
              <option value="netcdf" selected>NetCDF (.nc)</option>
              <option value="json">JSON (.json)</option>
              <option value="csv">CSV (.csv)</option>
            </select>
          </div> <!-- .form-group -->
        </div> <!-- .col-md-4 -->

     <div class="col-md-12">
        <div class="download-options">
          <div class="row">
            <div class="col-md-12">
              <span>
                  <input type="checkbox" id="provenance-select" name="provenance" value="provenance"></input> Include Provenance
              </span>
              <span>
                  <input type="checkbox" id="annotation-select" name="annotation" value="annotation"></input> Include Annotations
              </span>
            </div>
         </div>
        </div>
     </div>

      <div class="row">
        <div class="col-md-12">
          <button type="button" id="download-btn" >Download</button>
        </div>
      </div>
    </form>

  </div>
</div> <!-- modal-dialog -->
</div> <!-- modal fade -->
