<div id="streamStatus" class="modal fade"
     tabindex="-1" role="dialog"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close btn-close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Data Stream Quick View</h4>
                <em>Data are sorted by end date, most recent first</em>
                <div class="array-select">
                    <span data-value="CE0" class="active">Endurance</span>
                    <span data-value="GP0">Station Papa</span>
                    <span data-value="CP0">Pioneer NES</span>
                    <span data-value="CP1">Pioneer MAB</span>
                    <span data-value="GA0">Argentine Basin</span>
                    <span data-value="GI0">Irminger Sea</span>
                    <span data-value="GS0">Southern Ocean</span>
                    <span data-value="RS0">Cabled Array</span>
                </div>
                <div class="time-filter">
                    <div><input id="isEngChkBox"
                                type="checkbox"> Engineering streams</input></div>
                    <div><input id="is24HrChkBox"
                                type="checkbox" checked> Recent 24 Hours</input></div>
                    <!--<div><input id="isBetween12and24"
                        type="checkbox"> 12 - 24 Hours</input></div>-->
                    <div><input id="isOldChkBox"
                                type="checkbox" checked> Older than 24 Hours</input></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="stream-table">
                    <table align="center">
                        <thead>
                            <tr>
                                <th width="150px">Name</th>
                                <th width="200px">Stream</th>
                                <th>Location</th>
                                <th>Depth</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Controls</th>
                            </tr>
                        </thead>
                        <tbody class="table-rows">
                            <!-- insert the details of the stream here. color coded. -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            <div class="color-index">
                <div class="twelve-hours"></div><b>Recent 12 Hours</b>
                <div class="twenty-four-hours"></div><b>12 - 24 Hours</b>
                <div class="older"></div><b>Older than 24 Hours</b>
            </div>
            </div>
        </div>
    </div>
</div>
