<form>
  <div class="row" style="padding-bottom:8px;">
    <!-- Profile and additional plot controls  
    <div class="col-sm-6">    
      <label for="plotting-enable-line">Plot Type</label>
      <select id="plotting-select-plottype" class="selectpicker">
        <option value="timeseries">Time Series</option>
        <option value="depthprofile">Depth Profile</option>
      </select>   
    </div>
    -->

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <label for="plotting-enable-line">Line</label>
          <input class="bootstrap-switch btn btn-default" type="checkbox" id="plotting-enable-line" disabled checked data-size="mini">
        </div>
        <div class="col-sm-6">
          <label for="plotting-enable-scatter">Scatter</label>
          <input class="bootstrap-switch btn btn-default" type="checkbox" id="plotting-enable-scatter" data-size="mini">        
        </div>
      </div>
    </div>

    <div class="col-sm-6">      
      <div class="form-group">        
        <select id='profile-select' class="form-control selectpicker" disabled>
          <option value="All">All</option>              
        </select>
      </div> <!-- .form-group -->       
    </div>

  </div>  

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="start-date">Start Time</label>
        <div class='input-group date' id='start-date'>
          <input type='text' class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div> <!-- .input-group.date #start-date -->
      </div> <!-- .form-group -->
    </div> <!-- .col-sm-6 -->
    <div class="col-sm-6">
      <div class="form-group">
        <label for="end-date">End Time</label>
        <div class='input-group date' id='end-date'>
          <input type='text' class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div> <!-- .input-group.date #start-date -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="xvar-select">Dimension</label>
        <select id='xvar-select' class="form-control selectpicker">
          <option value="time">time</option>
          <% _.each(model.get('variables'), function(varName) { %>
          <% var varType = model.get('variable_types')[varName]; %>
            <% if(varType == 'int' || varType == 'float') { %>
              <% if(varName == 'pressure') { %>
                <option value="<%=varName%>"><%= varName %></option>
              <% } %>                
            <% } %>
          <% }); %>
        </select>
      </div> <!-- .form-group -->
    </div> <!-- .col-sm-6 -->
    <div class="col-sm-6">
      <div class="form-group">
        <label for="yvar-select">Field</label>
        <select id='yvar-select' class="form-control selectpicker" multiple>
          <% _.each(model.get('variables'), function(varName) { %>
          <% var varType = model.get('variable_types')[varName]; %>
            <% if(varType == 'int' || varType == 'float') { %>
            <option value="<%=varName%>"><%= varName %></option>
            <% } %>
          <% }); %>
        </select>
      </div> <!-- .form-group -->
    </div> <!-- .col-sm-6 -->
  </div> <!-- .row -->
</form>
