<% var hasPracsal = false %>
<% var hasTemp = false %>
<% var hasDepth = false %>

<div>
    <form role="form">
        <div id="plot-options">
            <div id="plot-type">
                <div class="form-group">
                    <label class="plot-type" for="xvar-select">Plot Type </label>
                    <select id='xvar-select' class="form-control" required>
                        <option value="" disabled>Select</option>
                        <option value="time" selected >Time Series</option>
                        <option value="ts-diagram">T-S Diagram</option>
                        <!-- <option data-subtext="" value="pressure">Depth Profile</option> -->
                        <option value="quiver">Quiver</option>
                        <option value="rose">Rose</option>
                        <option value="colorxyz">3D Colored Scatter</option>
                        <option value="stacked">Stacked Time Series</option>
                        <option value="interpolated">Interpolated</option>
                    </select>
                </div>
            </div>
            <div class="plot-control plot-range-fields">
                <div class="form-group">
                    <label for="time-range">Recent</label>
                    <div id="time-range">
                        <select class="form-control">
                            <option>Reset</option>
                            <option value="6">6 Hours</option>
                            <option value="12">12 Hours</option>
                            <option value="24" selected>24 Hours</option>
                            <option value="168">1 Week</option>
                            <option value="336">2 Weeks</option>
                            <option value="672">4 Weeks</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="start-time" class="form-group">
                <label class="start-time" for="start-date">Start Time (UTC)</label>
                <div class='input-group date' id='start-date'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div id="end-time" class="form-group">
                <label class="end-time" for="end-date">End Time (UTC)</label>
                <div class='input-group date' id='end-date'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div id="qaqc-test"  class="form-group">
                <label class="qaqc-test" for="plotting-enable-events">QAQC Test</label>
                <div>
                    <input class="bootstrap-switch btn" type="checkbox" id="plotting-enable-events" data-size="normal">
                </div>
            </div>
            <div id="qa-qc">
                <div class="div-qa-qc" >
                    <input type="radio" name="radio-qa-qc" value="1"></input><span>Global Range</span>
                    <input type="radio" name="radio-qa-qc" value="2"></input><span>Local Range</span>
                    <input type="radio" name="radio-qa-qc" value="3"></input><span>Spike</span>
                    <input type="radio" name="radio-qa-qc" value="4"></input><span>Polytrend</span>
                    <input type="radio" name="radio-qa-qc" value="5"><span>Stuck Value</span></input>
                    <input type="radio" name="radio-qa-qc" value="6"><span>Gradient</span></input>
                    <input type="radio" name="radio-qa-qc" value="7" style="display:none"><span style="display:none">Solar Elevation</span></input>
                    <input type="radio" name="radio-qa-qc" value="8" style="display:none"><span style="display:none">Propagate Flags</span></input>
                    <input type="radio" name="radio-qa-qc" value="9" style="display:none"><span style="display:none">Cond Compress</span></input>
                    <input type="radio" name="radio-qa-qc" value="10" checked><span>All</span></input>
                </div>
            </div>
        </div>
        <div id="data-selection">
            <label><%= model.get('display_name') %><br> <%= model.get('stream_name') %></label>
                <span style="float:right; position: relative;"><i class="fa fa-info-circle">&nbsp;Warning: Data are decimated</i></span>
                <br>
                <div class="checkbox">
                    <label>
                        <input id="paramVizCheck" type="checkbox"> Include Additional Parameters
                    </label>
                </div>
            <div id="yvar0-selection-default">
                <div class="form-group">
                    <label id='yvar0-select-default-text' for="yvar0-select-default" required>Select Y</label>
                    <li> </li>
                    <select data-width="100%" data-hide-disabled=true data-selected-text-format="count>3"  id="yvar0-select-default" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="6" required><option value="">Please Select</option></select>
                </div>
            </div>
            <div id="yvar1-selection">
                <div class="form-group">
                    <label id='yvar1-select-text' for="yvar1-select">Select X</label>
                    <li> </li>
                    <select data-width="100%" data-selected-text-format="count>3"  data-hide-disabled=true id="yvar1-select" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="1" >
                    </select>
                </div>
            </div>
            <div id="yvar2-selection">
                <div class="form-group">
                    <label id='yvar2-select-text' for="yvar2-select">Select Y</label>
                    <select data-width="100%" data-selected-text-format="count>3"  data-hide-disabled=true id="yvar2-select" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="1" >
                    </select>
                </div>
            </div>
            <div id="clear-interp-params">
                <div class="form-group">
                    <button id="reset-time" type="button" class="btn btn-default btn-xs" title="Reset Interpolated X and Y Parameters">
                        <span class="glyphicon glyphicon-refresh"></span> Clear
                    </button>
                </div>
            </div>
            <div id="yvar3-selection">
                <div class="form-group">
                    <label id='yvar3-select-text' for="yvar3-select">Select Z</label>
                    <select data-width="100%" data-selected-text-format="count>3"  data-hide-disabled=true id="yvar3-select" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="1" >
                    </select>
                </div>
            </div>
        </div>
        <div id="data-controls">
            <table class="data-controls">
                <tr class="data-controls">
                    <td class="data-controls" id="update-plot">Plot</td>
                    <td class="data-controls" id="add-plot">Add</td>
                    <td class="data-controls" id="download-data">Download Data</td>
                    <td class="data-controls" id="download-plot">Download Image</td>
                </tr>
            </table>
        </div>
    </form>
</div>
