<% var hasPracsal = false %>
<% var hasTemp = false %>
<% var hasDepth = false %>

<form>
  <div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="xvar-select">Plot Type <li id="xVarTooltip" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Timeseries plot for selected parameter.  You may overlay up to 6 other variables."></li></label>
          <select data-width="85%" id='xvar-select' class="form-control selectpicker">
            <option value="time">Time Series</option>
            <option value="ts-diagram">T-S Diagram</option>
            <option data-subtext="" value="pressure">Depth Profile</option>
            <option value="quiver">Quiver</option>
            <option value="rose">Rose</option>
            <option value="colorxyz">3D Colored Scatter</option>
              <!-- old options -->
          </select>

        </div> <!-- .form-group -->

    </div> <!-- .col-sm-3 -->
    <div class="col-md-2"  id="yvar0-selection-default">
        <div class="form-group">
          <label id='yvar0-select-default-text' for="yvar1-select">Select Y</label>
          <li> </li>
          <select data-width="85%" data-hide-disabled=true id="yvar0-select-default" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="6" >
          </select>
        </div> <!-- .form-group -->
    </div> <!-- .col-sm-3 -->
    <div class="col-md-2" style="display: none;" id="yvar1-selection">
        <div class="form-group">
          <label id='yvar1-select-text' for="yvar1-select">Select X</label>
          <li> </li>
          <select data-width="85%" data-hide-disabled=true id="yvar1-select" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="1" >
          </select>
        </div> <!-- .form-group -->
    </div> <!-- .col-sm-3 -->
    <div class="col-md-2" style="display: none;" id="yvar2-selection">
        <div class="form-group">
          <label id='yvar2-select-text' for="yvar2-select">Select Y</label>
          <select data-width="85%" data-hide-disabled=true id="yvar2-select" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="1" >
          </select>
        </div> <!-- .form-group -->
    </div> <!-- .col-sm-3 -->
    <div class="col-md-2" style="display: none;" id="yvar3-selection">
        <div class="form-group">
          <label id='yvar3-select-text' for="yvar3-select">Select Z</label>
          <select data-width="85%" data-hide-disabled=true id="yvar3-select" multiple title="Select" class="selectpicker toc-plotting-text" data-live-search="false" multiple data-max-options="1" >
          </select>
        </div> <!-- .form-group -->
    </div> <!-- .col-sm-3 -->
    <div class="col-md-2">
        <div class="form-group">
            <label for="start-date">Start Time (UTC)</label>
            <div class='input-group date' id='start-date'>
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div> <!-- .input-group.date #start-date -->
        </div> <!-- .form-group -->
    </div> <!-- .col-sm-3 -->
    <div class="col-md-2">
        <div class="form-group">
            <label for="end-date">End Time (UTC)</label>
            <div class='input-group date' id='end-date'>
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div> <!-- .input-group.date #end-date -->
        </div>  <!-- .form-group -->
    </div>  <!-- .col-sm-3 -->
    <div class="col-md-2">
        <div class="form-group" style="padding-top:0px;">
            <label for="plotting-enable-events">QAQC Test</label>
            <div>
                <input class="bootstrap-switch btn btn-default" type="checkbox" id="plotting-enable-events" data-size="normal">
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <button style="margin-top:25px;" id="update-plot" type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Update
        </button>
    </div>
</div>
<div id="qa-qc" class="row">
        <div class="div-qa-qc" style="display:none">
            <input type="radio" name="radio-qa-qc" value="1"><span>Global Range</span></input>
            <input type="radio" name="radio-qa-qc" value="2"><span>Local Range</span></input>
            <input type="radio" name="radio-qa-qc" value="3"><span>Spike</span></input>
            <input type="radio" name="radio-qa-qc" value="4"><span>Polytrend</span></input>
            <input type="radio" name="radio-qa-qc" value="5"><span>Stuck Value</span></input>
            <input type="radio" name="radio-qa-qc" value="6"><span>Gradient</span></input>
            <input type="radio" name="radio-qa-qc" value="7"><span>Solar Elevation</span></input>
            <input type="radio" name="radio-qa-qc" value="8"><span>Propagate Flags</span></input>
            <input type="radio" name="radio-qa-qc" value="9"><span>Cond Compress</span></input>
            <input type="radio" name="radio-qa-qc" value="10" checked><span>All</span></input>
        </div>
</div>
</form>
