<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
<div class="modal-dialog" >
    <div class="modal-content">
        <!-- dialog body -->
        <div class="modal-header">
            <h4 class="modal-title" id="termsModalLabel">OOI USER TERMS AND CONDITIONS </h4>
        </div>
        <div class="modal-body terms-modal">
            <h4> 1  Purpose </h4>
            The Ocean Observatories Initiative (OOI) program, funded by the National Science Foundation (NSF), is an interactive, distributed, and integrated network of ocean infrastructure supporting science-driven sensor systems to enable long-term, complex, interdisciplinary ocean investigations. This OOI User Terms and Conditions (T&Cs) pertain to the definition, collection, distribution, and use of all data and materials collected and produced by the OOI. It was established in accordance with accepted domestic and international best practices in marine and atmospheric science. The purpose of this document is to present the OOI User T&Cs.

            <br><br>
            <h4> 2  Definitions </h4>
            “OOI data” is defined as data or product(s) produced by or resulting from instruments connected to the OOI system, the OOI infrastructure, associated metadata, and any additional observations made as a result of quality control and assurance.
            A product is defined as an item or information that is derived from observational data through any kind of computation, processing and/or listing of raw data. This includes aggregation, analysis, modeling, or visualization processes.
            An OOI data “User” is defined as an individual, group or organization that receives or uses OOI data for any reason.

            <br><br>
            <h4> 3  Data Sources </h4>
            OOI data emanate primarily from three sources but is not limited to:
            Core – instruments that are part of the OOI infrastructure
            Ship-based – calibration and validation data collected during installation/recovery/maintenance cruises to the sites of OOI infrastructure
            Project Specific – instruments that are attached to or use the OOI infrastructure and are owned and operated by persons/organizations other than the OOI Program Office.
            Regardless of source, all data produced as a consequence of the OOI infrastructure are considered OOI data and are governed by this data policy and T&Cs.

            <br><br>
            <h4> 4  User Terms and Conditions </h4>
            This User Agreement (“Agreement”) is entered into by and between Woods Hole Oceanographic Institution (WHOI), program director of the Ocean Observatories Initiative (“OOI”), having a mailing address of 266 Woods Hole Road, Woods Hole, MA 02543 and the OOI Data User (User). By using data or materials from OOI Web site(s), you agree to the Terms and Conditions set forth in this document (the Agreement).
            <b>If you do not agree to be bound by these Terms and Conditions, please refrain from using data or materials originating or derived from the OOI Program. WHOI reserves the right to modify the Terms and Conditions at its discretion at any time. Such modifications will be effective when posted.</b>

            <br><b>WHOI provides and the User hereby accepts the OOI Data subject to the following terms and conditions:</b>

            <br>
            <h5>1.  Attribution.</h5> <b>The OOI Program requires an acknowledgement (in publications, conference papers, presentation, etc.) from those who use data from OOI, its tools or software.</b> Users are required to specifically acknowledge the National Science Foundation and the WHOI OOI Program Office when core data/infrastructure is used and individual researchers, groups, or organizations when project specific data is used.

            <br>
            <h5>2.  Data Use.</h5> The OOI Program is not responsible for how the data or materials provided are used.

            <br>
            <h5>3.  Dependability.</h5> The reliability, quality and completeness of data obtained through OOI are intended to be used in an education or research context. It is assumed that outages and errors can occur and are dealt with by the users of the data. <b>These data and software are not for use in operational or decision-making settings.</b>

            <br>
            <h5>4.  Accuracy and quality.</h5> OOI makes reasonable efforts to ensure that the data provided are accurate. However, there may be no Quality Control (QC) performed on data acquired and provided through the OOI program, and there may be no Quality Assurance (QA) provided on information on those data sets. Known data anomalies will be documented through annotations on the OOI website.

            <br>
            <h5>5.  Provision of Data.</h5> The OOI program both produces and through collaborations within the geosciences community, gains access to data sets which may be redistributed either directly or indirectly at no cost. With regard to data distribution, all Users must comply with any applicable U.S. export laws and regulations.

            <br>
            <h5>6.  Provision of Software.</h5> Software supported and distributed by OOI are available by downloading from the OOI web site.

            <br>
            <h5>7.  Limitations and Exceptions.</h5> OOI may (on a limited basis) consider exceptions to policies for individuals or organizations who fall outside of the current stated policy and desire access to certain data or tools, if: 1) a collaboration can be formed which will enhance and strengthen our community as a whole, 2) no violations of other agreements occur and, 3) the effort fits within available resources and workload.

            <br>
            <h5>8.  Breach.</h5> In the event of Agreement breach by the User, OOI may suspend or immediately terminate User access to OOI Sites and data and pursue any and all legal and equitable remedies available to it, although OOI is under no legal obligation to do so.

            <br>
            <h5>9.  Copyright.</h5> Any copyright notice contained in this Agreement or in any other part of OOI Sites shall remain intact and unaltered and shall be affixed to any use or copy thereof. The User must include an appropriate citation crediting the source of all or any portion of this material.

            <br>
            <h5>10. Links.</h5> OOI Sites may contain links to other websites that do not belong to OOI or the OOI program or it’s affiliates (“third-party sites”). Any third-party site is outside the domain of and is not under the control of the OOI program. The links are provided only as a convenience. OOI is not responsible for the content or use of any third-party site or any linked site contained within the third-party site, or any changes or updates thereto. No sponsorship, approval or endorsement of any product, service or information provided by the third-party site, the content of the site, or the site itself is intended or implied by the OOI program.

            <br>
            <h5>11. Privacy.</h5> The only information obtained about a User to OOI’s Site(s) is information supplied voluntarily by the User. This means that Users can visit the OOI Site(s) without providing identification or revealing any identifying information. In order to provide the highest quality service, meet OOI’s goals and reporting requirements, and gauge the effectiveness of the Site(s), OOI collects some general information about its users which does not individually identify anyone by email address or otherwise. Therefore, information about which pages a User visits, where and how a User links to the Web page(s), how much time is spent on each page, how many times a new User accesses the Web page, and the date and time of the visit, is automatically tracked in the aggregate. Some OOI programs or services may request specific User information, such as name and email address, and the User may decide whether to voluntarily supply that information.

            <br>
            <h5>12. Prohibited Uses.</h5> The following categories of use are inappropriate and prohibited:
            <br><br>– Use that is unlawful, harassing or threatening, libelous, defamatory, obscene, pornographic, or that would violate any law or the rights of others, including without limitation, laws against copyright infringement.
            <br><br>– Use that impedes, interferes with, impairs, or otherwise causes harm to the activities of others, including but not limited to spamming and distribution of computer viruses.
            <br><br>– Use that is damaging to the integrity of the Site(s), the Materials or other OOI systems, including but not limited to, attempts to defeat system security, unauthorized access or use, distribution of computer viruses, and modification or removal of data.
            <br><br>– Use for the purpose of lobbying that connotes OOI involvement.
            <br><br>– Use that may expose OOI Program Management to criminal or civil liability.
            <br><br>– The names, logos or abbreviations of OOI or OOI Program Management (or any combination thereof) may not be used in any advertising or publicity to endorse or promote any products or commercial entity unless specific written permission is obtained from OOI Program Management.

            <br>
            <h5>13. Support.</h5>  OOI does not provide User consulting services for the OOI Data unless otherwise agreed to by the parties in a separate writing. The OOI program will have a customer service “desk” where Users can ask basic questions about data and access difficulties.

            <br>
            <h5>14. Term and Termination.</h5>  This Agreement shall remain in effect for as long as the User uses the OOI Data. OOI may terminate this Agreement if the User breaches any term or condition of the Agreement.

            <br>
            <h5>15. Limitation of Liability and Disclaimer.</h5> OOI and its member Institutions WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES IN CONNECTION WITH OR ARISING FROM THE PROVISION OF, PERFORMANCE OF OR USE OF THE OOI DATA BY THE USER OR ANY THIRD PARTY. THE OOI DATA, INCLUDING ANY SOFTWARE, ARE PROVIDED “AS IS” AND THERE ARE NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. The parties expressly disclaim that the Uniform Computer Information Transactions Act (UCITA) applies to or governs this Agreement. OOI makes no warranties as to the adequacy of the OOI Data or associated documentation, or to its suitability for any applications. No written or oral information or advice given by OOI, its agents or employees shall create any warranty.

            <br>
            <h5>16. Indemnification.</h5> The User shall indemnify, defend and hold harmless OOI and any of its associates or affiliates (including program management, directors and officers) from and against any and all claims, losses, costs, damages and expenses (including reasonable attorneys’ fees) arising from or related to any claims or allegations of any nature whatsoever made against OOI and any of its associates or affiliates (including program management, directors and officers) as a result of the User’s use, integration, operation, commercialization, and performance of the OOI Data.

            <br>
            <h5>17. Fees.</h5> There is no fee for the Data or Data Products transferred to the User electronically. Data delivery via physical media may be possible in special situations, as determined by OOI with NSF approval. If the User wishes to receive the Data or Data Products on media, there may be a charge for the media and for shipping, handling, and any and all applicable taxes.

            <br><br>
                <h5>18. Miscellaneous.</h5>
            <br>a. No Third Party Beneficiary. This Agreement is expressly between the parties hereto, and no benefit, right or remedy to any third party is explicitly or implicitly intended by the parties to this Agreement.
            <br><br>b. Assignment. Any transfer, assignment or other conveyance, or attempt thereof, of the rights, duties and/or privileges under this Agreement by User shall immediately terminate this Agreement.
            <br><br>c. Survival of Terms. The obligations and rights set forth in items #15 and #16 shall survive the expiration and/or termination of this Agreement.
            <br><br>d. Governing Law. This Agreement shall be governed by the laws of the State of Massachusetts and of the United States, and shall be adjudicated by competent courts in the State of Massachusetts or in the United States, notwithstanding any conflicts of laws provisions. The interpretation of this Agreement specifically excludes international acts and treaties governing the sale and/or transfer of goods, such as the United Nations Convention on Contracts for the International Sale of Goods.
            <br><br>e. Order of Precedence. Any conflict between the terms of this Agreement regarding the OOI Data and any other terms or agreement shall be resolved in favor of the terms of this Agreement.

            <br><br>
            <h4> 5  Complete Agreement </h4>
            This Agreement constitutes the entire agreement between the parties with respect to the use of the Data or Data Products and supersedes all prior or contemporaneous understandings regarding such subject matter. The Agreement is subject to change as circumstances may require and as deemed necessary by OOI. OOI reserves the right to modify the Agreement at its discretion at any time. Such modifications will be effective when posted.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
        </div>
    </div>
</div>
<!-- </div> -->
