<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
  <div class="modal-dialog" >
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-header">
        <h4 class="modal-title" id="termsModalLabel">OOI USER TERMS AND CONDITIONS </h4>      
      </div>
      <div class="modal-body terms-modal">
        <%= message%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
      </div>
    </div>
  </div>
<!-- </div> -->
