<div class="cd-timeline-img cd-location">
  <i class="cd-text fa fa-rss"> </i>
</div> <!-- cd-timeline-img -->

<div class="cd-timeline-box">
  <div class="cd-timeline-content">
    <div class="cd-timeline-author">
      <%= name %>
    </div>
    <h2><a href="#" id="entry-title" data-type="text" data-title="Enter a title"><%= title %></a></h2>
    <p>
      <a href='#' id='entry-description' data-type="textarea" data-title="Enter a description">
        <%= description %>
      </a>
    </p>
    <div class="cd-read-more">
      <a href="#" class="save-entry">Save</a> |
      <a href="#" class="cancel-entry">Cancel</a>
    </div>
    <span class="cd-date"><%= dateString %></span>
  </div> <!-- cd-timeline-content -->
</div>

