<div class="cd-timeline-img cd-location">
  <i class="cd-text fa fa-rss"> </i>
</div> <!-- cd-timeline-img -->

<div class="cd-timeline-box">
  <div class="cd-timeline-content">
    <% if(owner) { %>
      <a href='#' class='delete-entry'><i class="fa fa-close"></i></a>
    <% } %>
    <div class="cd-timeline-author">
      <%= name %>
    </div>
    <% if(owner) { %>
    <h2><a href="#" class="edit-entry"><%= title %></a></h2>
    <% } else { %>
    <h2><%= title %></h2>
    <% } %>
    <p>
      <%= description %>
    </p>
    <div class="cd-read-more">
      <a href="#" class="show-comments">Read more</a> | 
      <a href="#" class="new-comment">New Comment</a>
    </div>
    <span class="cd-date"><%= dateString %></span>
  </div> <!-- cd-timeline-content -->
</div>
