<div class="cd-timeline-img cd-location">
  <img src="img/cd-icon-picture.svg" alt="Picture">
</div> <!-- cd-timeline-img -->

<div class="cd-timeline-box">
  <div class="cd-timeline-content">
    <h2><a href='#' id="new-entry-title" data-type="text" data-title="Enter a title">New Title</a></h2>
    <p>
      <a href='#' id="new-entry-description" data-type="textarea" data-title="Enter a description">Description goes here</a>
    </p>
    <a href="#" id="new-entry-submit" class="cd-read-more">Submit</a>
  </div> <!-- cd-timeline-content -->
</div>


