<ul class="nav sidebar-nav navbar-collapse">
  <li class="sidebar-search">
    <div class="input-group custom-search-form">
      <input id="search-filter" type="text" disabled="disabled" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
      <button class="btn btn-default btn-search " type="button">
        <i class="fa fa-search fa-inverse"></i>
      </button>
      <button class="btn btn-primary" type="button">
        <i class="fa fa-undo"></i> Reset
      </button>
    </span>
    </div>     
    <!-- /input-group -->
  </li>  

  <div class="panel-group" id="array-accordion" role="tablist" aria-multiselectable="true">
  </div>
</ul>

