<select id="search-param">
    <option selected>Select a parameter to filter table of contents</option>
    <option>None</option>
        <% _.each(Object.keys(params), function(key) { %>
            <optgroup label="<%=key%>">
                <% _.each(params[key], function(item){ %>
                    <option id="<%= item[0]  %>" value="<%= item[0]  %>"><%= item[1] %></option>
                <% })%>
            </optgroup>
        <%;}); %>
</select>
<div class="toggle-btns">
    <% _.each(toggles, function(item) { %> <span id="<%= item[0] %>"><%= item[1] %></span><% }) %>
</div>
