<!-- set up the modal to start hidden and fade in and out -->
<!-- <div id="myModal" class="modal fade"> -->
  <div class="modal-dialog" >
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-header">
        <h4 class="modal-title" id="alertModalLabel">Triggered Alerts and Alarms </h4>      
      </div>
      <div class="modal-body mission-modal" style='max-height: 500px;overflow-y: auto;'>
        <div style='color:#337ab7;float: right;font-size: medium;'><b><%= instrument%></div>
        <div style='padding-top:18px'><h4>Recently Triggered </h4></div>
        <%= recent%>
        <div style='padding-top:18px'><h4>Triggered History</h4></div>
        <%= history%>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" disabled data-dismiss="modal">Open Terminal</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
<!-- </div> -->
