<!-- <div id="page-content-wrapper"> -->
<!-- <div id="container&#45;fluid" class="container&#45;fluid"> -->
<!--   <!&#45;&#45; header &#45;&#45;> -->
<!--   <div class="row"><!&#45;&#45; row 1 &#45;&#45;> -->
<!--     <div class="col&#45;sm&#45;4"> -->
<!--       <!&#45;&#45; header left side &#45;&#45;> -->
<!--     </div> -->
<!--     <div class="col&#45;sm&#45;4"> -->
<!--       <form class="form&#45;horizontal" role="form"> -->
<!--         <h2>Trouble Ticket Submission</h2> -->
<!--       </form> -->
<!--     </div><!&#45;&#45; header col&#45;sm&#45;4 &#45;&#45;> -->
<!--     <div class="col&#45;sm&#45;4"> -->
<!--       <!&#45;&#45; header left side &#45;&#45;> -->
<!--     </div> -->
<!--   </div><!&#45;&#45; row 1 &#45;&#45;> -->
<!--   <hr width="25%"> -->
  <!-- <div class="waterImg"> USE THIS FOR ADDING AN IMAGE WHEN READY-->

  <div class="container-fluid">
    <!-- upper body-->
    <br />
    <div class="row"><!-- row 2 -->
      <div class="col-sm-4">
        <!-- upper left side -->
      </div>
      <div class="col-sm-4">
        <!-- upper main left-->
        <div id="form-group" class="form-group">
          <input type="text" class="form-control" id="username" name="username" disabled="disabled" placeholder="You shouldn't see this"/>
          <span class="help-block hidden"></span>
        </div>
          <br>
          <div class="form-group">
          <input type="text" class="form-control" id="subject" name="subject" placeholder="Title/Subject"/>
          <span class="help-block hidden"></span>
        </div><!-- upper form-group -->
        <hr>
      </div><!-- upper col-sm-4 -->
      <div class="col-sm-4">
        <!-- upper main right side -->
        
        <div class="form-group">
          <div class='radio' data-toggle='radio'>
            <label class='radio control-label'>
              <input type="radio" name="priority_id" id='low' value="1"/>Low
            </label>
          </div>

          <br>
          <div class='radio' data-toggle='radio'>

            <label class='radio control-label'>
              <input type="radio" name="priority_id" id='medium' value="2"/>Medium
            </label>
          </div>
            <br>
            <div class='radio' data-toggle='radio'>

              <label class='radio control-label'>
                <input type="radio" name="priority_id" id="high"  value="3"/>High
              </label>
            </div>
           
            <br>
            <div class='radio' data-toggle='radio'>

              <label class='radio control-label'>
                <input type="radio" name="priority_id" id="urgent" value="4"/>Urgent
              </label>
              <span class='help-block hidden'></span>
            </div>

            <br>
          </div><!-- upper form-group -->
        </div><!-- upper col-sm-4 -->
        <div class="col-sm-4">
          <!-- upper right side -->
        </div>
      </div> <!-- row 2-->
      <br />

      <!-- lower body-->
      <div class="row"><!-- row 4 -->
        <div class="col-sm-4">
          <!-- lower left side -->
        </div>
        <div class="col-sm-4">
          <!-- lower left side-->
          <div class="form-group">
            <!-- ****
            GOOD: <textarea></textarea>
            BAD: <textarea>
          </textarea>
          **** -->
          <textarea class="form-control" rows="6" name="description" id="description" placeholder="Description"></textarea>
          <span class="help-block hidden"></span>

        </div><!-- form-group -->
      </div><!-- lower col-sm-4 -->

      <div class="col-sm-4">
        <!-- lowe main right side -->
        <div class="form-group bump">
          <div class="input-group input-append date"  id="datePicker" data-date-format="yyyy-mm-dd">
            <input type="text"  class="ticketCalendar add-on"  name="due_date" id="due_date" placeholder="&#xf073; Due Date" />
            <span class="help-block hidden"></span>
          </div><!-- input-group -->
        </div><!-- bump -->
        <br>
        <div class="bump">
          <div class="form-group">
            <select id="assigned" name="assigned" class="typeDrop"><!--event-type-selection-->
            </select>
            <span class="help-block hidden"></span>

          </div> <!-- .form-group -->
        </div><!-- bump -->
        <br>
        <div>
          <button class="btn btn-reset id="resetTicketButton" type="button">
            <span class="fa fa-circle-o-notch" aria-hidden="true"></span> Reset</button>
            <button id='submitTicketButton' class="btn btn-success" type="button">
              <span class="fa fa-check" aria-hidden="true"></span> Submit</button>
            </div><!-- btn-group-sm -->
          </div><!-- col-sm-4  -->

          <div class="col-sm-4">
          </div> <!-- col-sm-4 -->
        </div><!-- row 4 -->
      </div><!-- container-fluid -->

      <!-- </div> waterImg -->
    </div><!-- container-fluid -->
