<form id="user-edit-form" class="form-horizontal" role="form">
  <h3>Profile</h3> 
  <hr width="80%">
  <div class="form-group ">
    <label for="username" class="col-sm-3 control-label">User Name</label>
    <div class="col-sm-6">
      <input disabled="disabled" type="text" class="form-control" id="username" name="username" />
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group ">
    <label class="col-sm-3 control-label">Account Enabled</label>
    <div class="col-sm-6">
      <input type="checkbox" class="form-control" id="active" name="active" style="box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.075);" />
      <span class="help-block hidden"></span>
    </div>
  </div>

  <hr width ="80%">

  <div class="form-group">
    <label for="firstname" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-6">
      <input disabled="disabled" type="text" class="form-control" id="first_name" name="first_name" />
      <span class="help-block hidden"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname" class="col-sm-3 control-label">Last Name</label>
    <div class="col-sm-6">
      <input disabled="disabled" type="text" class="form-control" id="last_name" name="last_name" />
      <span class="help-block hidden"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="primary" class="col-sm-3 control-label">Primary Phone</label>
    <div class="col-sm-6">
      <input disabled="disabled" type="text" class="form-control" id="primary_phone" name="primary_phone" />
      <span class="help-block hidden"></span>
    </div> 

  </div>
  <div class="form-group">
    <label for="secondary" class="col-sm-3 control-label">Secondary Phone</label>
    <div class="col-sm-6">
      <input disabled="disabled" type="text" class="form-control" id="secondary_phone" name="secondary_phone" />
      <span class="help-block hidden"></span>
    </div>   
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-6">
      <input disabled="disabled" type="email" class="form-control" id="email" name="email" />
      <span class="help-block hidden"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="organization" class="col-sm-3 control-label">Organization</label>
    <div class="col-sm-6">
      <input disabled="disabled" type="text" class="form-control" id="organization" name="organization" />
      <span class="help-block hidden"></span>
    </div>
  </div>
  <h3> User Scopes </h3>
  <div class="form-group">
    <% scopes.each(function(scope) { %>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="pull-left checkbox">
        <input class="scope_selection" type="checkbox" value="<%= scope.get('scope_name') %>">
        <%= scope.get('scope_name') %>
      </div>
    </div>
    <% }); %>
  </div>
  <hr width="80%">    

  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" id="submitButton" class="btn btn-success">Submit</button>
      <button type="button" id="resetButton" class="btn btn-reset">Reset</button>

    </div>                 
  </div>
</form>
