<!-- <div class="panel"> -->
  <div class="panel-heading">
    <strong><span class="fa fa-navicon"></span> Watches</strong>
    <div class="pull-right dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="disabled dropdown-menu">
        <li class="disabled">
          <a href="#">You shouldn't see this</a>
        </li>
      </ul>
    </div> <!-- .pull-right .dropdown -->
  </div> <!-- .panel-heading -->

  <div id="panelWatch" class="panel-body">
    <div class="list-group">
      <% collection.each(function(model) { %>
      <div class="watch-item" data-id="<%= model.get('id') %>">
        <% if(model.get("end_time") != null) { %>
        <a class="li-closed list-group-item" href="#">
        <% } else { %>
        <a class="li-open list-group-item" href='#'>
        <% } %>
          <div class="watch-title">
            <%= model.getName() %>
          </div>
          <div class="watch-when">
            <%= model.getDates() %>
          </div>
        </a>
      </div>
      <% }); %>
    </div> <!-- .list-group -->
  </div> <!-- #panelWatch -->
<!-- </div> -->
