{% extends "common/base.html" %}

{% block title %}
  <title>Asset Management</title>
{% endblock %}

{% block head %}
<link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
{# <link rel="stylesheet" type="text/css" href="/css/common/assets.css"> #}

<script src="/js/partials/compiled/index.js" type="text/javascript"></script>
<script src="/js/partials/compiled/asset_management.js" type="text/javascript"></script>
<script src="/js/compiled/index.js" type="text/javascript"></script>
<script src="/js/views/asset_management/AssetView.js" type="text/javascript"></script>
<script src="/js/models/asset_management/AssetModel.js" type="text/javascript"></script>
<script src="/js/core/common/paginate.js" type="text/javascript"></script>
<script src="/js/compiled/asset_management.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>

<div id="wrapper" class="toggled">
    {# <div id="sidebar-wrapper" class="hidden navbar-default"> #}
  {# </div>  #}
  <!-- #sidebar-wrapper -->
  <div id="page-content-wrapper">
    <div class="content-fluid">
      <div class="row">
        <div  class="col-sm-12">
          <div id="navbarOld" class="panel">
            <div class="modal fade" id="assetEditorModal" tabindex="-1" role="dialog" aria-labeledby="assetEditorModalLabel" data-backdrop="static">
        <!-- ooiui/static/js/partials/AssetEditorModal.html -->
            </div>
            <div class="modal fade" id="ass tetCreatorModal" tabindex="-1" role="dialog" aria-labeledby="assetCreatorModalLabel" data-backdrop="static">
        <!-- ooiui/static/js/partials/AssetCreatorModal.html -->
            </div>
            <div id="assetTableHeading" class="panel-heading hidden">
      <!-- ooiui/static/js/partials/AssetTableHeader.html -->
            </div>
            <i class="fa fa-circle-o-notch fa-spin" style="margin-left:50%; font-size:90px;"></i>
            <div id="assetPanelBody" class="panel-body hidden">
              <div id="asset-table-view">
                <table class="table table-bordered table-striped table-selectable" id="assetsTable">
                  <thead>
                    <tr>
                      <th id="assetTableIdCol">ID#</th>
                      <th>Name</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
            <!-- ooiui/static/js/partials/AssetTableRow.html -->
                  </tbody>
                </table>
              </div><!-- #asset-table-view -->
              <div class="pagination-info text-center"></div>
              <div id="footer"></div>
            </div><!-- .panel-body -->
          </div>
        </div><!-- .col-sm-12 -->
      </div><!-- .row -->
  

      <div class="row">
        <div id="assetDetailsPlaceholder" class="jumbotron text-center hidden">
          <h3>Please click an asset to view details</h3>
        </div>
        <div id="assetLoadingPlaceholder" class="jumbotron text-center">
          <h3>Loading Assets, please wait...</h3>
        </div>
      </div>
      <div class="row">
        <div id="assetAttachmentsTable" class="col-md-12">
          <!-- ooiui/static/js/partials/AssetAttachmentsTable.html -->
        </div>
      </div>
      <div class="row">
        <div id="assetInspector" class="col-md-6">
          <!-- ooiui/static/js/partials/AssetInspectorForm.html -->
        </div>
        <div id="assetEventsTable" class="col-md-6">
          <!-- ooiui/static/js/partials/AssetEventTable.html -->
        </div>
      </div><!-- .row -->
    </div><!-- .content-fluid -->
  </div><!-- #page-content-wrapper -->
</div><!-- #wrapper -->

<!-- Menu Toggle Script -->
<script type="text/javascript">

var bannerTitle = "Asset Dashboard";

_.extend(OOI.prototype, Backbone.Events, {
    login: new LoginModel(),
    models: {
        userModel: new UserModel()
    },
    start: function() {
    this.login.fetch({async:false});

    banner = new BannerView({bannerTitle});

    navbar = new NavbarView({
    login: this.login
    });
    
    footer = new AssetTabelFooterView({});
    
    //Render the asset table header
    renderAssetTableHeader();

    updateCollection( showAssets );

    this.listenTo(collection, "collection:updated", function(details){
        vent.trigger('asset:tableDerender');
        updatePagination(details, showAssets);
    });

    this.listenTo(vent, 'asset:changeCollection', function() {
        vent.trigger('asset:tableDerender');
        updateCollection( showAssets );
    });

    this.listenTo(vent, "asset:renderSubViews", function(model) {
        vent.trigger('asset:derender');
        renderAssetInspector(model);
        renderAssetEventsTable(model);
        renderAssetAttachmentsTable(model);
    });

    this.listenTo(this, "login:success", this.onLogin);
    this.listenTo(this, "login:logout", this.onLogout);
    }
});

var vent = _.extend({}, Backbone.Events);

// Main collection for this page's asset information.
var collection = new AssetCollection();

var ooi = new OOI();

var pagination = {
    itemsPerPage: 10,
    currentPage: 1,
    maxPages: 10
};

$(document).ready(function() {
  ooi.start();
  
   
    $('body').prepend(banner.el);
    
    $('navbarOld').find('#search-clear').hide();
    $('#search-clear').click(function(){
        $('#asset-search').val('').focus();
        $(this).hide();
        updateCollection( showAssets);
    });
    $('#asset-search').keyup(function(e) {
        $('#search-clear').toggle(Boolean($(this).val()));
        $('#search-clear').toggle(Boolean($('#asset-search').val()));
        updateCollection( showAssets );
    });
    $('#navbar').append(navbar.el);
    $('#menu-toggle').hide();
    $('#sidebar-wrapper').hide();
    $('.navbar-brand').html('OOI Assets and Configuration');
    $('#footer').append(footer.el);
});

function showAssets( collection, response ){

    //Clean up the loading stuff and get ready to show the table
    $('i.fa-spin').remove();
    $('div#assetPanelBody').removeClass('hidden');
    $('div#assetLoadingPlaceholder').remove();
    $('#assetDetailsPlaceholder').removeClass('hidden');
    $('#assetTableHeading').removeClass('hidden');

    // Create the view that will hold the list of assets.
    var assetsTableView = new AssetsTableView({ collection: collection });
    assetsTableView.render();

    // Empty the table and append the new results.
    $('#assetsTable').find('tbody').remove().end();
    $("#assetsTable").append( assetsTableView.el );
}

function renderAssetTableHeader(collection) {
    //create the table header for the assets table.
    //Will manage the search box, the pagination boxes and the asset creator button.
    var assetTableHeaderView = new AssetTableHeaderView({ collection: collection });
    assetTableHeaderView.render();

    $('#assetTableHeading').children().remove();
    $('#assetTableHeading').append( assetTableHeaderView.el );
}

function renderAssetInspector(model) {
    //create a new asset inspector (info) panel and render it's view.
    var assetInspectorView = new AssetInspectorView({ model:model });
    assetInspectorView.render();

    //Clear out the old asset inspector panel DOM
    $('#assetInspector').children().remove();

    //Then attach the new one.
    $('#assetInspector').append( assetInspectorView.el );
}

function renderAssetEventsTable(model) {
    //create a new event table panel and reder it's view.
    var assetEventsTableView = new AssetEventsTableView({ model:model });
    assetEventsTableView.render();

    //clear out the old events table panel DOM
    $('#assetEventsTable').children().remove();

    //then put the newly created view into the DOM.
    $('#assetEventsTable').append( assetEventsTableView.el );
}

function renderAssetAttachmentsTable(model) {
    //create a new attachments table and render it's view.
    var assetAttachmentsTableView = new AssetAttachmentsTableView({ model:model });
    assetAttachmentsTableView.render();

    //remove the old attachment panel.
    $('#assetAttachmentsTable').children().remove();
    //attach the new one!
    $('#assetAttachmentsTable').append( assetAttachmentsTableView.el );
}

function updateCollection( successCallback ){

    // If there is a search term, we need to set the startAt attribute to 0,
    // otherwise the results may not load on the page.
    if ($('#asset-search').is(':focus')) {
        startingPoint = 0;
    } else {
        startingPoint = ( pagination.currentPage - 1) *  pagination.itemsPerPage;
    }
    // Pagination attributes will be passed in using
    // backbone's collection data method.
    var data = {
        startAt : startingPoint,
        count : pagination.itemsPerPage,
        search : $('#asset-search').val()
    };
    collection.fetch({
        data : data,
        success : successCallback,
    //    error : showError
    });
}

function updatePagination( details, successCallback ){
    // Calculate pagination attributes
    var start = details.startAt + 1,
        end = details.startAt + details.count,
        totalPages = Math.ceil( details.total / pagination.itemsPerPage ),
        currentPage = details.startAt / details.count + 1;

    // Display a "Page 1 of 5" type message on the page
    if (end >= details.total) {
        $(".pagination-info").text("Showing records " + start + " through " + details.total + " of " + details.total );
    } else {
        $(".pagination-info").text("Showing records " + start + " through " + end + " of " + details.total );
    }
    // Remove the pagination binding so they don't get called
    // multiple times after they're redrawn.
    $(".pagination-boxes").unbind();

    // Redraw the jquery pagination boxes
    $(".pagination-boxes").pagination({
        total_pages: totalPages,
        display_max: pagination.maxPages,
        current_page: currentPage,
        callback: function(event, page) {
            if ( page ){
                pagination.currentPage = page;
                updateCollection( successCallback );
            }
        }
    });
}

function isoToDateTime( strInput ) {
    var temp = (String(strInput).search('Z') > 1) ? String(strInput).split('Z') : false;
    var returnDate = (true) ? new Date(Date.parse(temp[0])) : new Date(temp);
    return returnDate;
}
function dateTimeToISO( strInput ) {
    var temp = Date.parse(strInput);
    var parseDate = new Date(temp);
    var isoDateReturn = parseDate.toISOString();
    return isoDateReturn;
}
</script>
{% endblock %}
