{% extends "common/base.html" %}

{% block title %}
  <title>Asset Management</title>
{% endblock %}

{% block beforebootstrap %}

{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/css/common/assets.css">
  <link rel="stylesheet" type="text/css" href="/css/common/assetEditorModal.css">
  <link href="/css/compiled/asset_management.css" rel="stylesheet" type="text/css"/>


  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/asset_management.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/js/views/asset_management/AssetView.js" type="text/javascript"></script>
  <script src="/js/views/asset_management/AssetEventsView.js" type="text/javascript"></script>
  <script src="/js/models/asset_management/AssetModel.js" type="text/javascript"></script>
  <script src="/js/models/asset_management/AssetEventsModel.js" type="text/javascript"></script>
  <script src="/js/models/asset_management/AlfrescoDocumentModel.js" type="text/javascript"></script>
  <script src="/js/views/asset_management/AlfrescoDocumentView.js" type="text/javascript"></script>
  <script src="/js/core/common/paginate.js" type="text/javascript"></script>
  <script src="/js/compiled/asset_management.js" type="text/javascript"></script>
  <script src="/js/compiled/data_catalog.js" type="text/javascript"></script>

  {% block link %}
    {{ super() }}
  {% endblock %}
  {% block script %}
    {{ super() }}
  {% endblock %}
  <style>
    #search-param: { display: none; }
  </style>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id="navbar" class="row"></div>
  </div>

  {#  {% block page_controls %}#}
  {#    {{ super() }}#}
  {#  {% endblock %}#}
  <div id="wrapper" style="padding-left: 0">
    <div id="page-content-wrapper">
      <div class="container-fluid">
        {#        {% block sidebar %}#}
        {#          {{ super() }}#}
        {#        {% endblock %}#}
        <div id="page-content">
          <div class="row">
            <div class="col-md-12">
              <div style="width:100%;">
                <span style='margin-left:0px;font-weight:600;font-size:16px'>Quick Table Actions</span>
              </div>
              <div id="dcGroupings">
                <button type='button' title='Reset Table Filters' style='float:left;margin-bottom:15px;' id='dcScienceFilter' class='btn btn-primary btn-xs' onclick='setScienceFilter("","");'><i style='font-size:14px;float:left;pointer-events: none;'>Reset Table</i></button>
                <a target="_blank" href="/api/asset_deployment?export=json" id="assetExportBtn" class="btn btn-primary btn-xs" style="float:left;margin-bottom:15px;margin-left: 5px;">Export Asset Information (JSON)</a>
{#                <div class="toggle-btn-grp cssonly">#}
{#                  <div><input type="radio" name="group4"/><label onclick="" class="toggle-btn">Valid Assets</label></div>#}
{#                  <div><input type="radio" name="group4"/><label onclick="" class="toggle-btn">Invalid Assets</label></div>#}
{#                </div>#}
              </div>
            </div>
            <div class="col-md-12">
              {#              <div id="streamPanel" class="panel">#}
              {#              </div>#}


              <!-- jqGrid -->
              <div>
                <div id="navGrid" class="redmond"></div>
                <table id="grid" class="redmond"></table>
              </div>
            </div>
          </div> <!-- .panel -->
        </div>
        {#        <div class="row" style="margin-top: 105px;">#}
        {#          <div  class="col-sm-12">#}
        {#            <div id="navbarOld" class="panel">#}
        {##}
        {#              <div id="assetTableHeading" class="panel-heading hidden">#}
        {#                <!-- ooiui/static/js/partials/AssetTableHeader.html -->#}
        {#              </div>#}
        {#              <!--<i class="fa fa-spinner fa-spin" style="margin-left:50%; font-size:90px;"></i>-->#}
        {#              <div id="assetPanelBody" class="panel-body hidden">#}
        {#                <div id="asset-table-view">#}
        {#                  <table class="table table-bordered table-striped table-selectable table-hover" id="assetsTable">#}
        {#                    <thead>#}
        {#                    <tr>#}
        {#                      <th id="assetTableIdCol">ID#</th>#}
        {#                      <th>Name</th>#}
        {#                      <th>Type</th>#}
        {#                      <th></th>#}
        {#                    </tr>#}
        {#                    </thead>#}
        {#                    <tbody>#}
        {#                    <!-- ooiui/static/js/partials/AssetTableRow.html -->#}
        {#                    </tbody>#}
        {#                  </table>#}
        {#                </div><!-- #asset-table-view -->#}
        {#                <div id="footer">#}
        {#                  <!-- ooiui/static/js/partials/AssetTableFooter.html -->#}
        {#                </div>#}
        {#              </div><!-- .panel-body -->#}
        {#            </div>#}
        {#          </div><!-- .col-sm-12 -->#}
        {#        </div><!-- .row -->#}

        {#        <div class="row">#}
        {#          <div id="assetDetailsPlaceholder" class="jumbotron text-center hidden">#}
        {#            <h3>Please click an asset to view details</h3>#}
        {#          </div>#}
        {#          <div id="assetLoadingPlaceholder" class="jumbotron text-center">#}
        {#            <h3>Loading Assets, please wait...</h3>#}
        {#          </div>#}
        {#        </div>#}
        {#        <div class="row">#}
        {#          <div id="assetInspector" class="col-md-6">#}
        {#            <!-- ooiui/static/js/partials/AssetInspectorForm.html -->#}
        {#          </div>#}
        {#          <div id="assetEventsTable" class="col-md-6">#}
        {#            <!-- ooiui/static/js/partials/AssetEventTable.html -->#}
        {#          </div>#}
        {#        </div><!-- .row -->#}
      </div><!-- .content-fluid -->
    </div><!-- #page-content-wrapper -->

    {#    <!-- modal needs to me outside or it will be behind banner/navbar -->#}
    {#    <div class="modal fade" id="assetEditorModal" tabindex="-1" data-keyboard="false" role="dialog" aria-labeledby="assetEditorModalLabel" data-backdrop="static">#}
    {#      <!-- ooiui/static/js/partials/AssetEditorModal.html -->#}
    {#    </div>#}
    {#    <div class="modal fade" id="assetCreatorModal" tabindex="-1" data-keyboard="false" role="dialog" aria-labeledby="assetCreatorModalLabel" data-backdrop="static">#}
    {#      <!-- ooiui/static/js/partials/AssetCreatorModal.html -->#}
    {#    </div>#}
    {#    <div class="modal fade" id="eventEditorModal" tabindex="-1" data-keyboard="false" role="dialog" aria-labeledby="eventEditorModalLabel" data-backdrop="static">#}
    {#      <!-- ooiui/static/js/partials/EventEditorModal.html -->#}
    {#    </div>#}
  </div><!-- #wrapper -->

  <!-- Menu Toggle Script -->
  <script type="text/javascript">

    var bannerTitle = "Asset Management";

    _.extend(OOI.prototype, Backbone.Events, {
      login: new LoginModel(),
      views: {
        headerView: null
      },
      models: {
        userModel: new UserModel()
      },
      start: function() {
        this.login.fetch({async:false});

        banner = new BannerView({bannerTitle: bannerTitle});

        navbar = new NavbarView({
          login: this.login
        });

        this.views.banner = new BannerView({bannerTitle : bannerTitle});
        $('body').prepend(this.views.banner.el);

        this.views.navbar = new NavbarView({
          el: $('#navbar')
        });

        this.views.navbar = new NavbarView();
        $('body').prepend(this.views.navbar.el);

        {#        footer = new AssetTabelFooterView({});#}
        {##}
        {#        //Render the asset table header#}
        {#        this.views.headerView = renderAssetTableHeader();#}
        {##}
        {#        updateCollection( showAssets );#}
        {##}
        {#        this.listenTo(collection, "collection:updated", function(details){#}
        {#          vent.trigger('asset:tableDerender');#}
        {#          updatePagination(details, showAssets);#}
        {#        });#}
        {##}
        {#        this.listenTo(vent, 'asset:changeCollection', function() {#}
        {#          vent.trigger('asset:tableDerender');#}
        {#          updateCollection( showAssets );#}
        {#        });#}
        {##}
        {#        this.listenTo(vent, "asset:renderSubViews", function(model) {#}
        {#          vent.trigger('asset:derender');#}
        {#          renderAssetInspector(model);#}
        {#          renderAssetEventsTable(model);#}
        {#        });#}
        {##}
        {#        this.listenTo(vent, "asset:renderDocsTable", function(model) {#}
        {#          renderRemoteDocuments(model);#}
        {#        });#}

        this.listenTo(this, "login:success", this.onLogin);
        this.listenTo(this, "login:logout", this.onLogout);
        // TOC Controls
        this.listenTo(this, 'toc:selectArray', function(model) {
          {#          var searchFor = model.get('array_name').substr(0,14);#}
          {#          $('#search').val(searchFor);#}
          {#          $('#search-clear').show();#}
          {#          updateCollection( showAssets );#}
        });
        this.listenTo(this, 'toc:selectPlatform', function(model) {
          {#          var searchFor = model.get('ref_des').substr(0,8);#}
          {#          $('#search').val(searchFor);#}
          {#          $('#search-clear').show();#}
          {#          updateCollection( showAssets );#}
        });

        this.listenTo(this, 'toc:selectInstrument', function(model) {
          {#          var searchFor = model.get('ref_des');#}
          {#          $('#search').val(searchFor);#}
          {#          $('#search-clear').show();#}
          {#          updateCollection( showAssets );#}
        });
        this.listenTo(this, 'toc:selectAssembly', function(model) {
          {#          var searchFor = model.get('ref_des').substr(0,11);#}
          {#          $('#search').val(searchFor);#}
          {#          $('#search-clear').show();#}
          {#          updateCollection( showAssets );#}
        });
      }
    });

    var vent = _.extend({}, Backbone.Events);

    // Main collection for this page's asset information.
    var collection          = new AssetCollection();
    var assetCollection     = new AssetCollection();
    var arrayCollection     = new ArrayCollection();
    var streamCollection    = new StreamCollection();

    var ooi = new OOI();

    // url arguments
    var data = { min : 'True' };
    // begin the iterative fetching of arrays, assets, and streams.
    var arrayFetch = arrayCollection.fetch({ reset: true });
    var assetFetch = assetCollection.fetch({ data: data, reset: true });
    var streamFetch = streamCollection.fetch({ data: data,  reset: true });
    {#    $.when(arrayFetch, assetFetch, streamFetch).done(function() {#}
    {#      $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {#}
    {#        $('#search-param').remove();#}
    {#        $('.detached').remove();#}
    {#        vent.trigger('toc:cleanUp');#}
    {#        vent.trigger('toc:hideStreams');#}
    {#        $('#menu-toggle').trigger('click');#}
    {#        focusToItem();#}
    {#      });#}
    {#    });#}

    // Page Controls
    {#    var pageControlModel = new AssetManagementPageControlModel();#}
    {#    var pageControlView = new AssetManagementPageControlView({model: pageControlModel, el: $('#buttons')});#}
    {#    pageControlView.render();#}
    {##}
    {#    var pagination = {#}
    {#      itemsPerPage: 10,#}
    {#      currentPage: 1,#}
    {#      maxPages: 10#}
    {#    };#}

    // Sets up the action buttons in the jqGrid table
    var createActionButtons = function(cellvalue, options, rowObject){
      console.log(rowObject);
      var actionButtons = "<div style='display: flex;justify-content: space-between;'>";
      actionButtons += "<button type='button' title='Plot' style='float:left' id='goPlot' class='btn btn-default' onclick=\"openPlot('"+rowObject.ref_des+"');\"><i style='font-size:14px;float:left;pointer-events: none;' class='fa fa-bar-chart' aria-hidden='true'></i></button>";
{#      actionButtons += "<button type='button' title='Download' style='float:right' id='goDownload' class='btn btn-default' onclick=\"openDownload('"+rowObject.ref_des+"');\"><i style='font-size:14px;float:left;pointer-events: none;' class='fa fa-download' aria-hidden='true'></i></button>";#}
      actionButtons += "<button type='button' title='Data Catalog' style='float:left' id='goDataCatalog' class='btn btn-default' onclick=\"openDataCatalog('"+rowObject.ref_des+"');\"><i style='font-size:14px;float:left;pointer-events: none;' class='fa fa-database' aria-hidden='true'></i></button>";
      actionButtons += "</div>";
      return actionButtons;
    };

    // Opens the plotting page
    var openPlot = function(ref_des){
      location.origin = location.protocol + "//" + location.host;
      var win = window.open(location.origin+"/plotting/#"+ref_des, '_blank');
      win.focus();
    };

    // Opens the download modal
    var openDownload = function(ref_des) {
      var dlModel = collection.where({ref_des:ref_des})[0];
      dlModel.attributes.email = ooi.models.userModel.attributes.email;
      ooi.trigger('StreamTableItemView:onClick', {model: dlModel});
    };

    var openDataCatalog = function(ref_des) {
      location.origin = location.protocol + "//" + location.host;
      var win = window.open(location.origin+"/datacatalog/#"+ref_des.substr(0,2), '_blank');
      win.focus();
    };

    var getEditUrl = function() {
      console.log(lastsel2);
      location.origin = location.protocol + "//" + location.host;
      return location.origin+"/api/asset_deployment/"+lastsel2;
    };

    // Colors the end time
    var colorTime = function(cellvalue, options, rowObject) {
      var currentDate = new Date();
      var endDate = new Date(cellvalue);
      var timeSinceEndDate = currentDate.getTime()-endDate.getTime();

      // Base cell output is no background
      var cellOutput = '<i>'+cellvalue+'</i>';
      if(timeSinceEndDate <= 1000*60*60*12 && timeSinceEndDate >= 0){
        cellOutput = '<i class="twelve-hours">'+cellvalue+'</i>';
      } else if(timeSinceEndDate < 1000*60*60*24 && timeSinceEndDate >= 0){
        cellOutput = '<i class="twenty-four-hours">'+cellvalue+'</i>';
      } else if(timeSinceEndDate >= 1000*60*60*24 && timeSinceEndDate >= 0){
        cellOutput = '<i class="older">'+cellvalue+'</i>';
      }
      return cellOutput;
    };

    $(document).ready(function() {
      $(".delayImg").each(function() {
        this.onload = function() {
          $(this).animate({opacity: 1}, 2000);
        };
        this.src = this.getAttribute("delayedSrc");
      });
      ooi.start();

      populate();
    });

    var setScienceFilter = function(searchColumn, searchParam){
      console.log(event);
      var searchFiler = searchParam, grid = $("#grid"), f;
      if (searchFiler.length === 0) {
        grid[0].p.search = false;
        $.extend(grid[0].p.postData,{filters:""});
      }
      f = {groupOp:"OR",rules:[]};
      f.rules.push({field:searchColumn,op:"cn",data:searchFiler});
      grid[0].p.search = true;
      $.extend(grid[0].p.postData,{filters:JSON.stringify(f)});
      grid.trigger("reloadGrid",[{page:1,current:true}]);
    };

    var numberTemplate = {
      formatter : 'number',
      align : 'right',
      sorttype : 'number',
      editable : true,
      searchoptions : { sopt : ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] }
    };

    var defaultFilters = {
      "groupOp" : "AND",
      "rules" : [
        { "field" : "All", "op" : "cn", "data" : ""}
      ]
    };

    var $dcGrid = $("#grid");
    var lastsel2;

    var getUniqueNames = function(columnName) {
        var texts = $dcGrid[0].p.data, uniqueTexts = [],
          textsLength = texts.length, text, textsMap = {}, i;
        for (i=0;i<textsLength;i++) {
          text = texts[i][columnName];
          if (text !== undefined && textsMap[text] === undefined) {
            // to test whether the texts is unique we place it in the map.
            textsMap[text] = true;
            uniqueTexts.push(text);
          }
        }
        console.log(uniqueTexts);
        return uniqueTexts;
      },
      buildSearchSelect = function(uniqueNames) {
        var values=":All";
        $.each (uniqueNames, function() {
          values += ";" + this + ":" + this;
        });
        return values;
      },
      setSearchSelect = function(columnName) {
        $dcGrid.jqGrid('setColProp', columnName,
          {
            stype: 'select',
            searchoptions: {
              value:buildSearchSelect(getUniqueNames(columnName)),
              sopt:['eq']
            }
          }
        );
      };

    //define handler for 'editSubmit' event
    var fn_editSubmit=function(response,postdata){
      console.log('fn_editSubmit');
      console.log(response);
      console.log(postdata);
      var json=response.responseText; //in my case response text form server is "{sc:true,msg:''}"
      var result=eval("("+json+")"); //create js object from server reponse
      console.log(result);
      return [result,null];
    };

    //define edit options for navgrid
    var editOptions={
      {#      top: 50, left: "100", width: 500,#}
      closeOnEscape: true, afterSubmit: fn_editSubmit
    };

    function exportData(e, id){

      var gridid 		= jQuery(id).getDataIDs(); // Get all the ids in array
      var label 		= jQuery(id).getRowData(gridid[0]); // Get First row to get the labels
      var selRowIds 	= jQuery(id).jqGrid ('getGridParam', 'selarrrow');

      var obj 		= new Object();
      obj.count		= selRowIds.length;

      if(obj.count) {

        obj.items		= new Array();

        for(elem in selRowIds) {
          obj.items.push(jQuery(id).getRowData( selRowIds[elem] ));
        }

        var json = JSON.stringify(obj);

        JSONToCSVConverter(json, "csv", 1);
      }
    }


    function JSONToCSVConverter(JSONData, ReportTitle, ShowLabel) {

      //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
      var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
      var CSV = '';
      //This condition will generate the Label/Header
      if (ShowLabel) {
        var row = "";

        //This loop will extract the label from 1st index of on array
        for (var index in arrData.items[0]) {
          //Now convert each value to string and comma-seprated
          row += index + ',';
        }
        row = row.slice(0, -1);
        //append Label row with line break
        CSV += row + '\r\n';
      }

      //1st loop is to extract each row
      for (var i = 0; i < arrData.items.length; i++) {
        var row = "";
        //2nd loop will extract each column and convert it in string comma-seprated
        for (var index in arrData.items[i]) {
          row += '"' + arrData.items[i][index].replace(/(<([^>]+)>)/ig, '') + '",';
        }
        row.slice(0, row.length - 1);
        //add a line break after each row
        CSV += row + '\r\n';
      }

      if (CSV == '') {
        alert("Invalid data");
        return;
      }

      //this trick will generate a temp "a" tag
      var link = document.createElement("a");
      link.id="lnkDwnldLnk";

      //this part will append the anchor tag and remove it after automatic click
      document.body.appendChild(link);

      var csv = CSV;
      blob = new Blob([csv], { type: 'text/csv' });

      var myURL = window.URL || window.webkitURL;

      var csvUrl = myURL.createObjectURL(blob);
      var filename = 'UserExport.csv';
      jQuery("#lnkDwnldLnk")
        .attr({
          'download': filename,
          'href': csvUrl
        });

      jQuery('#lnkDwnldLnk')[0].click();
      document.body.removeChild(link);

    }

    // Loads the jqGrid into
    function placeJqGrid(collection) {
      console.log(collection);
      $dcGrid.jqGrid({
        datatype : "local",
        data : collection.toJSON(),
        editurl : "/api/asset_deployment/ajax",
        colNames: [
          'Actions',
          'Array',
          'Assembly',
          'Description',
          'Instrument Class',
          'Long Name',
          'Name',
          'Owner',
          'Type',
          'Coordinates',
          'Data Source',
          'Deployment Number',
          'Unique ID',
          'Last Modified',
          'Manufacturer',
          'Model Number',
          'Serial Number',
          'Depth Rating (m)',
          'Height (cm)',
          'Length (cm)',
          'Required Power (Watts)',
          'Weight (Oz)',
          'Width (cm)',
          'Delivery Date',
          'Purchase Cost',
          'Purchase Date',
          'Tense',
          'Reference Designator'
        ],

        colModel : [
          { name : 'actions',
            caption : 'Plot/Download',
            width : 80,
            sortable : false,
            search : false,
            align : 'center',
            formatter : createActionButtons
          },
          {
            name : 'assetInfo.array',
            index : 'assetInfo.array',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'assetInfo.assembly',
            index : 'assetInfo.assembly',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'assetInfo.description',
            index : 'assetInfo.description',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'assetInfo.instrumentClass',
            index : 'assetInfo.instrumentClass',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'assetInfo.longName',
            index : 'assetInfo.longName',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'assetInfo.name',
            index : 'assetInfo.name',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'assetInfo.owner',
            index : 'assetInfo.owner',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'assetInfo.type',
            index : 'assetInfo.type',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'coordinates',
            index : 'coordinates',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'dataSource',
            index : 'assetInfo.dataSource',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'deployment_number',
            index : 'deployment_number',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'id',
            index : 'id',
            key : true, // rowID = unique_id = ref_des+stream_name
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'lastModifiedTimestamp',
            index : 'lastModifiedTimestamp',
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'date',
            formatter: unixTimeToDateTime,
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'manufactureInfo.manufacturer',
            index : 'manufactureInfo.manufacturer',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'manufactureInfo.modelNumber',
            index : 'manufactureInfo.modelNumber',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'manufactureInfo.serialNumber',
            index : 'manufactureInfo.serialNumber',
            editable : false,
            {#                      width : 100,#}
            sortable : true,
            sorttype : 'string',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'physicalInfo.depthRatingM',
            index : 'physicalInfo.depthRatingM',
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'physicalInfo.heightCm',
            index : 'physicalInfo.heightCm',
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'physicalInfo.lengthCm',
            index : 'physicalInfo.lengthCm',
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'physicalInfo.requiredPowerW',
            index : 'physicalInfo.requiredPowerW',
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'physicalInfo.weightOz',
            index : 'physicalInfo.weightOz',
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'physicalInfo.widthCm',
            index : 'physicalInfo.widthCm',
            hidden : false,
            editable : false,
            {#            width : 165,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align: 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'purchaseAndDeliveryInfo.deliveryDate',
            index : 'purchaseAndDeliveryInfo.deliveryDate',
            editable : false,
            {#                width : 85,#}
            sortable : true,
            sorttype : 'date',
            formatter: unixTimeToDateTime,
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'purchaseAndDeliveryInfo.purchaseCost',
            index : 'purchaseAndDeliveryInfo.purchaseCost',
            editable : false,
            {#                width : 85,#}
            sortable : true,
            sorttype : 'number',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name : 'purchaseAndDeliveryInfo.purchaseDate',
            index : 'purchaseAndDeliveryInfo.purchaseDate',
            editable : false,
            {#                width : 85,#}
            sortable : true,
            sorttype : 'date',
            searchoptions : {sopt:['cn','eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','nc']},
            align : 'center',
            unformat : function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name: 'tense',
            index: 'tense',
            key: false, // rowID = reference_designator
            editable: false,
            {#            width: 165,#}
            sortable: true,
            sorttype: 'string',
            searchoptions: {sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'nc']},
            align: 'center',
            unformat: function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          },
          {
            name: 'ref_des',
            index: 'ref_des',
            key: false, // rowID = reference_designator
            editable: false,
            {#            width: 165,#}
            sortable: true,
            sorttype: 'string',
            searchoptions: {sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'nc']},
            align: 'center',
            unformat: function (cellvalue, options, cell) {
              return $('input', cell).val() || cellvalue;
            }
          }
        ],
        {#        ondblClickRow: function (id) { alert("You double click row with id: " + id); },#}
        loadComplete : function(data) {
          $("#navGrid").find("option[value=\"50000\"]").text('All');
        },
        {#        onSelectRow: function(id){#}
        {#          if(id && id!==lastsel2){#}
        {#            $dcGrid.restoreRow(lastsel2);#}
        {#            $dcGrid.editRow(id,true);#}
        {#            lastsel2=id;#}
        {#          }#}
        {#        },#}
        {#        ajaxRowOptions : {#}
        {#          type :"POST",#}
        {#          contentType :"application/json; charset=utf-8",#}
        {#          dataType :"json"#}
        {#        },#}
        serializeRowData: function(postdata){
          console.log(postdata);
          return JSON.stringify(postdata);
        },
        gridview : true,
        rowNum : 15,
        rowList : [15, 30, 45, 60, 50000],
        autowidth : true,
        height : 'auto',
        pager : '#navGrid',
        sortname : 'end',
        viewrecords : true,
        sortorder : 'desc',
        caption : 'Asset Management',
        altRows: false,
        {#        altclass:'myAltRowClass',#}
        {#        classes: 'table table-bordered table-striped table-selectable',#}
        ignoreCase: true,
        shrinkToFit : false,
        multiselect: true,
        multiboxonly: true,
        reloadAfterSubmit : false,
        loadOnce : false
      }).jqGrid('navGrid',
        '#navGrid',
        {add:false, view:false, del:false,edit:false,pdf:true}
        ,{closeOnEscape: true, afterSubmit: fn_editSubmit}
        ,{closeOnEscape: true, afterSubmit: fn_editSubmit} /*add options*/
        ,{} /*delete options*/
        ,{multipleSearch:true}
        ,{closeOnEscape:true}
        {#        {#}
        {#          edit : true,#}
        {#          add : true,#}
        {#          del : false,#}
        {##}
        {#          // beforeRefresh:#}
        {#          // Set the latest data from collection before refreshing grid#}
        {#            beforeRefresh : function () {#}
        {#              $("#grid").jqGrid('setGridParam', {#}
        {#                datatype : 'local',#}
        {#                data : ooi.collections.streams.toJSON()#}
        {#              });#}
        {#            }#}
        {#        },#}
        {#        {serializeEditData: function (postdata) {return JSON.stringify(postdata)}},#}
        {#        {serializeEditData: function (postdata) {return JSON.stringify(postdata)}},#}
        {#        {},#}
        {#        {#}
        {#          cloneToTop : true,#}
        {#          closeOnEscape : true,#}
        {#          multipleSearch : true,#}
        {#          overlay: 0,#}
        {#          onInitializeSearch: function ($form) {#}
        {#            $form.jqFilter('addFilter', defaultFilters);#}
        {#          },#}
        {#          afterRedraw: function (p) {#}
        {#            if (p.columns.length === $("#grid")[0].p.colModel.length) {#}
        {#              p.columns.push({#}
        {#                name: 'All',#}
        {#                label: 'Any Field',#}
        {#                searchoptions: {},#}
        {#                searchrules: {},#}
        {#                searchtype: 'string',#}
        {#                inputtype: 'text'#}
        {#              });#}
        {#            }#}
        {#            //$(this).find('.delete-rule:first').hide();#}
        {#          }#}
        {#        }#}
      );

      // CSV Export footer button
      $dcGrid.jqGrid('navButtonAdd','#navGrid',{
        id:'ExportToExcel',
        caption:'Export Selected Rows To CSV',
        title:'Export Selected Rows To CSV',
        onClickButton : function(e)
        {
          exportData(e, '#grid');
        },
        buttonicon: 'ui-icon ui-icon-document'
      });

      // Column mover and chooser
      $dcGrid.jqGrid('navButtonAdd', '#navGrid', {
        caption: "showcolumns",
        buttonicon: "ui-icon-calculator",
        title: "Choose columns",
        onClickButton: function () {
          $(this).jqGrid('columnChooser',{
            {#						width: 700,#}
            {#						dialog_opts: {#}
            {#							modal: true,#}
            {#							minWidth: 470,#}
            {#							height: 470,#}
            {#							show: 'blind',#}
            {#							hide: 'explode',#}
            {#							dividerLocation: 0.5#}
            {#						}#}
          });
          $("#colchooser_" + $.jgrid.jqID(this.id) + " ul.selected")
            .bind("sortreceive", function (event, ui) {
              alert('column "' + ui.item.text() + '" is chosen');
            });
          $("#colchooser_" + $.jgrid.jqID(this.id) + " ul.available a.action")
            .click(function () {
              alert('column "' + $(this).parent().text() + '" is chosen');
            });

        }
      });


{#      setSearchSelect('assetInfo.array');#}
{#      $dcGrid.jqGrid('setColProp', 'assetInfo.array',#}
{#        {#}
{#          searchoptions: {#}
{#            sopt:['cn'],#}
{#            dataInit: function(elem) {#}
{#              $(elem).autocomplete({#}
{#                source:getUniqueNames('assetInfo.array'),#}
{#                delay:0,#}
{#                minLength:0#}
{#              });#}
{#            }#}
{#          }#}
{#        }#}
{#      );#}

      $dcGrid.jqGrid('filterToolbar',
        {
          autosearch : true,
          searchOperators : false,
          searchOnEnter : false,
          stringResult : true,
          defaultSearch : "cn"
        }
      );
    } // placeJqGrid


    var showAssets = function(collection, response){
      //jqGrid
      var jqCollection = collection;
      jqCollection['actions'] = '';
      placeJqGrid(jqCollection);
    };

    var populate = function() {
      updateCollection( showAssets );
    };

    var updateCollection = function(successCallback){
      collection.fetch({
        success : successCallback
      });
    };

    var unixTimeToDateTime = function(cellvalue) {
      var newDate = new Date(cellvalue * 1000);
      return newDate;
    };

    var isoToDateTime = function(cellvalue) {
      var temp = (String(cellvalue).search('Z') > 1) ? String(cellvalue).split('Z') : false;
      var returnDate = (true) ? new Date(Date.parse(temp[0])) : new Date(temp);
      return returnDate;
    };

    var dateTimeToISO = function(strInput) {
      var temp = Date.parse(strInput);
      var parseDate = new Date(temp);
      var isoDateReturn = parseDate.toISOString();
      return isoDateReturn;
    };

    var documentDef = function(obj) {
      var planDoc = [];
      if (obj) {
        planDoc = [
          'Data Source: ' + obj.dataSource,
          'Label: ' + obj.label,
          'Remote Resource ID: ' + obj.remoteResourceId,
          'Resource Number: ' + obj.resourceNumber];
      } else {
        planDoc = ["Plan not provided"];
      }
      return planDoc;
    };
  </script>
{% endblock %}
