{% extends "common/base.html" %}

{% block title %}
  <title>Asset Management</title>
{% endblock %}

{% block head %}
<link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
<script src="/js/partials/compiled/index.js" type="text/javascript"></script>
<script src="/js/partials/compiled/asset_management.js" type="text/javascript"></script>
<script src="/js/compiled/index.js" type="text/javascript"></script>
<script src="/js/views/asset_management/AssetView.js" type="text/javascript"></script>
<script src="/js/models/asset_management/AssetModel.js" type="text/javascript"></script>
<script src="/js/core/common/paginate.js" type="text/javascript"></script>
<script src="/lib/bootstrap-table/dist/bootstrap-table.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/common/assets.css">
{% endblock %}

{% block body %}
<!--/.TOP BAR END -->
<div id="page-wrapper">
    <div id="navbar" style="margin-bottom:50px; max-height:50px;"></div>
    <div id="page-content-wrapper">
        <div class="content-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="glyphicon glyphicon-hdd col-sm-4" aria-hidden="true"> Assets</div>
                                <div class="pagination pagination-sm pagination-right pagination-boxes text-center col-sm-4"></div>
                                <div class="panel-search col-sm-4 text-right">
                                    <input id="asset-search" type="text" placeholder="&#xf002; Search">
                                    <span id="search-clear" classt ="glyphicon glyphicon-remove-circle"></span>
                                </div>
                            </div>
                        </div>
                        <div id="asset-panel-body" class="panel-body">
                            <div id="asset-table-view">
                                <table class="table table-bordered table-striped table-selectable" id="assetListTable" data-sort-name="id" data-sort-order="desc">
                                    <i class="fa-spinner fa-spin" style="margin-left:50%; font-size:90px;"></i>
                                    <thead>
                                        <tr>
                                            <th data-field="id" data-sortable="true">ID#</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Reference Designator</th>
                                            <th>Owner</th>
                                            <th>Launch Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div><!-- #asset-table-view -->
                            <div class="pagination-info text-center"></div>
                        </div><!-- .panel-body -->
                    </div>
                </div><!-- .col-sm-12 -->
            </div><!-- .row -->
            <div class="row">
                <div id="assetInspector" class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="glyphicon glyphicon-cog col-md-4" aria-hidden="true"> Info</div>
                        </div><!-- .panel-headering -->
                        <div class="panel-body" id='assetForm'>

                        </div><!-- .panel-body" -->
                    </div><!-- .panel -->
                </div><!-- #assetInspector .col -->
                <div id="eventInspector" class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                                <div class="glyphicon glyphicon-warning-sign col-md-4" aria-hidden="true"> Events</div>
                        </div><!-- .panel-headering -->
                        <div class="panel-body">

                        </div><!-- .panel-body" -->
                    </div><!-- .panel -->
                </div><!-- #eventInspector .col -->
            </div><!-- .row -->
        </div><!-- .content-fluid -->
    </div><!-- #page-content-wrapper -->
</div><!-- #wrapper -->

<!-- Menu Toggle Script -->
<script type="text/javascript">

_.extend(OOI.prototype, Backbone.Events, {
    login: new LoginModel(),
    models: {
        userModel: new UserModel()
    },
    start: function() {
    this.login.fetch({async:false});

    navbar = new NavbarView({
    login: this.login
    });

    updateCollection( showAssets );

    this.listenTo(collection, "collection:updated", function(details){
        updatePagination(details, showAssets);
    });

    this.listenTo(this, "login:success", this.onLogin);
    this.listenTo(this, "login:logout", this.onLogout);
    }
});

// Main collection for this page's asset information.
var collection = new AssetCollection();

var ooi = new OOI();

var pagination = {
    itemsPerPage: 10,
    currentPage: 1,
    maxPages: 10
};

$(document).ready(function() {
    ooi.start();
    $('body').find('#search-clear').hide();
    $('#search-clear').click(function(){
        $('#asset-search').val('').focus();
        $(this).hide();
            updateCollection( showAssets)
            });
    $('#asset-search').keyup(function(e) {
        $('#search-clear').toggle(Boolean($(this).val()));
        $('#search-clear').toggle(Boolean($('#asset-search').val()));
        updateCollection( showAssets)
        });
    $('#navbar').prepend(navbar.el);
    $('#menu-toggle').hide();
    $('#sidebar-wrapper').hide();
    $('.navbar-brand').html('OOI Assets and Configuration');
});

function showAssets( collection, response ){

    // Create the view that will hold the list of assets.
    var assetsTableView = new AssetsTableView({ collection: collection });
    assetsTableView.render();

    // Empty the table and append the new results.
    $(".table").find("tbody").remove().end();
    $(".fa-spinner").remove();
    $(".table").append( assetsTableView.el );
}

function updateCollection( successCallback ){

    // If there is a search term, we need to set the startAt attribute to 0,
    // otherwise the results may not load on the page.
    var startingPoint = "";
        startingPoint = ( pagination.currentPage - 1) *  pagination.itemsPerPage;
    // Pagination attributes will be passed in using
    // backbone's collection data method.
    var data = {
        startAt : startingPoint,
        count : pagination.itemsPerPage,
        search : $('#asset-search').val()
    };
    collection.fetch({
        data : data,
        success : successCallback,
    //    error : showError
    });
}

function updatePagination( details, successCallback ){
    // Calculate pagination attributes
    var start = details.startAt + 1,
        end = details.startAt + details.count,
        totalPages = Math.ceil( details.total / pagination.itemsPerPage ),
        currentPage = details.startAt / details.count + 1;

    // Display a "Page 1 of 5" type message on the page
    if (end >= details.total) {
        $(".pagination-info").text("Showing records " + start + " through " + details.total + " of " + details.total );
    } else {
        $(".pagination-info").text("Showing records " + start + " through " + end + " of " + details.total );
    }
    // Remove the pagination binding so they don't get called
    // multiple times after they're redrawn.
    $(".pagination-boxes").unbind();

    // Redraw the jquery pagination boxes
    $(".pagination-boxes").pagination({
        total_pages: totalPages,
        display_max: pagination.maxPages,
        current_page: currentPage,
        callback: function(event, page) {
            if ( page ){
                pagination.currentPage = page;
                updateCollection( successCallback );
            }
        }
    });
}
</script>
{% endblock %}
