{% extends "common/base.html" %}

{% block title %}
  <title>Event Management</title>
{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <!-- partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/gridList.js" type="text/javascript"></script>
  <script src="/js/views/asset_management/EventsView.js" type="text/javascript"></script>

  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>  
  
{% endblock %}

{% block body %}
<!--/.TOP BAR END -->
<div id="wrapper-asset">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading">
              <strong><span class="fa fa-list"></span> <span data-i18n="Data">Event List</span></strong>
            </div> <!-- panel-heading -->
            <div class="panel-body">
              <div class="col-sm-12" id="asset_top_panel" style='top: -36px;width: 280px;margin-left: 139px; position:relative;'>
                <i style="color:#337ab7" class="fa fa-spinner fa-spin"></i>  Loading Events 
              </div>
              <div id ='datatable'></div>
              <h4 style="position: absolute;top: 62px;left:35px">Filter Events By:</h4>
              <h5 id='number_of_assets' style="font-style:italic">0 records</h5>
              <div id ='asset_search_pan' style='top: 73px;position: absolute;left: 180px;'></div>
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div> <!-- col-lg-12 -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div> <!-- page-content-wrapper -->
</div>
<ul id="container_of_data" style='display:none'>
</ul>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script type="text/javascript">

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  models: {
    userModel: new UserModel(),
    },
  start: function() {
  
   this.login.fetch({async:false});

   if(this.login.loggedIn()) {
      this.models.userModel.fetch({url: '/api/current_user'});
    }

    this.navbar = new NavbarView({
      login: this.login
    });
    $('body').prepend(this.navbar.el);

    /*this.arrays = new ArrayCollection();
    this.tocView = new TOCView({
      collection: this.arrays
    });
    $('#sidebar-wrapper').html(this.tocView.el);
    this.arrays.fetch({reset: true});*/
  }
});

var ooi = new OOI();

$(document).ready(function() {
    ooi.start();
    eventsView = new EventsView();
    $('#menu-toggle').hide();
    $('#sidebar-wrapper').hide();
    $('.navbar-brand').html('OOI Assets and Configuration');
});

</script>
{% endblock %}
