{% extends "common/base.html" %}

{% block title %}
  <title>OOI Instruments</title>
{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <!-- <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
  <link href="/lib/backgrid/lib/backgridall.css" rel="stylesheet" type="text/css" />-->
  <!-- partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/gridDemo.js" type="text/javascript"></script>
  <!--<script src="/js/compiled/index.js" type="text/javascript"></script>
   d3 can't be concatenated easily
  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>
  <script src="/js/views/asset_management/InstrumentView.js" type="text/javascript"></script>
  <script src="/js/views/asset_management/InstrumentView.js" type="text/javascript"></script>
-->
  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>  
  
{% endblock %}

{% block body %}

<!--/.TOP BAR END -->

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading">
              <strong><span class="fa fa-list"></span> <span data-i18n="Data">Instrument List</span></strong>
            </div> <!-- panel-heading -->
            <div class="panel-body">
              <div id ='datatable'></div>
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div> <!-- col-lg-12 -->
      </div> <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading">
              <strong>
                <span class="fa fa-edit"> </span> Edit Instrument<span data-i18n="Data"></span>
              </strong>
              <div class="pull-right">
                <div class="btn-group" id='deploy_edit' role="group" style="top: -7px;" aria-label="...">
                  <div class="btn btn-default" type="button" aria-label="...">New</div>
                  <div class="btn btn-default" type="button" aria-label="...">Save</div>
                  <div class="btn btn-default" type="button" aria-label="...">Delete</div>
                </div>
              </div>
            </div> <!-- panel-heading -->
            <div class="panel-body">
              <div class="col-sm-12" id="editdep_panel" style='top: -36px;width: 250px;float: right;margin-right: 250px;'>
                <i class="fa fa-spinner fa-spin"></i>  Loading Deployments 
              </div>
              <form class="form-horizontal" id="editdep_form" style="display:none;">
                <fieldset style="width: 100%;">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="name_d">Display Name: </label>
                    <div class="controls">
                      <input id="name_d" name="name_d" style='width:450px' type="text" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-sm-3 control-label" for="name_d">Platform ID: </label>
                    <div class="controls">
                      <input id="platform_d" name="platform_d" style='width:450px' type="text" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="depth_d">Depth Value: </label>
                    <div class="controls">
                      <input id="depth_d" type="number" onChange="return numbercheck(this, event)" onKeyPress="return numbersonly(this, event)" name="quantity" min="-10" max="5000" style='width:250px' type="text" placeholder="" class="input-xlarge">
                    </div>
                    <label class="col-sm-3 control-label" style="position: absolute;left: 443px;font-weight: normal;margin-top: -30px;" for="startdate_d">Meters Below Sea Level</label>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="startdate_d">Start Date: </label>
                    <div class="controls">
                      <input id="startdate_d" name="startdate_d" style='cursor:pointer;width:450px' type="text" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="enddate_d">End Date: </label>
                    <div class="controls">
                      <input id="enddate_d" name="enddate_d" style='cursor:pointer;width:450px' type="text" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="geo_d_lat">Latitude: </label>
                    <input id="geo_d_lat" type="number" onChange="return numbercheck(this, event)" onKeyPress="return numbersonly(this, event)" name="number" min="-90" max="90" style='width:140px' class="input-xlarge" placeholder="" type="text">
                    <span class="add-on"> °</span>
                    <label style='padding-left:50px' for="geo_d_long">Longitude: </label>
                    <input id="geo_d_long" onChange="return numbercheck(this, event)" onKeyPress="return numbersonly(this, event)" type="number" name="quantity" min="-180" max="180" name="geo_d_long" style='width:140px' class="input-xlarge" placeholder="" type="text">
                    <span class="add-on"> °</span>
                  </div>
                  <div class="form-group"  style="display:none;">
                    <label class="col-sm-3 control-label" for="desc_d">Description</label>
                    <div class="controls">                     
                      <textarea id="desc_d" name="desc_d">Optional</textarea>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label for="desc_d" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-6">
                      <textarea class="form-control" id="desc_d" name="desc_d" />
                      <span class="help-block hidden"></span>
                    </div>
                  </div> -->
                  <div class="form-group" style="display:none;">
                    <label class="control-label" for="radios">Options</label>
                    <div class="controls">
                      <label class="radio inline" for="radios-0">
                        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                        1
                      </label>
                      <label class="radio inline" for="radios-1">
                        <input type="radio" name="radios" id="radios-1" value="2">
                        2
                      </label>
                      <label class="radio inline" for="radios-2">
                        <input type="radio" name="radios" id="radios-2" value="3">
                        3
                      </label>
                      <label class="radio inline" for="radios-3">
                        <input type="radio" name="radios" id="radios-3" value="4">
                        4
                      </label>
                    </div>
                  </div>
                  <div class="form-group" style="display:none;">
                    <label class="control-label" for="buttondropdown_d">Choose Option</label>
                    <div class="controls">
                      <div class="input-append">
                        <input id="buttondropdown_d" name="buttondropdown_d" class="input-xlarge" placeholder="" type="text">
                        <div class="btn-group">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Action
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Option one</a></li>
                            <li><a href="#">Option two</a></li>
                            <li><a href="#">Option three</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </fieldset>
            </form>
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div> 
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div> <!-- page-content-wrapper -->
</div>

<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script type="text/javascript">

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  start: function() {
    this.navbar = new NavbarView({
      login: this.login
    });
    $('body').prepend(this.navbar.el);

    this.arrays = new ArrayCollection();
    this.tocView = new TOCView({
      collection: this.arrays
    });
    $('#sidebar-wrapper').html(this.tocView.el);

    assetView = new InstrumentView();
    this.arrays.fetch({reset: true});
    /*if(!this.login.loggedIn()) {
      this.modalView = new ModalDialogView();
      $('.container-fluid').first().append(this.modalView.el);
      this.modalView.show({
        message: "INSERT WARRANTY HERE",
        ack: function() { console.log("Closed"); }
      });
    }*/
  }
});

var ooi = new OOI();

$(document).ready(function() {
    ooi.start();
});

function numbersonly(field, e, dec)
{
    var key;
    var keychar;

    if (window.event)
       key = window.event.keyCode;
    else if (e)
       key = e.which;
    else
       return true;
    keychar = String.fromCharCode(key);

    // control keys
    if ((key==null) || (key==0) || (key==8) || 
        (key==9) || (key==13) || (key==27) )
       return true;

    // numbers
    else if (((".-0123456789").indexOf(keychar) > -1))
       return true;

    else
       return false;
};

function numbercheck(field, e){

    if($.isNumeric( e.currentTarget.value )){
      var val = Number(e.currentTarget.value);
      var maxval = Number(e.currentTarget.max);
      var minval = Number(e.currentTarget.min);
      if(val>maxval){
         e.currentTarget.value = maxval;
      }
      if(val<minval){
        e.currentTarget.value = minval;
      }
    }
    else{
        e.currentTarget.value = 0;
    }   
}

</script>
{% endblock %}
