    body {
        background-color: #f8f8f8;
    }
    .terms-modal {
      overflow-y:scroll;
      font-family:monospace;
      max-height:500px;

    }
    .image-link{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;    
    }

    #wrapper.toggled {
        padding-left: 350px;
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 350px;
        width: 0;
        height: 100%;
        margin-left: -350px;
        overflow-y: auto;
        /*background: #000;*/ /*black background*/

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 375px;
    }

    #page-content-wrapper {
        width: 100%;
        padding: 15px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -350px;
    }


    /* Sidebar Styles */
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 350px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar-nav li {
        /* box height*/
        line-height: 15px; 
    }

    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        /*color: #999999;*/
    }

    /*main side bar components,  thick lines between items*/
    .sidebar-nav ul{
        border-bottom: 2px solid #e7e7e7;
    }

    .sidebar-nav li{
        border-bottom: 2px solid #e7e7e7;
    }


    .sidebar-nav li a:focus {
        text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand a {
        /*color:  #eee;*/
    }

    .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
       
    }

    .sidebar-nav .arrow {
        float: right;
    }

    .sidebar-nav .fa.arrow:before {
        content: "\f104";
    }

    .sidebar-nav .active>a>.fa.arrow:before {
        content: "\f107";
    }

    /*  LEVELS   */
    .sidebar-nav .sidebar-nav-second-level li,
    .sidebar-nav .sidebar-nav-third-level li {
        border-bottom: 0!important;
    }

    .sidebar-nav .sidebar-nav-second-level li a {
        padding-left: 37px;
        border-bottom: 1px solid #e7e7e7;
    }

    .sidebar-nav .sidebar-nav-third-level li a {
        padding-left: 52px;
        border-bottom: 1px solid #e7e7e7;
    }

    /*  content sizes   */

    @media(min-width:768px) {
        #wrapper {
            padding-left: 350px;
            margin-top: 51px;
        }

        #wrapper.toggled {
            padding-left: 0;
        }

        #sidebar-wrapper {
            width: 375px;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 0;
        }

        #page-content-wrapper {
            padding: 20px;
        }

        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    }

    /*  sidebar search  */
    .sidebar-nav .sidebar-search {
        padding: 15px;
    }

    /* Navbar Styles Styles */
    .navbar-top-links li {
        display: inline-block;
    }

    .navbar-top-links li:last-child {
        margin-right: 15px;
    }

    .navbar-top-links li a {
        padding: 7px;
        min-height: 50px;
    }

    .navbar-top-links .dropdown-menu li {
        display: block;
    }

    .navbar-top-links .dropdown-menu li:last-child {
        margin-right: 0;
    }

    .navbar-top-links .dropdown-menu li a {
        padding: 3px 20px;
        min-height: 0;
    }

    .navbar-top-links .dropdown-menu li a div {
        white-space: normal;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        width: 310px;
        min-width: 0;
    }

    .navbar-top-links .dropdown-messages {
        margin-left: 5px;
    }

    .navbar-top-links .dropdown-tasks {
        margin-left: -59px;
    }

    .navbar-top-links .dropdown-alerts {
        margin-left: -123px;
    }

    .navbar-top-links .dropdown-user {
        right: 0;
        left: auto;
    }

    /*  panel outline for contents  */
    .panel{
      margin-bottom: 20px;
      background-color: white;
      border: 1px solid transparent;
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      border-color: #e9e9e9;
    }


    .panel > .panel-heading{
      color: #767676;
      background-color: #f6f6f6;  
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-color: #e9e9e9;
      border-top-right-radius: 1px;
      border-top-left-radius: 1px;
      text-transform: uppercase;
    }

    .panel-body{
      padding: 5px;
    }

    .platform-tile{  
      margin: 10px;
      padding: 0px;
      height: 200px;
      width: 160px;
      *display: inline;
      
      vertical-align: top;
      display: inline-block;

      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    .platform-tile:hover { 
         border-color: purple;
    }


    .platform-tile-title{  
      text-align: center;
    }
     

    .platform-tile-contents{  
      text-align: center;
    }

    .platform-tile .status-icon {
      display: block;
      float: center;
      margin: 0 10px 0px 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      line-height: 45px;  
      vertical-align: middle;
      text-align: center;
      font-size: 35px;  
      margin-left: 35%;
      border: 5px solid transparent;
      border-color: #969696 ;
    }

    .small-status-icon {
      display: block;
      float: center;
      margin: 0 10px 0px 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      line-height: 15px;  
      vertical-align: middle;
      text-align: center;
      font-size: 15px;  
      margin-left: 0%;
      border: 1px solid transparent;
      border-color: #969696 ;
    }

    .status-ok {
      background-color: #23AE66;
      color: white;
    }

    .status-issue {
      background-color: #FFE944;
      color: white;
    }

    .status-error {
      background-color: #E03D2C;
      color: white;
    }

    .active-filter {
      background-color: #00333A;
    }

    .map-view{  
        margin-left: 0px;  
        height:330px;    
        overflow: hidden;
        border-style: solid;
        border-width: 1px;
    }

    .badge-error {
          background-color: #b94a48;
    }

    .badge-warning {
      background-color: #f89406;
    }

    .badge-success {
      background-color: #468847;
    }

    .badge-info {
      background-color: #3a87ad;
    }

    .badge-inverse {
      background-color: #333333;
    }
        
    #overview{
        margin-right: 50px;
        background-color: transparent;
    }

    .arrayMedia{
        border-style: solid;
        border-width: 0px;
    }

    .trans {
       background-color: LightBlue;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 100;
    }
.parent-platform {
  font-weight: bold;
}

.stream-item a{
  color: #33B7B7;
}

.table-striped tbody tr.highlight {
    background: rgba(230,230,230,1);
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 88%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,230,230,1)), color-stop(15%, rgba(255,255,255,1)), color-stop(18%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(88%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 88%, rgba(230,230,230,1) 100%);
    background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 88%, rgba(230,230,230,1) 100%);
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 88%, rgba(230,230,230,1) 100%);
    background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 88%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=0 );
}

.panel-search input[type=text]{
  font-family: FontAwesome;
}


/*
 * metismenu - v1.1.3
 * Easy menu jQuery plugin for Twitter Bootstrap 3
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumus
 * Under MIT License
 */
.arrow {
    float: right;
    line-height: 1.42857;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}


/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/


.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .fa.plus-times {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
}
/* CSS REQUIRED */
.lgn .btn-launch{
  margin: 20px;
}
.lgn .modal-dialog{
  width: 377px;
}
.lgn-center{
  padding: 5px;
  text-align: center;
}
.lgn-logo{
  padding: 15px;
  text-align: center;
  margin-top: -20px;
}
.lgn-header{
  min-height: 35px;
  padding: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.lgn-body{
  position: relative;
  padding: 40px 32px 25px 32px;
}
.lgn-footer{
  min-height: 20px;
  padding: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.lgn-footerPass{
  padding: 0px 0px 10px 10px;
  /*border-top: 0px;*/
  font-size: 10px;
  float: left;
}
.lgn-footerNewUser{
  padding: 0px 10px 10px 0px;
  font-size: 10px;
  float: right;
}
/* .lgn .btn .newEvent{
  margin-top: 5px;
  margin-bottom: 0px;

} */
.btn-logIn{
  background: #4fd934;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  /*color: #000000;*/
  font-size: 15px;
  padding: 0px 50px 0px 50px;
  border: solid #9ff5a2 2px;
  text-decoration: none;
  margin-top: 15px;

}
.btn-logIn:hover {
 background: #299943;
 background-image: -webkit-linear-gradient(top, #299943, #70d934);
 background-image: -moz-linear-gradient(top, #299943, #70d934);
 background-image: -ms-linear-gradient(top, #299943, #70d934);
 background-image: -o-linear-gradient(top, #299943, #70d934);
 background-image: linear-gradient(to bottom, #299943, #70d934);
 text-decoration: none;
}
.lgn-input .input{
 background: #4fd934;
 background-image: -webkit-linear-gradient(top, #4fd934, #298c29);
 background-image: -moz-linear-gradient(top, #4fd934, #298c29);
 background-image: -ms-linear-gradient(top, #4fd934, #298c29);
 background-image: -o-linear-gradient(top, #4fd934, #298c29);
 background-image: linear-gradient(to bottom, #4fd934, #298c29);
 -webkit-border-radius: 6;
 -moz-border-radius: 6;
 border-radius: 6px;
 font-family: Arial;
 color: #000000;
 font-size: 15px;
 padding: 0px 40px 0px 40px;
 border: solid #9ff5a2 2px;
 text-decoration: none;
}
div.image {
 content: url(/img/modal/OOI_Banner.png);
 margin-left: auto;
 margin-right: auto;
 margin-top: -20px;
 margin-bottom: -3px;
}
button.close{
  padding: 4px 7px 0px 0px;
  font-family: Arial;
  font-size: 20px;
}
button.question{
  padding: 4px 7px 0px 0px;
  font-family: Arial;
  font-size: 20px;
}
.lgn input[type=text]{
  font-family: FontAwesome;
  background: 1px 1px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding-left: 4px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
.lgn input[type=text]:focus, textarea:focus {
  font-family: FontAwesome;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background: 12px 11px no-repeat, #FFF;
}
.lgn input[type=password]{
  font-family: FontAwesome;
  background: 1px 1px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding-left: 4px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
.lgn input[type=password]:focus, textarea:focus {
  font-family: FontAwesome;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background: 12px 11px no-repeat, #FFF;
}
.lgn-message {
    color: #fd0404;
}
