{% extends "common/base.html" %}

{% block title %}
<title>OOI Landing</title>
{% endblock %}

{% block head %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="/js/ooi-landing/js/jquery.min.js"></script>
<script src="/js/ooi-landing/js/jquery.poptrox.min.js"></script>
<script src="/js/ooi-landing/js/jquery.scrolly.min.js"></script>
<script src="/js/ooi-landing/js/jquery.scrollex.min.js"></script>
<script src="/js/ooi-landing/js/skel.min.js"></script>
<script src="/js/ooi-landing/js/init.js"></script>
<script src="/js/ooi-landing/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/js/ooi-landing/js/grayscale.js"></script>

<link href="/css/ooi-landing/css/style.css" rel="stylesheet">
<link href="/css/ooi-landing/css/bootstrap.min.css" rel="stylesheet">
<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
{% endblock %}

{% block body %}
<!-- Navigation -->
<nav class="navbar navbar-header navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-back">
            <ul class="nav navbar-nav navbar-spacing">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li><a  href="#about">About</a></li>
                <li><a href="#oceanObservatories">Ocean Observatories</a></li>
                <li><a href="#science">Science</a></li>
                <li><a href="#status">Status</a></li>
                <li><a href="#asset-management">Asset Management</a></li>
                <li><a href="#c2">Command & Control</a></li>
                <li><a href="#login"><i class="fa fa-user"></i><i class="fa fa-caret-down"></i></a></li>
                <li><a href="#faq"><i class="fa fa-question"></i>FAQ</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- about -->
<section id="about" class="main style1 dark">
    <div class="col-md-6">

        <div class="main style1-logo1">
            <a href="http://www.oceanobservatories.org">
                <img border="0" alt="OOI" src="img/ooi-landing/images/logos/OOI_Logo_hd.png" width="295" height="150">

            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main style1-logo2" style="padding-left:250px;">
            <a href="http://oceanleadership.org/">
                <img border="0" alt="OOI" src="img/ooi-landing/images/logos/OceanLeadershipLogoCS2.png" width="97" height="65">

            </a>
            <a href="http://www.nsf.gov/">
                <img border="0" alt="OOI" src="img/ooi-landing/images/logos/nsf1.png" width="65" height="65">

            </a>
        </div>
    </div>
    <div class="content container 75%">
        <p class="about-text">The Ocean Observatories Initiative (OOI) is an National Science Foundation (NSF) Division of Ocean Sciences program that focuses the science, technology, education and outreach of an emerging network of science driven ocean observing systems. It is a networked infrastructure of science-driven sensor systems to measure the physical, chemical, geological and biological variables in the ocean and seafloor as well as the overlying atmosphere, providing a fully integrated system collecting data on coastal, regional and global scales.</p>
        <footer>
            <a href="#oceanObservatories" class="button style2 down">More</a>
        </footer>
    </div>
</section>









<!-- oceanObservatories -->
<div id="oceanObservatories">
    <section class="main style2 right dark fullscreen ">

        <div class="content box style2">
            <header>
                <h2>Ocean Observatories Initiative</h2>
            </header>
                <h5>The goal of the OOI is to deliver data and data products for a 25-year-plus time period within an expandable architecture that can meet emerging technical advances in ocean science. These data will be freely accessible online through the OOi Cyberinfrastructure. Construction of the OOI commenced in 2009. Initial installations of scientific instrumentation will begin in summer 2013, and the project is planned to be in full operations by early 2015.</h5>
                <h5 style="float:right;"> <a href="/infrastructure">                        More...</a></h5>
        </div>
        <section class="main style2 img-left fullscreen">
            <div class="content style2" style="margin-top:-40;">
                <img border="0" alt="OOI" src="img/ooi-landing/images/thumbs/thumbOOI.jpg">
            </div>
        </section>
        <a href="#science" class="button style2 down anchored">Next</a>
    </section>
</div>






<!-- science -->
<div id="science">
    <section class="main style2 left dark fullscreen">

        <div class="content box style2">
            <header>
                <h2>Science</h2>
            </header>
            <h5>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            <h5 style="float:right;"> <a href="/science">                        More...</a></h5>
        </div>

        <!-- Science Image -->
        <section class="main style2 img-right fullscreen">
            <div class="content style2" style="margin-top:-40;">
                <img border="0" alt="Science" src="img/ooi-landing/images/thumbs/thumbScience2.jpg">

            </div>
        </section>


        <!-- Science Button -->
        <a href="#status" class="button style2 down anchored">Next</a>
    </section>
</div>







<!-- status -->
<div id="status">
    <section class="main style2 right dark fullscreen ">

        <div class="content box style2">
            <header>
                <h2>Status</h2>
            </header>
            <h5>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            <h5 style="float:right;"> <a href="/statusUI">                        More...</a></h5>
        </div>

        <!--Status Image-->
        <section class="main style2 img-left fullscreen">
            <div class="content style2" style="margin-top:-40;">
                <img border="0" alt="Status" src="img/ooi-landing/images/thumbs/thumbStatus.jpg">

            </div>
        </section>

        <!--Status Button-->
        <a href="#asset-management" class="button style2 down anchored">Next</a>
    </section>
</div>






<!-- Asset Management -->
<div id="asset-management">
    <section class="main style2 left dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Asset Management</h2>
            </header>
            <h5>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            <h5 style="float:right;"> <a href="assets/list/">                        More...</a></h5>
            </h5>
        </div>
        <section class="main style2 img-right fullscreen">
            <div class="content style2" style="margin-top:-40;">
                <img border="0" alt="Asset-Management" src="img/ooi-landing/images/thumbs/thumbAsstMgt.jpg">

            </div>
        </section>
        <a href="#c2" class="button style2 down anchored">Next</a>
    </section>
</div>

<!-- C2 -->
<div id="c2">
    <section class="main style2 right dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Command & Control</h2>
            </header>
            <h5>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            <h5 style="float:right;"> <a href="/c2">                        More...</a></h5>
        </div>
        <section class="main style2 img-left fullscreen">
            <div class="content style2" style="margin-top:-40;">
                <img border="0" alt="C2" src="img/ooi-landing/images/thumbs/thumbC2.jpg">

            </div>
        </section>
        <a href="#footer" class="button style2 down anchored">Next</a>
    </section>
</div>

<!-- Footer -->
<footer id="footer">

    <!-- Icons -->
    <ul class="actions">
        <li><a href="https://twitter.com/oceanobserv" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/ooi.org" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    </ul>

    <!-- Menu -->
    <ul class="menu">
        <li>&copy; Ocean Observatories Initiative</li><li>Design:<a href="http://asascience.com/">
                <img border="0" alt="RPS/ASA" src="img/ooi-landing/images/logos/rps-asa-260-trans.png" width="75"></a>

        </li>
    </ul>
</footer>
<a href="http://www.oceanobservatories.org">
    <imgsrc="img/ooi-landing/images/logos/OOI_Logo_hd.png">

</a>
{% endblock %}


