
{% block title %}
<title>OOI Landing</title>
{% endblock %}

{% block head %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="/js/ooi-landing/js/jquery.min.js"></script>
<script src="/js/ooi-landing/js/jquery.poptrox.min.js"></script>
<script src="/js/ooi-landing/js/jquery.scrolly.min.js"></script>
<script src="/js/ooi-landing/js/jquery.scrollex.min.js"></script>
<script src="/js/ooi-landing/js/skel.min.js"></script>
<script src="/js/ooi-landing/js/init.js"></script>
<script src="/js/ooi-landing/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<noscript>
    <link href="/css/ooi-landing/css/style.css" rel="stylesheet">
    <link href="/css/ooi-landing/css/bootstrap.min.css" rel="stylesheet">
</noscript>
<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
{% endblock %}

{% block body %}
<!-- Navigation -->



<!-- about -->
<section id="about" class="main style1 dark">
    <a href="#oceanObservatories" class="button style2 down">More</a>
</section>





<!-- oceanObservatories -->
<section id="oceanObservatories" class="main style2 right dark fullscreen ">

    <a href="#science" class="button style2 down">Previous</a>

</section>



<!-- science -->
<section id="science"class="main style2 left dark fullscreen">


    <!-- Science Button -->
    <a href="#status" class="button style2 down">Previous</a>
</section>



<!-- status -->
<section id="status" class="main style2 right dark fullscreen">


    <!--Status Button-->
    <a href="#asset-management" class="button style2 down">Previous</a>

</section>




<!-- Asset Management -->
<section id="asset-management" class="main style2 left dark fullscreen">
    <a href="#c2" class="button style2 down">Previous</a>

</section>

<!-- C2 -->
<section id="c2" class="main style2 right dark fullscreen">
    <a href="#footer" class="button style2 down">Previous</a>

</section>


{% endblock %}


