<!-- Station Summary -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
    <h4 class="panel-title">
      <a>
        Station Summary
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <dl style="list-style-type:disk">
          <div class="col-md-12">
            <li>The Endurance Array is a multi-scaled array utilizing fixed and mobile assets to observe cross-shelf and along-shelf variability in the coastal upwelling region of the Oregon and Washington coasts. The array also provides an extensive spatial footprint that encompasses a prototypical eastern boundary current regime and connectivity with the Cabled Array. The backbone of the Endurance Array includes two cross-shelf moored array lines, the Oregon Line (also called the Newport Line) and the Washington Line (also known as the Grays Harbor Line). Each these lines contain three fixed sites spanning the slope (~500-600 m), shelf (~80-90 m) and inner-shelf (~25-30 m). The three sites across the shelf and slope are associated with unique physical, geological, and biological processes.</li>
          </dl>
        </div>
      </div><!-- row -->
    </div>
  </div>
</div><!-- panel panel-default 2-->
