<div id="endurance-location-sampling-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- endurance-location-sampling-view -->
<div id="description-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- description-infrastructure-view -->
<div id="endurance-station-summary-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- endurance-station-summary-view -->
<div id="deployment-schedule-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- deployment-schedule-view -->
<div id="infrastructure-tables-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- infrastructure-tables-view -->
<div id="endurance-technical-drawings-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- endurance-technical-drawings-view -->
