<!-- Location and Sampleing -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <h4 class="panel-title">
      <a>
        Location and Sampling
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <dt>Oregon (Newport) Line </dt> 
          <dl style="list-style-type:disk">
            <li>Location: 44° 22’N, 125°W to coast</li>
            <li>Approximate Water Depth: 25-600 m</li>
          </dl>
          <dt>Washington (Grays Harbor) Line</dt>
          <dl style="list-style-type:disk">
            <li>Location: 46° 51’N, 125°W to coast</li>
            <li>Approximate Water Depth: 30-550 m</li>
          </dl>
          <dt>Glider sampling area (approximate):</dt>
        </div><!-- col-md-4 -->
        <div class="col-md-12">
          <dl style="list-style-type:disk">
            <li>An array of ~6 gliders will travel along five east-west transect lines from approximately the 20-m isobaths to 126 W (and out to 128 W along the Oregon and Washington lines), as well as a north-south transect along 126 W and a north-south transect along the 200 m isobath.</li>
            <li> Coastal gliders (Teledyne-Webb Slocum Gliders) will fly through the water column along saw-tooth paths, penetrating the sea surface and diving down to depth. These Coastal Gliders will be outfitted with one of two buoyancy engines allowing for maximum efficiency for either shallow (able to dive to 200 m) or deep (able to dive to 1000 m) dives. A roughly even combination of deep and shallow diving coastal gliders will be deployed, sufficient to survey the Endurance Array area.</li>
          </dl>
        </div>
      </div><!-- row -->
    </div><!-- panel-body -->
  </div><!-- collapseOne -->
</div><!-- panel panel-default 1-->
