{% extends "common/base.html" %}

{% block title %}
    <title>Alerts Dashboard</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" />

  <script src="/js/partials/compiled/alertPage.js" type="text/javascript"></script>
  <script src="/js/compiled/alertPage.js" type="text/javascript"></script>

  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script> 

  <!--
  <script src="/js/views/aa/AlertView.js" type="text/javascript"></script>
  <script src="/js/views/common/TOCView.js" type="text/javascript"></script>-->
{% endblock %}

{% block body %}
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
   
   <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading"><div>
              <h4 style='margin-top: 0px;margin-bottom: -25px;'> Current Alerts & Alarms Definitions</h4>
            <div class="panel-body">
             <div style='color:#337ab7; text-transform:none; margin-top: 30px;position: absolute;margin-left: -2px;' id='listTitle'>
              <b>Showing All</b>
             </div>
             <div class="row form-group" id='alertslist'>
             </div>
          <hr width ='80%' style='margin-top:0;'>
          <div class="row col-sm-12" id='alert_container'>
            <table data-toggle="table" id='alert_table' style='background-color: #fff;' data-cache="false" data-height="186">
              <thead>
                  <tr>
                      <th data-field="id">Condition</th>
                      <th data-field="class">Operator</th>
                      <th data-field="class">Value</th>
                      <th data-field="sdate">Description</th>
                      <th data-field="sdate">Owner</th>
                      <th data-field="more">Type</th>
                      <th data-field="more">Enabled</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>
          <hr width ='80%'>
          <div class="row col-sm-12">

          <div class="form-group">
           <div>
              <label class="col-sm-2" style='padding-top:18px;'>
               Notification:  
              </label>
            </div>
          </div>
            
          <div class="form-group">
           <div class="checkbox">
              <label class="col-sm-2">
                <input type="checkbox"id="Email" name="Email" checked> Email    
              </label>
            </div>
          </div>

          <div class="form-group">
             <div class="checkbox">
              <label class="col-sm-2">
                <input type="checkbox"id="Redmine" name="Redmine"> Redmine
              </label>
            </div>
          </div>
          <div class="form-group">
             <div class="checkbox">
              <label class="col-sm-2">
                <input type="checkbox"id="PhoneCall" name="PhoneCall"> Phone Call
              </label>
            </div>
          </div>
          <div class="form-group">
             <div class="checkbox">
              <label class="col-sm-2">
                <input type="checkbox" id="TextMessage" name="TextMessage"> Text Message
              </label>
            </div>
          </div>
          <div class="form-group">
             <div class="checkbox">
              <label class="col-sm-2">
                <input type="checkbox" id="LogEvent" name="LogEvent"> LogEvent
              </label>
            </div>
          </div>
          </div>

          <div class="form-group">
            <div align="center">
              <div>
                <div class="col-sm-12" id="loading_alerts" style='font-weight:bold;padding-top:35px;'>
                  <i style="color:#337ab7" class="fa fa-spinner fa-spin"></i>  Loading Alerts and Alarms 
                </div>
                <button type="button" style='display:none' id="delete_row" class="btn btn-primary"><i class="fa fa-times-circle"></i> Delete Alert Row</button>
                <button type="button" id="newAlert" class="btn btn-primary"><i class="fa fa-plus-square"></i> Add Alert</button>
                <!--<button type="button" id="saveAlert" class="btn btn-primary">Save Alert</button> -->
                <button type="button" id="saveAlarm" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save Changes</button>
                <button type="button" id="resetAlarms" class="btn btn-primary"><i class="fa fa-list"></i> Show all Alerts</button>
              </div>
            </div>
           </div>  
          </div> 
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- Menu Toggle Script -->
<script type="text/javascript">

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  models: {
    mapModel: new MapModel(),
    alertModel: new AlertModel(),
    userModel: new UserModel()  
  },

  collections: {
    arrays: new ArrayCollection(),
    alert_list: new AlertsFullCollection(),
    toc: new TocCollection()
    //alert_list: new AlertsFullCollectionPage()
  },
  views: {
      //
  },
  start: function() {
    var self = this;

    this.login.fetch({async: false}); // Doesn't actually make an ajax request
    
    /*if(this.login.loggedIn()) {
        this.models.userModel.fetch({url: '/api/current_user'});      
    }*/

    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);

    this.views.tocView = new TOCView({
      arrayCollection: this.collections.arrays,
      collection: this.collections.toc,
      el: $('#sidebar-wrapper')
    });

    //$('#sidebar-wrapper').html(this.views.tocView.el);
    $('.navbar-brand').html('Alerts and Alarms Dashboard');
    $('#navbar-menus').append('<li id="Science"><a href="/alerts/dashboard/triggered">Triggered Alerts</a></li>');

    //--------------------------------------------------------------------------------
    // Collections Fetch
    //--------------------------------------------------------------------------------
    
    //empty table
    $('#alert_table tbody').empty();

    var tocFetch = this.collections.toc.fetch({reset: true});
    var arraysFetch = this.collections.arrays.fetch({reset: true});
    
    $.when(tocFetch,arraysFetch).done(function(){
      self.views.tocView.collection = self.collections.toc;
      self.views.tocView.arrayCollection = self.collections.arrays;
      self.views.tocView.render();
    });

    this.views.alertFilterView = new AlertFilterView({
        //el: 'form',
        collection: this.collections.alert_list
    }); 

    this.listenTo(this, "login:success", this.onLogin);
    this.listenTo(this, "login:logout", this.onLogout);
   }
});
var ooi = new OOI();

$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    ooi.start();
});
</script>
{% endblock %}
