{% extends "common/base.html" %}

{% block title %}
  <title>Alerts Dashboard</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" />

  <script src="/js/partials/compiled/alertPage.js" type="text/javascript"></script>
  <script src="/js/compiled/alertPage.js" type="text/javascript"></script>
  <link href="/css/common/toc_menu.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/alerts_alarms.css" rel="stylesheet" type="text/css" />

  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>

    {% block link %}
        {{ super() }}
    {% endblock %}
    {% block script %}
        {{ super() }}
    {% endblock %}
  <!--
  <script src="/js/views/aa/AlertView.js" type="text/javascript"></script>
  <script src="/js/views/common/TOCView.js" type="text/javascript"></script>-->
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id="navbar" class="row"></div>
  </div>

  <div id="wrapper">
  <div id="page-content-wrapper">
  <div class="container-fluid">
    {% block sidebar %}
      {{ super() }}
    {% endblock %}
    <div class="row">
      <div class="col-lg-12">
        <div id="aa-panel" class="panel">
          <div id="aa-panel-body" class="panel-body">
            <div class="col-sm-12" id="toc_breadcrumb" style='font-weight:bold;padding-top:35px;'>
              Select an instrument data stream from the table of contents to create a new definition.<br/>
              Currently Selected:&nbsp;
              <i id="current_selection" style="color:#337ab7"></i>
            </div>
            <div class="col-sm-12" id="current_array_con" style='font-weight:bold;padding-top:15px;'>
              <i id="create_aa_def_btn">
                <button type="button" id="newAlertAlarmDefinition" class="btn btn-primary" style="display: none;">
                  <i class="fa fa-plus-square"></i> Add Alert/Alarm Definition
                </button>
              </i>
            </div>
            <div class="row form-group" style="width:100%; padding-left:30px;">
              <div class="row">
                <div id="alerts-panel" class="panel">
                  <div id="alerts-search" class="panel-header">
                    <div class="scrollable-block">
                      <div id="alerts-scrollable" class="scrollable-area">
                        <div class="panel-body">
                          <div id='alertslist' class="col-sm-12">
                          </div>
                        </div>
                      </div> <!-- end scollabel-area -->
                    </div> <!-- end scollabel-block -->
                  </div>
                </div> <!-- end alerts-panel -->
              </div> <!-- end row -->
            </div><!-- end row form-group -->
          </div>
          <div id="definition-modal"></div>
          <div id="active-toggle-modal"></div>
          <div id="notification-toggle-modal"></div>
          <div id="ack-all-toggle-modal"></div>
          <div id="clear-all-toggle-modal"></div>
          <div id="definition-status"></div>
          <div id="retire-toggle-modal"></div>
        </div>
      </div>
    </div>

  <!-- Menu Toggle Script -->
  <script type="text/javascript">
    var bannerTitle = "Alerts & Alarms";

    var vent = _.extend({}, Backbone.Events);

    _.extend(OOI.prototype, Backbone.Events, {
      login: new LoginModel(),
      models: {
        alertModel: new AlertModel(),
        userModel: new UserModel(),
        userEventNotificationModel: new UserEventNotificationModel(),
        selectedStream: null,
        retireModel: new RetireModel()
      },
      collections: {
        arrays: new ArrayCollection(),
        alert_list: new AlertsFullCollection(),
        alert_metadata: new AlertMetadataCollection(),
        user_event_notifications: new UserEventNotificationFullCollection(),
        user_collection: new UserCollection(),
        retire_collection: new RetireCollection()
      },
      views: {
        //
      },
      outputInfo:function(level,options) {
        console.log(level,options);
      },
      setButtonDefinitionVisibility:function(visible) {
        if (visible){
          $('#newAlertAlarmDefinition').show();
        }else{
          $('#newAlertAlarmDefinition').hide();
        }
      },
      resetSelection:function(){
        //make invisible, reset selection items
        this.models.selectedStream = null;
        this.setButtonDefinitionVisibility(false);
        $('#current_selection').text("");
      },
      start: function() {
        this.login.fetch({async:false});
        navbar = new NavbarView({
          login: this.login
        });

        var self = this;

        var banner = new BannerView({ bannerTitle:bannerTitle });
        $('body').prepend(banner.el);
        this.views.navbar = new NavbarView({
          el: $('#navbar')
        });

        //$('#navbar-menus').append('<li id="Science"><a href="/alerts/dashboard/triggered">Triggered Alerts</a></li>');

        this.views.definitionModal = new DefinitionModalFormView({
          el: $('#definition-modal'),
          model:self.models.alertModel,
          user_collection: this.collections.user_collection
        });

        //empty table
        $('#alert_table').find('tbody').empty();

        this.views.alertFilterView = new AlertFilterView({
          collection: this.collections.alert_list,
          el: $('#alert_table')
        });

        // TOC, render out our views:
        this.listenTo(this, 'toc:selectArray', function(options) {
          self.resetSelection();
        });

        // TOC, render out our views:
        this.listenTo(this, 'toc:selectPlatform', function(options) {
          self.resetSelection();
        });

        // TOC, render out our views:
        this.listenTo(this, 'toc:selectInstrument', function(options) {
          self.resetSelection();
        });

        // Alert PAge Row Selected
        this.listenTo(this, 'deployrowclicked', function(model) {


          if (model.get('retired') == false){
            //update the model
            self.models.alertModel = new AlertModel({reference_designator:model.get('reference_designator'),
                                                      stream:model.get('stream')});

            //set the model information for the new model
            self.models.alertModel.set('update',true);
            //copy the fields across as we dont want to alter the model at this point
            var fields = ['description','high_value','low_value','active','created_time','escalate_boundary','escalate_on','event_type','id','instrument_name','instrument_parameter','instrument_parameter_pdid','operator','platform_name','retired','severity','uframe_filter_id']

            _.each(fields, function(field) {
              self.models.alertModel.set(field,model.get(field));
            });

            self.views.definitionModal.model = self.models.alertModel;
            self.views.definitionModal.user_collection = self.collections.user_collection;

            //TODO REPLACE WITH ACTUAL REQUEST
            self.views.definitionModal.metadata_collection = new AlertMetadataCollection();
            self.views.definitionModal.metadata_collection.add(new AlertMetadataModel({
              particleKey: self.models.alertModel.get('instrument_parameter'),
              pdId: self.models.alertModel.get('instrument_parameter_pdid'),
              units: ""
            }));

            self.views.definitionModal.render();

            self.views.definitionModal.show({
              model: self.models.alertModel,
              userModel: self.models.userModel
            });
          }else{
            console.log('Cant update a retired definition',model);
          }
        });



        // TOC, render out our views:
        this.listenTo(this, 'toc:selectStream', function(options) {
          //options.model = stream selection model
          self.models.selectedStream = options.model;
          $('#current_selection').text(options.model.get('reference_designator')+" > "+options.model.get('stream_name'));
          //make visible
          self.setButtonDefinitionVisibility(true);
          //output....just cause.
          //self.outputInfo('stream',options)
        });

        this.listenTo(this, 'alertToggleActiveFormViewTrigger:onClick', function(options) {
          self.views.active_toggle.model = options.model;
          self.views.active_toggle.render();
          self.views.active_toggle.show();
        });

        this.listenTo(this, 'alertAckAllFormViewTrigger:onClick', function(options) {
          self.views.ack_all.model = options.model;
          self.views.ack_all.render();
          self.views.ack_all.show();
        });

        this.listenTo(this, 'alertClearAllFormViewTrigger:onClick', function(options) {
          self.views.clear_all.model = options.model;
          self.views.clear_all.render();
          self.views.clear_all.show();
        });

        this.listenTo(this, 'alertToggleNotification:update', function(model) {
          var selected = self.collections.user_event_notifications.where({system_event_definition_id: model.get('id')})[0];
          //console.log('before bit', selected.get('use_redmine'));
          selected.set('use_redmine', !selected.get('use_redmine'));
          selected.save(null,{success: function(model, response, opts) {
            //console.log('Notification Toggled OK!');
          },
            error: function(model, response, opts) {
              console.log('Notification Error!');
            }
          });
          //console.log('after bit', selected.get('use_redmine'));
          self.collections.alert_list.fetch({reset: true});
        });

        this.listenTo(this, 'alertToggleNotificationFormViewTrigger:onClick', function(options) {
          self.views.notification_toggle.model = options.model;
          self.views.notification_toggle.render();
          self.views.notification_toggle.show();
        });

        this.listenTo(this, 'alertToggleRetireFormViewTrigger:onClick', function(options) {
          self.views.retired_toggle.model = options.model;
          self.views.retired_toggle.render();
          self.views.retired_toggle.show();
        });

        this.views.retired_toggle = new AlertToggleRetireModalFormView({
          el: $('#retire-toggle-modal'),
          model:self.models.alertModel
        });

        this.views.active_toggle = new AlertToggleActiveModalFormView({
          el: $('#active-toggle-modal'),
          model:self.models.alertModel
        });

        this.views.notification_toggle = new AlertToggleNotificationModalFormView({
          el: $('#notification-toggle-modal'),
          model:self.models.userEventNotificationModel
        });

        this.views.ack_all = new AckAllModalFormView({
          el: $('#ack-all-toggle-modal'),
          model:self.models.alertModel
        });

        this.views.clear_all = new ClearAllModalFormView({
          el: $('#clear-all-toggle-modal'),
          model:self.models.alertModel
        });

        //click the add definition button
        $('#newAlertAlarmDefinition').on( "click", function(evt) {
          //update collection and fetch
          self.collections.alert_metadata.stream_model = self.models.selectedStream;
          self.collections.alert_metadata.fetch({reset: true});
        });

        //when the metadata is complete actually render the popup modal
        this.listenTo(self.collections.alert_metadata, 'reset', function(options) {
          //update the model
          self.models.alertModel = new AlertModel({reference_designator:self.models.selectedStream.get('reference_designator'),
            stream:self.models.selectedStream.get('stream_name')});

          self.views.definitionModal.model = self.models.alertModel;
          self.views.definitionModal.user_collection = self.collections.user_collection;
          self.views.definitionModal.metadata_collection = self.collections.alert_metadata;
          self.views.definitionModal.render();

          self.views.definitionModal.show({
            model: self.models.alertModel,
            userModel: self.models.userModel
          });

        });

        this.listenTo(this.collections.alert_list, 'reset', function(options) {
          //console.log('alert alarm reset complete',this.collections.alert_list);
          var parent = $('#alertslist').parent();
          parent.empty();
          parent.append('<div id="alertslist">');
          self.views.alertFilterView.render();
        });

        //RE-RENDER TABLE
        this.listenTo(this, 'addDefinitionForm:added', function(options) {
          //TODO: Add modal pop-up
          $('#definition-status').html('<p>Definition added.</p>');
          self.collections.alert_list.fetch({reset: true});
        });

        // Add definition failed, popup message and re-render table
        this.listenTo(this, 'addDefinitionForm:failed', function(options) {
          //TODO: Add modal pop-up
          $('#definition-status').html('<p>There was an error adding the definition.</p>');
          self.collections.alert_list.fetch({reset: true});
        });

        var arrayFetch = arrayCollection.fetch({ reset: true });
        var alertFetch = self.collections.alert_list.fetch({reset: true});
        var userEventNotificationFetch = self.collections.user_event_notifications.fetch({reset: true});
        var userFetch = self.collections.user_collection.fetch({reset: true});

        var data = {
          min : 'True'
        };

        $.when(alertFetch, userEventNotificationFetch, userFetch).done(function() {
          //console.log(self.collections.user_event_notifications);
          //console.log('alert alarm reset complete',self.collections.alert_list);
          var parent = $('#alertslist').parent();
          parent.empty();
          parent.append('<div id="alertslist">');
          self.views.alertFilterView.render();
        });

        $.when(arrayFetch).done(function() {
          var assetFetch = assetCollection.fetch({ data: data, reset: true });
          $.when(assetFetch).done(function() {
            var streamFetch = streamCollection.fetch({ data: data,  reset: true });
            $.when(streamFetch).done(function() {
              $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
                  $('#search-param').remove();
                vent.trigger('toc:cleanUp');
                vent.trigger('toc:cleanUp');
              });
            });
          });
        });

        this.listenTo(this, "login:success", this.onLogin);
        this.listenTo(this, "login:logout", this.onLogout);

      }
    });

    // controller for our model collections
    var assetCollection     = new AssetCollection();
    var arrayCollection     = new ArrayCollection();
    var streamCollection    = new StreamCollection();

    function showSearchResults( collection ) {
      vent.trigger('toc:derenderItems');

      var searchResultView = new SearchResultView({ collection:collection });
      searchResultView.render();

      $('#assetBrowser').remove();

      $('#sidebar-wrapper').append(searchResultView.el);
    }

    function updateCollection( assetCallback ){
      var data = {
        search : $('#search-filter').val()
      };
      assetCollection.fetch({
        data : data,
        success : assetCallback
      });
    }

    var ooi = new OOI();

    $(document).ready(function() {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });

      ooi.start();

      $('#navbar').prepend(navbar.el);

      $('#search-clear').hide();

      $('#search-clear').click(function(){
        $('#search-filter').val('').focus();
        $(this).hide();
        vent.trigger('toc:derenderItems');
        var assetFetch = assetCollection.fetch();
        $.when(assetFetch).done(function() {
          $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
            vent.trigger('toc:cleanUp');
            vent.trigger('toc:cleanUp');
          });
        });
      });

      $('#search-submit').click(function(e) {
        $('#search-clear').toggle(Boolean($(this).val()));
        $('#search-clear').toggle(Boolean($('#search-filter').val()));
        updateCollection( showSearchResults );
      });
    });

    $(document).ready(function () {
      $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
      });
    });

  </script>
{% endblock %}
