<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}{% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Main Landing Page For Science page">
  <meta name="author" content="RPS ASA">
  <script src="/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <!-- Optional theme -->
  <link href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- bootstrap switch - check boxes -->
  <link href="/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
  <script src="/lib/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
  {% block head %}
    {% block link %}
      <link href="/css/common/toc_menu.css" rel="stylesheet" type="text/css" />
      <link href="/css/common/page_controls.css" rel="stylesheet" type="text/css" />
      <link href="/css/common/page_content.css" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block script %}
        <script src="/js/models/asset_management/AssetModel.js" type="text/javascript"></script>
        <script src="/js/models/common/PageControlModels.js" type="text/javascript"></script>
        <script src="/js/views/common/PageControlViews.js" type="text/javascript"></script>
    {% endblock %}
  {% endblock %}
</head>
<body>
{% block body %}
    {% block page_controls %}
    <div id="page-controls">
        <div id="buttons" class="page-controls"></div>
        <div id="searchGroup" class="page-controls input-group" style="display:none;">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="search">
            <span id="search-clear" class="glyphicon glyphicon-remove-circle"></span>
        </div>
    </div>
    {% endblock %}
    {% block sidebar %}
        <div id="sidebar-wrapper" class="well">
            <i id="tocSpinner" class="fa fa-spinner fa-spin" style="margin-top:15%;margin-left:50%;font-size:90px;"> </i>
        </div>
    {% endblock %}
    {% block page_content %}
        <div id="page-content"></div>
    {% endblock %}
{% endblock %}
</body>
</html>
