
{% extends "common/base.html" %}

{% block title %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/FAQ.css" type="text/css" />
  <!-- Partials -->
  
  <script src="/js/partials/compiled/FAQ.js" type="text/javascript"></script>
  <script src="/js/compiled/FAQ.js" type="text/javascript"></script>

{% endblock %}

{% block body %}

    
   <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
<div  class="col-md-3 navbar-default">
             <ol style="padding-top: 2cm" class="nav nav-sidebar">
                <div> <strong>Will be Names linked to Definitions</strong></div>


              
              <li><a href="#1" title="What is the Ocean Observatories Initiative (OOI)?"><strong>What is the Ocean Observatories Initiative (OOI)?</strong></a></li>
              <li><a href="#2" title="What are the science themes of the program?"><strong>What are the science themes of the program?</strong></a></li>
              <li><a href="#3" title="What OOI documentation is available on the web?"><strong>What OOI documentation is available on the web?</strong></a></li>
              <li><a href="#4" title="What is the process for submitting proposals to NSF for research utilizing the OOI Network"><strong>What is the process for submitting proposals to NSF for research utilizing the OOI Network</strong></a></li>
              <li><a href="#5" title="What is the OOI data policy?"><strong>What is the OOI data policy?</strong></a></li>
              <li><a href="#6" title="What is the timeframe for RFPs for future locations of the coastal Pioneer Array? Can the Pioneer Array go anywhere when the time comes to move it?"><strong>What is the timeframe for RFPs for future locations of the coastal Pioneer Array? Can the Pioneer Array go anywhere when the time comes to move it?</strong></a></li>
              <li><a href="#7" title="What will the cyberinfrastructure (CI) deliver to enable model-data assimilation?"><strong>What will the cyberinfrastructure (CI) deliver to enable model-data assimilation?</strong></a></li>
              <li><a href="#8" title="What partnerships are being built between the OOI and other domestic and international observing efforts?"><strong>What partnerships are being built between the OOI and other domestic and international observing efforts?</strong></a></li>
              <li><a href="#9" title="What is the interaction between OOI and IOOS?"><strong>What is the interaction between OOI and IOOS?</strong></a></li>
              <li><a href="#10" title="What are OOI plans for education and public engagement?"><strong>What are OOI plans for education and public engagement?</strong></a></li>
              <li><a href="#11" title="What are the expansion capabilities of the OOI?"><strong>What are the expansion capabilities of the OOI?</strong></a></li>
              <li><a href="#12" title="How is the OOI program managed?"><strong>How is the OOI program managed?</strong></a></li>
              <li><a href="#13" title="What is the OOI Construction &amp;amp; Installation Schedules?"><strong>What is the OOI Construction &amp; Installation Schedules?</strong></a></li>
            </ol>          
         
        </div>


        
        <div class="col-md-9">
          <div class="panel">
            <div class="panel-heading">
              
            
                           </div>
            <div class="panel-body">
                       
            <div class="section" id="glossary">
<span id="id1"></span><h1>Example Glossary<a class="headerlink" href="http://matplotlib.org/glossary/index.html#glossary" title="Permalink to this headline">¶</a></h1>
<dl class="glossary docutils">
<dt id="term-agg">AGG</dt>
<dd>The Anti-Grain Geometry (<a class="reference external" href="http://agg.sourceforge.net/antigrain.com/index.html">Agg</a>) rendering engine, capable of rendering
high-quality images</dd>
<dt id="term-cairo">Cairo</dt>
<dd>The <a class="reference external" href="http://cairographics.org/">Cairo graphics</a> engine</dd>
<dt id="term-dateutil">dateutil</dt>
<dd>The <a class="reference external" href="http://labix.org/python-dateutil">dateutil</a> library
provides extensions to the standard datetime module</dd>
<dt id="term-eps">EPS</dt>
<dd>Encapsulated Postscript (<a class="reference external" href="http://en.wikipedia.org/wiki/Encapsulated_PostScript">EPS</a>)</dd>
<dt id="term-freetype">freetype</dt>
<dd><a class="reference external" href="http://www.freetype.org/">freetype</a> is a font rasterization
library used by matplotlib which supports TrueType, Type 1, and
OpenType fonts.</dd>
<dt id="term-gdk">GDK</dt>
<dd>The Gimp Drawing Kit for GTK+</dd>
<dt id="term-gtk">GTK</dt>
<dd>The GIMP Toolkit (<a class="reference external" href="http://www.gtk.org/">GTK</a>) graphical user interface library</dd>
<dt id="term-jpg">JPG</dt>
<dd>The Joint Photographic Experts Group (<a class="reference external" href="http://en.wikipedia.org/wiki/Jpeg">JPEG</a>) compression method and
file format for photographic images</dd>
<dt id="term-numpy">numpy</dt>
<dd><a class="reference external" href="http://numpy.scipy.org/">numpy</a> is the standard numerical
array library for python, the successor to Numeric and numarray.
numpy provides fast operations for homogeneous data sets and
common mathematical operations like correlations, standard
deviation, fourier transforms, and convolutions.</dd>
<dt id="term-pdf">PDF</dt>
<dd>Adobe’s Portable Document Format (<a class="reference external" href="http://en.wikipedia.org/wiki/Portable_Document_Format">PDF</a>)</dd>
<dt id="term-png">PNG</dt>
<dd>Portable Network Graphics (<a class="reference external" href="http://en.wikipedia.org/wiki/Portable_Network_Graphics">PNG</a>), a raster graphics format
that employs lossless data compression which is more suitable
for line art than the lossy jpg format. Unlike the gif format,
png is not encumbered by requirements for a patent license.</dd>
<dt id="term-ps">PS</dt>
<dd>Postscript (<a class="reference external" href="http://en.wikipedia.org/wiki/PostScript">PS</a>) is a
vector graphics ASCII text language widely used in printers and
publishing.  Postscript was developed by adobe systems and is
starting to show its age: for example is does not have an alpha
channel.  PDF was designed in part as a next-generation document
format to replace postscript</dd>
<dt id="term-pygtk">pygtk</dt>
<dd><a class="reference external" href="http://www.pygtk.org/">pygtk</a> provides python wrappers for
the <a class="reference internal" href="http://matplotlib.org/glossary/index.html#term-gtk"><em class="xref std std-term">GTK</em></a> widgets library for use with the GTK or GTKAgg
backend.  Widely used on linux, and is often packages as
‘python-gtk2’</dd>
<dt id="term-pyqt">pyqt</dt>
<dd><a class="reference external" href="http://wiki.python.org/moin/PyQt">pyqt</a> provides python
wrappers for the <a class="reference internal" href="http://matplotlib.org/glossary/index.html#term-qt"><em class="xref std std-term">Qt</em></a> widgets library and is required by
the matplotlib QtAgg and Qt4Agg backends.  Widely used on linux
and windows; many linux distributions package this as
‘python-qt3’ or ‘python-qt4’.</dd>
<dt id="term-python">python</dt>
<dd><a class="reference external" href="http://python.org/">python</a> is an object oriented interpreted
language widely used for scripting, application development, web
application servers, scientific computing and more.</dd>
<dt id="term-pytz">pytz</dt>
<dd><a class="reference external" href="http://pytz.sourceforge.net/">pytz</a> provides the Olson tz
database in Python. it allows accurate and cross platform
timezone calculations and solves the issue of ambiguous times at
the end of daylight savings</dd>
<dt id="term-qt">Qt</dt>
<dd><a class="reference external" href="http://trolltech.com/products/qt/">Qt</a> is a cross-platform
application framework for desktop and embedded development.</dd>
<dt id="term-qt4">Qt4</dt>
<dd><a class="reference external" href="http://trolltech.com/products/qt/">Qt4</a> is the most recent
version of Qt cross-platform application framework for desktop
and embedded development.</dd>
<dt id="term-raster-graphics">raster graphics</dt>
<dd><a class="reference external" href="http://en.wikipedia.org/wiki/Raster_graphics">Raster graphics</a>, or bitmaps,
represent an image as an array of pixels which is resolution
dependent. Raster graphics are generally most practical for
photo-realistic images, but do not scale easily without loss of
quality.</dd>
<dt id="term-svg">SVG</dt>
<dd>The Scalable Vector Graphics format (<a class="reference external" href="http://en.wikipedia.org/wiki/Svg">SVG</a>).  An XML based vector
graphics format supported by many web browsers.</dd>
<dt id="term-tiff">TIFF</dt>
<dd>Tagged Image File Format (<a class="reference external" href="http://en.wikipedia.org/wiki/Tagged_Image_File_Format">TIFF</a>) is a
file format for storing images, including photographs and line
art.</dd>
<dt id="term-tk">Tk</dt>
<dd><a class="reference external" href="http://www.tcl.tk/">Tk</a> is a graphical user interface for Tcl
and many other dynamic languages. It can produce rich, native
applications that run unchanged across Windows, Mac OS X, Linux
and more.</dd>
<dt id="term-vector-graphics">vector graphics</dt>
<dd><a class="reference external" href="http://en.wikipedia.org/wiki/Vector_graphics">vector graphics</a> use geometrical
primitives based upon mathematical equations to represent images
in computer graphics. Primitives can include points, lines,
curves, and shapes or polygons. Vector graphics are scalable,
which means that they can be resized without suffering from
issues related to inherent resolution like are seen in raster
graphics. Vector graphics are generally most practical for
typesetting and graphic design applications.</dd>
<dt id="term-wxpython">wxpython</dt>
<dd><a class="reference external" href="http://www.wxpython.org/">wxpython</a> provides python wrappers
for the <a class="reference internal" href="http://matplotlib.org/glossary/index.html#term-wxwidgets"><em class="xref std std-term">wxWidgets</em></a> library for use with the WX and WXAgg
backends.  Widely used on linux, OS-X and windows, it is often
packaged by linux distributions as ‘python-wxgtk’</dd>
<dt id="term-wxwidgets">wxWidgets</dt>
<dd><a class="reference external" href="http://www.wxwidgets.org/">WX</a> is cross-platform GUI and
tools library for GTK, MS Windows, and MacOS.  It uses native
widgets for each operating system, so applications will have the
look-and-feel that users on that operating system expect.</dd>
</dl>
</div>
</div>
 
            </div><!-- #content -->
            </div><!-- #container --> 
      </div>
    </div>
  </div>
  

<!-- Bootstrap FAQ - END -->
<script type="text/javascript">

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  models: {
    mapModel: new MapModel()
  
  },
  collections: {
     },
  views: {

  },
  start: function() {
    var self = this;


    this.login.fetch({async: false}); // Doesn't actually make an ajax request

    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);

   }
});
var ooi = new OOI();

$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    ooi.start();
});
</script>
{% endblock %}



