<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

  <title>Pioneer</title>

  <link rel='stylesheet' type='text/css' href='/Users/dlangston/Documents/Dev/code/ooi-ui/ooiui/static/css/common/landingTemp.css' />

  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
  <script type='text/javascript' src='/Users/dlangston/Documents/Dev/code/ooi-ui/ooiui/static/js/views/common/landingTemp.js'></script>
</head>

<!-- *NOTE* To start with a menue open add 'id=starter' to <dt> tag.
ex: <dt id="starter">Station Summary</dt> -->
<body>
  <div id="page-wrap">

    <div class="info-col">
      <h2>Location and Sampleing</h2>
      <a class="location" href="">Image</a>
      <dl>
        <dt>Location, Central Mooring</dt>
        <dd>

          <dl style="list-style-type:disk">
            <br />
            <li>
              40.14°N, 70.78°W
            </li>
          </dl>
        </dd>
        <dt>Approximate Water Depth</dt>
        <dd>
          <dl style="list-style-type:disk">
            <br />
            <li>
              133 meters at center of moored array
            </li>
          </dl>
        </dd>
        <dt>AUV sampling at center of moored array</dt>
        <dd>

          <dl style="list-style-type:disk">
            <br />
            <li>
              80 x 110 km box centered on moored array
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Box Corners:
            </li>
            <dl style="list-style-type:circle; padding-left: 20px;">
              <li>SE: 39.67°N, 70.25°W</li>
              <li>SW: 39.67°N, 71.17°W</li>
              <li>NW: 40.67°N, 71.17°W</li>
              <li>NE: 40.67°N, 70.25°W</li>
            </dl>
          </dl>
        </dd>
        <dt>Glider sampling area (approximate)</dt>
        <dd>

          <dl style="list-style-type:disk">
            <br />
            <li>
              130 x 185 km box over outer shelf and slope sea
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Gliders will sample along five tracks off the coast of New England
              (click here for map) <– LINK TO CP_Glider_Tracks_2014-09-15.png
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Box Corners:
            </li>
            <dl style="list-style-type:circle; padding-left: 20px;">
              <li>SE: 39.00°N, 69.92°W</li>
              <li>SW: 39.00°N, 71.50°W</li>
              <li>NW: 40.67°N, 71.50°W</li>
              <li>NE: 40.67°N, 69.92°W</li>
            </dl>
          </dl>
          <br />
          <dl>
            <p>
              <a href="http://oceanobservatories.org/wp-content/uploads/2011/04/Pioneer_Array_Config_SER_Feb2013_wLegend.png"
              target="_blank">Final Pioneer Mooring Array Configuration (plan view)</a>
              <br />
              Nominal latitude and longitude, approximate depths, and distances
              between mooring sites can be viewed in the plan view figure
              linked below.  Contours are marked in fathoms, mooring site
              centers are marked by a black “+” and encircled by an approximate
              0.5-nautical mile radius buffer zone (voluntary area to avoid).
              Distances between buffer zones are shown between arrows.  Red “X”
              symbols denote the locations of know “hangs” avoided by mobile-gear
              fishermen.
            </p>
          </dl>
        </dd>
      </div>

      <div class="info-col">
        <h2>Description of Infrastructure</h2>
        <a class="" href="">Image</a>
        <dl>
          <dt>Description of Infrastructure</dt>
          <dd>
              <dl style="list-style-type:disk">
              <br />
              <li>Three electro-mechanical (EM) surface moorings with wind,
                photovoltaic and fuel cell power generation, satellite
                communications and meteorological sensors, and near surface
                instrument frame (NSIF).</li>
                <li>A multi-function node (MFN) at the base of each EM mooring; two MFNs supporting AUV docks</li>
                <li>Five wire-following profiler moorings with small surface expressions.</li>
                <li>Two surface-piercing profiler moorings</li>
                <li>Three AUVs</li>
                <li>Six gliders</li>
              </dl>
            </dd>
          </div>

          <div class="info-col">
            <h2>Station Summary</h2>
            <a class="" href="">Image</a>
            <dl>
              <dt>Station Summary</dt>
              <dd>
                       style="border-top: 1px solid #f21515;">
                <dl style="list-style-type:disk">
                  <br />
                  <p>
                    The first phase of the Pioneer Array deployment took place
                    in November 2013, with the installation of three moorings – a
                    surface mooring at the central site, a profiler mooring at
                    the upstream inshore site and a profiler mooring at the
                    upstream offshore site. In April 2014, during the second
                    deployment phase, five Wire-Following Profile Moorings were
                    deployed at the Pioneer Array with three gliders. The third
                    and final deployment phase is scheduled for Fall 2014.
                  </p>
                  <br />
                  <p>
                    The backbone of the Pioneer Array will be a frontal-scale
                    moored array with three electro-mechanical (EM) surface
                    moorings and seven profiler moorings. Each surface mooring
                    will incorporate a surface buoy with multiple sources of
                    power generation and multiple surface and subsurface
                    communications systems. Each surface mooring will be
                    anchored by a Multi-Function Node (MFN) on the seafloor.
                    Two MFNs will incorporate docking stations for AUVs. All
                    three MFNs will be capable of supporting multiple onboard
                    (e.g., frame-mounted) sensors as well as external sensor
                    packages connected by wet-mateable connectors. Five
                    profiler moorings with surface expressions for data
                    telemetry will support wire-following profiling packages
                    with a multidisciplinary sensor suite. Two surface-piercing
                    profiler moorings will use a buoyant instrument package
                    capable of profiling from a few meters above the bottom
                    up to the air-sea interface. In order to provide synoptic,
                    multi-scale observations of the outer continental shelf,
                    shelf break region, and continental slope, the moored array
                    will be supplemented by nine mobile platforms – six gliders
                    and three AUVs. The role of the gliders will be to monitor
                    the mesoscale field of the slope sea and outer shelf,
                    resolving rings, eddies and meanders from the Gulf Stream
                    as they impinge on the shelf break front. The AUVs will be
                    the primary tools for resolving cross- and along-front
                    “eddy fluxes” due to frontal instabilities, wind forcing,
                    and mesoscale variability.
                  </p>
                </dl>
              </dd>
            </dl>
          </div>

          <div class="info-col">
            <h2>Pioneer Array Deployment Schedual</h2>
            <a class="" href="">Image</a>
            <dl>
              <dt>OOI Planned Installtion Schedual</dt>
              <dd>
                <dl style="list-style-type:disk">
                  <br />
                  <p><a href="http://oceanobservatories.org/infrastructure/planned-installation-schedule/">
                    PDF</a></p>
                  </dl>
                </dd>
              </div>

              <!-- ((((((((((()))))))))))) -->
              <!-- DETAILED INFRASTRUCTURE -->
              <!-- ((((((((((()))))))))))) -->
              <div class="info-col">
                <h2>Detailed Infrastructure Tables</h2>
                <a class="" href="">Image</a>
                <dl>
                  <dt>Infrastructure Tabels</dt>
                  <dd>
                    <dl style="list-style-type:disk">
                      <br />
                      <ul style="list-style:none;">
                        <li>(A) Inshore Surface-Piercing Profiler Mooring
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/Inst_Tables_Pioneer_2013-06-14_ver_2-04_A_Inshore-SPP.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="disabled btn btn-default" href="#"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(B) Inshore Surface Mooring
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/Inst_Tables_Pioneer_2013-03-27_ver_2-03_Inshore_Surface_Mooring.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00022_CP03ISSM_PIONEER_INSHORE_MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(C) Central Inshore Profiler Mooring (As Deployed)
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_ver_3-02_C_Central_Inshore_Profiler.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00010_CP02PMCI_PIONEER_CENTRAL_INSHORE_MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(D) Central Surface-Piercing Profiler Mooring
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/Inst_Tables_Pioneer_2013-06-14_ver_2-04_D_Central-SPP.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="disabled btn btn-default" href="#"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(E) Central Surface Mooring
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/Inst_Tables_Pioneer_2013-03-27_ver_2-03_Central_Surface_Mooring.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00021_CP01CNSM_PIONEER_CENTRAL_MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(F) Central Offshore Profiler Mooring (As Deployed)
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_ver_3-02_F_Central_Offshore_Profiler.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00011_CP02PMCO_PIONEER_CENTRAL_OFFSHORE_MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(G) Offshore Profiler Mooring (As Deployed)
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_ver_3-02_G_Offshore_Profiler.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00014_CP04OSPM_PIONEER_OFFSHORE_MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(H) Offshore Surface Mooring
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/Inst_Tables_Pioneer_2013-03-27_ver_2-03_Offshore_Surface_Mooring.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00023_CP04OSSM_PIONEER-OFFSHORE-MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(I) Upstream Inshore Profiler Mooring (As Deployed)
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_ver_3-02_I_Upstream_Inshore.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00012_CP02PMUI_PIONEER_UPSTREAM_INSHORE_MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>(J) Upstream Offshore Profiler Mooring (As Deployed)
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_ver_3-02_J_Upstream_Offshore.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00013_CP02PMUO_PIONEER_UPSTREAM_OFFSHORE_MOORING.pdf"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>Mobile Assets – AUV’s
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_ver_3-02_AUV.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="disabled btn btn-default" href="#"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                        <li>Mobile Assets – Glider’s
                          <ul>
                            <div class="btn-group btn-group-xs">
                              <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_ver_3-02_Gliders.jpg"><i class="icon-upload-alt"></i> Table</a>
                              <a class="disabled btn btn-default" href="#"><i class="icon-upload-alt"></i> Diagram</a>
                            </div>
                          </ul>
                        </li>
                      </ul>
                    </dl>

                  <dt>Infrastructure Tables</dt>
                  <dd>
                    <dl style="list-style-type:disk">
                      <br />
                      <p><a href="http://oceanobservatories.org/wp-content/uploads/Inst_Tables_Pioneer_2014-09-15_ver_3-02.pdf" target="_blank">
                        PDF</a></p>
                      </dl>
                    </dd>
                  </div>

                  <!-- ((((((((((()))))))))))) -->
                  <!--   TECHNICAL DRAWINGS    -->
                  <!-- ((((((((((()))))))))))) -->
                  <div class="info-col">
                    <h2>Technical Drawings</h2>
                    <a class="" href="">Image</a>
                    <dl>
                      <dt>Technical Data Package</dt>
                      <dd>
                            <dl style="list-style-type:disk">
                          <br />
                          <ul style="list-style:none;">
                            <li>(A) Inshore Surface-Piercing Profiler Mooring (COMING SOON)
                            </li>
                            <li>(B) Inshore Surface Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00022_CP03ISSM_PIONEER_INSHORE_MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                            <li>(C) Central Inshore Profiler Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00010_CP02PMCI_PIONEER_CENTRAL_INSHORE_MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                            <li>(D) Central Surface-Piercing Profiler Mooring (COMING SOON)
                            </li>
                            <li>(E) Central Surface Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00021_CP01CNSM_PIONEER_CENTRAL_MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                            <li>(F) Central Offshore Profiler Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00011_CP02PMCO_PIONEER_CENTRAL_OFFSHORE_MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                            <li>(G) Offshore Profiler Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00014_CP04OSPM_PIONEER_OFFSHORE_MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                            <li>(H) Offshore Surface Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00023_CP04OSSM_PIONEER-OFFSHORE-MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                            <li>(I) Upstream Inshore Profiler Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00012_CP02PMUI_PIONEER_UPSTREAM_INSHORE_MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                            <li>(J) Upstream Offshore Profiler Mooring
                              <ul>
                                <div class="btn-group btn-group-xs">
                                  <a class="btn btn-info" href="http://oceanobservatories.org/wp-content/uploads/2011/04/3604-00013_CP02PMUO_PIONEER_UPSTREAM_OFFSHORE_MOORING.pdf"><i class="icon-upload-alt"></i>PDF</a>
                                </div>
                              </ul>
                            </li>
                          </ul>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>


              </body>
              </html>
