<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

  <title>Pioneer</title>

  <link rel='stylesheet' type='text/css' href='/Users/dlangston/Documents/Dev/code/ooi-ui/ooiui/static/css/common/landingTemp.css' />

  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
  <script type='text/javascript' src='/Users/dlangston/Documents/Dev/code/ooi-ui/ooiui/static/js/views/common/landingTemp.js'></script>
</head>

<!-- *NOTE* To start with a menue open add 'id=starter' to <dt> tag.
ex: <dt id="starter">Station Summary</dt> -->
<body>
  <div id="page-wrap">

    <div class="info-col">
      <h2>Location and Sampleing</h2>
      <a class="location" href="">Image</a>
      <dl>
        <dt>Location, Central Mooring</dt>
        <dd>

          <dl style="list-style-type:disk">
            <br />
            <li>
              40.14°N, 70.78°W
            </li>
          </dl>
        </dd>
        <dt>Approximate Water Depth</dt>
        <dd>
          <dl style="list-style-type:disk">
            <br />
            <li>
              133 meters at center of moored array
            </li>
          </dl>
        </dd>
        <dt>AUV sampling at center of moored array</dt>
        <dd>

          <dl style="list-style-type:disk">
            <br />
            <li>
              80 x 110 km box centered on moored array
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Box Corners:
            </li>
            <dl style="list-style-type:circle; padding-left: 20px;">
              <li>SE: 39.67°N, 70.25°W</li>
              <li>SW: 39.67°N, 71.17°W</li>
              <li>NW: 40.67°N, 71.17°W</li>
              <li>NE: 40.67°N, 70.25°W</li>
            </dl>
          </dl>
        </dd>
        <dt>Glider sampling area (approximate)</dt>
        <dd>

          <dl style="list-style-type:disk">
            <br />
            <li>
              130 x 185 km box over outer shelf and slope sea
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Gliders will sample along five tracks off the coast of New England
              (click here for map) <– LINK TO CP_Glider_Tracks_2014-09-15.png
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Box Corners:
            </li>
            <dl style="list-style-type:circle; padding-left: 20px;">
              <li>SE: 39.00°N, 69.92°W</li>
              <li>SW: 39.00°N, 71.50°W</li>
              <li>NW: 40.67°N, 71.50°W</li>
              <li>NE: 40.67°N, 69.92°W</li>
            </dl>
          </dl>
          <br />
          <dl>
            <p>
              <a href="http://oceanobservatories.org/wp-content/uploads/2011/04/Pioneer_Array_Config_SER_Feb2013_wLegend.png"
              target="_blank">Final Pioneer Mooring Array Configuration (plan view)</a>
              <br />
              Nominal latitude and longitude, approximate depths, and distances
              between mooring sites can be viewed in the plan view figure
              linked below.  Contours are marked in fathoms, mooring site
              centers are marked by a black “+” and encircled by an approximate
              0.5-nautical mile radius buffer zone (voluntary area to avoid).
              Distances between buffer zones are shown between arrows.  Red “X”
              symbols denote the locations of know “hangs” avoided by mobile-gear
              fishermen.
            </p>
          </dl>
        </dd>
      </div>
    </div>
  </body>
</head>
