{% extends "common/base.html" %}

{% block title %}
  <title>Login Demo</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/loginDemo.css" type="text/css" />
  <script src="/js/partials/loginDemo.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div id="loginView">
      </div>
    </div>
  </div>
  <script src="/js/compiled/loginDemo.js" type="text/javascript"></script>
  <!-- get rid of this when you're done -->
  <!-- move this to Gruntfile.js -->
  <script src="/js/views/common/LoginView.js" type="text/javascript"></script>
  <script type="text/javascript">
$(document).ready(function() {
  var loginView = new LoginView();
});
  </script>
  
{% endblock %}

