<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Browser not supported</title>
</head>
<body style="text-align:center;">
<img src="/img/browser_upgrade.png" usemap="#upgrade" name="upgrade" title="Click Icon to Download"/>
<map name="upgrade">
<area shape="rect" coords="202,216,279,297" href="https://www.mozilla.org/en-US/firefox/new/" alt="Download Firefox" title="Download Firefox">
<area shape="rect" coords="297,216,373,297" href="https://support.google.com/chrome/answer/95346?hl=en" alt="Download Chrome" title="Download Chrome">
<area shape="rect" coords="397,216,469,297" href="https://www.microsoft.com/en-us/windows/microsoft-edge" alt="Download Microsoft Edge" title="Download Microsoft Edge">
</map>
</body>
</html>
