{% extends "base.html" %}

{% block title %}
  <title>Sample</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/opLog.css" type="text/css" />
  <!-- Partials -->
  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

  <script src="/js/partials/compiled/plotsDemo.js" type="text/javascript"></script>
  <script src="/js/compiled/plotsDemo.js" type="text/javascript"></script>


  <!--
  SOME CONTENT
  -->


{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    SAMPLE
  </div>
</div>
{% endblock %}

