{% extends "common/base.html" %}
{% block head %}
{% block title %}
<title>Operations Log</title>
{% endblock %}
<link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/compiled/basic.css" type="text/css" />
<link rel="stylesheet" href="/css/common/timeline.css" type="text/css" />
<!--<link rel="stylesheet" href="/css/compiled/opLog.css" type="text/css" />-->
<!-- Partials -->
<script src="/js/partials/compiled/index.js" type="text/javascript"></script>
<script src="/js/compiled/index.js" type="text/javascript"></script>
<script src="/js/partials/compiled/OpLog.js" type="text/javascript"></script>
<script src="/js/compiled/opLog.js" type="text/javascript"></script>


{% endblock %}

{%block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>

<div id="wrapper">
  <div id="sidebar-wrapper">
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
	<div id="log-search-view" class="col-lg-12">
	</div>
      </div>
      <div class="row">
	<div id="log-timeline" class="cssanimations timeline col-lg-12"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
/*
 * OOI is the main class that we extend from to create behavior and render pages.
 *
 * Here we create the application by extending OOI with Backbone.Events, this
 * gives us the ability to listen to events from models and/or views. When we
 * hear these events the main application can then trigger another view to
 * render, or in this case cause a collection to be fetched as a result.
 */

_.extend(OOI.prototype, Backbone.Events,  {
  login: new LoginModel(),
  // Models and collections
  collections: {
    // Instantiate a new Organizations collection
    organizations: new Organizations(),
    logEntries: new LogEntryCollection(),
    logComments: new LogEntryCommentCollection()
  },
  models: {
    orgModel: new OrganizationModel(),
    userModel: new UserModel()
  },
  views: {
    orgSidebarView: null,
    logSearchView: null,
    timelineView: null
  },
  pageWait: null,
  start: function() {
    var self = this;
    /* Login stuff */
    this.login.fetch({async:false});
    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.banner = new BannerView();
    $('body').prepend(this.views.banner.el);
    
    this.views.navbar = new NavbarView({
        el: $('#navbar')
    });

    if(this.login.loggedIn()) {
      this.models.userModel.fetch({url: '/api/current_user'});      
    }
    /* Views */
    this.views.orgSidebarView = new OrgSidebarView({
      collection: this.collections.organizations,
      userModel: this.models.userModel
    });
    $('#sidebar-wrapper').html(this.views.orgSidebarView.el);

    this.views.logSearchView = new LogSearchView({
      el: $('#log-search-view')
    });
    this.views.logSearchView.render();

    this.views.timelineView = new TimelineView({
      el: $('#log-timeline')
    });
    this.views.timelineView.render();
    
    /* Event listeners */
    this.eventListeners();


  },
  eventListeners:function() {
    var self = this;
    this.listenTo(this, "org:click", this.orgSelection);
    this.listenTo(this, "login:success", this.onLogin);
    this.listenTo(this, "login:logout", this.onLogout);
    this.listenTo(this.models.userModel, 'change', function(model){      
      this.views.orgSidebarView.selectOrg(model.get('organization_id'));
    });
    this.listenTo(this.collections.logEntries, 'add', function(model) {
      self.views.timelineView.addItem(model);
    });
    /* This handles the pagination portion */
    this.listenTo(this.views.timelineView, 'endOfPage', function() {
      if(self.collections.logEntries.endOfCollection) {
        console.log("end of page");
        return;
      }
      if(this.pageWait === null) {
        this.pageWait = new Date().getTime();
      }
      var now = new Date().getTime();
      if(now >= this.pageWait) {
        self.collections.logEntries.offset += self.collections.logEntries.limit;
        var fetch = self.collections.logEntries.fetch({data: {
          limit: self.collections.logEntries.limit,
          offset: self.collections.logEntries.offset
        }});
        this.pageWait = now + 500;
      }
    });
    this.listenTo(this.views.logSearchView, 'onInput', this.search);
    this.listenTo(this, 'timelinenewitem:submit', function(model) {
      var organization_id = self.models.orgModel.get('id');
      model.set('organization_id', organization_id);
      model.save();
      self.orgSelection(organization_id);
    });
  },
  onLogin: function() {
    location.reload();
  },
  onLogout: function() {
    location.reload();
  },
  search: function(query) {
    var self = this;
    var organization_id = this.models.orgModel.get('id');
    if(query == '') {
      this.orgSelection(organization_id);
    }
    this.collections.logEntries.reset();
    this.views.timelineView.render();
    this.collections.logEntries.fetch({data: {
      search: query,
      organization_id: organization_id
    }});
  },
  /*
   * orgSelection is called by the event listener for org:click. The trigger
   * from the OrgSidebarView passes the organization_id in as a parameter. With
   * this we can cause the WatchView to re-render with the new watches we'll
   * fetch, using the organization_id as a query parameter.
   */
  orgSelection: function(organization_id) {
    var self = this;
    this.models.orgModel.set({id: organization_id});
    this.models.orgModel.fetch();
    this.collections.logEntries.reset();
    this.views.timelineView.render();
    this.collections.logEntries.fetch({data: {organization_id: organization_id, limit: 20, offset: 0}});
  },
  test: function() {
    var now = moment().format('MMMM Do YYYY, h:mm:ss a');
    var log_entry = new LogEntryModel({
      entry_title: "New Title",
      entry_description: "This was posted on " + now
    });
    log_entry.save();
  }
});
// Instantiate the application for this page
var ooi = new OOI();

$(document).ready(function() {
  // Once the DOM is loaded, we start our application
  ooi.start();
});


</script>

{% endblock %}
