{% extends "common/base.html" %}

{% block title %}
    <title>Basic</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/plotsDemo.css" type="text/css" />
  <!-- Partials -->
  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

  <script src="/js/partials/compiled/plotsDemo.js" type="text/javascript"></script>
  <script src="/js/compiled/plotsDemo.js" type="text/javascript"></script>

{% endblock %}

{% block body %}
<div id="wrapper">
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div id="panelLeft" class="col-lg-6">
        </div>
        <div id="panelRight" class="col-lg-6">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  start: function() {
    this.navbar = new NavbarView({
      login: this.login
    });
    $('body').prepend(this.navbar.el);
    this.leftPanel = new PanelView({
      heading: 'Charts',
      body: "empty text"
    });
    $('#panelLeft').html(this.leftPanel.el);
    this.rightPanel = new PanelView({
      heading: 'Table goes here',
      body: '<div class="col-sm-12">Looks funkie</div>'
    });
    $('#panelRight').html(this.rightPanel.el);
    this.chartView = new ChartView();
    this.leftPanel.$el.find('.panel-body').html(this.chartView.el);
    this.chartView.render();
    this.fakeTableView = new FakeTableView({
      collection: new FakeTableCollection()
    });
    this.rightPanel.$el.find('.panel-body').html(this.fakeTableView.el);
  }
});

var ooi = new OOI();

$(document).ready(function() {
    ooi.start();
});
</script>

{% endblock %}
