{% extends "common/base.html" %}

{% block title %}
  <title>Status Dashboard</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" />

  <script src="/js/partials/compiled/status.js" type="text/javascript"></script>
  <script src="/js/compiled/status.js" type="text/javascript"></script>
  <link href="/css/common/toc_menu.css" rel="stylesheet" type="text/css" />

  <!--
  <script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
  <script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
  <script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>
  -->

{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id="navbar" class="row"></div>
  </div>

  <div id="wrapper">
  <div id="page-content-wrapper">
  <div class="container-fluid">
    {% block sidebar %}
      {{ super() }}
    {% endblock %}
    <div class="row">
      <div class="col-lg-12">
        <div id="aa-panel" class="panel">
          <div id="aa-panel-body" class="panel-body">
            <div class="col-sm-12" id="toc_breadcrumb" style='font-weight:bold;padding-top:35px;'>
              Something something dark side.....
              <i id="missingLL">0</i>
              <i id="current_selection" style="color:#337ab7"></i>
            </div> 
           
            <div class="row form-group">      
              <div id='statusList' class="col-sm-8">
              </div>

              <div id='statusMap' class="col-sm-4">
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Menu Toggle Script -->
  <script type="text/javascript">
    var bannerTitle = "Alerts & Alarms";

    var vent = _.extend({}, Backbone.Events);

    _.extend(OOI.prototype, Backbone.Events, {
      login: new LoginModel(),
      models: {     
        trigModel: new TriggeredModel(), 
        userModel: new UserModel(),
        selectedStream: null
      },
      collections: {
        arrays: new ArrayCollection(),
        triggeredAlertsList: new TriggeredFullCollection(),
        assetInfo: new AssetCollection()
      },
      views: {
        statusAlertView : null,
        assetMapView : null
      },
      start: function() {
        this.login.fetch({async:false});
        navbar = new NavbarView({
          login: this.login
        });

        var self = this;

        var banner = new BannerView({ bannerTitle:bannerTitle });
        $('body').prepend(banner.el);
        this.views.navbar = new NavbarView({
          el: $('#navbar')
        });

        self.views.statusAlertView = new StatusAlertView({
          el: $('#statusList'),
          collection: self.collections.triggeredAlertsList
        });

        self.views.assetMapView = new AssetMapView({
          el: $('#statusMap'),
          collection: self.collections.triggeredAlertsList
        });

        // TOC, render out our views:
        this.listenTo(this, 'toc:selectArray', function(options) {  

          self.getStatusFor('array',options);
          if (options.get('array_code') == 'CE'){
            console.log('get Alerts alarms')
          }else{
            console.log('i cant do this yes');
          }
        });

        // TOC, render out our views:
        this.listenTo(this, 'toc:selectPlatform', function(options) {         
          //console.log(options);
        });

        // TOC, render out our views:
        this.listenTo(this, 'toc:selectInstrument', function(options) {          
          console.log(options.get('coordinates'),'instrument');
          self.getStatusFor('instrument',options);          
        });

        // TOC, render out our views:
        this.listenTo(this, 'toc:selectStream', function(options) {          
          //console.log(options);
        });

        // TOC, render out our views:
        this.listenTo(this, 'invalidLatLon', function(options) {          
          $('#missingLL').text('missing position/status information')
        });


        var trigAlertsFetch = self.collections.triggeredAlertsList.fetch({reset: true});
        var assetInfoFetch = self.collections.assetInfo.fetch({reset: true});

        //RE-RENDER TABLE and map
        $.when(assetInfoFetch, trigAlertsFetch).done(function() {
         
          //create feature id name
          // TODO MOVE THIS OUT! need to move the nest attr up one level, so we can WHERE them
          self.collections.triggeredAlertsList.each(function(model,i) {

            model.set("reference_designator", model.get('alert_alarm_definition').reference_designator);
            model.set("instrument_parameter", model.get('alert_alarm_definition').instrument_parameter);
            model.set("aa_def_id", model.get('alert_alarm_definition').id);

            var fields = [  model.get("aa_def_id"),                        
                            model.get("reference_designator"),
                            model.get("method"),
                            model.get("instrument_parameter"),
                            model.get("event_type")                        
                         ]

            var feature_id = fields.join("_");
            model.set('feature_id',feature_id)
          });
          //
          self.views.statusAlertView.render();
          //       
        });
        
        

        var arrayFetch = arrayCollection.fetch({ reset: true });

        var data = {
          min : 'True'
        };

        $.when(arrayFetch).done(function() {
          var assetFetch = assetCollection.fetch({ data: data, reset: true });
          $.when(assetFetch).done(function() {            
            var streamFetch = streamCollection.fetch({ data: data,  reset: true });
            $.when(streamFetch).done(function() {
              $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
                vent.trigger('toc:cleanUp');
                vent.trigger('toc:cleanUp');
              });
            });
          });
        });

        this.listenTo(this, "login:success", this.onLogin);
        this.listenTo(this, "login:logout", this.onLogout);

      },
      getStatusFor:function(status_type,options){
        var self = this;
        console.log(status_type,options);

        if (status_type == "instrument"){
          //gets the first one
          var ref_collection = self.collections.triggeredAlertsList.findWhere({reference_designator: options.get('ref_des')});
          self.views.assetMapView.addStation(options,ref_collection);
        }else if (status_type == "array"){

          var arrayMapping = {"CP":new L.LatLngBounds([[42,-74],[36,-65]]),
                              "CE":new L.LatLngBounds([[48,-133],[42,-123]])     
                              }


          var mapping = arrayMapping[options.get('array_code')]

          var coors = [[
                        [mapping.getNorthWest().lng,mapping.getNorthWest().lat],
                        [mapping.getNorthEast().lng,mapping.getNorthEast().lat],
                        [mapping.getSouthEast().lng,mapping.getSouthEast().lat],
                        [mapping.getSouthWest().lng,mapping.getSouthWest().lat],
                      ]]


          options.attributes.geo_location.coordinates = coors;

          self.views.assetMapView.renderGeographicStatus(options,ref_collection);
        }

      }
    });

    // controller for our model collections
    var assetCollection     = new AssetCollection();
    var arrayCollection     = new ArrayCollection();
    var streamCollection    = new StreamCollection();


    function renderTOCView( container, contents, streams ) {
      var tocView = new TOCView({
        arrayCollection:    container,
        assetCollection:    contents,
        streamCollection:   streams
      });
      tocView.render();
      // remove the spinner
      $('i#tocSpinner').remove();
      // append the toc
      $('#sidebar-wrapper').append( tocView.el );

      tocView.renderAssets();
      tocView.renderStreams();
    }

    function showSearchResults( collection ) {
      vent.trigger('toc:derenderItems');

      var searchResultView = new SearchResultView({ collection:collection });
      searchResultView.render();

      $('#assetBrowser').remove();

      $('#sidebar-wrapper').append(searchResultView.el);
    }

    function updateCollection( assetCallback ){
      var data = {
        search : $('#search-filter').val()
      };
      assetCollection.fetch({
        data : data,
        success : assetCallback
      });
    }

    var ooi = new OOI();

    $(document).ready(function() {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });
      ooi.start();
      $('#navbar').prepend(navbar.el);
      $('#search-clear').hide();
      $('#search-clear').click(function(){
        $('#search-filter').val('').focus();
        $(this).hide();
        vent.trigger('toc:derenderItems');
        var assetFetch = assetCollection.fetch();
        $.when(assetFetch).done(function() {
          $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
            vent.trigger('toc:cleanUp');
            vent.trigger('toc:cleanUp');
          });
        });
      });

      $('#search-submit').click(function(e) {
        $('#search-clear').toggle(Boolean($(this).val()));
        $('#search-clear').toggle(Boolean($('#search-filter').val()));
        updateCollection( showSearchResults );
      });

      $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
      });
    });

  </script>
{% endblock %}
