{% extends "common/base.html" %}

{% block title %}
  <title>OOI - Home</title>
{% endblock %}

{% block beforebootstrap %}

{% endblock %}

{% block head %}
  <meta name='viewport' content='initial-scale=2,maximum-scale=3,user-scalable=yes' />
  <link href="/css/custom/banner.css" rel="stylesheet" type="text/css" />
  <link href="/css/custom/navbar.css" rel="stylesheet" type="text/css" />
  <link href="/css/custom/custom.css" rel="stylesheet" type="text/css" />
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/home/home.css" rel="stylesheet" type="text/css" />
  <link href="/css/home/array_content/array_content.css" rel="stylesheet" type="text/css" />
  <link href="/css/home/vector_map/vector_map.css" rel="stylesheet" type="text/css"/>
  <!--<link href='/lib/mapbox-gl-js/dist/mapbox-gl.css' rel='stylesheet' />-->
  <link href='/lib/mapbox.js/mapbox.css' rel='stylesheet' />
  <!-- page resources --<>

  <!-- Partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/landingPages.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/landingPages.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/home.js" type="text/javascript"></script>
  <script src="/js/models/asset_management/PlatformModel.js" type="text/javascript"></script>

  <script src="/js/views/home/vector_map/vector_map.js" type="text/javascript"></script>
  <script src="/js/views/home/array_content/array_content.js" type="text/javascript"></script>

  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>
  <script src="/js/views/home/tile_map/tile_map.js" type="text/javascript"></script>
  <!--<script src='/lib/mapbox-gl-js/js/mapbox-gl.js'></script>-->
  <script src='/lib/mapbox.js/mapbox.js'></script>
  <script src="/lib/jqtree/tree.jquery.js"></script>
  <link href="/lib/jqtree/jqtree.scss" rel="stylesheet/scss" type="text/css" />
{% endblock %}

{%block body %}

    <div class="container-fluid">
    <div id="navbar" class="row"></div>
  </div>

  <div id="wrapper" class="home-page" style="padding-left: 0px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7" id="left">
          <div class="text-left" style="padding-left: 15px">
            <h3><b>Research Arrays</b><small>  Select an array on the map or choose from the list.</small></h3>
          </div>

{#      <div class="array-content"></div>#}
          <div id="testTree"></div>



        </div>
        <div class="col-xs-5 col-sm-5 col-md-5" id="right">
          <div id="map"></div>
          <!--<pre id="info"></pre>-->
        </div>
      </div>
    </div>
  </div><!-- wrapper -->









  <!-- fade in image -->
    <script>
    // Instantiate the application for this page
    var ooi = new OOI();

    var vent = _.extend({}, Backbone.Events);

    $(document).ready(function() {
      var self = this;
      var arrayCollection = new ArrayStatusCollection();
      var siteStatusCollection = new SiteStatusCollection();

      arrayCollection.fetch().then(function() {
        // Sort the arrays
        arrayCollection.sortByField('display_name','ascending');
        var mapStyle = 'tile';

        // Render the site content for each array
        var arrayContent = new ArrayContentSummary({el: $('.array-content'), collection: {arrayCollection, siteStatusCollection}});
        arrayContent.render();

        // Render the map
        if (mapStyle === 'tile') {
          var tileMap = new TileMap({id: 'map', collection: {arrayCollection}});
          tileMap.render();
        }
      });

      // Takes care of the strange size of the map
      window.onresize = function(event) {
        resizeMap(arrayCollection);
      };

      var resizeMap = (function(arrayCollection) {
        vpw = $(window).width() - 200;
        //50 pixels for the h3 heading
        var sectionHeight = parseInt($('div#wrapper').css('margin-top'), 10) - 10;
        vph = $('#wrapper').height() - sectionHeight;
        $('#map').css({'height': vph + 'px'});
        //$('.array-content').css({'height': vph + 'px'});
        $('.array-content').css({'height': "100%"});
        //select the size of the objects based on the array length, adjust for border
        $('.js-expand').css('height', Math.floor(vph/arrayCollection.length) - 2*arrayCollection.length + 'px')
      });
      resizeMap(arrayCollection);


      var sampleData = [
        {
          "label": "Cabled",
          "id": "RS",
          "load_on_demand": true
        },
        {
          "label": "Endurance",
          "id": "CE",
          "load_on_demand": true
        }
      ];

      var $testTree = $('#testTree');

      $testTree.tree({
        "plugins" : [
          {#          "checkbox",#}
          {#          "contextmenu",#}
          {#          "dnd",#}
          {#          "massload",#}
          {#          "search",#}
          {#          "sort",#}
          {#          "state",#}
          {#          "types",#}
          {#          "unique",#}
          "wholerow"
          {#          "changed",#}
          {#          "conditionalselect"#}
        ],
        data : sampleData,
        dataUrl: '/api/uframe/status/sites',
        autoOpen: false,
        onCreateLi: function(node, $li) {
          // Add 'icon' span before title
          console.log('node.status');
          console.log(node.status);
          if(node.status === 'failed'){
            $li.find('.jqtree-title').before('<span class="fa fa-thumbs-down" style="color:red;"></span>');
          }else{
            $li.find('.jqtree-title').before('<span class="fa fa-thumbs-up"></span>');
          }

          var $span = $li.children('.jqtree-element').find('span.jqtree-title');
          $span.attr('id', node.id);
          $span.attr('status', node.status);

          console.log($li);
          $li.addClass('jqtree-'+node.status);
{#          $li.addClass('js-expand');#}

       {#   <div class="panel-heading">
        <h4 id="<%= properties.code %>" class="js-expand"><%= properties.description %><i class="fa fa-chevron-down pull-right" style="color: black;"></i></h4>
    </div>#}

        },
        dataFilter: function(data) {
          console.log('dataFilter');
          console.log(data);
          var treeObjects = [];

          // Arrays
          if(data.sites !== undefined) {
            _.each(data['sites'], function (siteData) {
              console.log('siteData');
              console.log(siteData);
              var arrayTreeObject = [];
              arrayTreeObject['label'] = siteData.display_name;
              arrayTreeObject['id'] = siteData.reference_designator;
              arrayTreeObject['status'] = siteData.status;
              arrayTreeObject['reason'] = siteData.reason;
              arrayTreeObject['chldren'] = [];
              treeObjects.push(arrayTreeObject);
            });
          }

          // Platforms
          if(data.platforms !== undefined) {
            _.each(data['platforms'], function (platformData) {
              console.log('platformData');
              console.log(platformData);
              var platformTreeObject = [];
              platformTreeObject['label'] = platformData.header.title;
              platformTreeObject['id'] = platformData.header.code;
              platformTreeObject['status'] = platformData.header.status;
              platformTreeObject['reason'] = platformData.reason;
              platformTreeObject['children'] = [];

              _.each(platformData.items, function(item) {
                var itemObject = [];
                itemObject['label'] = item.display_name;
                itemObject['id'] = item.reference_designator;
                itemObject['status'] = item.status;
                itemObject['reason'] = item.reason;
                itemObject['children'] = [];
                platformTreeObject['children'].push(itemObject);
              });

              treeObjects.push(platformTreeObject);
            });
          }

          console.log(treeObjects);

          //return data['arrays'];
          if(treeObjects.length > 0){
            return treeObjects;
          }else{
            return null;
          }

        }
      });

      $testTree.bind(
        'tree.click',
        function(e) {
          console.log('tree.click');
          console.log(e.node);
          console.log(e.node.id.length);
          if(e.node.id.length == 8){
            $testTree.tree('loadDataFromUrl', '/api/uframe/status/platforms/'+e.node.id, e.node);
          }
          if(e.node.id.length == 27){
            //$testTree.tree('loadDataFromUrl', '/api/uframe/status/instruments/'+e.node.id, e.node);
          }

        }
      );





      ooi.start();
    });

    var bannerTitle = "Home";
    var banner = new BannerView({bannerTitle});

    _.extend(OOI.prototype, Backbone.Events,  {
      login: new LoginModel(),
      views: {},
      collections: {
        organizations: new Organizations(),
      },
      models: {},
      getURLParameter: function(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i=0; i < sURLVariables.length; i++) {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam) {
            return sParameterName[1];
          }
        }
      },
      start: function() {
        var self = this;
        var ciLogonToken = this.getURLParameter('token'),
          ciLogonTimeout = this.getURLParameter('expiration');
        if (ciLogonToken) {
          var date = new Date();
          date.setTime(date.getTime() + ciLogonTimeout*1000);
          $.cookie('ooiusertoken', ciLogonToken, {expires: date});
          ooi.trigger('login:success');
        }
        this.login.fetch({async:false});
        //--------------------------------------------------------------------------------
        // Views
        //--------------------------------------------------------------------------------

        this.views.banner = banner;
        $('body').prepend(this.views.banner.el);


        this.views.navbar = new NavbarView({
          el: $('#navbar')
        });

        // Show the streaming data banner
        if (!_.isUndefined(this.views.banner) && this.views.banner.checkStreaming()){
          $('#wrapper').addClass('news-active');
          $('.container-fluid.banner-image').addClass('news-active');
        }
      }
    });
  </script>
{#  <script>
    // Instantiate the application for this page
    var ooi = new OOI();

    var vent = _.extend({}, Backbone.Events);



    $(document).ready(function() {
      var sampleData = [
        {
          "label": "Cabled",
          "id": "RS",
          "load_on_demand": true
        },
        {
          "label": "Endurance",
          "id": "CE",
          "load_on_demand": true
        }
      ];

      var $testTree = $('#testTree');

      $testTree.tree({
        "plugins" : [
          #}{#          "checkbox",#}{#
          #}{#          "contextmenu",#}{#
          #}{#          "dnd",#}{#
          #}{#          "massload",#}{#
          #}{#          "search",#}{#
          #}{#          "sort",#}{#
          #}{#          "state",#}{#
          #}{#          "types",#}{#
          #}{#          "unique",#}{#
          "wholerow"
          #}{#          "changed",#}{#
          #}{#          "conditionalselect"#}{#
        ],
        data : sampleData,
        dataUrl: '/api/uframe/status/sites',
        autoOpen: false,
        onCreateLi: function(node, $li) {
          // Add 'icon' span before title
          console.log('node.status');
          console.log(node.status);
          if(node.status === 'failed'){
            $li.find('.jqtree-title').before('<span class="fa fa-thumbs-down" style="color:red;"></span>');
          }else{
            $li.find('.jqtree-title').before('<span class="fa fa-thumbs-up"></span>');
          }

          var $span = $li.children('.jqtree-element').find('span.jqtree-title');
          $span.attr('id', node.id);
          $span.attr('status', node.status);

          console.log($li);
          $li.addClass('jqtree-'+node.status);
          $li.addClass('js-expand');

       #}{#   <div class="panel-heading">
        <h4 id="<%= properties.code %>" class="js-expand"><%= properties.description %><i class="fa fa-chevron-down pull-right" style="color: black;"></i></h4>
    </div>#}{#

        },
        dataFilter: function(data) {
          console.log('dataFilter');
          console.log(data);
          var treeObjects = [];

          // Arrays
          if(data.sites !== undefined) {
            _.each(data['sites'], function (siteData) {
              console.log('siteData');
              console.log(siteData);
              var arrayTreeObject = [];
              arrayTreeObject['label'] = siteData.display_name;
              arrayTreeObject['id'] = siteData.reference_designator;
              arrayTreeObject['status'] = siteData.status;
              arrayTreeObject['reason'] = siteData.reason;
              arrayTreeObject['chldren'] = [];
              treeObjects.push(arrayTreeObject);
            });
          }

          // Platforms
          if(data.platforms !== undefined) {
            _.each(data['platforms'], function (platformData) {
              console.log('platformData');
              console.log(platformData);
              var platformTreeObject = [];
              platformTreeObject['label'] = platformData.header.title;
              platformTreeObject['id'] = platformData.header.code;
              platformTreeObject['status'] = platformData.status;
              platformTreeObject['reason'] = platformData.reason;
              platformTreeObject['children'] = [];

              _.each(platformData.items, function(item) {
                var itemObject = [];
                itemObject['label'] = item.display_name;
                itemObject['id'] = item.reference_designator;
                itemObject['status'] = item.status;
                itemObject['reason'] = item.reason;
                itemObject['children'] = [];
                platformTreeObject['children'].push(itemObject);
              });

              treeObjects.push(platformTreeObject);
            });
          }

          console.log(treeObjects);

          //return data['arrays'];
          if(treeObjects.length > 0){
            return treeObjects;
          }else{
            return null;
          }

        }
      });

      $testTree.bind(
        'tree.click',
        function(e) {
          console.log('tree.click');
          console.log(e.node);
          console.log(e.node.id.length);
          if(e.node.id.length == 8){
            $testTree.tree('loadDataFromUrl', '/api/uframe/status/platforms/'+e.node.id, e.node);
          }
          if(e.node.id.length == 27){
            //$testTree.tree('loadDataFromUrl', '/api/uframe/status/platforms/'+e.node.id, e.node);
          }

        }
      );




    });

  </script>#}
{% endblock %}
