{% extends "common/base.html" %}

{% block title %}
    <title>Edit User</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/svgplot.css" type="text/css" />
  <!-- Partials -->
  <script src="/js/partials/compiled/svgplot.js" type="text/javascript"></script>
  <script src="/js/compiled/svgplot.js" type="text/javascript"></script>
{% endblock %}

{%block body %}    

<div id="wrapper">
  <div id="sidebar-wrapper" class="navbar-default">
  </div> <!-- #sidebar-wrapper -->
  <div id="page-content-wrapper">
    <div class="content-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-hdd" aria-hidden="true"> Data Catalog</span>
            </div>
            <div class="panel-body">
              <div id="stream-table-view">
                <i class="fa fa-spinner fa-spin" style="margin-left:50%;font-size:90px;"> </i>
              </div> <!-- #view -->
            </div> <!-- .panel-body -->
          </div> <!-- .panel -->
        </div> <!-- .col -->
      </div> <!-- .row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">
              Graph
            </div>
            <div class="panel-body">
              <div id="plot-view">
                <i class="fa fa-spinner fa-spin" style="margin-left:50%;font-size:90px;"> </i>
              </div> <!-- #view -->
              <div id="plotcontrols">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel">
            <div class="panel-heading">
              Annotations
            </div>
            <div class="panel-body">
              <div id="annotation-table">
                <i class="fa fa-spinner fa-spin" style="margin-left:50%;font-size:90px;"> </i>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
    </div> <!-- .content-fluid -->
  </div> <!-- #page-content-wrapper -->
</div> <!-- #wrapper -->


<script type="text/javascript">

var userId = parseInt(window.location.href.split('/').pop());

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  collections: {
    annotations: new AnnotationCollection(),
    streams: new StreamCollection()
  },
  views: {
  },
  models: {
  },
  start: function() {
    var self = this;
    this.login.fetch({async: false});
    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);
    this.views.navbar.sidebarToggle();
    this.views.svgplot = new SVGPlotView({
      height: 400,
      width: 600,
      el: $('#plot-view')
    });
    this.views.streamTableView = new StreamTableView({
      collection: this.collections.streams,
      el: $('#stream-table-view')
    });
    this.views.annotationTableView = new AnnotationTableView({
      collection: this.collections.annotations,
      el: $('#annotation-table')
    });
    this.views.svgPlotControlView = new SVGPlotControlView({
      el: $('#plotcontrols')
    });
    this.collections.annotations.fetch({reset: true});
    this.collections.streams.fetch({reset:true});

    this.listenTo(this, 'StreamTableItemView:onRowClick', function(model) {
      console.log(model.attributes);
      self.views.svgPlotControlView.setModel(model);
      self.views.svgplot.setModel(model);
    });
  }
});

var ooi = new OOI();

$(document).ready(function() {
  ooi.start();
  var svgUrl = '/svg/plotdemo';
});

</script>

{% endblock %}
