{% extends "common/base.html" %}

{% block title %}
<title>Trouble Ticket Submission</title>
{% endblock %}

{% block head %}
<link href='http://fonts.googleapis.com/css?family=Sirin+Stencil|Kreon|Ubuntu+Condensed|Advent+Pro:400,600|Galdeano|Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="/css/compiled/troubleTicket.css" type="text/css" />
<script src="/js/partials/compiled/troubleTicket.js" type="text/javascript"></script>
<script src="/js/compiled/troubleTicket.js" type="text/javascript"></script>
<script src="/js/views/common/TroubleTicketView.js" type="text/javascript"></script>
<script src="/js/models/common/TroubleTicketModel.js" type="text/javascript"></script>
{% endblock %}

{%block body %}
<div id="wrapper">

  <div id="sidebar-wrapper" class="navbar-default">
  </div>

  <div id="page-content-wrapper">
  </div><!-- =page-content-wrapper -->

</div> <!-- wrapper -->


<script type="text/javascript">
_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  views: {
ticket: new TroubleTicketView({model: new TroubleTicketModel()})
  },
  collections: {}, 
  start: function() {
    this.login.fetch({async:false});
    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);
    this.views.navbar.sidebarToggle(); // Hide the sidebar
    this.listenTo(this, "login:success", this.onLogin);
    this.listenTo(this, "login:logout", this.onLogout);
    $('#page-content-wrapper').prepend(this.views.ticket.el);
  }
});
var ooi = new OOI();
$(document).ready(function () {
  console.log("start");
  ooi.start();
  console.log(ooi);
});
</script>
<script>
$(document).ready(function() {
  $('#datePicker')
  .datepicker({
    format: 'mm/dd/yyyy',
    autoclose: 'true'
  })
});
</script>
{% endblock %}
