{% extends "common/base.html" %}

{% block title %}
    <title>Edit Users</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/users.css" type="text/css" />
  <!-- Partials -->
  <script src="/js/partials/compiled/users.js" type="text/javascript"></script>
  <script src="/js/compiled/users.js" type="text/javascript"></script>
{% endblock %}

{%block body %}    

<div id="wrapper">
  <div id="sidebar-wrapper" class="navbar-default">
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading">
              Heading
            </div>
            <div class="panel-body">
              <div id="grid">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->
    </div>
  </div>
</div>


<script type="text/javascript">

var columns = [{
    name: "id", // The key of the model attribute
    label: "ID", // The name to display in the header
    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
    // Defines a cell type, and ID is displayed as an integer without the ',' separating 1000s.
    cell: Backgrid.IntegerCell.extend({
      orderSeparator: ''
    })
  }, {
    name: "user_name",
    label: "User Name",
    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
    // The cell type can be a reference of a Backgrid.Cell subclass, any Backgrid.Cell subclass instances like *id* above, or a string
    cell: "string" // This is converted to "StringCell" and a corresponding class in the Backgrid package namespace is looked up
  }, {
    name: "first_name",
    label: "First Name",
    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
    cell: "string" // An integer cell is a number cell that displays humanized integers
  }, {
    name: "last_name",
    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
    label: "Last Name",
    cell: "string" // A cell type for floating point value, defaults to have a precision 2 decimal numbers
  }, {
    name: "email",
    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
    label: "Email",
    cell: "email"
  }, {
    name: "active",
    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
    label: "Active?",
    cell: "boolean" // Renders the value in an HTML anchor element
}];


// Render the grid and attach the root to your HTML document


_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  views: {},
  models: {
  },
  collections: {
    users: new UserCollection(),
  },
  start: function() {
    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);
    console.log("OOI Ready");
    this.grid = new Backgrid.Grid({
        columns: columns,
        collection: this.collections.users
    });
    $("#grid").append(this.grid.render().el);
    this.collections.users.fetch({reset:true});
  }
});

var ooi = new OOI();

$(document).ready(function() {
  ooi.start();
});

</script>

{% endblock %}
