{% extends "common/base.html" %}

{% block title %}
    <title>Edit User</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/compiled/userEdit.css" type="text/css" />
  <!-- Partials -->
  <script src="/js/partials/compiled/userEdit.js" type="text/javascript"></script>
  <script src="/js/compiled/userEdit.js" type="text/javascript"></script>
{% endblock %}

{%block body %}    

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div id="user-edit">
      </div>
    </div>
  </div> <!-- row -->
</div>


<script type="text/javascript">

var userId = parseInt(window.location.href.split('/').pop());

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  views: {},
  models: {
    userModel : new UserModel({id: userId})
  },
  start: function() {
    this.login.fetch({async: false});
    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);
    this.models.userModel.fetch();
    this.views.userEditFormView = new UserEditFormView({
      el: $('#user-edit'),
      model: this.models.userModel
    });
  }
});

var ooi = new OOI();

$(document).ready(function() {
  ooi.start();
});

</script>

{% endblock %}
