<!DOCTYPE HTML>
<!-- RPS | ASA OOI project -->
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<title>OOI TEST PAGE</title>
        <script type="text/javascript"
            src="{{url_for('static', filename='js/bower_components/jquery/dist/jquery.js')}}"></script>
        <!-- Grab react -->
        <!--<script type="text/javascript"
            src="{{url_for('static', filename='js/bower_components/react/react.js')}}"></script>
        <!-- Finally, get the ooiservice API -->
        <script type="text/javascript"
            src="{{url_for('static', filename='js/ooi/api-GET.js')}}"></script>
        <script type="text/javascript"
            src="{{url_for('static', filename='js/ooi/build-nav-menu.js')}}"></script>
    </head>
    <body>
        <div>
            <button onclick="BuildTOCMenu()">Build TOC!</button>
        </div>

        <div id="arrays"></div>

        <div id="platforms"></div>

        <div id="instruments"></div>
        <div id="stream"></div>
    </body>
</html>