<%
        var params = [
                ['PC02AA PC02Air-Sea', 'Air-Sea CO2 Flux'],

                ['FDCHPA METBKA FDCMETAir-SeaHeat', 'Air-Sea Heat Flux'],

                ['FDCHPA METBKA FDCMETAirTemp', 'Air Temperature'],

                ['PC02AA PC02Atmo', 'Atmospheric CO2'],

                ['METBKA METBKAAtmoPress', 'Atmospheric Pressure'],

                ['ZPLSCB ZPLSCC ZPLB', 'Bioacoustic Sonar'],

                ['OPTAAC OPTAAD OPTAAJ FLNTUA FLCDRA FLORDD FLORDL FLORDM FLORTD FLORTJ FLORTK FLORTM FLORTChloro', 'Chlorophyll'],

                ['CTDAVN CTDBPC CTDBPD CTDBPE CTDBPF CTDBPN CTDBPO CTDBPP CTDGVM CTDMOG CTDMOH CTDMOQ CTDMOR CTDPFA CTDPFB CTDPFJ CTDPFK CTDPFL CTDDensity', 'Density'],

                ['METBKA METBKADownIrrad', 'Downwelling Irradiance'],

                ['CAMHDA HDLarge', 'HD Video'],

                ['FDCHPA METBKA METBKAHumid FDCMETHumid', 'Humidity'],

                ['HYDBB HYDLF HYDHydroFloor HYDHydrophoneLarge', 'Hydrophone'],

                ['MASSPA THSPHA TRHPHA TMPSFA TMPHydroThermal', 'Hydrothermal Vent Chemistry'],

                ['NUTNRB NUTNRA NUTNRM NUTNRNitrate', 'Nitrate'],

                ['DOSTA DOFST', 'Oxygen'],

                ['PARADA PARADJ PARADK PARADM PARADPAR', 'PAR'],

                ['PHSENA PHSENB PHSEND PHSENE PHSENF PHpH', 'pH'],

                ['METBKA METBKAPrecip', 'Precipitation'],

                ['PRESFA PRESFB PRESFC PRESTA PRESTB CTDAVN CTDBPC CTDBPD CTDBPE CTDBPF CTDBPN CTDBPO CTDBPP CTDGVM CTDMOG CTDMOH CTDMOQ CTDMOR CTDPFA CTDPFB CTDPFJ CTDPFK CTDPFL CTDPress', 'Pressure'],

                ['CTDAVN CTDBPC CTDBPD CTDBPE CTDBPF CTDBPN CTDBPO CTDBPP CTDGVM CTDMOG CTDMOH CTDMOQ CTDMOR CTDPFA CTDPFB CTDPFJ CTDPFK CTDPFL CTDSalinGen METBKA CTDSalinAir-Sea', 'Salinity'],

                ['BOTPTA PRESFA PRESFB PRESFC PRESTA PRESTB HPIESA PRESSeaFloorPress', 'Seafloor Pressure'],

                ['PC02WA PC02WB PC02WC PC02AA PC02Sea', 'Seawater CO2'],

                ['OBSBBA OBSSPA OBSSeismicLarg OBSSeismice', 'Seismic Activity'],

                ['SPKIRA SPKIRB SPKIRJ SPIKRSpectral', 'Spectral Irradiance'],

                ['CAMDSC CAMDSB CAMLarge', 'Still Images'],

                ['OPTAAC OPTAAD OPTAAJ OPTAATurbid FLNTUA FLCDRA FLORDD FLORDL FLORDM FLORTD FLORTJ FLORTK FLORTM FLORTTurbid', 'Turbidity'],
                ['CTDAVN CTDBPC CTDBPD CTDBPE CTDBPF CTDBPN CTDBPO CTDBPP CTDGVM CTDMOG CTDMOH CTDMOQ CTDMOR CTDPFA CTDPFB CTDPFJ CTDPFK CTDPFL CTDWaterTempGen TMPSFA HPIESA TMPPIEWaterTemp METBKA CTDWaterTempAir-Sea', 'Water Temperature'],

                ['HPIESA HPIESWaterVelo VADCPA VEL3DB VEL3DC VEL3DD VEL3DK VEL3DL VELPTA VELPTB VELPTD VELPTJ ADCPAM ADCPSI ADCPSJ ADCPSK ADCPSL ADCPSN ADCPTA ADCPTB ADCPTD ADCPTE ADCPTF ADCPTG ADCPTM ADCWaterVelo', 'Water Velocity'],

                ['WAVSSA WAVSSAWave ADCPTA ADCPTB ADCPTD ADCPTE ADCPTF ADCPTG ADCPTM ADCPWaveProps', 'Wave Properties'],

                ['FDCHPA METBKA FDCMETWindVelo', 'Wind Velocity'],
        ]

%>

<div class="panel">
    <div class="panel-heading js-collapse" data-target="#param-filters">Measurements<i class="fa fa-chevron-down"></i>
    </div>
    <div class="panel-wrapper">
        <div id="param-filters" class="panel-body collapse in">
            <div class="param-filters">
                <% _.each(params, function(item) { %>

                    <div class="checkbox">
                        <label><input type="checkbox" value="<%= item[0] %>"><%= item[1] %></label>
                    </div>
                <%;}); %>
            </div>
        </div>
    </div>
</div>
