<!-- Secondary Infrastructure -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="panel-title">
      <a>
        Secondary Infrastructure
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <dl style="list-style-type:disk">
          <div class="col-md-12">
            <li>17 Medium-Power and Low-Power Junction Boxes (J-Box)</li>
            <li>3 cabled water column sites (PN1A, PN1C and PN3A) each hosting two paired instrumented moorings (a deep profiling mooring from approximately 3000 m to 200 m and a shallow profiling mooring, hosting a platform at 200 m and a winched profiler from 200 m to near sea surface). One paired mooring (PN1C) is shared with the Endurance Oregon Line</li>
            <li>100 water column and seafloor sensors deployed near the base of each mooring and at Southern Hydrate Ridge and Axial Seamount</li>
            <li>61 km (29 km buried) of extension cables providing power and communications to secondary infrastructure and sensors</li>
          </dl>
        </div>
      </div><!-- row -->
    </div>
  </div>
</div><!-- panel panel-default -->
