<!-- Primary Infrastructure -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="panel-title">
      <a>
        Primary Infrastructure
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <dl style="list-style-type:disk">
          <div class="col-md-12">
            <li>A Shore Station in Pacific City, Oregon</li>
            <li>~ 900 km of high power (8kW) and high bandwidth (10 GbE) modified telecommunications cable</li>
            <li>Seven subsea terminals called Primary Nodes to distribute power from the Shore Station to key sites along the Juan de Fuca Plate</li>
          </dl>
        </div>
      </div><!-- row -->
    </div>
  </div>
</div><!-- panel panel-default -->
