<div id="location-sampling-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- cabled-array-location-sampling-view -->
<div id="primary-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- primary-infrastructure-view -->
<div id="secondary-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- secondary-infrastructure-view -->
<div id="station-summary-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- station-summary-view -->
<div id="deployment-schedule-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- deployment-schedule-view -->
<div id="detailed-infrastructure-tables-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- detailed-infrastructure-tables-view -->
<div id="technical-drawings-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- cabled-array-technical-drawings-view -->
