<!-- ==========================================((((((((((())))))))))))==================================================== -->
<!-- ===========================================Location and Sampleing==================================================== -->
<!-- ==========================================((((((((((())))))))))))==================================================== -->
<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="panel-title"> 
      <a>
        Locations and Sampling
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">

          <dt>Southern Hydrate Ridge &amp; Slope Base</dt>
          <dl style="list-style-type:disk">
            <li>Location: 45°N, 125°W</li>
            <li>Approximate Water Depth: 807 to 2909 m</li>
          </dl>
          <dt>Axial Seamount &amp; Axial Base</dt>
          <dl style="list-style-type:disk">
            <li>Location: 46°N, 130°W</li>
            <li>Approximate Water Depth: 1516 to 2654 m</li>
          </dl>
        </div>
      </div><!-- row -->
    </div>
  </div>
</div><!-- panel panel-default -->
