<!-- Technical Details -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="panel-title">
      <a>
        Technical Details
      </a>
    </h4>
  </div>
  <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <p>&nbsp;<a class="fa fa-download" style="padding-top:15px; padding-bottom:10px;" href="http://oceanobservatories.org/infrastructure/technical-data-package/" target="_blank">&nbsp;&nbsp;Click here for the online Technical Data Package</a><span style="font-size: medium;"></p>
            <p>&nbsp;<a class="fa fa-download" style="padding-top:15px; padding-bottom:10px;" href="http://oceanobservatories.org/design/technology/cabled-technology/" target="_blank">&nbsp;&nbsp;Click here for Cabled Technology Descriptions</a><span style="font-size: medium;"></p>
              <br />
              &nbsp;<h6 class="fa fa-info-circle fa-xs">&nbsp; Click the Links for High-Level Infrastructure Graphics</h6></p>

              <div class="col-md-8">
                <a href="#cabledImgPrimary" data-toggle="modal">Primary Infrastructure</a>
                <div id="cabledImgPrimary" class="modal fade" tabindex="-1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body" style="text-align:center;">
                    <img src="/img/landingPages/cabledArray/Primary-Infrastructure-2012-02-14-ver-0-01.jpg" style="width:1091px;" />
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <a href="#cabledImgSecondaryInf" data-toggle="modal">Secondary Infrastructure</a>
                <div id="cabledImgSecondaryInf" class="modal fade" tabindex="-1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body" style="text-align:center;">
                    <img src="/img/landingPages/cabledArray/SecondaryInfrastructure_2013-02-13_ver_0-01-web.jpg" style="width:1091px;" />
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <a href="#cabledImgMorrings" data-toggle="modal">Cabled Morrings</a>
                <div id="cabledImgMorrings" class="modal fade" tabindex="-1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body" style="text-align:center;">
                    <img src="/img/landingPages/cabledArray/Cabled_Array_Map_2014-12-02.jpg" style="width:1091px;" />
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <a href="#cabledImgSlopBase" data-toggle="modal">Slope Base Morring &amp; Endurance Array</a>
                <div id="cabledImgSlopBase" class="modal fade" tabindex="-1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body" style="text-align:center;">
                    <img src="/img/landingPages/cabledArray/Slope_Base_2013-06-06-web.jpg" style="width:1091px;" />
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
                </div>
              </div>
              <div class="col-md-11">
                <br />
                <p><em>**All graphics courtesy of the OOI Cabled Array program and the Center for Environmental Visualization, University of Washington. (Disclaimer: Graphics are conceptual designs and are not yet finalized.  All data are subject to revision without notice.)</em></p>
              </div>



            </div>
          </div>  <!-- row -->
        </div>
      </div>
    </div><!-- panel panel-default 2-->
