<div id="pioneer-location-sampling-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- panel-group -->
<div id="infrastructureArray-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- infrastructureArray-view -->
<div id="stationSummaryArray-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- stationSummaryArray-view -->
<div id="deploymentSchedule-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- deploymentSchedule-view -->
<div id="infrastructureTables-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- infrastructureTables-view -->
<div id="technicalDrawings-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div><!-- technicalDrawings-view -->
