<!-- Description of Infrastructure -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="panel-title">
      <a>
        Description of Infrastructure
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <dl style="list-style-type:disk">
        <br />
        <li>Three electro-mechanical (EM) surface moorings with wind,
          photovoltaic and fuel cell power generation, satellite
          communications and meteorological sensors, and near surface
          instrument frame (NSIF).</li>
          <li>A multi-function node (MFN) at the base of each EM mooring; two MFNs supporting AUV docks</li>
          <li>Five wire-following profiler moorings with small surface expressions.</li>
          <li>Two surface-piercing profiler moorings</li>
          <li>Three AUVs</li>
          <li>Six gliders</li>
        </dl>
      </div>
    </div>
  </div><!-- panel panel-default 2-->
