<!-- Pioneer Array Deployment Schedule -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    <h4 class="panel-title">
      <a>
        Pioneer Array Deployment Schedule
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <dt>OOI Planned Installation Schedule</dt>

      <dl style="list-style-type:disk">
        <br />
        <p><a href="http://oceanobservatories.org/infrastructure/planned-installation-schedule/">
          PDF</a></p>
        </dl>
      </div>
    </div>
  </div><!-- panel panel-default 4-->
