<!-- Location and Sampleing -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <h4 class="panel-title">
      <a>
        Location and Sampling
      </a>
    </h4>
  </div>

  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">

          <dt>Location, Central Mooring</dt>
          <dl style="list-style-type:disk">
            <br />
            <li>
              40.14°N, 70.78°W
            </li>
          </dl>
          <dt>Approximate Water Depth</dt>
          <dl style="list-style-type:disk">
            <br />
            <li>
              133 meters at center of moored array
            </li>
          </dl>
          <dt>AUV sampling at center of moored array</dt>
          <dl style="list-style-type:disk">
            <br />
            <li>
              80 x 110 km box centered on moored array
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Box Corners:
            </li>
            <dl style="list-style-type:circle; padding-left: 20px;">
              <li>SE: 39.67°N, 70.25°W</li>
              <li>SW: 39.67°N, 71.17°W</li>
              <li>NW: 40.67°N, 71.17°W</li>
              <li>NE: 40.67°N, 70.25°W</li>
            </dl>
          </dl>
          <dt>Glider sampling area (approximate)</dt>
          <dl style="list-style-type:disk">
            <br />
            <li>
              130 x 185 km box over outer shelf and slope sea
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Gliders will sample along five tracks off the coast of New England
              (click here for map) <– LINK TO CP_Glider_Tracks_2014-09-15.png
            </li>
          </dl>
          <br />
          <dl style="list-style-type:disk">
            <li>
              Box Corners:
            </li>
            <dl style="list-style-type:circle; padding-left: 20px;">
              <li>SE: 39.00°N, 69.92°W</li>
              <li>SW: 39.00°N, 71.50°W</li>
              <li>NW: 40.67°N, 71.50°W</li>
              <li>NE: 40.67°N, 69.92°W</li>
            </dl>
          </dl>
          <br />
          <dl>
            <p>
              <a href="#configImgModal" data-toggle="modal">Final Pioneer Mooring Array Configuration (plan view)</a>
              <div id="configImgModal" class="modal fade" tabindex="-1">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="text-align:center;">
                  <img src="/img/landingPages/pioneerArray/Pioneer_Array_Config.png"/>
                </div>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
              </div>
              <!--      <a href="http://oceanobservatories.org/wp-content/uploads/2011/04/Pioneer_Array_Config_SER_Feb2013_wLegend.png">Final Pioneer Mooring Array Configuration (plan view)</a> -->
              </p>

              <p>
              Nominal latitude and longitude, approximate depths, and distances
              between mooring sites can be viewed in the plan view figure
              linked below.  Contours are marked in fathoms, mooring site
              centers are marked by a black “+” and encircled by an approximate
              0.5-nautical mile radius buffer zone (voluntary area to avoid).
              Distances between buffer zones are shown between arrows.  Red “X”
              symbols denote the locations of know “hangs” avoided by mobile-gear
              fishermen.
            </p>
          </dl>
        </div><!-- col-md-4 -->

        <div class="col-md-4">

          <a href="#pioneerMapImgModal" data-toggle="modal"><img src="/img/landingPages/pioneerArray/pioneer_map.jpg" style="width:509px; float:left; margin-left: 100px; margin-top: 30px;" /></a>
          <div id="pioneerMapImgModal" class="modal fade" tabindex="-1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="text-align:center;">
              <img src="/img/landingPages/pioneerArray/pioneer_map.jpg" style="width:800px; margin-top:30px;" />
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>


          <div  id="contact" style="width:509px; float:left; margin-left: 100px; margin-top: 30px;">

            <div id="contact" class="caption">
              <p>Map of approximate sampling areas of moorings (yellow box), AUVs (red box), and gliders (white box). Dominant currents are labelled, as well as locations of nearby existing monitoring sites. (Credit: Plueddemann, Sosik and Trowbridge, WHOI; Illustration by Jack Cook)</p>
            </div>
          </div>
        </div><!-- col-md-4 -->
      </div><!-- row -->
    </div><!-- panel-body -->
  </div><!-- collapseOne -->
</div><!-- panel panel-default 1-->
