<!-- Station Summary -->

<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    <h4 class="panel-title">
      <a>
        Station Summary
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <dl style="list-style-type:disk">
        <br />
        <p>
          The first phase of the Pioneer Array deployment took place
          in November 2013, with the installation of three moorings – a
          surface mooring at the central site, a profiler mooring at
          the upstream inshore site and a profiler mooring at the
          upstream offshore site. In April 2014, during the second
          deployment phase, five Wire-Following Profile Moorings were
          deployed at the Pioneer Array with three gliders. The third
          and final deployment phase is scheduled for Fall 2014.
        </p>
        <br />
        <p>
          The backbone of the Pioneer Array will be a frontal-scale
          moored array with three electro-mechanical (EM) surface
          moorings and seven profiler moorings. Each surface mooring
          will incorporate a surface buoy with multiple sources of
          power generation and multiple surface and subsurface
          communications systems. Each surface mooring will be
          anchored by a Multi-Function Node (MFN) on the seafloor.
          Two MFNs will incorporate docking stations for AUVs. All
          three MFNs will be capable of supporting multiple onboard
          (e.g., frame-mounted) sensors as well as external sensor
          packages connected by wet-mateable connectors. Five
          profiler moorings with surface expressions for data
          telemetry will support wire-following profiling packages
          with a multidisciplinary sensor suite. Two surface-piercing
          profiler moorings will use a buoyant instrument package
          capable of profiling from a few meters above the bottom
          up to the air-sea interface. In order to provide synoptic,
          multi-scale observations of the outer continental shelf,
          shelf break region, and continental slope, the moored array
          will be supplemented by nine mobile platforms – six gliders
          and three AUVs. The role of the gliders will be to monitor
          the mesoscale field of the slope sea and outer shelf,
          resolving rings, eddies and meanders from the Gulf Stream
          as they impinge on the shelf break front. The AUVs will be
          the primary tools for resolving cross- and along-front
          “eddy fluxes” due to frontal instabilities, wind forcing,
          and mesoscale variability.
        </p>
      </dl>
    </div>
  </div>
</div><!-- panel panel-default 3-->
