{% extends "common/base.html" %}

{% block title %}
<title>Data Catalog</title>
{% endblock %}

{% block head %}
<link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
<link href="/css/compiled/camera_media.css" rel="stylesheet" type="text/css" />
<script src="/js/partials/compiled/camera_media.js" type="text/javascript"></script>
<!-- Partials -->
<!-- lunr needs to be imported by a script tag -->
<!-- TODO MOVE TO GRUNT FILE  -->
<script src="/lib/d3/d3.min.js"></script>
<script src="/lib/highcharts/highcharts.js"></script>
<script src="/lib/highcharts/modules/exporting.js"></script>
<script src="/js/compiled/index.js" type="text/javascript"></script>
<script src="/lib/lunr.js/lunr.js" type="text/javascript"></script>
<script src="/js/compiled/svgplot.js" type="text/javascript"></script>
<script src="/js/compiled/camera_media.js" type="text/javascript"></script>

<script src="/lib/backgrid/lib/backgrid.js" type="text/javascript"></script>
<script src="/lib/backbone-pageable/lib/backbone-pageable.min.js" type="text/javascript"></script>
<script src="/js/core/backgrid/backgrid-paginator.min.js" type="text/javascript"></script>
<script src="/js/core/backgrid/backgrid-select-all.min.js" type="text/javascript"></script>
<script src="/js/core/backgrid/backgrid-filter.min.js" type="text/javascript"></script>

<script src="/lib/slick-carousel/slick/slick.js" type="text/javascript"></script>
<link href="/lib/slick-carousel/slick/slick-theme.css" rel="stylesheet" type="text/css" />
<link href="/lib/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="//bitdash-a.akamaihd.net/bitmovin-portal/56464771e4e68/ffd479827f/latest/bitdash.min.js"></script>

{% block link %}
<!-- common/base.html -->
{{ super() }}
{% endblock %}
{% block script %}
<!-- common/base.html -->
{{ super() }}
{% endblock %}
{% endblock %}

{%block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>

<div id="wrapper" style="padding-left:15px;padding-top:15px">
   <div class="row">
     <div class="col-sm-9" >
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="cameraPreview">
            </div>
          </div>
        </div>
     </div>

     <div class="col-sm-3" id="cameraControls">
     </div>
  </div> <!-- #page-content-wrapper -->

  <div style="padding-top:20px">
    <div class="row">
      <div class="col-sm-12" style="padding-right: 30px;">
        <div class="panel panel-default">
          <div class="panel-body">
            <div style="margin-left:50px;margin-right:50px"class="cam-image-panel">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div> <!-- #wrapper -->

<style>
  .slick-prev{
    left:-35px !important;
  }

  .slick-prev:before {
    color: steelblue;
    font-size: 20px;
  }

  .slick-next{
    right:-35px !important;
  }

  .slick-next:before {
    color: steelblue;
    font-size: 20px;
  }

  .cam-image-item {
    padding-left:3px;
    padding-right:3px;
  }
</style>

<script type="text/javascript">
var bannerTitle = "Camera Media";
var userId = parseInt(window.location.href.split('/').pop());

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  collections: {
    camImages:null
  },
  views: {
   banner: null,
   navbar: null,
   camera: null,
   cameraControls: null
  },
  models: {
    userModel: new UserModel()
  },
  start: function() {
    var self = this;
    this.multiStation = false;
    this.login.fetch({async: false});

    self.collections.camImages = new CamImageCollection();

    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.banner = new BannerView({bannerTitle: bannerTitle});
    $('body').prepend(this.views.banner.el);

    this.views.navbar = new NavbarView({
      el: $('#navbar')
    });

    this.views.camera = new CameraPreviewView({
      el: $('#cameraPreview'),
      url: "http://elem-delta.oceanobservatories.org/out/u/jchstream.m3u8"
    });
    this.views.camera.render();

    this.views.cameraControls = new CameraControlsView({
      el: $('#cameraControls')
    });
    this.views.cameraControls.render();

    this.views.camImages = new CamImageView({
      el: $('.cam-image-panel')
    });


    if(this.login.loggedIn()) {
      this.models.userModel.fetch({url: '/api/current_user'});
    }

    this.listenTo(self.collections.camImages, 'reset', function(options) {
      self.views.camImages.collection = self.collections.camImages;
      self.views.camImages.render();
    });

  self.collections.camImages.fetch({reset: true});

}
});

var ooi = new OOI();
var vent = _.extend({}, Backbone.Events);

$(document).ready(function() {
        ooi.start();
});


</script>
{% endblock %}
