{% extends "common/base.html" %}

{% block title %}
  <title>OOI Science</title>
{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/toc_menu.css" rel="stylesheet" type="text/css" />
  <!-- partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/svgplot.js" type="text/javascript"></script>
  <!-- d3 can't be concatenated easily:-->
  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>
  <!-- lunr also requires a script tag -->
  <script src="/lib/lunr.js/lunr.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/svgplot.js" type="text/javascript"></script>
  <script src="/js/models/asset_management/AssetModel.js" type="text/javascript"></script>
  <script src="/lib/leaflet.wms/leaflet.wms.js" type="text/javascript"></script>
  {% endblock %}


{% block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block sidebar %}
                {{ super() }}
            {% endblock %}
            <div class="col-lg-12">
                <div class="map-view" id='map'></div>
            </div> <!-- col-lg-12 -->
        </div> <!-- row -->
    </div> <!-- container-fluid -->
</div> <!-- page-content-wrapper -->
</div><!-- page-wrapper -->
<!-- /#wrapper -->

<script type="text/javascript">

var bannerTitle = "Science Map";

_.extend(OOI.prototype, Backbone.Events, {
    login: new LoginModel(),
    models: {
        userModel: new UserModel(),
        mapModel: new MapModel()
    },
    collections:{
        gliderCollection: null
    },
    views:{
        mapView:null
    },
    start: function() {
        this.login.fetch({async:false});
        navbar = new NavbarView({
            login: this.login
        });

        var self = this;

        var banner = new BannerView({ bannerTitle:bannerTitle });
        $('body').prepend(banner.el);


        self.collections.gliderCollection = new GliderTrackCollection();

        // render out our views:
        self.views.mapView = new MapView({
            gliderCollection: self.collections.gliderCollection,
            collection:assetCollection,
            el: $('#map')
        });

        var gliderFetch = this.collections.gliderCollection.fetch({ reset: true });

        $.when(gliderFetch).done(function() {
            //when the glider fetch is done update the map
            self.views.mapView.gliderCollection = self.collections.gliderCollection;
            self.views.mapView.add_glider_tracks();
        });

        this.listenTo(this, "toc:selectArray", function(model) {
            var coors = model.get('geo_location')['coordinates'][0][0]
            self.views.mapView.setMapView(coors,4); // recenters
        });

        this.listenTo(this, "toc:selectPlatform", function(model) {
            var coors = model.get('coordinates');
            self.views.mapView.setMapView(coors,10); // recenters

            var css_display = $($('#'+model.get('ref_des')).find('.nav-list')[0]).css('display');
            var display = true;
            if (css_display == "none"){
                //leave it true
            }else{
                display = false;
            }
            //set the marker popup
            self.views.mapView.selectMarker(model,"platform",display);
        });

        this.listenTo(this, 'toc:selectInstrument', function(model) {
            //set the marker popup
            //self.views.mapView.selectMarker(model,"instrument",true)
        });

        this.listenTo(this, 'toc:selectStream', function(options) {
            //set the marker popup
            //self.views.mapView.selectMarker(options,"stream",true)
        });

        this.listenTo(this, 'NavbarView:sidebarToggle', function() {
            self.views.mapView.render();
        });

        // Login stuff..
        if(!this.login.loggedIn()) {
          var termsView = new TermsDialogView();
          $('body').first().prepend(termsView.el);
          $.ajax({
            url: "/txt/eula.txt",
            type: "GET",
            success: function(response) {
              termsView.show({
                message: response,
                ack: function() {  }
              });
            }
          });
        }

        this.listenTo(this, "login:success", this.onLogin);
        this.listenTo(this, "login:logout", this.onLogout);
    }
});


var vent = _.extend({}, Backbone.Events);

// controller for our model collections
var assetCollection     = new AssetCollection();
var arrayCollection     = new ArrayCollection();
var streamCollection    = new StreamCollection();


// url arguments
var data = { min : 'True' };
// begin the iterative fetching of arrays, assets, and streams.
var arrayFetch = arrayCollection.fetch({ reset: true });
var assetFetch = assetCollection.fetch({ data: data, reset: true });
var streamFetch = streamCollection.fetch({ data: data,  reset: true });
$.when(arrayFetch, assetFetch, streamFetch).done(function() {
    $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
        vent.trigger('toc:cleanUp');
        focusToItem();
    });
});


// Takes care of the strange size of the map
window.onresize = function(event) {
    resizeMap();
}

function resizeMap() {
    vpw = $(window).width();
    //keep the map the same height as the side bar..?
    vph = $('#sidebar-wrapper').height() - 5;
    $('#map').css({'height': vph + 'px'});
}

// initialize our app object
var ooi = new OOI();

$(document).ready(function() {
    ooi.start();

    $('#navbar').prepend(navbar.el);
    resizeMap();
    $('#search-clear').click(function(e){
        $('i#tocSpinner').show();
        $('#search-filter').val('').focus();
        $(this).hide();
        vent.trigger('toc:derenderItems');
        var assetFetch = assetCollection.fetch();
        $.when(assetFetch).done(function() {
            $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
                console.log('triggered');
                vent.trigger('toc:cleanUp');
            });
        });
    });
    $('#search-submit').click(function(e) {
        $('#search-clear').toggle(Boolean($(this).val()));
        $('#search-clear').toggle(Boolean($('#search-filter').val()));
        updateCollection( showSearchResults );
    });
});

</script>
{% endblock %}
