{% extends "common/base.html" %}

{% block title %}
  <title>OOI Science</title>
{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/toc_menu.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/StreamQuickView.css" rel="stylesheet" type="text/css" />
  <!-- partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/svgplot.js" type="text/javascript"></script>
  <!-- d3 can't be concatenated easily:-->
  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>
  <script src="/lib/highcharts/highcharts.js"></script>
  <script src="/lib/highcharts/modules/exporting.js"></script>
  <!-- lunr also requires a script tag -->
  <script src="/lib/lunr.js/lunr.js" type="text/javascript"></script>
  <script src="/js/core/table/jquery.tablesorter.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/streamingdata.js" type="text/javascript"></script>
  <script src="/js/compiled/svgplot.js" type="text/javascript"></script>
  <script src="/js/models/asset_management/AssetModel.js" type="text/javascript"></script>
  <script src="/lib/leaflet.wms/leaflet.wms.js" type="text/javascript"></script>
  <script src="/js/compiled/plotting.js" type="text/javascript"></script>
  <script src="/js/views/common/StreamQuickView.js"></script>
  {% block link %}
  <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  {% block script %}
  <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  {% endblock %}


{% block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block sidebar %}
                {{ super() }}
            {% endblock %}
            <div id="map-container" class="col-lg-12">
                <div class="map-view" id="map">
                    <i class="fa fa-spinner fa-spin map-loading-spinner"></i>
                    <div id="" class="jumbotron text-center">
                      <h3>Loading Map, Please Wait...</h3>
                    </div>
                </div>
            </div> <!-- col-lg-12 -->

            <div class="">
                <i class="streaming-data-view-show-icon2 fa fa-spinner fa-spin"></i>
                <i id="streamingShow" class=" streaming-data-view-show-icon fa fa-chevron-circle-up" style="display:none"></i>
            </div>

            <div class="col-lg-12">
                <div id="streamingDataContainer" class=" streaming-data-map-overlay streamingDataContainer" style="display: none;">
                    <div class="streaming-data-view-icon pull-right">
                        <i id="streamingHide"class="fa fa-chevron-circle-down"></i>
                        <i id="streamingClose" class="fa fa-times-circle"></i>
                    </div>

                    <div class="streaming-data-panel"  id='streaming-data' >
                    </div>
                </div>
            </div>

        </div> <!-- row -->
    </div> <!-- container-fluid -->
</div> <!-- page-content-wrapper -->
<div class="modal-container"></div>
</div><!-- page-wrapper -->
<!-- /#wrapper -->

<script type="text/javascript">

var bannerTitle = "Science Map";

_.extend(OOI.prototype, Backbone.Events, {
    login: new LoginModel(),
    models: {
        userModel: new UserModel(),
        mapModel: new MapModel()
    },
    views: {
        streamingDataView:null
    },
    getURLParameter: function(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i=0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    },
    start: function() {
        var ciLogonToken = this.getURLParameter('token'),
            ciLogonTimeout = this.getURLParameter('expiration');
        if (ciLogonToken) {
            var date = new Date();
            date.setTime(date.getTime() + ciLogonTimeout);
            $.cookie('ooiusertoken', ciLogonToken, {expires: date});
            ooi.trigger('login:success');
        }
        this.login.fetch({async:false});
        navbar = new NavbarView({
            login: this.login
        });

        var self = this;

        var banner = new BannerView({ bannerTitle:bannerTitle });
        $('body').prepend(banner.el);

        this.listenTo(this, "toc:selectArray", function(model) {
            var coors = model.get('geo_location')['coordinates'][0][0]
            mapView.setMapView(coors,4); // recenters
        });

        this.listenTo(this, "toc:selectPlatform", function(model) {
            var coors = model.get('coordinates');
            mapView.setMapView(coors,10); // recenters

            var css_display = $($('#'+model.get('ref_des')).find('.nav-list')[0]).css('display');
            var display = true;
            if (css_display == "none"){
                //leave it true
            }else{
                display = false;
            }
            //set the marker popup
            mapView.selectMarker(model,"platform",display);
        });

        this.listenTo(this, "toc:selectAssembly", function(model) {
            var coors = model.get('coordinates');
            mapView.setMapView(coors,10); // recenters

            var css_display = $($('#'+model.get('ref_des')).find('.nav-list')[0]).css('display');
            var display = true;
            if (css_display == "none"){
                //leave it true
            }else{
                display = false;
            }
            //set the marker popup
            mapView.selectMarker(model,"platform",display);
        });

        this.listenTo(this, 'toc:selectInstrument', function(model) {
            //set the marker popup
            //self.views.mapView.selectMarker(model,"instrument",true)
        });

        this.listenTo(this, 'toc:selectStream', function(options) {
            //set the marker popup
            //self.views.mapView.selectMarker(options,"stream",true)
        });

        this.listenTo(this, 'NavbarView:sidebarToggle', function() {
            var mapWidth = $('.page-content').width - 375;
            $('.page-content').css({'width': mapWidth + 'px'});
            setTimeout(function(){
                resizeMap();
                mapView.showLayers();
            }, 500);

        });

        this.listenTo(this, 'map:streamingStationSelected', function(options) {
            if ($('#streamingDataContainer').css('display') == 'none'){
                $('#streamingDataContainer').slideToggle();
            }
            $('.streaming-data-view-show-icon2').css('display','none');
            $('#streamingShow').css('display','none');


            if (!(_.isNull(self.views.streamingDataView)) && self.views.streamingDataView.subviews.length >0){
                 _.each(self.views.streamingDataView.subviews,function(subview){
                    //remove the existing one (if there is one)
                    self.views.streamingDataView.remove(subview.model);
                });
            }

            self.views.streamingDataView = new HighchartsStreamingContainerView({
              el: $('#streaming-data')
            });
            self.views.streamingDataView.render();

            var smModel = (streamCollection.get({ cid: options.streamId }))
            self.views.streamingDataView.add(smModel);
        });

        this.listenTo(this, 'remove:plot', function(options) {
            _.each(self.views.streamingDataView.subviews,function(subview){
                //remove the existing one (if there is one)
                self.views.streamingDataView.remove(subview.model);
            });

            $('#streamingDataContainer').css('display','none');
        });

        // Login stuff..
        if(!this.login.loggedIn()) {
          var termsView = new TermsDialogView();
          $('body').first().prepend(termsView.el);
          $.ajax({
            url: "/txt/eula.txt",
            type: "GET",
            success: function(response) {
              termsView.show({
                message: response,
                ack: function() {  }
              });
            }
          });
        }

        this.listenTo(this, "login:success", this.onLogin);
        this.listenTo(this, "login:logout", this.onLogout);

        this.listenTo(vent, 'toc:paramFilter', function(option) {
            $.when(vent.trigger('toc:derenderItems')).done(function() {
                mapView.derender();
                $('#map-container').hide();
                $('#map-container').html('<div class="map-view" id="map"></div>');
                var paramSearch = { search: option };
                // I'm so ashamed.
                var streamCollectionAgain    = new StreamCollection();
                // somehow, the mapview is accessing this collection DIRECTLY.
                // won't be able to find where it is w/o a major refactor . . .
                // soooo, we need to provide the updated collection to the streamCollection
                streamCollection = streamCollectionAgain;
                var streamFetchAgain = streamCollectionAgain.fetch({ data: paramSearch });
                $.when(streamFetchAgain).done(function() {
                    renderMap(gliderCollection, assetCollection, streamCollectionAgain, option);
                    renderTOCView(arrayCollection, null, streamCollectionAgain);
                    $('#map-container').show();
                    vent.trigger('toc:noKids');
                    vent.trigger('toc:hideStreams');
                    vent.trigger('toc:hideNodes');
                    vent.trigger('toc:hideInstruments');
                    $('#engToggle').hide();
                    $('#metaDataToggle').hide();
                    focusToItem();
                    $('#search-param').val(option);
                });
            });
            setTimeout(function() {
                mapView.map.removeLayer(TERRAIN.getBaseLayers('ESRI Oceans'));
                mapView.map.addLayer(TERRAIN.getBaseLayers('ESRI Oceans'));
            }, 2500);
        });
    }

});


// initialize our app object
var ooi = new OOI();
var vent = _.extend({}, Backbone.Events);

// controller for our model collections
var assetCollection     = new AssetCollection();
var arrayCollection     = new ArrayCollection();
var streamCollection    = new StreamCollection();
var gliderCollection    = new GliderTrackCollection();


// url arguments
var data = { min : 'True' };
// begin the iterative fetching of arrays, assets, and streams.
var arrayFetch = arrayCollection.fetch({ reset: true });
var assetFetch = assetCollection.fetch({ data: data, reset: true });
var streamFetch = streamCollection.fetch();
var gliderFetch = gliderCollection.fetch({ reset: true });

var mapView, streamQuickView;
var renderMap = (function(gliders, assets, streams, option) {
    //when the glider fetch is done update the map
    mapView = new MapView({
        gliderCollection: gliders,
        collection:assets,
        streamCollection:streams,
        el: $('#map')
    });

    mapView.gliderCollection = gliders;
    mapView.add_glider_tracks();


    var paramSearch = (option) ? { search: option } : '';
    var newCollection = new StreamCollection();
    newCollection.fetch({data: paramSearch});
    streamStatusBtn = new StreamStatusBtnView({collection: newCollection});
    streamStatusBtn.render();
    $('#map').append(streamStatusBtn.el);
    resizeMap();

    setTimeout(function(){
        mapView.showLayers();
    }, 300);
});

$.when(arrayFetch, assetFetch, streamFetch, gliderFetch).done(function() {
    renderMap(gliderCollection, assetCollection, streamCollection);
    $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
        vent.trigger('toc:cleanUp');
        vent.trigger('toc:hideStreams');
        vent.trigger('toc:hideNodes');
        vent.trigger('toc:hideInstruments');
        $('#engToggle').hide();
        $('#metaDataToggle').hide();
        focusToItem();
    });
});


// Takes care of the strange size of the map
window.onresize = function(event) {
    resizeMap();
}

var resizeMap = function() {
    vpw = $(window).width();
    vph = $('#sidebar-wrapper').height() - 100;
    $('#map').css({'height': vph + 'px'});
}

var applyPopupInst = (function(){
    var pageInstruments = assetCollection.byClass('.InstrumentAssetRecord'),
        popupPlatformCode,
        popupPlatformTarget,
        popupAssetItemView;
    pageInstruments.map(function(model) {
        popupPlatformCode = model.get('ref_des').substr(0,14);
        popupPlatformTarget = 'ul#map-'+popupPlatformCode;
        popupAssetItemView = new AssetItemView({ model:model });
        $( popupPlatformTarget ).append( popupAssetItemView.render().el );
    });
});

$(document).ready(function() {
    ooi.start();

    $('#navbar').prepend(navbar.el);
    resizeMap();

    $('#map').on('popupopen', function() {
      $('#popupInstrumentTable').tablesorter({ sortList: [[0,0]]});
    });

    $('#streamingClose').on('click', function() {
        ooi.trigger('remove:plot');
        $('#streamingShow').css('display','none');
        $('.streaming-data-view-show-icon2').css('display','none');
    });

    $('#streamingHide').on('click', function() {
        $('#streamingDataContainer').slideToggle();
        $('#streamingShow').css('display','block');
        if ($('#playStream').prop('disabled')){
            $('.streaming-data-view-show-icon2').css('display','block');
        }

    });

    $('#streamingShow').on('click', function() {
        $('#streamingDataContainer').slideToggle();
        $('#streamingShow').css('display','none');
        $('.streaming-data-view-show-icon2').css('display','none');
    });
});

</script>
{% endblock %}
