{% extends "common/base.html" %}

{% block title %}
  <title>OOI Science</title>
{% endblock %}

{% block head %}
  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/toc_menu.css" rel="stylesheet" type="text/css" />
  <!-- partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/svgplot.js" type="text/javascript"></script>
  <!-- d3 can't be concatenated easily:-->
  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>
  <!-- lunr also requires a script tag -->
  <script src="/lib/lunr.js/lunr.js" type="text/javascript"></script>
  <script src="/js/core/table/jquery.tablesorter.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>
  <script src="/js/compiled/svgplot.js" type="text/javascript"></script>
  <script src="/js/models/asset_management/AssetModel.js" type="text/javascript"></script>
  <script src="/lib/leaflet.wms/leaflet.wms.js" type="text/javascript"></script>
  <script src="/js/compiled/plotting.js" type="text/javascript"></script>
  {% block link %}
  <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  {% block script %}
  <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  {% endblock %}


{% block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block sidebar %}
                {{ super() }}
            {% endblock %}
            <div class="page-content">
                <div class="map-view" id='map'>
                    <i class="fa fa-spinner fa-spin map-loading-spinner"></i>
                    <div id="" class="jumbotron text-center">
                      <h3>Loading Map, Please Wait...</h3>
                    </div>
                </div>
            </div> <!-- col-lg-12 -->
        </div> <!-- row -->
    </div> <!-- container-fluid -->
</div> <!-- page-content-wrapper -->
</div><!-- page-wrapper -->
<!-- /#wrapper -->

<script type="text/javascript">

var bannerTitle = "Science Map";

_.extend(OOI.prototype, Backbone.Events, {
    login: new LoginModel(),
    models: {
        userModel: new UserModel(),
        mapModel: new MapModel()
    },
    start: function() {
        this.login.fetch({async:false});
        navbar = new NavbarView({
            login: this.login
        });

        var self = this;

        var banner = new BannerView({ bannerTitle:bannerTitle });
        $('body').prepend(banner.el);

        this.listenTo(this, "toc:selectArray", function(model) {
            var coors = model.get('geo_location')['coordinates'][0][0]
            mapView.setMapView(coors,4); // recenters
        });

        this.listenTo(this, "toc:selectPlatform", function(model) {
            var coors = model.get('coordinates');
            mapView.setMapView(coors,10); // recenters

            var css_display = $($('#'+model.get('ref_des')).find('.nav-list')[0]).css('display');
            var display = true;
            if (css_display == "none"){
                //leave it true
            }else{
                display = false;
            }
            //set the marker popup
            mapView.selectMarker(model,"platform",display);
        });

        this.listenTo(this, "toc:selectAssembly", function(model) {
            var coors = model.get('coordinates');
            mapView.setMapView(coors,10); // recenters

            var css_display = $($('#'+model.get('ref_des')).find('.nav-list')[0]).css('display');
            var display = true;
            if (css_display == "none"){
                //leave it true
            }else{
                display = false;
            }
            //set the marker popup
            mapView.selectMarker(model,"platform",display);
        });

        this.listenTo(this, 'toc:selectInstrument', function(model) {
            //set the marker popup
            //self.views.mapView.selectMarker(model,"instrument",true)
        });

        this.listenTo(this, 'toc:selectStream', function(options) {
            //set the marker popup
            //self.views.mapView.selectMarker(options,"stream",true)
        });

        this.listenTo(this, 'NavbarView:sidebarToggle', function() {
            var mapWidth = $('.page-content').width - 375;
            $('.page-content').css({'width': mapWidth + 'px'});
            reseizeMap();
        });

        // Login stuff..
        if(!this.login.loggedIn()) {
          var termsView = new TermsDialogView();
          $('body').first().prepend(termsView.el);
          $.ajax({
            url: "/txt/eula.txt",
            type: "GET",
            success: function(response) {
              termsView.show({
                message: response,
                ack: function() {  }
              });
            }
          });
        }

        this.listenTo(this, "login:success", this.onLogin);
        this.listenTo(this, "login:logout", this.onLogout);
    }
});


var vent = _.extend({}, Backbone.Events);

// controller for our model collections
var assetCollection     = new AssetCollection();
var arrayCollection     = new ArrayCollection();
var streamCollection    = new StreamCollection();
var gliderCollection    = new GliderTrackCollection();


// url arguments
var data = { min : 'True' };
// begin the iterative fetching of arrays, assets, and streams.
var arrayFetch = arrayCollection.fetch({ reset: true });
var assetFetch = assetCollection.fetch({ data: data, reset: true });
var streamFetch = streamCollection.fetch({ data: data,  reset: true });
var gliderFetch = gliderCollection.fetch({ reset: true });

var mapView;
$.when(arrayFetch, assetFetch, streamFetch, gliderFetch).done(function() {
    //when the glider fetch is done update the map
    mapView = new MapView({
        gliderCollection: gliderCollection,
        collection:assetCollection,
        streamCollection:streamCollection,
        el: $('#map')
    });
    mapView.gliderCollection = gliderCollection;
    mapView.add_glider_tracks();
    $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
        vent.trigger('toc:cleanUp');
        vent.trigger('toc:hideStreams');
        vent.trigger('toc:hideInstruments');
        $('#engToggle').hide();
        $('#metaDataToggle').hide();
        focusToItem();
    });
});


// Takes care of the strange size of the map
window.onresize = function(event) {
    resizeMap();
}

var resizeMap = function() {
    vpw = $(window).width();
    //keep the map the same height as the side bar..?
    vph = $('#sidebar-wrapper').height() - 100;
    $('#map').css({'height': vph + 'px'});
}

var applyPopupInst = function(){
    var pageInstruments = assetCollection.byClass('.InstrumentAssetRecord'),
        popupPlatformCode,
        popupPlatformTarget,
        popupAssetItemView;
    pageInstruments.map(function(model) {
        popupPlatformCode = model.get('ref_des').substr(0,14);
        popupPlatformTarget = 'ul#map-'+popupPlatformCode;
        popupAssetItemView = new AssetItemView({ model:model });
        $( popupPlatformTarget ).append( popupAssetItemView.render().el );
    });
};

// initialize our app object
var ooi = new OOI();

$(document).ready(function() {
    ooi.start();

    $('#navbar').prepend(navbar.el);
    resizeMap();

    $('#map').on('popupopen', function() {
      $('#popupInstrumentTable').tablesorter({ sortList: [[0,0]]});

    });


});

</script>
{% endblock %}
