{% extends "common/base.html" %}

{% block title %}
<title>Data Catalog</title>
{% endblock %}

{% block head %}
<link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
<link href="/css/common/downloadModal.css" rel="stylesheet" type="text/css" />
<link href="/css/common/plotControls.css" rel="stylesheet" type="text/css" />
<script src="/js/partials/compiled/index.js" type="text/javascript"></script>
<!-- Partials -->
<script src="/js/partials/compiled/svgplot.js" type="text/javascript"></script>
<!-- lunr needs to be imported by a script tag -->

<!-- TODO MOVE TO GRUNT FILE  -->
<script src="/lib/d3/d3.min.js"></script>
<script src="/lib/highcharts/highcharts.js"></script>
<script src="/lib/highcharts/modules/exporting.js"></script>
<script src="/js/compiled/index.js" type="text/javascript"></script>
<script src="/lib/lunr.js/lunr.js" type="text/javascript"></script>
<script src="/js/compiled/svgplot.js" type="text/javascript"></script>
<script src="/js/compiled/plotting.js" type="text/javascript"></script>
{% block link %}
<!-- common/base.html -->
{{ super() }}
{% endblock %}
{% block script %}
<!-- common/base.html -->
{{ super() }}
{% endblock %}
{% endblock %}

{%block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>

<div id="wrapper" >
  <div id="page-content-wrapper">
    <div class="content-fluid">
      {% block sidebar %}
      <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  <div id="plottingBody">
    <div>
      <div id="download-outline" class="pull-left">
        <li id="ref_des_stream_outline"></li>
      </div>
    </div>
    <div class="row">
      <div class="panel">
        <div id="control-heading" class="panel-heading plotting-heading">
          <div class="row">
            {# <div class="col-md-12"> #}
              <div id="plotcontrols">
                <p> Please select a stream from the Table of Contents. </p>
              </div>
            {# </div> #}
          </div>
        </div> <!-- panel-heading -->
      </div> <!-- panel -->
    </div>
    <div class="row">
      <div class="panel">
        <div class="panel-heading plotting-heading">
          Graph
        </div>
        <div class="panel-body">
          <!--  Plot section NORMAL   -->
          <div id="plot-view">
            {# <i class="fa fa-bar-chart" style="margin-left:50%;font-size:90px;"> </i>#}
            {# <img src="/img/graph7.png" style="width:100%;"> #}
            <img src="/img/plotting/graph.png" style="width:100%;">
          </div> <!-- #view -->

          <!--  Plot section HIGHCHARTS   -->
          <div style="display:none" id='highcharts-row-section' class="row">
            <div class="col-sm-12">
              <div class="panel" id="highcharts-row-section-panel">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="panel" id="highcharts-buttons-section-panel">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- panel -->
    </div> <!-- .row -->

    <div class="row">
      <div id='plot-events-panel' class="panel">

        <div class="panel-heading plotting-heading">
          Events
        </div> <!-- panel-heading -->

        <div class="scrollable-block">
          <div class="scrollable-area">

            <div id="events-scroll-body" class="panel-body">
              <div id="events-table">
                {# <i class="fa fa-list-alt" style="margin-left:50%;font-size:90px;"> </i>                 #}
                {# <img src="/img/cal.jpg" style="width:1120px; height:90px;">	       	        #}
                <img src="/img/plotting/events.png" style="width:100%;">
              </div> <!-- panel-table -->
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div>
      </div>
    </div>

    <div class="row">
      <div id='annotation-panel' class="panel">
        <div class="panel-heading plotting-heading">
          Annotations
        </div>
        <div class="panel-body">
          <div id="annotation-table">
            {# <i class="fa fa-th-list" style="margin-left:50%;font-size:90px;"> </i>                 #}
            <img src="/img/plotting/anotations.png" style="width:100%;">
          </div> <!-- annotation-table -->
        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div>  <!-- .row -->
  </div>
  <div id="annotation-modal"></div>
  <div id="stream-download-modal"></div>
  <div id='download-ok-modal'></div>
  <div id='download-fail-modal'></div>
  <div id='plot-params-modal'></div>
    </div> <!-- #content-fluid -->
  </div> <!-- #page-content-wrapper -->
</div> <!-- #wrapper -->


<script type="text/javascript">
var bannerTitle = "Plotting";
var userId = parseInt(window.location.href.split('/').pop());

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  collections: {
    annotations: new AnnotationCollection(),

    //TOC items
    tocArrays: new TocArrayCollection(),
    tocMoorings: new TocMooringsCollection(),
    tocPlatforms: new TocPlatformsCollection(),
    tocInstruments: new TocInstrumentsCollection(),
    plotEventList: new PlotEventsCollection(),
    dataseries: new DataSeriesCollection(),
    additionalDataseries: new DataSeriesCollection(),
    interpolatedDataseries: new InterpolatedDataSeriesCollection(),
    subscriptionCollection :  new DataSubscriptionCollection()
  },
  views: {
    plottingItemSelection : null,
    plotEventListView: null,
    plottingItemSelection2 : null,
    timeseriesView: null,
    xyscatterView: null,
    eventplotView: null
  },
  models: {
    downloadModel : new StreamModel(),
    userModel: new UserModel()
  },
  initalFilterOptions: function() {
    var path = window.location.pathname;
    var path = path.split("/").slice(2);
    var dataContentArray = ["arrays","sites", "platforms","instruments","streams","parameters"];

    if (path.length == 1 && path[0] == ""){
      //no path information
    }else{
      //path information
      $.each( path, function( key, value ) {
        var validItem = false;

        $('#plot-item-selection #'+dataContentArray[key]+'_id option').each(function( index, obj ) {
          if (value == $( this ).val()){
            validItem = true
              //$('#plot-item-selection #'+dataContentArray[key]+'_id').selectpicker('val', $(this).val());
              $('#plot-item-selection #'+dataContentArray[key]+'_id').val( $(this).val() );
            $('#plot-item-selection #'+dataContentArray[key]+'_id').change();
            $('#plot-item-selection #'+dataContentArray[key]+'_id').selectpicker('refresh');
            return false;
          }
        });

        //make sure path is >=3
        if ( key >= 3){
          //check that platform in instrument
          if ( path[3].indexOf(path[2]) >=0 ){
            validItem = true
          }else{
            alert("invalid instrument selection");
            return false
          }
        }

        //IF AT ANY POINT IT CANT BE FOUND STOP!
        if(!validItem){
          return false;
        }
      });
    }
  },
  setTimeSeriesPlot: function(options) {
    //init the timeseries view
    this.views.timeseriesView.initialize();
    var p_yvarList = [];
    var p_xvarList = [];
    //sort the list of vars and time will always be on the x, duplicated per var

    var selected = [];
    var selected_name = [];
    var selectedParam = $("#yvar0-selection-default option:selected");
    $(selectedParam).each(function(index){
      selected.push([$(this).data('params')]);
      // Now get the display name for the axis
      if ($(this).text().indexOf(",") > -1){
        var spliton = ',';
      }else{
        var spliton = '(';
      }
      selected_name.push([$(this).text().split(spliton)[0]]);
    });

    _.each(selected ,function(element){
      if (element != "time"){
        p_yvarList.push(element);
        p_xvarList.push("time")
      }
    })

    //set data series options
    this.collections.dataseries.stream = options.attributes.stream_name;
    this.collections.dataseries.ref_des = options.attributes.reference_designator;
    this.collections.dataseries.startdate = options.attributes.data.start;
    this.collections.dataseries.enddate = options.attributes.data.end;
    //will always be time
    this.collections.dataseries.xparameters = p_xvarList;
    this.collections.dataseries.yparameters = p_yvarList;
    this.collections.dataseries.axis_name = selected_name;

    errorHandler = function(collection, response){
      errorText = response.status+': '+response.statusText
        ooi.trigger('httpError', {response:response, error:errorText});
    }

    this.collections.dataseries.fetch({error: errorHandler, reset: true});
  },
  setInterpolatedPlot: function(options) {
    //init the timeseries view
    this.views.xyscatterView.initialize();

    var param1 = $("#yvar1-selection option:selected").attr('data-params');
    var param2 = $("#yvar2-selection option:selected").attr('data-params');
    var xaxislabel = $("#yvar1-selection option:selected").val();
    var yaxislabel = $("#yvar2-selection option:selected").val();


    // set data series options
    this.collections.interpolatedDataseries.instr1 = options.attributes.stream_name1;
    this.collections.interpolatedDataseries.instr2 = options.attributes.stream_name2;
    this.collections.interpolatedDataseries.ref_des1 = options.attributes.reference_designator1;
    this.collections.interpolatedDataseries.ref_des2 = options.attributes.reference_designator2;
    this.collections.interpolatedDataseries.startdate = options.attributes.data.start;
    this.collections.interpolatedDataseries.enddate = options.attributes.data.end;
    this.collections.interpolatedDataseries.var1 = param1;
    this.collections.interpolatedDataseries.var2 = param2;
    this.collections.interpolatedDataseries.xaxislabel = xaxislabel;
    this.collections.interpolatedDataseries.yaxislabel = yaxislabel;

    errorHandler = function(collection, response){
      errorText = response.status+': '+response.statusText
        ooi.trigger('httpError', {response:response, error:errorText});
    }

    this.collections.interpolatedDataseries.fetch({error: errorHandler, reset: true});
  },
  start: function() {
    var self = this;
    this.multiStation = false;
    this.login.fetch({async: false});

    //reset the subscriptions
    self.collections.subscriptionCollection.fetch({ reset: true });
    this.listenTo(self.collections.subscriptionCollection, 'reset', function(options) {
      //console.log('ready...',self.collections.subscriptionCollection);
    });

    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.banner = new BannerView({bannerTitle: bannerTitle});
    $('body').prepend(this.views.banner.el);

    this.views.navbar = new NavbarView({
      el: $('#navbar')
    });

    if(this.login.loggedIn()) {
      this.models.userModel.fetch({url: '/api/current_user'});
    }

    this.views.svgplot = new SVGPlotView({
      height: 400,
      width: 500,
      el: $('#plot-view')
    });

    // Plot areas
    this.views.timeseriesView = new TimeseriesView({
      el: $('#highcharts-row-section-panel')
    });

    this.views.xyscatterView = new XYScatterPlotView({
      el: $('#highcharts-row-section-panel')
    });

    //The plotting buttons
    this.views.plottingItemSelection = new PlottingSelectionView({
      el: $('#plot-item-selection')
    });

    //The plotting buttons
    this.views.plottingItemSelection2 = new PlottingSelectionView({
      el: $('#plot-item-selection2')
    });

    this.views.annotationTableView = new AnnotationTableView({
      collection: this.collections.annotations,
      el: $('#annotation-table')
    });
    this.views.svgPlotControlView = new SVGPlotControlView({
      el: $('#plotcontrols')
    });
    this.views.annotationModal = new AnnotationModalFormView({
      el: $('#annotation-modal')
    });
    this.views.streamDownloadFormView = new StreamDownloadFormView({
      el: $('#stream-download-modal')
    });
    this.views.modalDownloadView = new ModalDownloadView({
      el: $('#download-ok-modal')
    });
    this.views.modalDownloadFailView = new ModalDownloadFailView({
      el: $('#download-fail-modal')
    });
    this.views.plotEventListView = new PlotEventListView({
      el: $('#events-table')
    });
    this.views.plotAnnotationsEvents = new PlotAnnotationsEvents({
      el: $('#highcharts-buttons-section-panel')
    });

    /* Dispatcher Sectiion */
    this.listenTo(this, "login:success", function() { location.reload(); });
    this.listenTo(this, "login:logout", function() { location.reload(); });

    this.listenTo(this, 'httpError', function(options) {
      this.views.timeseriesView.errorRender(options);
    });

    //filter selection : unselect
    this.listenTo(this, 'FilterSelectionView:onUnSelect', function(options) {
      if (options.itemid == "plot-item-selection" ){
        self.views.plottingItemSelection.unFilterItems(options);
      }else{
        self.views.plottingItemSelection2.unFilterItems(options);
      }
    });
    //filter selection : select
    this.listenTo(this, 'FilterSelectionView:onSelect', function(options) {
      if (options.itemid == "plot-item-selection" ){
        self.views.plottingItemSelection.filterItems(options);
      }else{
        self.views.plottingItemSelection2.filterItems(options);
      }
    });

    this.listenTo(this, 'toc:paramFilter', function(option) {

    });

    this.listenTo(this, 'toc:selectStream', function(options) {
      // TODO: Trigger pop up on map cursor icon.
      var refreshYVar1 = true;

      if (self.views.svgPlotControlView.getPlotType()=="Interpolated" && self.views.svgplot.hasOwnProperty('model') && self.views.svgplot.model.attributes.hasOwnProperty('reference_designator')){
        refreshYVar1 = false;
        options.model.set({"reference_designator1":self.views.svgplot.model.attributes.reference_designator1})
        options.model.set({"stream_name1":self.views.svgplot.model.attributes.stream_name1})
      }

      self.models.downloadModel.model = options.model;
      self.views.svgPlotControlView.setModel(options.model,true);

      self.models.downloadModel.model = options.model;
      self.collections.plotEventList.fetch({reset: true, data: $.param({ref_des: options.model.get('reference_designator')})});

      if (options.itemid == "plot-item-selection" ){
        options.model.set('units',options.data_units)
        self.views.svgPlotControlView.setModel(options.model,false);
        self.views.svgplot.setModel(options.model);
      }

        //ANNOTATIONS
        self.collections.annotations.fetch({
          data: $.param({ startdate: options.model.get('start'),
            enddate:  options.model.get('end'),
            reference_designator:options.model.get('reference_designator'),
            stream_name: options.model.get('stream_name')
          }),
          reset: true
        });

      var param_list = [],
          parameterhtml = "",
          shape = options.model.get('variables_shape'),
          autoPlot = false;

      //Ok lets start by getting derived parameters
      parameterhtml += "<optgroup label='Derived'>"
        for (var i = 0; i < _.uniq(options.model.get('variables')).length; i++) {
          if (param_list.indexOf(options.model.get('variables')) == -1){
            if (shape[i] === "function"){
              var parameterId = options.model.get('parameter_id')[i];
              var units = options.model.get('units')[i];
              var variable = options.model.get('variables')[i];
              var displayName;

              try{
                displayName = options.model.get('parameter_display_name')[i];
              } catch(err){
                displayName = variable;
              }

              //for the case when we have "sal"inity in the variable nanem but we want to remove units of "1"
              var validUnits = false;
              var validUnitsClass = "class=invalidParam"
              if (units.toLowerCase() != "s" && units.toLowerCase() != "1" && units.toLowerCase() != "counts" && units.toLowerCase().indexOf("seconds since") == -1 && units.toLowerCase() != "bytes"){
                validUnits = true
              }
              if (variable.toLowerCase().indexOf("sal") > -1){
                validUnits = true;
              }

              if (validUnits){
                validUnitsClass = 'class=validParam'
              }

              if (variable.indexOf("_timestamp") == -1){
                if (variable.toLowerCase() != "time"){
                    if ( validUnits &&   (variable.indexOf('oxygen') > -1 ||
                            variable.indexOf('temperature') > -1 ||
                            variable.indexOf('velocity') > -1 ||
                            variable.indexOf('conductivity') > -1 ||
                            variable.indexOf('current') > -1 ||
                            variable.indexOf('voltage') > -1 ||
                            variable.indexOf('pressure') > -1 ||
                            variable.indexOf('ang_rate') > -1 ||
                            variable.indexOf('coefficient') > -1 ||
                            variable.indexOf('chlorophyll') > -1 ||
                            variable.indexOf('par') > -1 ||
                            variable.indexOf('heat') > -1
                      )){
                        parameterhtml+= "<option "+validUnitsClass+" selected pid='"+ parameterId +"'data-params='" + variable + "' data-subtext='"+ units +"' >"+ displayName +"</option>";
                    } else {

                        parameterhtml+= "<option "+validUnitsClass+" pid='"+ parameterId +"'data-params='" + variable + "' data-subtext='"+ units +"' >"+ displayName +"</option>";
                    }

                    param_list.push(variable);
                }
              }
            }

          }
        }
      parameterhtml += "</optgroup>"

        //Now get non derived parameters
        parameterhtml += "<optgroup label='Non Derived'>"
        for (var i = 0; i < _.uniq(options.model.get('variables')).length; i++) {
          if (param_list.indexOf(options.model.get('variables')) == -1){
            if (shape[i] != "function"){
              var parameterId = options.model.get('parameter_id')[i];
              var units = options.model.get('units')[i];
              var variable = options.model.get('variables')[i];
              var displayName;
              try{
                displayName = options.model.get('parameter_display_name')[i];
              } catch(err){
                displayName = variable;
              }

              //for the case when we have "sal"inity in the variable nanem but we want to remove units of "1"
              var validUnits = false;
              var validUnitsClass = "class=invalidParam";
              if (units.toLowerCase() != "s" && units.toLowerCase() != "1" && units.toLowerCase() != "counts" && units.toLowerCase().indexOf("seconds since") == -1 && units.toLowerCase() != "bytes"){
                validUnits = true
              }
              if (variable.toLowerCase().indexOf("sal") > -1){
                validUnits = true;
              }

              if (validUnits){
                validUnitsClass = 'class=validParam'
              }

              if (variable.toLowerCase() != "time"){
                  if (   ( parameterhtml.indexOf("<optgroup label='Derived'></optgroup>") > -1 ) && validUnits &&
                          (variable.indexOf('oxygen') > -1 ||
                          variable.indexOf('temperature') > -1 ||
                          variable.indexOf('velocity') > -1 ||
                          variable.indexOf('conductivity') > -1 ||
                          variable.indexOf('current') > -1 ||
                          variable.indexOf('voltage') > -1 ||
                          variable.indexOf('pressure') > -1 ||
                          variable.indexOf('ang_rate') > -1 ||
                          variable.indexOf('coefficient') > -1 ||
                          variable.indexOf('chlorophyll') > -1 ||
                          variable.indexOf('par') > -1)
                    ) {
                      parameterhtml+= "<option "+validUnitsClass+" selected pid='"+ parameterId +"'data-params='" + variable + "' data-subtext='"+ units +"' >"+ displayName +"</option>";
                  } else {
                      parameterhtml+= "<option "+validUnitsClass+" pid='"+ parameterId +"'data-params='" + variable + "' data-subtext='"+ units +"' >"+ displayName +"</option>";
                  }
                param_list.push(variable);
              }
            }
          }
        }
      parameterhtml += "</optgroup>"

      $("div#yvar0-selection-default > div.form-group > select").html(parameterhtml);

      if (refreshYVar1){
        $("div#yvar1-selection > div.form-group > select").html(parameterhtml);
      }

      $("div#yvar2-selection > div.form-group > select").html(parameterhtml);
      $("div#yvar3-selection > div.form-group > select").html(parameterhtml);

      $('#parameters_id').removeAttr('disabled');
      $('.selectpicker').selectpicker('refresh');

      //update the drop downs
      self.views.svgPlotControlView.onParamVizCheck();

        var streamName = options.model.get('stream_name');
        if ( streamName.indexOf('metadata') < 0 && autoPlot) {
            $('#update-plot').trigger('click');
        }
    });

    //filter selection : listen to the selection of the parameter
    this.listenTo(this, 'FilterSelectionView:onParameterSelection', function(options) {
      self.models.downloadModel.model = options.model;
      self.collections.plotEventList.fetch({reset: true, data: $.param({ref_des: options.model.get('reference_designator')})});

      if (options.itemid == "plot-item-selection" ){
        options.model.set('units',options.data_units)

          self.views.svgPlotControlView.setModel(options.model,false);
        self.views.svgplot.setModel(options.model);

      }
    });

    this.listenTo(this, 'additionalDataAdded', function(options) {
      if (self.collections.additionalDataseries.xparameters[0] == 'time'){
        _.each(self.collections.additionalDataseries.yparameters,function(item,i){
          var param = item[0]
          var units = self.collections.additionalDataseries.units[param];
          var data = [];
          var xmin = null;
          var xmax = null;
          var title = self.collections.additionalDataseries.title;

          self.collections.additionalDataseries.each(function(model,ii) {
            var time = self.views.timeseriesView.modifytime(model.get('time'))
            var d_item = model.get(param);
            if (ii == 0){
              xmin = time;
              xmax = time;
            }else{
              if (time<xmin){
                xmin = time;
              }else if (time>xmax){
                xmax = time;
              }
            }
            data.push([ time , d_item ]);
          });

          if (data.length > 1){
            var dataBounds = {xmin:xmin,xmax:xmax}
            //add data/axis if needed
            param = self.collections.additionalDataseries.axis_name[i];
            self.views.timeseriesView.addAdditionalData(param, units, data, dataBounds, title);
          };
        });
        self.views.timeseriesView.hideLoading();

      }
    });

    this.listenTo(this, 'SVGPlotControlView:onAddClickPlot', function(options) {
      if (options.attributes.data.plotType == "Time Series"){
        options.attributes.data.start = moment.utc($('#start-date').data('date')).toISOString();
        options.attributes.data.end = moment.utc($('#end-date').data('date')).toISOString();


        var p_yvarList = [];
        var p_xvarList = [];
        //sort the list of vars and time will always be on the x, duplicated per var

        var selected = [];
        var selected_name = [];
        var selectedParam = $("#yvar0-selection-default option:selected");
        $(selectedParam).each(function(index){
          selected.push([$(this).data('params')]);
          // Now get the display name for the axis
          if ($(this).text().indexOf(",") > -1){
            var spliton = ',';
          }else{
            var spliton = '(';
          }
          selected_name.push([$(this).text().split(spliton)[0]]);
        });

        _.each(selected ,function(element){
          if (element != "time"){
            p_yvarList.push(element);
            p_xvarList.push("time")
          }
        })

        self.collections.additionalDataseries = new DataSeriesCollection();
        //set data series options

        self.collections.additionalDataseries.stream = options.attributes.stream_name;
        self.collections.additionalDataseries.ref_des = options.attributes.reference_designator;
        self.collections.additionalDataseries.startdate = options.attributes.data.start;
        self.collections.additionalDataseries.enddate = options.attributes.data.end;
        //will always be time
        self.collections.additionalDataseries.xparameters = p_xvarList;
        self.collections.additionalDataseries.yparameters = p_yvarList;
        self.collections.additionalDataseries.axis_name = selected_name;

        errorHandler = function(collection, response){
          errorText = response.status+': '+response.statusText
            ooi.trigger('httpError', {response:response, error:errorText});
        }

        self.views.timeseriesView.showLoading();
        self.collections.additionalDataseries.fetch({error: errorHandler, reset: true,success:function(){
           ooi.trigger('additionalDataAdded', {});
        }});

      }
    });

    this.listenTo(this, 'SVGPlotControlView:onInterpolatedSelection1', function(options) {
      // Only update if needed
      if (!options.attributes.hasOwnProperty('reference_designator1')){
          options.attributes.reference_designator1 = options.attributes.reference_designator;
          options.attributes.stream_name1 = options.attributes.stream_name;
          this.views.svgplot.setModel(options);
      }
      $('#yvar2-select').attr('disabled', false);
    });

    this.listenTo(this, 'SVGPlotControlView:onInterpolatedSelection2', function(options) {

      options.attributes.reference_designator2 = options.attributes.reference_designator;
      options.attributes.stream_name2 = options.attributes.stream_name;
      this.views.svgplot.setModel(options);

    });

    this.listenTo(this, 'SVGPlotControlView:onClickPlot', function(options) {
      if (options.attributes.data.plotType == "Depth Profile"){
        options.attributes.data.plotType = "depthprofile";
        options.attributes.data.yvar = options.attributes.data.xvar;
        options.attributes.data.xvar = self.views.plottingItemSelection.getSelectedVars();
      }else if (options.attributes.data.plotType == "Time Series"){
        options.attributes.data.plotType = "timeseries"
        options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
      }else if (options.attributes.data.plotType == "Stacked Time Series"){
        options.attributes.data.plotType = "stacked"
        options.attributes.data.xvar = 'time';
        options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
      }else if (options.attributes.data.plotType == "T-S Diagram"){
        options.attributes.data.plotType = "ts_diagram"
        options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }else if (options.attributes.data.plotType == "Quiver"){
        options.attributes.data.plotType = "quiver"
        options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }else if (options.attributes.data.plotType == "3D Colored Scatter"){
        options.attributes.data.plotType = "3d_scatter"
        options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }else if (options.attributes.data.plotType == "Rose"){
        options.attributes.data.plotType = "rose"
        options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }else if (options.attributes.data.plotType == "Interpolated"){
        options.attributes.data.plotType = "interpolated"
      }

      options.attributes.data.start = moment.utc($('#start-date').data('date')).toISOString();
      options.attributes.data.end = moment.utc($('#end-date').data('date')).toISOString();

      if (options.attributes.data.plotType == "timeseries"){
        //use high charts
        if(!options.attributes.data.yvar){
          $('#highcharts-row-section').css('display',"none");
          $('#bottom-row #plot-view').append('<div class="alert alert-warning fade in"><a href="#" class="close" data-dismiss="alert">×</a><strong>Plot Warning!' +
              '</strong> &nbsp;Please select a parameter to plot</div>');
          return false;
        }

        $('#highcharts-row-section').css('display',"");
        $('#plot-view').css('display',"none");
        //set the params and generate the view
        this.setTimeSeriesPlot(options);

      }else if (options.attributes.data.plotType == "interpolated"){
        // This interpolated chart is high charts x-y scatter
        if (self.views.svgplot.validateSelected(options)){
          $('#highcharts-row-section').css('display',"");
          $('#plot-view').css('display',"none");
          //set the params and generate the view
          this.setInterpolatedPlot(options);
        }


      }else{
        $('#highcharts-row-section').css('display',"none");
        $('#plot-view').css('display',"");
        //use default
        this.views.svgplot.setModel(options);
        self.views.svgplot.plot(options);
      }
    });

    var hasAnnotations = false;
    var hasPlotBand = false;

    //render the time series data
    this.listenTo(this.collections.dataseries, 'reset', function(series) {
      this.views.timeseriesView.collection = series;
      this.views.timeseriesView.render();

      //render the annotations
      // var bounds = self.views.timeseriesView.views.highchartsView.chart.xAxis[0].getExtremes()
      hasAnnotations = false;
      hasPlotBand = false;
      $('#plot-annotations').html('Plot Annotations');
      $('#plot-events').html('Plot Events');
    });

    //plot the annotations
    this.listenTo(this, 'PlotAnnotations', function(){
      self.collections.annotations.each(function(annotation,i) {
        if (!hasAnnotations){
          self.views.timeseriesView.views.highchartsView.chart.xAxis[0].addPlotBand({
            from: moment.utc(annotation.get('beginDT')),
            to: moment.utc(annotation.get('endDT')),
            color: '#FCFFC5',
            label: {
              text: 'Annotation ID:'+annotation.get('ui_id'), // Content of the label.
              align: 'left', // Positioning of the label.
              x: 10 // Amount of pixels the label will be repositioned according to the alignment.
            },
            id: 'plot-band-'+annotation.get('ui_id')
          });
          $('#plot-annotations').html('Remove Annotations');
        }else{
          self.views.timeseriesView.views.highchartsView.chart.xAxis[0].removePlotLine('plot-band-'+annotation.get('ui_id'));
          $('#plot-annotations').html('Plot Annotations');
        }
      });
      hasAnnotations = !hasAnnotations;
    });

    //plot the events
    this.listenTo(this, 'PlotEvents', function(){
      self.collections.plotEventList.each(function(plotevent,i) {
        if (!hasPlotBand){
            if (plotevent.get('class')=='.CalibrationEvent'){
              var bandcolor = '#CC6666';
              var linecolor = '#FF0000';
            }else if(plotevent.get('class')=='.DeploymentEvent'){
              var bandcolor = '#CCEEFF';
              var linecolor = '#0088CC';
            }else{
              var bandcolor = '#BBFF99';
              var linecolor = '#226600';
            }

            // Add plot bands
            self.views.timeseriesView.views.highchartsView.chart.xAxis[0].addPlotBand({
              from: moment.utc(plotevent.get('start_date')).unix()*1000,
              to: moment.utc(plotevent.get('end_date')).unix()*1000,
              color: bandcolor,
              label: {
                text: 'Event ID:'+plotevent.get('id'), // Content of the label.
                align: 'left', // Positioning of the label.
                x: 10, // Amount of pixels the label will be repositioned according to the alignment.
              },
              id: 'plot-event-band-'+plotevent.get('id')
            });

            // Add plot lines @ start and end
            self.views.timeseriesView.views.highchartsView.chart.xAxis[0].addPlotLine({
              value: moment.utc(plotevent.get('start_date')).unix()*1000,
              color: linecolor,
              width: 2,
              id: 'plot-event-band-'+plotevent.get('id'),
              dashStyle: 'longdashdot'
            });
            self.views.timeseriesView.views.highchartsView.chart.xAxis[0].addPlotLine({
              value: moment.utc(plotevent.get('end_date')).unix()*1000,
              color: linecolor,
              width: 2,
              id: 'plot-event-band-'+plotevent.get('id'),
              dashStyle: 'longdashdot'
            });
            $('#plot-events').html('Remove Events');
        }else{
          self.views.timeseriesView.views.highchartsView.chart.xAxis[0].removePlotLine('plot-event-band-'+plotevent.get('id'));
          $('#plot-events').html('Plot Events');
        }
      });
      hasPlotBand = !hasPlotBand;
    });

    //render the interpolated data
    this.listenTo(this.collections.interpolatedDataseries, 'reset', function(series) {
      this.views.xyscatterView.collection = series;
      this.views.xyscatterView.render();
    });

    //render the annotations
    this.listenTo(self.collections.annotations, 'reset', function(collection) {
      self.views.annotationTableView.collection = collection;
      self.views.annotationTableView.render();
    });

    // render the events
    this.listenTo(this.collections.plotEventList, 'reset', function(collection) {
      self.views.plotEventListView.collection = collection;

      $.when(self.views.plotEventListView.render()).done(function() {
        try{
          $("table").stickyTableHeaders({ scrollableArea: $(".scrollable-area"), "fixedOffset": 2 });
        }catch(Exception){
          console.log("FIX stickyTableHeaders");
        }

      });
  });

  //
  this.listenTo(this, 'AnnotationModalFormView:onSubmit', function(model) {
    self.collections.annotations.add(model);
    self.views.annotationTableView.render();
  });

  this.listenTo(this, 'AnnotationTableItemView:onClick', function(model) {
    var min = moment.utc(model.get('beginDT')).format("YYYY-MM-DD HH:mm");
    var max = moment.utc(model.get('endDT')).format("YYYY-MM-DD HH:mm");

    model.set('beginDTSafe',min);
    model.set('endDTSafe',max);

    if(self.login.loggedIn()) {

      self.views.annotationModal.show({
        model: model,
        userModel: self.models.userModel,
        showUpdate: true
      });
    }
  });

  this.listenTo(this, 'AnnotationTableView:onAddClick', function() {
    var min = moment.utc(self.views.svgPlotControlView.model.get('start')).format("YYYY-MM-DD HH:mm");
    var max = moment.utc(self.views.svgPlotControlView.model.get('end')).format("YYYY-MM-DD HH:mm");

    var model = new AnnotationModel({"referenceDesignator":self.models.downloadModel.model.get('reference_designator'),
      "beginDTSafe":min,
      "endDTSafe":max,
      "beginDT":null,
      "endDT":null,
      "method":self.models.downloadModel.model.get("stream_name"),
      "stream_name":self.models.downloadModel.model.get("stream_name")
    });

    if(self.login.loggedIn()) {
      self.views.annotationModal.show({
        model: model,
        userModel: self.models.userModel,
        showUpdate: false
      });
    }
  });

  this.listenTo(this, 'ooi:downloadPlot', function() {
    self.views.svgplot.download();
  });

  this.listenTo(this, 'StreamDownloadFormView:resetSubscriptionCollection', function() {
    self.collections.subscriptionCollection.fetch({ reset: true });
  });

  this.listenTo(this, 'ooi:downloadData', function() {
    //user needs to be logged in
    if(this.login.loggedIn()) {
      // Default to NetCDF download
      self.models.downloadModel.selection = 'netcdf';
      // Get the user selected start and end dates
      self.models.downloadModel.model.attributes.start = moment.utc($('#start-date').data('date')).format();
      self.models.downloadModel.model.attributes.end = moment.utc($('#end-date').data('date')).format();
      self.models.downloadModel.model.attributes.email = this.models.userModel.get("email");
      self.models.downloadModel.model.attributes.user_name = this.models.userModel.get("user_name");

      var hasSubscribed = false;
      //for email address
      var availSubs = self.collections.subscriptionCollection.where({email:this.models.userModel.get("email")});
      //for selected item
      var currentStream = self.models.downloadModel.model.get('stream_name');
      var currentRef = self.models.downloadModel.model.get('ref_des');
      //loop over and compare, only if telemetered
      if (currentStream.split('_')[0] == 'telemetered'){
        _.each(availSubs,function(sub){
          var refDes = sub.attributes.referenceDesignator.node+"-"+sub.attributes.referenceDesignator.subsite+"-"+sub.attributes.referenceDesignator.sensor;
          var streamName = sub.get('method').replace(/_/g,"-") +"_"+sub.get('stream').replace(/_/g,"-");
          if (streamName == currentStream && refDes == currentRef){
            hasSubscribed = true;
            self.models.downloadModel.model.set('subscriptionModel',sub);
          }
        });
      }

      if (hasSubscribed){
        self.models.downloadModel.model.set('subscriptionEnabled', true);
      }else{
        self.models.downloadModel.model.set('subscriptionEnabled', false);
      }
      self.views.streamDownloadFormView.show(self.models.downloadModel);
    }

  });

  this.listenTo(this, 'DownloadModal:onSuccess',function(url){
    self.views.modalDownloadView.show(url);
  });

  this.listenTo(this, 'DownloadModalFail:onFail',function(msg){
    self.views.modalDownloadFailView.show(msg);
  });

  this.listenTo(vent, 'toc:paramFilter', function(option) {
      $.when(vent.trigger('toc:derenderItems')).done(function() {
            var paramSearch = { search: option };
            streamFetch = streamCollection.fetch({ data: paramSearch });
            $.when(streamFetch).done(function() {
                $.when(renderTOCView(arrayCollection, null, streamCollection)).done(function() {
//                vent.trigger('toc:filter');
                vent.trigger('toc:noKids');
                $('#search-param').val(option);
                focusToItem();
                });
            });
      });
  });
}
});

var ooi = new OOI();
var vent = _.extend({}, Backbone.Events);

// controller for our model collections
var arrayCollection     = new ArrayCollection();
var streamCollection    = new StreamCollection();

// url arguments
var data = { min : 'True' };
// begin the iterative fetching of arrays, assets, and streams.
var arrayFetch = arrayCollection.fetch({ reset: true });
var streamFetch = streamCollection.fetch({ reset: true });

$.when(arrayFetch, streamFetch).done(function() {
  $.when( (renderTOCView( arrayCollection, null, streamCollection )) ).done(function() {
      vent.trigger('toc:cleanUp');
      $.when(focusToItem()).done(function() {
      });
  });
});



$(document).ready(function() {
  ooi.start();

  $('#disableSecondView').on('click', function(event){
      event.preventDefault();
      ooi.multiStation = false;
      $('#plot-item-selection2').hide();
      });

  $('#enableSecondView').on( "click", function(event) {
      event.preventDefault();
      ooi.multiStation = true;
      $('#plot-item-selection2').show();
      });
  var svgUrl = '/svg/plotdemo';

});


function jump(h){
    var url = location.href;               //Save down the URL without hash.
    location.href = "#"+h;                 //Go to the target element.
    history.replaceState(null,null,url);   //Don't like hashes. Changing it back.
}
</script>
{% endblock %}
