{% extends "common/base.html" %}

{% block title %}
<title>Data Catalog</title>
{% endblock %}

{% block head %}
<link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
<script src="/js/partials/compiled/index.js" type="text/javascript"></script>
<!-- Partials -->
<script src="/js/partials/compiled/svgplot.js" type="text/javascript"></script>
<!-- lunr needs to be imported by a script tag -->

<!-- TODO MOVE TO GRUNT FILE  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="/js/compiled/index.js" type="text/javascript"></script>
<script src="/lib/lunr.js/lunr.js" type="text/javascript"></script>
<script src="/js/compiled/svgplot.js" type="text/javascript"></script>
<script src="/js/compiled/plotting.js" type="text/javascript"></script>
{% block link %}
<!-- common/base.html -->
{{ super() }}
{% endblock %}
{% block script %}
<!-- common/base.html -->
{{ super() }}
{% endblock %}
{% endblock %}

{%block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>

<div id="wrapper" >
  <div id="page-content-wrapper">
    <div class="content-fluid">
      {% block sidebar %}
      <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  <div id="plottingBody" class="col-sm-12">
    <div id="download-row" class="row">
      <div id="download-outline" class="pull-left">
        <li style="font-weight:bold;padding-left:10px;" id="ref_des_stream_outline"></li>
      </div>
      <div id="download-options" class="pull-right">
        <ul>
          <li><a id='download-data' role="menuitem" tabindex="-1" href="#"><i class="fa fa-download"> Download Data</i></a></li>
          <li><a id='download-plot' role="menuitem" tabindex="-1" href="#"><i class="fa fa-download"> Download Image</i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <div id="plotcontrols">

                <p class="glyphicon glyphicon-hand-left"> Please select a stream </p>
              </div>
            </div>
          </div>
        </div> <!-- panel-heading -->
      </div> <!-- panel -->
    </div>
    <div class="row">
      <div class="panel">
        <div class="new-heading">
          Graph
        </div>
        <div class="panel-body">
          <!--  Plot section NORMAL   -->
          <div id="plot-view">
            {# <i class="fa fa-bar-chart" style="margin-left:50%;font-size:90px;"> </i>#}
            {# <img src="/img/graph7.png" style="width:100%;"> #}
            <img src="/img/plotting/graph.png" style="width:100%;">
          </div> <!-- #view -->

          <!--  Plot section HIGHCHARTS   -->
          <div style="display:none" id='highcharts-row-section' class="row">
            <div class="col-sm-12">
              <div class="panel" id="highcharts-row-section-panel">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- panel -->
    </div> <!-- .row -->
    <div class="row">
      {# <div id='plot-events-panel' class="panel"> #}

        {# <div class="new-heading"> #}
        {#   Events #}
        {# </div> <!-- panel-heading --> #}

        <div class="scrollable-block">
          <div class="scrollable-area">

            {# <div class="panel-body"> #}
              <div id="events-table">
                {# <i class="fa fa-list-alt" style="margin-left:50%;font-size:90px;"> </i>                 #}
                {# <img src="/img/cal.jpg" style="width:1120px; height:90px;">	       	        #}
                <img src="/img/plotting/events.png" style="width:100%;">
              </div> <!-- panel-table -->
              {# </div> <!-- panel-body --> #}
            {# </div> <!-- panel --> #}
        </div>
      </div>
    </div>

    <div class="row">
      <div id='annotation-panel' class="panel">
        <div class="new-heading">
          Annotations
        </div>
        <div class="panel-body">
          <div id="annotation-table">
            {# <i class="fa fa-th-list" style="margin-left:50%;font-size:90px;"> </i>                 #}
            <img src="/img/plotting/anotations.png" style="width:100%;">
          </div> <!-- annotation-table -->
        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div>  <!-- .row -->
  </div>
  <div id="annotation-modal"></div>
  <div id="stream-download-modal"></div>
  <div id='download-ok-modal'></div>
  <div id='download-fail-modal'></div>
  <div id='plot-params-modal'></div>
    </div> <!-- #content-fluid -->
  </div> <!-- #page-content-wrapper -->
</div> <!-- #wrapper -->


<script type="text/javascript">
var bannerTitle = "Plotting";
var userId = parseInt(window.location.href.split('/').pop());

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  collections: {
    annotations: new AnnotationCollection(),

    //TOC items
    tocArrays: new TocArrayCollection(),
    tocMoorings: new TocMooringsCollection(),
    tocPlatforms: new TocPlatformsCollection(),
    tocInstruments: new TocInstrumentsCollection(),
    plotEventList: new PlotEventsCollection(),
    dataseries: new DataSeriesCollection()
  },
  views: {
    plottingItemSelection : null,
    plotEventListView: null,
    plottingItemSelection2 : null,
    timeseriesView: null
  },
  models: {
    downloadModel : new StreamModel(),
    userModel: new UserModel()
  },
  initalFilterOptions: function() {
    var path = window.location.pathname;
    var path = path.split("/").slice(2);
    var dataContentArray = ["arrays","sites", "platforms","instruments","streams","parameters"];

    if (path.length == 1 && path[0] == ""){
      //no path information
    }else{
      //path information
      $.each( path, function( key, value ) {
        var validItem = false;

        $('#plot-item-selection #'+dataContentArray[key]+'_id option').each(function( index, obj ) {
          if (value == $( this ).val()){
            validItem = true
              //$('#plot-item-selection #'+dataContentArray[key]+'_id').selectpicker('val', $(this).val());
              $('#plot-item-selection #'+dataContentArray[key]+'_id').val( $(this).val() );
            $('#plot-item-selection #'+dataContentArray[key]+'_id').change();
            $('#plot-item-selection #'+dataContentArray[key]+'_id').selectpicker('refresh');
            return false;
          }
        });

        //make sure path is >=3
        if ( key >= 3){
          //check that platform in instrument
          if ( path[3].indexOf(path[2]) >=0 ){
            validItem = true
          }else{
            alert("invalid instrument selection");
            return false
          }
        }

        //IF AT ANY POINT IT CANT BE FOUND STOP!
        if(!validItem){
          return false;
        }
      });
    }
  },
  setParams: function(options) {
    //init the timeseries view
    this.views.timeseriesView.initialize();
    var p_yvarList = [];
    var p_xvarList = [];
    //sort the list of vars and time will always be on the x, duplicated per var

    var selected = [];
    var selected_ids = [];
    var selectedParam = $("#yvar0-selection-default option:selected");
    $(selectedParam).each(function(index){
      selected.push([$(this).val()]);
      selected_ids.push([$(this).attr('pid')]);
    });

    _.each(selected ,function(element){
      if (element != "time"){
        p_yvarList.push(element);
        p_xvarList.push("time")
      }
    })

    //set data series options
    this.collections.dataseries.stream = options.attributes.stream_name;
    this.collections.dataseries.ref_des = options.attributes.reference_designator;
    this.collections.dataseries.startdate = options.attributes.data.start;
    this.collections.dataseries.enddate = options.attributes.data.end;
    //will always be time
    this.collections.dataseries.xparameters = p_xvarList;
    this.collections.dataseries.yparameters = p_yvarList;

    errorHandler = function(collection, response){
      errorText = response.status+': '+response.statusText
        ooi.trigger('httpError', {response:response, error:errorText});
    }

    this.collections.dataseries.fetch({error: errorHandler, reset: true});
  },
  start: function() {
    var self = this;
    this.multiStation = false;
    this.login.fetch({async: false});

    //--------------------------------------------------------------------------------
    // Views
    //--------------------------------------------------------------------------------
    this.views.banner = new BannerView({bannerTitle: bannerTitle});
    $('body').prepend(this.views.banner.el);

    this.views.navbar = new NavbarView({
      el: $('#navbar')
    });

    if(this.login.loggedIn()) {
      this.models.userModel.fetch({url: '/api/current_user'});
    }

    this.views.svgplot = new SVGPlotView({
      height: 400,
      width: 500,
      el: $('#plot-view')
    });


    this.views.timeseriesView = new TimeseriesView({
      el: $('#highcharts-row-section-panel')
    });

    //The plotting buttons
    this.views.plottingItemSelection = new PlottingSelectionView({
      el: $('#plot-item-selection')
    });

    //The plotting buttons
    this.views.plottingItemSelection2 = new PlottingSelectionView({
      el: $('#plot-item-selection2')
    });

    this.views.annotationTableView = new AnnotationTableView({
      collection: this.collections.annotations,
      el: $('#annotation-table')
    });
    this.views.svgPlotControlView = new SVGPlotControlView({
      el: $('#plotcontrols')
    });
    this.views.annotationModal = new AnnotationModalFormView({
      el: $('#annotation-modal')
    });
    this.views.streamDownloadFormView = new StreamDownloadFormView({
      el: $('#stream-download-modal')
    });
    this.views.modalDownloadView = new ModalDownloadView({
      el: $('#download-ok-modal')
    });
    this.views.modalDownloadFailView = new ModalDownloadFailView({
      el: $('#download-fail-modal')
    });
    this.views.plotEventListView = new PlotEventListView({
      el: $('#events-table')
    });

    /* Dispatcher Sectiion */
    this.listenTo(this, "login:success", function() { location.reload(); });
    this.listenTo(this, "login:logout", function() { location.reload(); });

    this.listenTo(this, 'httpError', function(options) {
      this.views.timeseriesView.errorRender(options);
    });

    //filter selection : unselect
    this.listenTo(this, 'FilterSelectionView:onUnSelect', function(options) {
      if (options.itemid == "plot-item-selection" ){
        self.views.plottingItemSelection.unFilterItems(options);
      }else{
        self.views.plottingItemSelection2.unFilterItems(options);
      }
    });
    //filter selection : select
    this.listenTo(this, 'FilterSelectionView:onSelect', function(options) {
      if (options.itemid == "plot-item-selection" ){
        self.views.plottingItemSelection.filterItems(options);
      }else{
        self.views.plottingItemSelection2.filterItems(options);
      }
    });

    this.listenTo(this, 'toc:selectStream', function(options) {
      // TODO: Trigger pop up on map cursor icon.
      self.models.downloadModel.model = options.model;
      self.views.svgPlotControlView.setModel(options.model,true);

      self.models.downloadModel.model = options.model;
      self.collections.plotEventList.fetch({reset: true, data: $.param({ref_des: options.model.get('reference_designator')})});

      if (options.itemid == "plot-item-selection" ){
        options.model.set('units',options.data_units)
          self.views.svgPlotControlView.setModel(options.model,false);
        self.views.svgplot.setModel(options.model);
      }

      $('#ref_des_stream_outline').text(options.model.get('reference_designator')+" > "+ options.model.get('stream_name'))

        //ANNOTATIONS
        self.collections.annotations.fetch({
          data: $.param({ startdate: options.model.get('start'),
            enddate:  options.model.get('end'),
            reference_designator:options.model.get('reference_designator'),
            stream_name: options.model.get('stream_name')
          }),
          reset: true
        });

        var param_list = []
        var parameterhtml = "";
        var shape = options.model.get('variables_shape');

        //Ok lets start by getting derived parameters
        parameterhtml += "<optgroup label='Derived'>"
        for (var i = 0; i < options.model.get('variables').length; i++) {
            if (param_list.indexOf(options.model.get('variables')) == -1){
                if (shape[i] === "function"){
                    var parameterId = options.model.get('parameter_id')[i];
                    var units = options.model.get('units')[i];
                    var variable = options.model.get('variables')[i];
                    if (variable.toLowerCase() != "time"){
                        parameterhtml+= "<option pid='"+ parameterId +"' data-subtext='"+ units +"' >"+ variable +"</option>";
                        param_list.push(variable);
                    }
                }

            }
        }
        parameterhtml += "</optgroup>"

        //Now get non derived parameters
        parameterhtml += "<optgroup label='Non Derived'>"
        for (var i = 0; i < options.model.get('variables').length; i++) {
            if (param_list.indexOf(options.model.get('variables')) == -1){
                if (shape[i] != "function"){
                    var parameterId = options.model.get('parameter_id')[i];
                    var units = options.model.get('units')[i];
                    var variable = options.model.get('variables')[i];
                    if (variable.toLowerCase() != "time"){
                        parameterhtml+= "<option pid='"+ parameterId +"' data-subtext='"+ units +"' >"+ variable +"</option>";
                        param_list.push(variable);
                    }
                }
            }
        }
        parameterhtml += "</optgroup>"

        $("div#yvar0-selection-default > div.form-group > select").append(parameterhtml);
        $("div#yvar1-selection > div.form-group > select").append(parameterhtml);
        $("div#yvar2-selection > div.form-group > select").append(parameterhtml);
        $("div#yvar3-selection > div.form-group > select").append(parameterhtml);
        $('#parameters_id').removeAttr('disabled');
        $('.selectpicker').selectpicker('refresh');
    });

    //filter selection : listen to the selection of the parameter
    this.listenTo(this, 'FilterSelectionView:onParameterSelection', function(options) {
      self.models.downloadModel.model = options.model;
      self.collections.plotEventList.fetch({reset: true, data: $.param({ref_des: options.model.get('reference_designator')})});

      if (options.itemid == "plot-item-selection" ){
        options.model.set('units',options.data_units)

          self.views.svgPlotControlView.setModel(options.model,false);
        self.views.svgplot.setModel(options.model);

      }
    });

    this.listenTo(this, 'SVGPlotControlView:onClickPlot', function(options) {
      if (options.attributes.data.plotType == "Depth Profile"){
        options.attributes.data.plotType = "depthprofile";
        options.attributes.data.yvar = options.attributes.data.xvar;
        options.attributes.data.xvar = self.views.plottingItemSelection.getSelectedVars();
      }else if (options.attributes.data.plotType == "Time Series"){
        options.attributes.data.plotType = "timeseries"
          options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
      }else if (options.attributes.data.plotType == "T-S Diagram"){
        options.attributes.data.plotType = "ts_diagram"
          options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }else if (options.attributes.data.plotType == "Quiver"){
        options.attributes.data.plotType = "quiver"
          options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }else if (options.attributes.data.plotType == "3D Colored Scatter"){
        options.attributes.data.plotType = "3d_scatter"
          options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }else if (options.attributes.data.plotType == "Rose"){
        options.attributes.data.plotType = "rose"
          options.attributes.data.yvar = self.views.plottingItemSelection.getSelectedVars();
        options.attributes.data.xvar = 'time';
      }
      options.attributes.data.multiStation = this.multiStation;
      options.attributes.data.start = moment.utc($('#start-date').data('date')).toISOString();
      options.attributes.data.end = moment.utc($('#end-date').data('date')).toISOString();
      // console.log(moment.utc(this.$start_date.data('date')));
      if (options.attributes.data.multiStation){
        options.attributes.data.xvar = "time,time"
          options.attributes.data.yvar2 = self.views.plottingItemSelection2.getSelectedVars();
        options.attributes.data.secRef = self.views.plottingItemSelection2.getSelectedRef();
        options.attributes.data.secStream = self.views.plottingItemSelection2.getSelectedStream();

        self.views.svgplot.plotMulti(options);
      }else{
        if (options.attributes.data.plotType == "timeseries"){
          //use high charts
          if(!options.attributes.data.yvar){
            $('#highcharts-row-section').css('display',"none");
            $('#bottom-row #plot-view').append('<div class="alert alert-warning fade in"><a href="#" class="close" data-dismiss="alert">×</a><strong>Plot Warning!' +
                '</strong> &nbsp;Please select a parameter to plot</div>');
            return false;
          }

          $('#highcharts-row-section').css('display',"");
          $('#plot-view').css('display',"none");
          //set the params and generate the view
          this.setParams(options);
        }else{
          $('#highcharts-row-section').css('display',"none");
          $('#plot-view').css('display',"");
          //use default
          this.views.svgplot.setModel(options);
          self.views.svgplot.plot(options);
        }
      }
    });

    //render the time series data
    this.listenTo(this.collections.dataseries, 'reset', function(series) {
      this.views.timeseriesView.collection = series;
      this.views.timeseriesView.render();

      self.collections.annotations.each(function(annotation,i) {
        self.views.timeseriesView.views.highchartsView.chart.xAxis[0].addPlotBand({
          from: moment.utc(annotation.get('beginDT')),
          to: moment.utc(annotation.get('endDT')),
          color: '#FCFFC5',
          label: { 
            text: 'Annotation ID:'+annotation.get('ui_id'), // Content of the label. 
            align: 'left', // Positioning of the label. 
            x: +10 // Amount of pixels the label will be repositioned according to the alignment. 
          },
          id: 'plot-band-'+annotation.get('ui_id')
        });
      });

      //render the annotations
      var bounds = self.views.timeseriesView.views.highchartsView.chart.xAxis[0].getExtremes()

    });

    //render the annotations
    this.listenTo(self.collections.annotations, 'reset', function(collection) {
      self.views.annotationTableView.collection = collection;
      self.views.annotationTableView.render();
    });

    //
    this.listenTo(this.collections.plotEventList, 'reset', function(collection) {
      self.views.plotEventListView.collection = collection;



      $.when(self.views.plotEventListView.render()).done(function() {

        $("table").stickyTableHeaders({ scrollableArea: $(".scrollable-area"), "fixedOffset": 2 });

        console.log("made TI");

      });

      {# $('#eventsTable').fixedHeaderTable({ altClass: 'odd', footer: true, fixedColumns: false, });   #}
      {# }); #}
  });

  //
  this.listenTo(this, 'AnnotationModalFormView:onSubmit', function(model) {
    self.collections.annotations.add(model);
    self.views.annotationTableView.render();
  });

  this.listenTo(this, 'AnnotationModalFormView:onUpdate', function(model) {
    //do nothing as were updating the model
  });

  this.listenTo(this, 'AnnotationTableItemView:onClick', function(model) {
    if(self.login.loggedIn()) {
      self.views.annotationModal.show({
        model: model,
        userModel: self.models.userModel
      });
    }
  });

  this.listenTo(this, 'AnnotationTableView:onAddClick', function() {

    var bounds = self.views.timeseriesView.views.highchartsView.chart.xAxis[0].getExtremes()

      var min = moment.utc(bounds.userMin).format("YYYY-MM-DDTHH:mm:ss.000")+"Z";

    var max = moment.utc(bounds.userMax).format("YYYY-MM-DDTHH:mm:ss.000")+"Z";   

    var model = new AnnotationModel({"referenceDesignator":self.models.downloadModel.model.get('reference_designator'),
      "beginDT":min,
      "endDT":max,
      "method":self.models.downloadModel.model.get("stream_name"),
      "stream_name":self.models.downloadModel.model.get("stream_name")
    });

    if(self.login.loggedIn()) {
      self.views.annotationModal.show({
        model: model,
        userModel: self.models.userModel
      });
    }
  });

  this.listenTo(this, 'ooi:downloadPlot', function() {
    self.views.svgplot.download();
  });

  this.listenTo(this, 'ooi:downloadData', function() {
    // Default to NetCDF download
    self.models.downloadModel.selection = 'netcdf';
    // Get the user selected start and end dates
    self.models.downloadModel.model.attributes.start = moment($('#start-date').data('date')).format();
    self.models.downloadModel.model.attributes.end = moment($('#end-date').data('date')).format();
    self.views.streamDownloadFormView.show(self.models.downloadModel);
  });

  this.listenTo(this, 'DownloadModal:onHide',function(){
    self.views.modalDownloadView.show();
  });

  this.listenTo(this, 'DownloadModalFail:onFail',function(){
    self.views.modalDownloadFailView.show();
  });
}
});

var ooi = new OOI();
var vent = _.extend({}, Backbone.Events);

// controller for our model collections
var assetCollection     = new AssetCollection();
var arrayCollection     = new ArrayCollection();
var streamCollection    = new StreamCollection();


// url arguments
var data = { min : 'True' };
// begin the iterative fetching of arrays, assets, and streams.
var arrayFetch = arrayCollection.fetch({ reset: true });
var assetFetch = assetCollection.fetch({ data: data, reset: true });
var streamFetch = streamCollection.fetch({ reset: true });
$.when(arrayFetch, assetFetch, streamFetch).done(function() {
  $.when( (renderTOCView( arrayCollection, assetCollection, streamCollection )) ).done(function() {
    vent.trigger('toc:cleanUp');
    $.when(focusToItem()).done(function() {
      //if the page is loaded, and the instrument defined, auto click the parameter's list.
      $('#yvar0-selection-default>div>div>button').trigger('click');
    });
  });
});

$(document).ready(function() {
  ooi.start();

  $('#download-plot').click(function(event) {
    event.preventDefault();
    if ($('#highcharts-row-section').css('display')=="block"){
      var chart = $('#highcharts-view').highcharts();
      var fileName = chart.title.textStr + '_' + chart.subtitle.textStr;
      chart.exportChart({type: 'image/png', filename: fileName});
    }else{
      ooi.trigger('ooi:downloadPlot');
    }
  });

  $('#download-data').click(function(event) {
    event.preventDefault();
    ooi.trigger('ooi:downloadData');
  });

  $('#disableSecondView').on('click', function(event){
    event.preventDefault();
    ooi.multiStation = false;
    $('#plot-item-selection2').hide();
  });

  $('#enableSecondView').on( "click", function(event) {
    event.preventDefault();
    ooi.multiStation = true;
    $('#plot-item-selection2').show();
  });
  var svgUrl = '/svg/plotdemo';

});


function jump(h){
  var url = location.href;               //Save down the URL without hash.
  location.href = "#"+h;                 //Go to the target element.
  history.replaceState(null,null,url);   //Don't like hashes. Changing it back.
}
</script>
{% endblock %}
