{% extends "common/base.html" %}

{% block title %}
    <title>Data Catalog</title>
{% endblock %}

{% block head %}

  <link href="/css/compiled/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/downloadModal.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/streamTableItem.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/streams.css" rel="stylesheet" type="text/css"/>
  <!-- partials -->
  <script src="/js/partials/compiled/index.js" type="text/javascript"></script>
  <script src="/js/partials/compiled/svgplot.js" type="text/javascript"></script>

  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>

  <!-- lunr needs to be imported by a script tag -->
  <script src="/lib/lunr.js/lunr.js" type="text/javascript"></script>
  <script src="/js/compiled/index.js" type="text/javascript"></script>

  <script src="/js/compiled/svgplot.js" type="text/javascript"></script>
    {% block link %}
        {{ super() }}
    {% endblock %}
    {% block script %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{%block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>

      {% block page_controls %}
      {{ super() }}
      {% endblock %}
<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="content-fluid">
            {% block sidebar %}
            <!-- common/base.html -->
            {{ super() }}
            {% endblock %}
            <div id="page-content">
                <div id="streamPanel"class="panel">
                    <div class="panel-heading">
                        <div class="pagination pagination-sm pagination-right pagination-boxes"></div>
                        <div class="color-index">
                            <div class="twelve-hours"></div><b> 12 Hours </b>
                            <div class="twenty-four-hours"></div><b> 24 Hours </b>
                            <div class="older"></div><b> Older than 24 hours </b>
                            <em>Data are sorted by end date, most recent first</em>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div id="stream-table-view">
                            <table  class="table table-bordered table-striped table-selectable">
                                <i  id="streamSpinner" class="fa fa-spinner fa-spin" style="margin-left:50%;font-size:90px;"> </i>
                                <thead>
                                </thead>
                            </table>
                        </div> <!-- #view -->
                        <div class="paginator row text-center">
                            <div class="pagination-info"> </div>
                        </div>
                    </div> <!-- .panel-body -->
                </div> <!-- .panel -->
            </div>
      </div>
  </div> <!-- #page-content-wrapper -->
    <div id="stream-download-modal"></div>
    <div id='download-ok-modal'></div>
    <div id='download-fail-modal'></div>
</div> <!-- #wrapper -->


<script type="text/javascript">
var bannerTitle = "Data Catalog";

var userId = parseInt(window.location.href.split('/').pop());

_.extend(OOI.prototype, Backbone.Events, {
  login: new LoginModel(),
  collections: {
    streams: new StreamCollection(),
    subscriptionCollection: new DataSubscriptionCollection()
  },
  views: {
  },
  models: {
    userModel: new UserModel()
  },
  start: function() {
    var self = this;

    this.login.fetch({async: false});

    if(this.login.loggedIn()) {
      this.models.userModel.fetch({url: '/api/current_user'});
    }

    this.listenTo(self.collections.subscriptionCollection, 'reset', function(options) {
      //console.log('ready...',self.collections.subscriptionCollection);
    });

    this.listenTo(self.models.userModel, 'change', function(options) {
      //reset the subscriptions, once loaded
      self.collections.subscriptionCollection.fetch({ reset: true, data: {email:self.models.userModel.get("email")} });
    });

    this.listenTo(this, 'StreamDownloadFormView:resetSubscriptionCollection', function() {
        self.collections.subscriptionCollection.fetch({ reset: true, data: {email:self.models.userModel.get("email")} });
    });

    this.views.banner = new BannerView({bannerTitle : bannerTitle});
    $('body').prepend(this.views.banner.el);

    this.views.navbar = new NavbarView({
        el: $('#navbar')
    });

    this.views.navbar = new NavbarView();
    $('body').prepend(this.views.navbar.el);

    this.views.streamTableView = new StreamTableView({
      collection: this.collections.streams,
      el: $('#stream-table-view')
    });

    this.views.streamDownloadFormView = new StreamDownloadFormView({
      el: $('#stream-download-modal')
    });
    this.views.modalDownloadView = new ModalDownloadView({
      el: $('#download-ok-modal')
      });
    this.views.modalDownloadFailView = new ModalDownloadFailView({
      el: $('#download-fail-modal')
      });


    // Get the list of streams from the API
    updateCollection( showStreams );

    // When the custom event fires, update the pagination
    this.listenTo(collection, "collection:updated", function(details){
            updatePagination(details, showStreams);
    });

    //this.collections.streams.fetch({reset:true});

    /* Dispatcher Section */
    this.listenTo(this, "login:success", function() { location.reload(); });
    this.listenTo(this, "login:logout", function() { location.reload(); });
    this.listenTo(this, 'StreamTableHeader:sort', function(tableHeaderID) {
        sortBy = tableHeaderID;
        if ( order == 'reverse' ) {
            order = "";
        } else {
            order = 'reverse';
        }

        updateCollection( showStreams );

    });
    this.listenTo(this, 'StreamTableItemView:onRowClick', function(row) {
            row.focus();

            //get the model
            var ref_des = row.model.get('reference_designator');
            var stream_name = row.model.get('stream_name');
            //get the current location
            if (!location.origin);
            location.origin = location.protocol + "//" + location.host;

            var win = window.open(location.origin+"/plotting/#"+ref_des+'/'+stream_name, '_blank');
            win.focus();
    });

    this.listenTo(this, 'StreamTableItemView:onClick', function(options) {
        if(this.login.loggedIn()) {
          if (options.model.attributes.variables.indexOf("filepath") > -1) {

          }else{
              var base_url = window.location.protocol+"//"+window.location.host+"/"
              var download_link = options.model.get('download');
              var download_link_url = download_link[options['selection']];

              // base_url+=download_link_url+"/"+options.model.get('start')+"/"+ options.model.get('end');
          }
          options.model.attributes.email = this.models.userModel.get("email");
          options.model.attributes.user_name = this.models.userModel.get("user_name");

          var hasSubscribed = false;
        //for email address
          var availSubs = self.collections.subscriptionCollection.where({email:this.models.userModel.get("email")});
          //for selected item
          var currentStream = options.model.get('stream_name');
          var currentRef = options.model.get('ref_des');
          //loop over and compare, only if telemetered
          if (currentStream.split('_')[0] == 'telemetered'){
            _.each(availSubs,function(sub){
              var refDes = sub.attributes.referenceDesignator.subsite+"-"+sub.attributes.referenceDesignator.node+"-"+sub.attributes.referenceDesignator.sensor;

              var streamName = sub.get('method').replace(/_/g,"-") +"_"+sub.get('stream').replace(/_/g,"-");
              if (streamName == currentStream && refDes == currentRef){
                hasSubscribed = true;
                options.model.set('subscriptionModel',sub);
              }
            });
          }

          if (hasSubscribed){
            options.model.set('subscriptionEnabled', true);
          }else{
            options.model.set('subscriptionEnabled', false);
          }

          self.views.streamDownloadFormView.show(options);
          //window.open(base_url, '_blank');
        }
    });
    this.listenTo(this, 'DownloadModal:onSuccess',function(url){
      self.views.modalDownloadView.show(url);
    });
    this.listenTo(this, 'DownloadModalFail:onFail',function(msg){
        self.views.modalDownloadFailView.show(msg);
  });

    // TOC Controls
    this.listenTo(this, 'toc:selectArray', function(model) {
        var searchFor = model.get('array_name');
        $('#search').val(searchFor);
        $('#search-clear').show();
        updateCollection( showStreams );
    });
    this.listenTo(this, 'toc:selectPlatform', function(model) {
        var searchFor = model.get('ref_des').substr(0,8);
        $('#search').val(searchFor);
        $('#search-clear').show();
        updateCollection( showStreams );
    });

    this.listenTo(this, 'toc:selectAssembly', function(model) {
        var searchFor = model.get('ref_des').substr(0,11);
        $('#search').val(searchFor);
        $('#search-clear').show();
        updateCollection( showStreams );
    });

    this.listenTo(this, 'toc:selectInstrument', function(model) {
        var searchFor = model.get('ref_des');
        $('#search').val(searchFor);
        $('#search-clear').show();
        updateCollection( showStreams );
    });

    this.listenTo(vent, 'toc:paramFilter', function(option) {
        $.when(vent.trigger('toc:derenderItems')).done(function() {
            var paramSearch = { search: option };
            streamFetch = streamCollection.fetch({ data: paramSearch });
            updateCollection(showStreams);
            $.when(streamFetch).done(function() {
                renderTOCView(arrayCollection, null, streamCollection);
                vent.trigger('toc:noKids');
                vent.trigger('toc:hideStreams');
                $('#hiddenSearch').val(option);
                $('#search-param').val(option);
                $('#search').val('');
                updateCollection( showStreams );
            });
        });
    });
}
});

var ooi = new OOI();
var collection = new StreamCollection();

var vent = _.extend({}, Backbone.Events);

// controller for our model collections
var arrayCollection     = new ArrayCollection();
var streamCollection    = new StreamCollection();


// url arguments
var data = { min : 'True' };
// begin the iterative fetching of arrays, assets, and streams.
// begin the iterative fetching of arrays, assets, and streams.
var arrayFetch = arrayCollection.fetch({ reset: true });
var streamFetch = streamCollection.fetch({ reset: true });
$.when(arrayFetch, streamFetch).done(function() {
        $.when( (renderTOCView( arrayCollection, null, streamCollection )) ).done(function() {
            focusToItem();
            vent.trigger('toc:hideStreams');
            });
        });

// Page Controls
var pageControlModel = new DataCatalogPageControlModel();
var pageControlView = new DataCatalogPageControlView({model: pageControlModel, el: $('#buttons')});


// The pagination object holds information about the current
// state of the page for us.
var pagination = {
    itemsPerPage : 10, // how many items per page
    currentPage : 1, // page to start at, first page is 1, not 0
    maxPages: 4 // max number of pages to show in the pagination element
}

// Sorting and ordering (ascending / descending)
var sortBy = "";
var order = 'reverse';

$(document).ready(function() {
        ooi.start();
        populate();
        $('#searchGroup').attr('style','');
        $('body').find('#search-clear').hide();
        $('div#search-submit > button').toggle();
        $("#search-clear").click(function(){
            $("#search").val('').focus();
            $(this).hide();
            updateCollection( showStreams )
            });

        $('#search').keyup( _.debounce(textInput, 250) );
});

function textInput() {
        $('#search-clear').toggle(Boolean($(this).val()));
        $('#search-clear').toggle(Boolean($('#search').val()));
        updateCollection( showStreams );
}

function jump(h){
    var url = location.href;               //Save down the URL without hash.
    location.href = "#"+h;                 //Go to the target element.
    history.replaceState(null,null,url);   //Don't like hashes. Changing it back.
}

function showStreams( collection, response ){

    var streamTableView = new StreamTableView({
        collection: collection
    });
    var previouslyClickedElement = $('#th-'+sortBy+'>i');
    streamTableView.render();

// Empty the table and append the new results.
        $(".table").find("tbody").remove().end();
        $("#streamSpinner").remove();
        $(".table").append( streamTableView.el );

        if ( !(previouslyClickedElement.hasClass('fa-rotate-180')) ) {
            $('#th-'+sortBy+'>i').addClass('fa-rotate-180');
        } else {
            $('i').removeClass('fa-rotate-180');
        }
    }

function populate() {
  // get url
  var newURL = window.location.href;
  // remove the preceding '?' from index
  newURL = newURL.split('#').pop().split('?').pop();
  // get last index of url
  var assetLink = newURL.substring(newURL.lastIndexOf('/') + 1);
  // put last index in search box...box
  if(assetLink.length  >= 1) {
    $('#search').val(assetLink);
    updateCollection( showStreams );
  }
}

function updateCollection( successCallback ){

    // If there is a search term, we need to set the startAt attribute to 0,
    // otherwise the results may not load on the page.
    var startingPoint = "";
    try {
        var target = $( event.target );
        if ($('#search').is(':focus') || target.is('label') || target.is('span') || target.is('ul')
                || target.is('th') || target.is('font')) {
            startingPoint = 0;
        } else {
            startingPoint = ( pagination.currentPage - 1) *  pagination.itemsPerPage;
        }
    } catch(e) {
        console.log(e)
        startingPoint = ( pagination.currentPage - 1) *  pagination.itemsPerPage;
    }
    // Pagination attributes will be passed in using
    // backbone's collection data method.
    var paramSearch = $('#hiddenSearch').val() || '';
    var data = {
        startAt : startingPoint,
        count : pagination.itemsPerPage,
        search : paramSearch+ ' ' +$('#search').val(),
        sort : sortBy,
        order : order
    };

    collection.fetch({
        data : data,
        success : successCallback,
    //    error : showError
    });
}

function updatePagination( details, successCallback ){

    // Calculate pagination attributes
    var start = details.startAt + 1,
        end = details.startAt + details.count,
        totalPages = Math.ceil( details.total / pagination.itemsPerPage ),
        currentPage = details.startAt / details.count + 1;

    // Display a "Page 1 of 5" type message on the page
    if (end >= details.total) {
        $(".pagination-info").text("Showing records " + start + " through " + details.total + " of " + details.total );
    } else {
        $(".pagination-info").text("Showing records " + start + " through " + end + " of " + details.total );
    }
    // Remove the pagination binding so they don't get called
    // multiple times after they're redrawn.
    $(".pagination-boxes").unbind();

    // Redraw the jquery pagination boxes
    $(".pagination-boxes").pagination({
        total_pages: totalPages,
        display_max: pagination.maxPages,
        current_page: currentPage,
        callback: function(event, page) {
            if ( page ){
                pagination.currentPage = page;
                updateCollection( successCallback );
            }
        }
    });
}
</script>
{% endblock %}
