{% extends "common/base.html" %}

{% block title %}
  <title>OOI Science</title>
{% endblock %}

{% block head %}
  <link href="/css/compiled/streamingdata.css" rel="stylesheet" type="text/css" />
  <link href="/css/common/toc_menu.css" rel="stylesheet" type="text/css" />
  <!-- partials -->
  <script src="/js/partials/compiled/streamingdata.js" type="text/javascript"></script>
  <!-- d3 can't be concatenated easily:-->
  <script src="/lib/d3/d3.min.js" type="text/javascript"></script>
  <script src="/lib/highcharts/highcharts.js"></script>
  <script src="/lib/highcharts/modules/exporting.js"></script>
  <script src="/js/compiled/streamingdata.js" type="text/javascript"></script>
  {% block link %}
  <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  {% block script %}
  <!-- common/base.html -->
  {{ super() }}
  {% endblock %}
  {% endblock %}


{% block body %}
<div class="container-fluid">
  <div id="navbar" class="row"></div>
</div>
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block sidebar %}
                {{ super() }}
            {% endblock %}
            <div class="col-lg-12">
                <div class="row" id="useOutline">
                  <div class="panel">
                    <div id="control-heading" class="panel-heading plotting-heading">
                      <div class="row">
                        {# <div class="col-md-12"> #}
                          <div style="display:none;" id="plotcontrols">
                            <p style="padding-left:15px"class="glyphicon glyphicon-hand-left"> Please use the TOC located on the left to find a desired streaming dataset to plot<br>
                            Use the <i style="font-size: 16px;color: green;font-style: italic;" class="fa fa-plus-square"></i> icon to add the dataset to the plotting section below<br>
                            Use the <i style="font-size: 16px;color: darkred;font-style: italic;" class="fa fa-minus-square"></i> to remove the dataset<br>
                            </p>

                          </div>
                        {# </div> #}
                        </div>
                      </div> <!-- panel-heading -->
                    </div> <!-- panel -->
                  </div>
                <div class="streaming-data-panel" id='streaming-data' style="display:none">
                </div>
            </div> <!-- col-lg-12 -->
        </div> <!-- row -->
    </div> <!-- container-fluid -->
</div> <!-- page-content-wrapper -->
<div class="modal-container"></div>
</div><!-- page-wrapper -->

<script type="text/javascript">

var bannerTitle = "Streaming Data";

_.extend(OOI.prototype, Backbone.Events, {
    login: new LoginModel(),
    models: {
        userModel: new UserModel(),
    },
    views:{
      streamingDataView : null
    },
    getURLParameter: function(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i=0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    },
    start: function() {
      var ciLogonToken = this.getURLParameter('token'),
            ciLogonTimeout = this.getURLParameter('expiration');
        if (ciLogonToken) {
            var date = new Date();
            date.setTime(date.getTime() + ciLogonTimeout);
            $.cookie('ooiusertoken', ciLogonToken, {expires: date});
            ooi.trigger('login:success');
        }
        this.login.fetch({async:false});
        navbar = new NavbarView({
            login: this.login
        });

        var self = this;

        var banner = new BannerView({ bannerTitle:bannerTitle });
        $('body').prepend(banner.el);

        self.views.streamingDataView = new HighchartsStreamingContainerView({
          el: $('#streaming-data')
        });
        self.views.streamingDataView.render();

        this.listenTo(this, "toc:selectArray", function(model) {
        });

        this.listenTo(this, "toc:selectPlatform", function(model) {
            var css_display = $($('#'+model.get('ref_des')).find('.nav-list')[0]).css('display');
            var display = true;
            if (css_display == "none"){
                //leave it true
            }else{
                display = false;
            }
        });

        this.listenTo(this, "toc:selectAssembly", function(model) {
        });

        this.listenTo(this, 'toc:selectInstrument', function(model) {
        });

        this.listenTo(this, 'NavbarView:sidebarToggle', function() {
        });

        this.listenTo(this, 'toc:addStream', function(streamSelect) {
          //hide if there is something there
          $('#streaming-data').css('display','block');
          $('#useOutline').css('display','none');
          if (self.views.streamingDataView.add(streamSelect.model)){
            streamSelect.toc.removeClass('toc-icon-marker-unselected').addClass('toc-icon-marker-selected');
          }
        });

        this.listenTo(this, 'toc:ready', function() {
          $('#plotcontrols').css('display','inline-block');
        });

        this.listenTo(this, 'toc:removeStream', function(streamSelect) {
          if (self.views.streamingDataView.remove(streamSelect.model)){
            streamSelect.toc.removeClass('toc-icon-marker-selected').addClass('toc-icon-marker-unselected');
          }
          //show is nothing there
          if (self.views.streamingDataView.subviews.length == 0){
            $('#streaming-data').css('display','none');
            $('#useOutline').css('display','block');
          }

        });

      // Login stuff..
      if(!this.login.loggedIn()) {
        var termsView = new TermsDialogView();
        $('body').first().prepend(termsView.el);
        $.ajax({
          url: "/txt/eula.txt",
          type: "GET",
          success: function(response) {
            termsView.show({
              message: response,
              ack: function() {  }
            });
          }
        });
      }

      this.listenTo(vent, 'toc:paramFilter', function(option) {
        //get currently selected stream/reference designators
        streamCollection.selectedStreams = null;
        var selectedStreamModels = self.views.streamingDataView.getSelectedStreams();
        $.when(vent.trigger('toc:derenderItems')).done(function() {
            var paramSearch = { search: option };
            streamFetch = streamCollection.fetch({ data: paramSearch });
            streamCollection.selectedStreams = selectedStreamModels;
            streamCollection.showIcons = true;
            $.when(streamFetch).done(function() {
                $.when(renderTOCView(arrayCollection, null, streamCollection)).done(function() {
                    //hide the non streaming streams
                    vent.trigger('toc:showStreamingStreams');
                    //hide the instruments
                    vent.trigger('toc:hideNoStreamingInstruments');
                    vent.trigger('toc:noKids');
                    focusToItem();
                });
            });
        });
  });
      this.listenTo(this, "login:success", this.onLogin);
      this.listenTo(this, "login:logout", this.onLogout);
    }
});

var vent = _.extend({}, Backbone.Events);

// controller for our model collections
var arrayCollection     = new ArrayCollection();
var streamCollection    = new StreamCollection();

// url arguments
var data = { min : 'True' };
// begin the iterative fetching of arrays, assets, and streams.
var arrayFetch = arrayCollection.fetch({ reset: true });
var streamFetch = streamCollection.fetch({});

var streamQuickView;
$.when(arrayFetch, streamFetch).done(function() {
    streamCollection.showIcons = true;
    $.when( (renderTOCView( arrayCollection, null, streamCollection )) ).done(function() {
        //hide the non streaming streams
        vent.trigger('toc:showStreamingStreams');
        //hide the instruments
        vent.trigger('toc:hideNoStreamingInstruments');
        vent.trigger('toc:noKids');
        focusToItem();
    });
    ooi.trigger('toc:ready');
});

// Takes care of the strange size of the map
window.onresize = function(event) {
    //resizeMap();
}

// initialize our app object
var ooi = new OOI();

$(document).ready(function() {
    ooi.start();

    $('#navbar').prepend(navbar.el);
});

</script>
{% endblock %}




