<td colspan="2">
  <div class="parameter-select">
    <select class="selectpicker show-tick" data-selected-text-format="count" data-width="100%" multiple title="Select a parameter" data-max-options="<%=parameterCount%>">
      <% options.each(function(option) { %>
        <option data-id="<%=option.get('short_name')%>" data-subtext="<%= option.get('units')%> "><%=option.get('name')%></option>
      <% }) %>
    </select>
  </div>
</td>
<form class="parameter-select-form-<%=id%>" role="form">
  <td>
    <div class="radio parameter-select-radio">
      <input disabled type="radio" name="parameter-select-radio-<%=id%>" class="x-select">
    </div>
  </td>
  <td>
    <div class="radio parameter-select-radio">
      <input disabled type="radio" name="parameter-select-radio-<%=id%>" class="y-select">
    </div>
  </td>
</form>
