<td>
  <button data-ref_des="<%= model.get('reference_designator') %>" data-stream_name="<%= model.get('stream_name') %>" type="button" title="Plot Stream" style="float:left" class="btn btn-default stream-to-plot"><i data-stream_uid="<%= model.get('ref_des') %><%= model.get('stream_name') %>" style="font-size:14px;float:left;pointer-events: none;" class="fa fa-plus-square" aria-hidden="true"></i></button>
  <% //console.log(model); %>
  <% var stream_name = model.get('stream_name'); %>
  <% var ref_des = model.get('ref_des'); %>
  <% //console.log(stream_name); %>
  <% //console.log(ooi.login.loggedIn()); %>
  <% //console.log((!_.isNull(stream_name) && ooi.login.loggedIn())); %>
  <% var on_click_item = "onclick=\"openDownload('" + ref_des + "','" + stream_name + "',null);\"" %>
  <% if(!_.isNull(stream_name) && ooi.login.loggedIn()) { %>
  <button type='button' title='Download' style='float:right' id='goDownload' class='btn btn-default' onclick='openDownload("<%=ref_des%>", "<%=stream_name%>", "null")' ><i style='font-size:14px;float:left;pointer-events: none;' class='fa fa-download' aria-hidden='true'></i></button>
  <% } else { %>
  <button type='button' title='Download' style='float:right' id='goDownload' class='btn btn-default' disabled><i style='font-size:14px;float:left;pointer-events: none;' class='fa fa-download' aria-hidden='true'></i></button>
  <% } %>
</td>

<td>
  <%= model.get('display_name') %>
</td>

<td>
  <%= model.get('stream_method') %>
</td>

<td>
  <%= model.get('start') %>
</td>

<td>
  <%= model.get('end') %>
</td>

<td>
  <%= model.get('stream_dataset') %>
</td>

<td>
  <%= model.get('stream_display_name') %>
</td>

<td>
  <%= model.get('stream_name').split('_')[1].replace(/-/g,'_') %>
</td>
