<div class='plot-tab-view plot-instrument-view'>
  <% if(collection.models.length > 0){ %>
  <%   var assetInfo = collection.models[0].get('assetInfo'); %>
  <%= assetInfo.array %> - <%= assetInfo.platform %> - <%= assetInfo.assembly %> - <%= assetInfo.name %> (<%= collection.models[0].get('reference_designator') %>)
  <% } %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th style="width:90px;">Actions</th>
        <th>Stream</th>
        <th>Stream Type</th>
        <th>Stream Content</th>
        <th>Delivery Method</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody class='table-contents'>
    </tbody>
  </table>
</div>

