<div class='plot-tab-view plot-control-view'>
  <div class="row">
    <% if (!_.isNull(plotModel)) { %>
    <div class="col-sm-8 plot-instrument-column">
    <!-- instrument parameter listing -->
      <div class="instrument-content">
      </div>
      <% if (!isInterpolated){ %>
      <div id="addMorePlotRows">
        <span class="" style="padding-left:10px">
            <button type="button" title="Add Additional Plot Row" style="float:left" id="addAdditionalPlotRow" class="btn btn-default">
              <i style="font-size:14px;float:left;pointer-events: none;" class="fa fa-plus-square" aria-hidden="true"></i>
              &nbspClick To Add Another Parameter Input
            </button>
        </span>
      </div>
      <% } %>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div class="pull-left">
          All times in UTC
        </div>
      </div>
      <form class="plot-control-select-form" >

        <div id="reportrange" class="pull-right" style="margin-top:10px;margin-bottom:10px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>

        <hr>

        <div class="row plot-control-section">
          <div class="col-sm-4">
            <label>Plot Type:</label>
          </div>
          <div class="col-sm-8">
            <select id="plotTypeSelect" class="selectpicker show-tick" style="">
              <!-- only one option for interpolated -->
              <% if (isInterpolated){ %>
                <option value="xy" selected>X-Y</option>
              <% } else { %>
                <!-- if null show them all -->
                <% if (_.isNull(plotDefaultModel)){ %>

                  <% plotModel.get('plotTypeOptions').each(function(option){ %>
                    <% //console.log(model.get('ref_des').indexOf('ZPLSC')); %>
                    <% //console.log(option.get('value')); %>
                    <% //console.log((model.get('ref_des').indexOf('ZPLSC') > -1) && (option.get('value') == 'xy')); %>
                    <!-- TODO: Remove this ZPLSC-specific check once we can retrieve data from uframe correctly -->
                    <% //if ((model.get('ref_des').indexOf('ZPLSC') > -1) && (option.get('value') == 'xy')){ %>
                      <option value="<%=option.get('value')%>" <%= option.get('value') == plotModel.get('plotType') ? 'selected' : ''%>><%= option.get('name') %></option>
                    <% //}else if ((model.get('ref_des').indexOf('ZPLSC') === -1)){ %>
                      <!--<option value="<%=option.get('value')%>" <%= option.get('value') == plotModel.get('plotType') ? 'selected' : ''%>><%= option.get('name') %></option>-->
                    <% //} %>
                  <% }); %>

                <% }else { %>

                  <% plotModel.get('plotTypeOptions').each(function(option){ %>
                    <% if (plotDefaultModel.get('plotType').indexOf(option.get('value')) > -1 ){ %>
                      <option value="<%=option.get('value')%>" <%= option.get('value') == plotModel.get('plotType') ? 'selected' : ''%>><%= option.get('name') %></option>
                    <% } else {%>
                      <option class="not-default-plot-option" value="<%=option.get('value')%>" <%= option.get('value') == plotModel.get('plotType') ? 'selected' : ''%>><%= option.get('name') %></option>
                    <% } %>

                  <% }); %>

                <% } %>
              <% } %>
            </select>
          </div>
        </div>

        <% if (plotModel.get('plotType') == "xy"){ %>

        <div class="row plot-control-section">
          <div class="col-sm-4">
            <label>Plot Style:</label>
          </div>

          <div class="col-sm-8">
            <select id="plotLineStyle" class="selectpicker show-tick" style="">
              <option class="" value="line" <%=plotModel.get('plotStyle') == "line" ? "selected" : ""%>>Line</option>
              <option class="" value="scatter" <%=plotModel.get('plotStyle') == "scatter" ? "selected" : ""%>>Scatter</option>
              <option class="" value="both" <%=plotModel.get('plotStyle') == "both" ? "selected" : ""%>>Both</option>
            </select>
          </div>
        </div>

        <div class="row plot-control-section">
          <div class="col-sm-4">
            <label>Orientation:</label>
          </div>
          <div class="col-sm-8">
            <select id="plotOrientation" class="selectpicker show-tick" style="">
              <option class="" value="horizontal" <%=plotModel.get('plotStyle') == "horizontal" ? "selected" : ""%>>Horizontal</option>
              <option class="" value="vertical" <%=plotModel.get('plotStyle') == "vertical" ? "selected" : ""%>>Vertical</option>
            </select>
          </div>
        </div>

        <div class="row plot-control-section">
          <div class="col-sm-4">
            <label>Options:</label>
          </div>
          <div class="col-sm-8">
            <select id="plotMultiOptions" class="selectpicker show-tick" multiple data-max-options="4" style="">
              <option data-hidden="true"></option>
              <option class="" value="invertY" <%=plotModel.get('invertY') ? "selected" : ""%> >Invert Y</option>
              <option class="" value="invertX" <%=plotModel.get('invertX') ? "selected" : ""%> >Invert X</option>
              <option class="" value="showEvents" <%=plotModel.get('showEvents') ? "selected" : ""%>>Show Events</option>
            </select>
          </div>
        </div>

        <% } %>

        <div class="row plot-control-section">
          <div class="col-sm-4">
            <label>QAQC:</label>
          </div>

          <div class="col-sm-8">
            <select id="plotqaqc" class="selectpicker show-tick" style="">
            <% plotModel.get('qaqcOptions').each(function(qc_option){ %>
              <option class="" value="<%= qc_option.get('value') %>" <%= plotModel.get('qaqc') == qc_option.get('value') ? "selected" : ""%>><%=qc_option.get('name')%>
              </option>
            <% }); %>
            </select>
          </div>
        </div>

          <div class="row">
          <div class="col-sm-4">
            <label for="toggleAnnotations" style="margin-top: 10px;">Annotations:</label>
          </div>

          <div class="col-sm-8">
            <input style="margin-top: 10px; zoom: 1.5;" type="checkbox" id="toggleAnnotations" name="toggleAnnotations" value="true" checked>
          </div>
        </div>

      </form>
    </div>
    <% } %>
  </div>
</div>
