<div id="locationsampling-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- locationsampling-view -->
<div id="description-infrastructure-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- description-infrastructure-view- -->
<div id="station-summary-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- station-summary-view -->
<div id="deployment-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- deployment-view -->
<div id="detailed-infrastructur-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- detailed-infrastructur-view -->
<div id="technical-drawings-view" class="panel-group" role="tablist" aria-multiselectable="true">
</div>	<!-- technical-drawings-view -->
